.lakapa-help-flyout{
	font-size: 14px;
}

.tool-lakapa-help-icon{
	width: 32px;
	height: 32px;
	background: url('../images/help.png') no-repeat;
    background-position: center center;
}

.lakapa-help-step-title{
	font-weight: bold;
}

.lakapa-help-step-title-div{
    float:left;
    width:99%;
    padding-left:1%;
    padding-top:4px;
}

.lakapa-help-step-title-span{
    float:left;
    width:4%;
}

.lakapa-help-step-title-p{
    float:left;
    width:93%;
    margin:0;
    padding:0;
}

.lakapa-help-step-title-clear{
    clear: both;
}

.lakapa-help-step-title.upmargin{
	
}

.lakapa-help-step-content{
	float:left;
	padding-left:8%;
	width:92%;
	padding-bottom: 14px;
}

.lakapa-help-step-text-bold{
	font-weight: bold;
}

.lakapa-help-transport-selector-image{
	width: 173px;
    height: 72px;
    background: url('../images/transport-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-layer-selector-image{
	width: 173px;
    height: 52px;
    background: url('../images/layer-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-chosen-layers-image{
	width: 173px;
    height: 52px;
    background: url('../images/chosen-layers.png') no-repeat;
    background-position: center center;
}

.lakapa-help-legend-image{
	width: 173px;
    height: 52px;
    background: url('../images/legend.png') no-repeat;
    background-position: center center;
}

.lakapa-help-data-selector-image{
    width: 173px;
    height: 60px;
    background: url('../images/layer-data-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-cropping-selector-image{
    width: 173px;
    height: 180px;
    background: url('../images/layer-cropping-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-add-to-basket-image{
    width: 663px;
    height: 90px;
    background: url('../images/add-to-basket.png') no-repeat;
    background-position: center center;
}

.lakapa-help-basket-selector{
	font-weight: normal;
}

.lakapa-help-basket-selector-image{
    width: 173px;
    height: 53px;
    background: url('../images/basket-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-transport-selector-image-en{
	width: 173px;
    height: 72px;
    background: url('../images/transport-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-layer-selector-image-en{
	width: 173px;
    height: 52px;
    background: url('../images/layer-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-chosen-layers-image-en{
	width: 173px;
    height: 52px;
    background: url('../images/chosen-layers.png') no-repeat;
    background-position: center center;
}

.lakapa-help-legend-image-en{
	width: 173px;
    height: 52px;
    background: url('../images/legend.png') no-repeat;
    background-position: center center;
}

.lakapa-help-data-selector-image-en{
    width: 173px;
    height: 60px;
    background: url('../images/layer-data-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-cropping-selector-image-en{
    width: 173px;
    height: 180px;
    background: url('../images/layer-cropping-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-add-to-basket-image-en{
    width: 663px;
    height: 90px;
    background: url('../images/add-to-basket.png') no-repeat;
    background-position: center center;
}

.lakapa-help-basket-selector-image-en{
    width: 173px;
    height: 53px;
    background: url('../images/basket-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-transport-selector-image-sv{
	width: 173px;
    height: 72px;
    background: url('../images/transport-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-layer-selector-image-sv{
	width: 173px;
    height: 52px;
    background: url('../images/layer-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-chosen-layers-image-sv{
	width: 173px;
    height: 52px;
    background: url('../images/chosen-layers.png') no-repeat;
    background-position: center center;
}

.lakapa-help-legend-image-sv{
	width: 173px;
    height: 52px;
    background: url('../images/legend.png') no-repeat;
    background-position: center center;
}

.lakapa-help-data-selector-image-sv{
    width: 173px;
    height: 60px;
    background: url('../images/layer-data-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-cropping-selector-image-sv{
    width: 173px;
    height: 180px;
    background: url('../images/layer-cropping-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-add-to-basket-image-sv{
    width: 663px;
    height: 90px;
    background: url('../images/add-to-basket.png') no-repeat;
    background-position: center center;
}

.lakapa-help-basket-selector-image-sv{
    width: 173px;
    height: 53px;
    background: url('../images/basket-selector.png') no-repeat;
    background-position: center center;
}

.lakapa-help-list{
	list-style: none outside none;
	margin: 0;
	padding:0;
}

.lakapa-help-list li{
	cursor: pointer;
}

.lakapa-help-menu-highlight{
	background-color: #999999 !important;
}