.ol-attribution {
    position: absolute;
    z-index: 1;
    text-align: right;
    bottom: .5em;
    right: .5em;
    max-width: 350px;
}
.ol-attribution ul {
    margin: 0;
    padding: 0 .5em;
    text-shadow: 0 0 2px #000;
    color: #fff;
    font-size: 10px;
}
.ol-attribution li {
    display: inline;
    list-style: none;
    line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
    content: " ";
}
.ol-attribution ul, .ol-attribution button {
    display: inline-block;
}
.ol-attribution.ol-collapsed ul {
    display: none;
}
.ol-attribution.ol-uncollapsible {
    bottom: 0;
    right: 0;
}
.ol-attribution.ol-uncollapsible button {
    display: none;
}