/* Mixins */
div.mapplugin.backgroundLayerSelectionPlugin {

  margin-top: 10px;

  div.content {
    position: absolute;
    width: 100%;
  }

  div.error {
    margin: 0 auto;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #911;
    color: white;
    text-align: center; 
  }
}
