.fullscreenDiv {
    pointer-events: auto;
    margin-bottom: 10px;
    display : block;
    color : black;
    background : transparent;    
    z-index : 15000;

    .fullscreenDivImg {
        cursor: pointer;
        pointer-events: auto;
    }

}
