$toggleSize: 46px;
$lightBgColor: rgba(255,255,255,0.9);
$darkBgColor: rgba(20,20,20,0.8);
$darkIcon: url("../images/world_dark.svg");
$lightIcon: url("../images/world_light.svg");

div.mapplugin.indexmap {
    text-align: left;

    div.icon {
        width: $toggleSize !important;
        height: $toggleSize !important;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .indexmapToggle[class$=-light] div.icon {
        background-image: $lightIcon;
    }
    .indexmapToggle[class$=-dark] div.icon {
        background-image: $darkIcon;
    }

    .mapplugin.ol_indexmap {
        width: 150px !important;
        height:150px !important;
        display: inline;
    }
}

.right {
    div.mapplugin.indexmap {
        text-align: right;
    }
}

/**
  ol specific
 */
div.ol-overviewmap.ol-control {
    /* reset positioning that is set in ol/ol.css so the indexmap isn't opened outside the browser window */ 
    position: inherit;
    &.ol-collapsed {
        background: none;
    }
}
.ol-overviewmap .ol-overviewmap-map {
    border: 1px solid #3c3c3c;
    height: 150px;
    margin: -1px;
    width: 150px;;
}
.ol-overviewmap .ol-overviewmap-map, .ol-overviewmap button {
    display: inline-block;
}
.ol-overviewmap:not(.ol-collapsed) {
    background: rgba(255,255,255,.8);
    width: 150px;
    height: 150px;
}

.ol-overviewmap.ol-unselectable.ol-control:not(.ol-collapsed) {
  width: 150px;
  height: 150px;;
}

.ol-overviewmap {
    /*
    left: -8em;
    bottom: .5em;
    ;*/
    margin-top: 10px;
}
.ol-overviewmap.ol-collapsed .ol-overviewmap-map, .ol-overviewmap.ol-uncollapsible button {
    display: none;
}
.ol-overviewmap button {
    display: none;
}
.ol-overviewmap-box {
    border: 2px dotted rgba(0,60,136,.7);
}
