.logoplugin {
  color: #FAFAFA;
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  /* Force line to fit container */
  line-height: 15px;
  text-align: left;
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5), -1px 0px 3px rgba(0, 0, 0, 0.5), 1px 0px 1px #000, -1px 0px 1px #000;

  a, a:hover, a:active, a:visited {
    color: inherit;
  }

  .icon {
      background-image: url('../images/pti_icon.png');
      display: inline-block;
      height: 25px;
      width: 25px;
      vertical-align: bottom;
      cursor: pointer;
  }

  .data-sources, .terms {
      display: inline-block;
      margin: 5px;
      cursor: pointer;
      .data-sources a, .terms a {
        /* Filter below requires that the element has height or smthn... */
        display: inline-block;
        text-decoration: none;
      }
  }
}

.right .logoplugin {
  /* Right-align elements so a wide sibling plugin won't push them to the left... */
  text-align: right;
}

.data-sources-dialog {
  max-width: 400px;
  h4.data-sources-heading {
    padding-bottom: 5px;
  }

  .data-sources-group {
    margin-top: 10px;
  }
}