div.feature-hover-overlay {
    background-color: rgb(255, 255, 255);
    color: #4f819e;
    border: 1px solid #4f819e;
    opacity: 0.9;
    font-size: 12px;
    font-weight: 700;
    margin: 10px 10px;
    border-radius: 5px;
    padding: 5px 5px;
}
div.feature-hover-overlay div {
    line-height: 15px;
}
