/* Accordion */
div.accordion div.accordionmsg {
  padding: 10px; }
div.accordion div.accordion_panel {
  background-color: #F3F3F3;
  border: 1px solid #C0D0D0;
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  div.accordion div.accordion_panel.open {
    background-color: #FAFAFA; }
  div.accordion div.accordion_panel div.content {
    padding: 5px; }
  div.accordion div.accordion_panel div.header div.headerIcon {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle; }
  div.accordion div.accordion_panel div.header div.headerText {
    /* Accordion header style, defined in styleguide */
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 8px 12px; }
