.oskari-fileinput .box__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.oskari-fileinput .box__input {
    /*margin-top:2%;
    margin-left:3%;*/
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
}
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.oskari-fileinput.advanced-upload {
  background-color: white;
  outline: 2px dashed lavender;
  outline-offset: -5px;
  padding: 15px 15px 10px;
  min-height: 3em;
  width: 100%;
  line-height: 1em;
}
.oskari-fileinput.is-dragover {
  background-color: #fdf8d9;
}
.oskari-fileinput.is-uploading .box__input {
  visibility: none;
}
.oskari-fileinput.is-uploading .box__uploading {
  display: block;
}
