.box__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.box__file + label {
    margin-top:2%;
    margin-left:3%;
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
}
.box__input {
    height:4em;
}

.box__file:focus + label,
 .box__file + label:hover {
    /* background-color: lavender; */
} 
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
   outline: 1px dashed lavender; 
   outline-offset: -10px; 
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.box.is-dragover {
  /* background-color: lavender; */
}
.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}
