div.oskarifield div.icon-close {
  display: inline-block;
  left: -20px;
  margin-left: 0px;
  margin-right: -16px;
  position: relative;
  top: 3px;
}

.oskarifield {
  position: relative;
}

.oskarifield_label {
  color: #919293;
  box-sizing: border-box;
  display: block;
  font-size: .8125em;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: .5em 1em;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  text-align: left;
  transform: translateY(0.1875em);
  transition: all .2s ease-out;
  user-select: none;
  white-space: nowrap;
  width: 30em;
  z-index: 1;
}

.oskarifield--not-empty .oskarifield_label {
  opacity: 1;
  transform: none;
}

.oskarifield_input {
  background-color: #f5f5f5;
  border: 2px solid #e9e9e9;
  color: #333;
  font-size: 1em;
  padding: .4761904762em;
  transition: all .2s ease-out;
  width: 100%;
}

.oskarifield_input:hover, .oskarifield_input:focus {
  /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: inset 0 0 10px 0 rgba(85, 85, 85, 0.1);
  outline: 0;
}

.oskarifield--not-empty .oskarifield_input {
  padding-bottom: 0.125em;
  padding-top: 1.125em; 
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #919293;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #919293;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #919293;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #919293;
}
