div.grid-tools {
    height: 34px;
    position: static;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}

div.grid-tools div.column-selector-placeholder {
    border-style: none;
    float: right;
    opacity: 1.0;
    margin-right: 0;
    padding: 0;
    right: 0;
    width: 200px;
    height: 30px;
    max-width: 200px;
    max-height: 35px;
}

div.grid-tools div.column-selector-placeholder div.column-selector-title {
    margin-top: 10px;
    margin-left: 2px;
    cursor: pointer;
}

div.grid-tools div.column-selector-placeholder div.column-selector-title .title {
    padding-left: 4px;
    float: left;
    width: 171px;
    border: 1px solid #999;
}

div.grid-tools div.column-selector-placeholder div.column-selector-title .icon {
    background-image: url(../images/desc_arrow.png);
    background-repeat: no-repeat;
    background-position: 6px 7px;
    float: right;
    width: 20px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    height: 21px;
}

div.grid-tools div.column-selector-placeholder div.column-selector {
    max-height: 40%;
    width: 270px;
    overflow: auto;
    position: absolute;
    visibility: hidden;
    background-color: white;
    margin-top: 22px;
    margin-left: -72px;
    margin-right: 5px;
    padding: 0;
    border: 1px solid;
    z-index: 10001;
}

div.grid-tools div.column-selector-placeholder div.column-selector div.close-selector-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
}

div.grid-tools div.column-selector-placeholder div.column-selector ul.column-selector-list {
    list-style-type: none;
    padding-right: 30px;
}

div.grid-tools div.column-selector-placeholder div.column-selector label.column-label {
    padding-left: 5px;
}

div.grid-tools div.exporter {
    float: left;
    text-align: left;
}

div.icon-menu {
    position: absolute;
    opacity: 1.0;
    margin: 0;
    cursor: pointer;
    padding: 0;
    width: 25px;
    height: 8px;
    max-width: 25px;
    max-height: 7px;
}

input.csvExportButton {
    margin: 3px 5px 2px 10px;
}

input.excelExportButton {
    margin: 3px 10px 2px 5px;
}

table.oskari-grid [class*="span"] {
    float: none;
}

table.oskari-grid td {
    padding: 1px 5px 0 5px;
}

table.oskari-grid td, table.oskari-grid th {
    min-height: 28px;
    max-width: 110px;
    overflow: hidden;
    border: 1px solid #E6E6E6;
    text-overflow: ellipsis;
}

table.oskari-grid td.hidden, table.oskari-grid th.hidden {
    display: none;
}

table.oskari-grid th {
    padding: 0px;
    background-color: #F3F3F3;
    position: relative;
}

table.oskari-grid th a {
    color: inherit;
    line-height: 28px;
    padding: 5px;
}

table.oskari-grid th.asc {
    background-image: url("../images/asc_arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
}

table.oskari-grid th.desc {
    background-image: url("../images/desc_arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
}

table.oskari-grid th.closedSubTable {
    background-image: url("../images/icon-arrow-right.png");
    background-repeat: no-repeat;
    background-position: right center;
}

table.oskari-grid th.openSubTable {
    background-image: url("../images/icon-arrow-left.png");
    background-repeat: no-repeat;
    background-position: right center;
}

table.oskari-grid tr.selected {
    background-color: #FDF8D9;
}

table.oskari-grid > tr > th, table.oskari-grid > tbody > tr > th {
    text-align: left;
}

table.oskari-grid tr:last-child td {
    border: 1px solid #E6E6E6;
}

table.oskari-grid th.grouping div.paging {
    cursor: pointer;
    margin: 0;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

table.oskari-grid th.grouping div.paging.previous {
    float: left;
    border-right: 8px solid #f0f0f0;
}

table.oskari-grid th.grouping div.paging.previous:hover {
    border-right-color: #ffd400;
}

table.oskari-grid th.grouping div.paging.next {
    float: right;
    border-left: 8px solid #f0f0f0;
}

table.oskari-grid th.grouping div.paging.next:hover {
    border-left-color: #ffd400;
}

table.oskari-grid th.grouping div.paging.hidden {
    border-right-color: transparent;
    border-left-color: transparent;
}

table.oskari-grid th.grouping div.paging.hidden:hover {
    border-right-color: transparent;
    border-left-color: transparent;
}

table.oskari-grid th.grouping div.title {
    float: left;
    margin-left: 4px;
}

.oskari-grid-export {
    width: 340px;
}

.oskari-grid-export fieldset.oskari-formcomponent {
    float: left;
}

.oskari-grid-export fieldset.oskari-formcomponent label {
    width: 170px;
}

/*# sourceMappingURL=grid.css.map */