.routesearch > div ul {
  list-style-type: none;
  margin-top: 6px; }
  .routesearch > div ul li {
    display: inline-block;
    margin: 6px 2px;
    /* Custom button colors */ }
    .routesearch > div ul li a {
      border: 1px solid #B7B7B7;
      color: #FAFAFA;
      text-shadow: 1px 1px 1px #3C3C3C; }
      .routesearch > div ul li a.disabled {
        background: none;
        background-color: #E6E6E6;
        color: #3C3C3C;
        text-shadow: -1px -1px 1px #FFFFFF; }
.routesearch > div .oskarifield {
  margin-bottom: 12px; }
  .routesearch > div .oskarifield label {
    display: block;
    clear: both; }
    .routesearch > div .oskarifield label span {
      display: block; }
  .routesearch > div .oskarifield input {
    margin-top: 6px; }
    .routesearch > div .oskarifield input[type=text] {
      margin-right: 12px;
      width: 330px; }
  .routesearch > div .oskarifield .icon-close {
    margin-left: -20px; }
