#publishedgridToggle {
    width: 26px;
    height: 27px;
    z-index: 20000;

    &.hidePublishedGrid {
        background: url(../../../../mapping/mapmodule/resources/images/hide-navigation.png);
    }

    &.showPublishedGrid {
        background: url(../../../../mapping/mapmodule/resources/images/show-navigation.png);
    }

}