#publishedgridToggle {
    width: 26px;
    height: 27px;
    z-index: 20000;

    &.hidePublishedGrid {
        background: url(/Oskari/resources/framework/bundle/mapmodule-plugin/plugin/fullscreen/images/hide-navigation.png);
    }

    &.showPublishedGrid {
        background: url(/Oskari/resources/framework/bundle/mapmodule-plugin/plugin/fullscreen/images/show-navigation.png);
    }

}