.admin-layerrights-layers {
  .layer-rights-table {
    margin-top: 20px;
    th, td {
      text-align: center;
    }
    th {
      padding: 2px 5px;
    }
  }
}

table.layer-rights-table {
  thead tr {
    position: relative;
    display: block;
    th:first-child {
      width: 40%;
      padding: 2px 5px;
      min-width: 360px;
    }
    th {
      width: 15%;
    }
  }
  tr.control{
    padding-left: 370px;
    border-bottom: thin solid silver;
  td {
     @media screen and (min-width:1000px) and (max-width:1600px){
          width: 25%;
          min-width: 122px;
      }
    width: 25%;
    min-width: 108px;
  }
}

  tbody {
    @media screen and (max-height: 600px) {
      max-height: 86px;
    }
    @media screen and (max-height: 800px) and (min-height: 600px) {
      max-height: 280px;
    }
    @media screen and (min-height: 800px) {
      max-height: 480px;
    }

    position: relative;
    display: block;
    width: 100%;
    overflow: auto;
    tr {
      td:first-child {
        width: 40%;
        min-width: 370px;
      }
      td {
        width: 15%;
      }
    }
  }

}

div.admin-layerrights-flyout {
  div.oskari-flyoutcontentcontainer {
    overflow: hidden;
  }
}

div.layer-rights-table-grid-headers {
  padding-top: 16px;
}
