.routesearch {
    > div {
        ul {
            list-style-type: none;
            margin-top: 6px;

            li {
                display: inline-block;
                margin: 6px 2px;

                /* Custom button colors */
                a {
                    border: 1px solid #B7B7B7;
                    color: #FAFAFA;
                    text-shadow: 1px 1px 1px #3C3C3C;

                    &.disabled {
                        background: none;
                        background-color: #E6E6E6;
                        color: #3C3C3C;
                        text-shadow: -1px -1px 1px #FFFFFF;
                    }
                }
            }
        }

        .oskarifield {
            margin-bottom: 12px;

            label {
                display: block;
                clear: both;

                span {
                    display: block;
                }
            }

            input {
                &[type=text] {
                    margin-right: 12px;
                    width: 330px;
                }
            }

            .icon-close {
                margin-left: -20px;
            }
        }
    }
}