/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

div.reverse-geocode {
    cursor: crosshair;
}

div.findbycoordinates__popup {
    div.content {
        max-height: 400px;
        overflow: hidden;

        &.show-scroll {
            overflow-y: auto;
        }
    }
}

.findbycoordinates__popup__content {
    width: 400px;

    .channel_result {
        .channel_description {
            font-style: italic;
            width: 90%;
            margin-left: 12px;
        }

        .channel__results {
            .nameinfo {
                float: left;
                padding: 4px;
            }

            .resultmarker {
                float: left;
                padding: 4px;
                width: 64px;
                height: 64px;
            }

            .none {
                clear: both;
            }
        }
    }
}

#oskari_findbycoordinates-search-result_contentWrapper {
    .description {
        font-style: italic;
        width: 90%;
        margin-left: 12px;
        margin-bottom: 12px;
    }

    .result {
        margin-left: 24px;
    }
}