<div class="add-layer-wrapper">

    <% if(model != null && model.admin != null && model.admin.layerType != null) { %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-layertype" class="add-layer-label" title="<%= instance.getLocalization('admin').layerTypeDesc %>"><%= instance.getLocalization('admin').layerType %></label>
        </div>
        <div class="add-layer-input-area">
            <div id="add-layer-layertype" class="add-layer-text"><%= instance.getLocalization('admin')[model.admin.layerType] %></div>
        </div>
    </div>
    <% } %>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-interface" class="add-layer-label"  title="<%= instance.getLocalization('admin').interfaceAddress %>"><%= instance.getLocalization('admin').interfaceAddress %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-interface" class="add-layer-input" placeholder="<%= instance.getLocalization('admin').interfaceAddress %>" <% if(model != null && model.admin.wmsUrl) { %>value="<%= model.admin.wmsUrl %>"<% } %> />
                <div class="icon-close"></div>
            </div>
            <br /><button id="add-layer-wms-button" class="fetch-wms-button"><%= instance.getLocalization('admin').getInfo %></button><br/>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-interface-version" class="add-layer-label" title="<%= instance.getLocalization('admin').interfaceVersionDesc %>"><%= instance.getLocalization('admin').interfaceVersion %></label>
        </div>
        <div class="add-layer-input-area">
            <select id="add-layer-interface-version">
                <option value="<%= instance.getLocalization('admin').wms1_1_1 %>" <% if(model != null && model.admin.version == '1.1.1' ) { %>selected<% } %> ><%= instance.getLocalization('admin').wms1_1_1 %></option>
                <option value="<%= instance.getLocalization('admin').wms1_3_0 %>" <% if(model != null && model.admin.version == '1.3.0' ) { %>selected<% } %> ><%= instance.getLocalization('admin').wms1_3_0 %></option>
            </select>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-wms-url" class="add-layer-label" title="<%= instance.getLocalization('admin').wmsInterfaceAddressDesc %>"><%= instance.getLocalization('admin').wmsInterfaceAddress %></label>
        </div>
        <div class="add-layer-input-area">
            <textarea rows="2" cols="40" id="add-layer-wms-url" class="add-layer-input" ><% if(model != null && model.admin.wmsUrl) { %><%= model.admin.wmsUrl %><% } %></textarea>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-metadataid" class="add-layer-label" title="<%= instance.getLocalization('admin').wmsServiceMetaIdDesc %>"><%= instance.getLocalization('admin').wmsServiceMetaId %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-metadataid" class="add-layer-input" placeholder="<%= instance.getLocalization('admin').wmsServiceMetaIdDesc %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <% if (model.admin && model.admin.locales) { %>
    <div class="add-layer-grouping" title="<%= instance.getLocalization('admin').layerNameAndDesc %>"><%= instance.getLocalization('admin').layerNameAndDesc %></div>

    <% for (var i = 0; i < model.admin.locales.length; i++) {
           var locale = model.admin.locales[i] %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-<%= locale.lang %>-name" class="add-layer-label" title="<%= instance.getLocalization('admin')[locale.lang] ? instance.getLocalization('admin')[locale.lang].title : locale.lang %>"><%= instance.getLocalization('admin')[locale.lang] ? instance.getLocalization('admin')[locale.lang].lang : locale.lang + ':' %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-<%= locale.lang %>-name" class="add-layer-input" placeholder="<%= instance.getLocalization('admin')[locale.lang] ? instance.getLocalization('admin')[locale.lang].placeholder : instance.getLocalization('admin')['generic'].placeholder.replace('{0}', locale.lang) %>" <% if(model != null && model.admin.name != null && model.admin.name[locale.lang] != null) { %> value="<%= model.admin.name[locale.lang] %>" <% } %>  />
                <div class="icon-close"></div>
            </div>
            <div class="input-controls">
                <input type="text" id="add-layer-<%= locale.lang %>-title" class="add-layer-input" placeholder="<%= instance.getLocalization('admin')[locale.lang] ? instance.getLocalization('admin')[locale.lang].descplaceholder : instance.getLocalization('admin')['generic'].descplaceholder.replace('{0}', locale.lang) %>" <% if(model != null && model.admin.title != null && model.admin.title[locale.lang] != null) { %> value="<%= model.admin.title[locale.lang] %>" <% } %> />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-datauuid" class="add-layer-label" title="<%= instance.getLocalization('admin').metaInfoIdDesc %>"><%= instance.getLocalization('admin').metaInfoId %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-datauuid" class="add-layer-input" placeholder="<%= instance.getLocalization('admin').metaInfoIdDesc %>" <% if(model != null && model.admin.dataUrl != null) { %> value="<%= model.admin.dataUrl %>" <% } %> />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record add-layer-separation">
        <div class="add-layer-label-area">
            <label for="add-layer-wms-id" class="add-layer-label" title="<%= instance.getLocalization('admin').wmsName %>"><%= instance.getLocalization('admin').wmsName %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-wms-id" class="add-layer-input" placeholder="<%= instance.getLocalization('admin').wmsName %>" <% if(model != null && model.admin.wmsName != null) { %> value="<%= model.admin.wmsName %>" <% } %> />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-inspire-theme" class="add-layer-label"  title="<%= instance.getLocalization('admin').addInspireThemeDesc %>"><%= instance.getLocalization('admin').addInspireTheme %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
            <select id="add-layer-inspire-theme">
                <% for(var i = 0; classNames != null && i < classNames.length; i++) { %>
                <option value="<%= classNames[i].id %>" <% if(model != null && model.admin.inspireTheme == classNames[i].id ) { %>selected<% } %> ><%= classNames[i].name %></option>
                <% } %>
            </select>
            </div>
        </div>
    </div>



    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="opacity-slider" class="add-layer-label" title="<%= instance.getLocalization('admin').opacityDesc %>"><%= instance.getLocalization('admin').opacity %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <div class="left-tools opacity-slider-tool">
                    <div class="oskariui admin-opacity-slider layer-opacity">
                        <div class="layout-slider"></div>
                    </div>
                    <div class="opacity-slider" style="display:inline-block">
                        <input type="text" name="opacity-slider" class="opacity-slider opacity" id="opacity-slider" <% if(model != null && model.admin.opacity) { %>value="<%= model.admin.opacity %>"<% } else { %> value="100" <% } %> style="width: 30px;padding: 2px;">%
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-style" class="add-layer-label" title="<%= instance.getLocalization('admin').styleDesc %>"><%= instance.getLocalization('admin').style %></label>
        </div>
        <div class="add-layer-input-area">
            <select id="add-layer-style">
                 <% for(var i = 0; model != null && model.admin.style_decoded != null && i < model.admin.style_decoded.length; i++) { %>
                <option value="<%= model.admin.style_decoded[i] %>" ><%= model.admin.style_decoded[i] %></option>
                <% } %>
            </select>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-minscale" class="add-layer-label" title="<%= instance.getLocalization('admin').minScaleDesc %>"><%= instance.getLocalization('admin').minScale %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-minscale" class="add-layer-input" placeholder="<%= instance.getLocalization('admin').minScalePlaceholder %>" <% if(model != null && model.admin.minScale) { %>value="<%= model.admin.minScale %>"<% } %> required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-maxscale" class="add-layer-label" title="<%= instance.getLocalization('admin').maxScaleDesc %>"><%= instance.getLocalization('admin').maxScale %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-maxscale" class="add-layer-input" placeholder="<%= instance.getLocalization('admin').maxScalePlaceholder %>" <% if(model != null && model.admin.maxScale) { %>value="<%= model.admin.maxScale %>"<% } %> required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-srsname" class="add-layer-label" title="<%= instance.getLocalization('admin').srsName %>"><%= instance.getLocalization('admin').srsName %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-srsname" class="add-layer-input" placeholder="<%= instance.getLocalization('admin').srsNamePlaceholder %>" <% if(model != null && model.admin.epsg) { %>value="<%= model.admin.epsg %>"<% } %> required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-legendImage" class="add-layer-label" title="<%= instance.getLocalization('admin').legendImageDesc %>"><%= instance.getLocalization('admin').legendImage %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-legendImage" class="add-layer-input" placeholder="<%= instance.getLocalization('admin').legendImagePlaceholder %>" <% if(model != null && model.admin.legendImage) { %>value="<%= model.admin.legendImage %>"<% } %>/>
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-responsetype" class="add-layer-label" title="<%= instance.getLocalization('admin').gfiResponseTypeDesc %>"><%= instance.getLocalization('admin').gfiResponseType %></label>
        </div>
        <div class="add-layer-input-area">
            <% if(model != null && model.admin.gfiType) { %>
            <div class="input-controls">
                <div id="add-layer-responsetype"><%= model.admin.gfiType %></div>
            </div>
            <% } else { %>
            <select id="add-layer-responsetype">
            </select>
            <% } %>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-xslt" class="add-layer-label" title="<%= instance.getLocalization('admin').gfiStyleDesc %>"><%= instance.getLocalization('admin').gfiStyle %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <textarea rows="2" cols="40" id="add-layer-xslt" class="add-layer-input" ><% if(model != null && model.admin.xslt_decoded) { %><%= model.admin.xslt_decoded %><% } %></textarea>
            </div>
        </div>
    </div>

    <% if(model == null || model.admin == null || model.admin.layerType == null) { %>
    <!-- roles -->
    <div class="add-class-record">
        <div class="add-class-label-area">
            <label for="add-layer-view-roles" class="add-class-label" title="<%= instance.getLocalization('admin').roles_for_admin %>"><%= instance.getLocalization('admin').viewingRightsRoles %></label>
        </div>
        <div class="add-class-input-area">
             <% for(var i = 0; i < roles.length; i++) { %>
             <div class="input-controls">
                <%= roles[i].name %>  <input type="checkbox" id="layer-view-roles-<%= roles[i].id %>"  class="add-class-input" placeholder="placeholder"  value="<%= roles[i].id %>" />
             </div>
            <% } %>
        </div>
    </div>
    <% } %>

    <div class="add-layer-send">
        <div class="add-layer-button-area">
            <div class="input-controls">
                <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-ok' : 'admin-add-layer-ok' %>"
                    title="<%= instance.getLocalization('admin').addNewLayer %>" ><%= instance.getLocalization('add') %></button>
                <% if(model != null) { %>
                <button class="add-layer-btn <%= isSubLayer ? 'admin-remove-sublayer' : 'admin-remove-layer' %>"
                    title="<%= instance.getLocalization('delete') %>"><%= instance.getLocalization('delete') %></button>
                <% } %>
                <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-cancel' : 'admin-add-layer-cancel' %>"
                    title="<%= instance.getLocalization('cancel') %>"><%= instance.getLocalization('cancel') %></button>
            </div>
        </div>
    </div>

    <br style="clear: both;" />
</div>
