<div class="layer-type-wrapper">
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-type" class="add-layer-label" title="<%= localization.type %>"><%= localization.type %></label>
        </div>
        <div class="add-layer-input-area">
            <select id="add-layer-type" class="admin-layer-type">
                <option value=""><%= localization.typePlaceholder %></option>
                <option value="wmslayer"><%= localization.normalLayer %></option>
                <option value="base"><%= localization.baseLayer %></option>
                <option value="groupMap"><%= localization.groupLayer %></option>
            </select>
        </div>
    </div>
</div>