<div class="admin-add-group">
    <div class="add-group-wrapper">
        <div class="add-group-record">
            <div class="add-class-grouping" title="<%= instance.getLocalization('admin')[groupTitle] %>"><%= instance.getLocalization('admin')[groupTitle] %></div>

            <div class="add-class-label-area">
                <label for="add-class-fi-name" class="add-class-label" title="<%= instance.getLocalization('admin').finnishTitle %>"><%= instance.getLocalization('admin').finnish %></label>
            </div>
            <div  class="add-class-input-area">
                <div class="input-controls">
                    <input type="text" id="add-group-fi-name" class="add-class-input" placeholder="<%= instance.getLocalization('admin').finnishPlaceholder %>"  <% if(model != null  && model.names && model.names.fi) { %>value="<%= model.names.fi %>"  <% } %> />
                    <div class="icon-close"></div>
                </div>
            </div>
        </div>

        <div class="add-group-record">
            <div class="add-class-label-area">
                <label for="add-class-sv-name" class="add-class-label" title="<%= instance.getLocalization('admin').swedishTitle %>"><%= instance.getLocalization('admin').swedish %></label>
            </div>
            <div  class="add-class-input-area">
                <div class="input-controls">
                    <input type="text" id="add-group-sv-name" class="add-class-input" placeholder="<%= instance.getLocalization('admin').swedishPlaceholder %>"  <% if(model != null && model.names && model.names.sv) { %>value="<%= model.names.sv %>"  <% } %> />
                    <div class="icon-close"></div>
                </div>
            </div>
        </div>

        <div class="add-group-record">
            <div class="add-class-label-area">
                <label for="add-class-en-name" class="add-class-label" title="<%= instance.getLocalization('admin').englishTitle %>"><%= instance.getLocalization('admin').english %></label>
            </div>
            <div class="add-class-input-area">
                <div class="input-controls">
                    <input type="text" id="add-group-en-name" class="add-class-input" placeholder="<%= instance.getLocalization('admin').englishPlaceholder %>"  <% if(model != null && model.names && model.names.en) { %>value="<%= model.names.en %>"  <% } %> />
                    <div class="icon-close"></div>
                </div>
            </div>
        </div>

        <% if (model) { %>
        <div class="add-group-record">
            <div class="add-class-grouping" title="<%= instance.getLocalization('admin').subLayers %>"><%= instance.getLocalization('admin').subLayers %> </div>
            <% for (var i = 0; i < subLayers.length; ++i) { %>
                <%= subLayerTemplate({subLayer: subLayers[i], index: i}) %>
            <% } %>
            <div class="add-sublayer-wrapper"><button class="add-class-btn admin-add-sublayer"><%= instance.getLocalization('admin').addSubLayer %></button></div>
        </div>
        <% } %>

        <div class="add-group-send">
            <div class="add-class-button-area">
                <div class="input-controls">
                    <button class="add-class-btn admin-add-group-ok" title="<%= instance.getLocalization('admin').addNewOrganization %>"><%= instance.getLocalization('add') %></button>
                    <button class="add-class-btn admin-remove-group" <% if(model != null && model.id != null) { %> data-id="<%= model.id %>" <% } %> <% if(model != null && model.parentid != null) { %> data-parent-id="<%= model.parentid %>" <% } %> title="<%= instance.getLocalization('delete') %>"><%= instance.getLocalization('delete') %></button>
                    <button class="add-class-btn admin-add-group-cancel" title="<%= instance.getLocalization('cancel') %>"><%= instance.getLocalization('cancel') %></button>
                </div>
            </div>
        </div>
    </div>
</div>
