<button class="admin-add-class-btn" title="<%= instance.getLocalization('admin').addOrganizationDesc %>"><%= instance.getLocalization('admin').addOrganization %></button>
<div class="admin-add-class">
    <div class="add-class-wrapper">
        <div class="add-class-record">
            <div class="add-class-grouping" title="Tason nimi">Tiedontuottajan nimi</div>

            <div class="add-class-label-area">
                <label for="add-class-fi-name" class="add-class-label" title="FI">Suomeksi:</label>
            </div>
            <div  class="add-class-input-area">
                <div class="input-controls">
                    <input type="text" id="add-class-fi-name" class="add-class-input" placeholder="Tiedontuottajan nimi suomeksi" value="Metsäntutkimuslaitos" />
                    <div class="icon-close"></div>
                </div>
            </div>
        </div>

        <div class="add-class-record">
            <div class="add-class-label-area">
                <label for="add-class-se-name" class="add-class-label" title="SE">Ruotsiksi:</label>
            </div>
            <div  class="add-class-input-area">
                <div class="input-controls">
                    <input type="text" id="add-class-se-name" class="add-class-input" placeholder="Tiedontuottajan nimi ruotsiksi" value="Skogsforskningsinstitutet" />
                    <div class="icon-close"></div>
                </div>
            </div>
        </div>

        <div class="add-class-record">
            <div class="add-class-label-area">
                <label for="add-class-en-name" class="add-class-label" title="EN">Englanniksi:</label>
            </div>
            <div class="add-class-input-area">
                <div class="input-controls">
                    <input type="text" id="add-class-en-name" class="add-class-input" placeholder="Tiedontuottajan nimi englanniksi" value="Finnish Forest Research" />
                    <div class="icon-close"></div>
                </div>
            </div>
        </div>

        <div class="add-class-send">
            <div class="add-class-button-area">
                <div class="input-controls">
                    <button class="add-class-btn admin-add-class-ok" title="Lisää uusi karttataso">OK</button>
                    <button class="add-class-btn admin-add-class-cancel" title="Peruuta">Peruuta</button>
                </div>
            </div>
        </div>
    </div>
</div>
