<div class="add-layer-wrapper">

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-layertype" class="add-layer-label" title="<%= instance.getLocalization('admin').layerTypeDesc %>"><%= instance.getLocalization('admin').layerType %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="add-layer-text"><%= instance.getLocalization('admin').layertypes[model.getLayerType()] %></div>
            <input type="hidden" id="add-layer-layertype" value="<%= model.getLayerType() %>layer" />
        </div>
    </div>
<% if(header) { %>
    <%= header({
        capabilities: capabilities, 
        capabilitiesTemplate: capabilitiesTemplate, 
        model: model, 
        instance: instance, 
        inspireThemes: inspireThemes, 
        isSubLayer: isSubLayer }) %>
    <% } %>
    <% 
        // Names are not necessary for sublayers, BUT we need to show something as the name for admins (!isSubLayer &&)
        if ( model.getNameLanguages) { %>
        <div class="add-layer-grouping" title="<%= instance.getLocalization('admin').layerNameAndDesc %>"><%= instance.getLocalization('admin').layerNameAndDesc %></div>

        <% 
        var names = model.getNameLanguages();
        for (var i = 0; i < names.length; i++) {
            var lang = names[i] %>
            <div class="add-layer-record">
                <div class="add-layer-label-area">
                    <label for="add-layer-<%= lang %>-name" class="add-layer-label" title="<%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].title : lang %>"><%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].lang : lang + ':' %></label>
                </div>
                <div class="add-layer-input-area">
                    <div class="input-controls">
                        <input type="text" id="add-layer-<%= lang %>-name" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].placeholder : instance.getLocalization('admin')['generic'].placeholder.replace('{0}', lang) %>" value="<%= model.getName(lang) %>"  />
                        <div class="icon-close"></div>
                    </div>
                    <div class="input-controls">
                        <input type="text" id="add-layer-<%= lang %>-title" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].descplaceholder : instance.getLocalization('admin')['generic'].descplaceholder.replace('{0}', lang) %>" value="<%= model.getDescription(lang) %>" />
                        <div class="icon-close"></div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-datauuid" class="add-layer-label" title="<%= instance.getLocalization('admin').metaInfoIdDesc %>"><%= instance.getLocalization('admin').metaInfoId %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-datauuid" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').metaInfoIdDesc %>" value="<%= model.getMetadataIdentifier() %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record add-layer-separation">
        <div class="add-layer-label-area">
            <label for="add-layer-layerName" class="add-layer-label" title="<%= instance.getLocalization('admin').wmsName %>"><%= instance.getLocalization('admin').wmsName %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-layerName" required class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').wmsName %>" value="<%= model.getLayerName() %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <% if(!isSubLayer) { %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-inspire-theme" class="add-layer-label"  title="<%= instance.getLocalization('admin').addInspireThemeDesc %>"><%= instance.getLocalization('admin').addInspireTheme %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
            <select id="add-layer-inspire-theme">
                <% for(var i = 0; inspireThemes != null && i < inspireThemes.length; i++) { %>
                <option value="<%= inspireThemes[i].id %>" <% if(model.getInspireName() == inspireThemes[i].name ) { %>selected<% } %> ><%= inspireThemes[i].name %></option>
                <% } %>
            </select>
            </div>
        </div>
    </div>
    <% } %>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="opacity-slider" class="add-layer-label" title="<%= instance.getLocalization('admin').opacityDesc %>"><%= instance.getLocalization('admin').opacity %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <div class="left-tools opacity-slider-tool">
                    <div class="oskariui admin-opacity-slider layer-opacity">
                        <div class="layout-slider"></div>
                    </div>
                    <div class="opacity-slider" style="display:inline-block">
                        <input type="text" name="opacity-slider" class="opacity-slider opacity" id="opacity-slider" value="<%= model.getOpacity() %>" style="width: 30px;padding: 2px;">%
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-style" class="add-layer-label" title="<%= instance.getLocalization('admin').styleDesc %>"><%= instance.getLocalization('admin').style %></label>
        </div>
        <div class="add-layer-input-area">
            <% if(model.getStyles().length > 1) { %>
            <select id="add-layer-style">
                 <% for(var i = 0; i < model.getStyles().length; i++) { %>
                <option value="<%= model.getStyles()[i].getName() %>" 
                    <% if(model.getCurrentStyle().getName() == model.getStyles()[i].getName() ) { %>selected<% } %> ><%= model.getStyles()[i].getTitle() %></option>
                <% } %>
            </select>
            <% } else if(model.getCurrentStyle().getTitle()) { %>
                <input type="text" id="add-layer-style" class="add-layer-input long" value="<%= model.getCurrentStyle().getName() %>" />
                <div class="icon-close"></div>
            <% } %>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-minscale" class="add-layer-label" title="<%= instance.getLocalization('admin').minScaleDesc %>"><%= instance.getLocalization('admin').minScale %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-minscale" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').minScalePlaceholder %>" value="<%= model.getMinScale() %>" required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-maxscale" class="add-layer-label" title="<%= instance.getLocalization('admin').maxScaleDesc %>"><%= instance.getLocalization('admin').maxScale %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-maxscale" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').maxScalePlaceholder %>" value="<%= model.getMaxScale() %>" required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-legendImage" class="add-layer-label" title="<%= instance.getLocalization('admin').legendImageDesc %>"><%= instance.getLocalization('admin').legendImage %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <textarea rows="3" cols="50" id="add-layer-legendImage" class="add-layer-input long"><% if(model) { %><%= model.getLegendImage() %><% } %></textarea>
            </div>
        </div>
    </div>

<% if(footer) { %> 
<%= footer({
    model: model, 
    instance: instance, 
    inspireThemes: inspireThemes, 
    isSubLayer: isSubLayer }) %>
<% } %>


    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-gfi-content" class="add-layer-label" title="<%= instance.getLocalization('admin').gfiContent %>"><%= instance.getLocalization('admin').gfiContent %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <textarea rows="3" cols="50" id="add-layer-gfi-content" class="add-layer-input long"><%= model.getGfiContent() %></textarea>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label class="add-class-label" title="<%= instance.getLocalization('admin').realtime %>" ><%= instance.getLocalization('admin').realtime %>
            </label>
        </div>
        <div class="add-class-input-area">
            <div class="input-controls">
                <label for="add-layer-realtime"><%= instance.getLocalization('admin').realtime %></label>
                <input
                    type="checkbox"
                    id="add-layer-realtime"
                    class="add-class-input"
                    placeholder="placeholder"
                    <% if (model.isRealtime()) { %>checked<% } %>
                />
            </div>
            <div class="input-controls">
                <label for="add-layer-refreshrate"></label>
                <input
                    type="text"
                    id="add-layer-refreshrate"
                    class="add-layer-input long"
                    placeholder="<%= instance.getLocalization('admin').refreshRate %>"
                    <% if (model.getRefreshRate()) { %>value="<%= model.getRefreshRate() %>"<% } %>
                />
            </div>
        </div>
    </div>

    <% if(!model.getId() && !isSubLayer) { %>
    <!-- roles - only for new layers (not sublayers) -->
    <div class="add-class-record">
        <div class="add-class-label-area">
            <label for="add-layer-view-roles" class="add-class-label" title="<%= instance.getLocalization('admin').roles_for_admin %>"><%= instance.getLocalization('admin').viewingRightsRoles %></label>
        </div>
        <div class="add-class-input-area adjacent">
             <% for(var i = 0; i < roles.length; i++) { %>
             <div class="input-controls">
                <label><%= roles[i].name %>  <input type="checkbox" id="layer-view-roles-<%= roles[i].id %>"  class="add-class-input" placeholder="placeholder"  value="<%= roles[i].id %>" /></label>
             </div>
            <% } %>
        </div>
    </div>
    <% } %>

    <div class="add-layer-send">
        <div class="add-layer-button-area">
            <div class="input-controls">
                <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-ok' : 'admin-add-layer-ok' %>"
                    title="<%= instance.getLocalization('admin').addNewLayer %>" ><%= instance.getLocalization('add') %></button>
                <% if(model.getId()) { %>
                <button class="add-layer-btn <%= isSubLayer ? 'admin-remove-sublayer' : 'admin-remove-layer' %>"
                    title="<%= instance.getLocalization('delete') %>"><%= instance.getLocalization('delete') %></button>
                <% } %>
                <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-cancel' : 'admin-add-layer-cancel' %>"
                    title="<%= instance.getLocalization('cancel') %>"><%= instance.getLocalization('cancel') %></button>
            </div>
        </div>
    </div>

    <br style="clear: both;" />
</div>
