<div class="add-layer-wrapper">

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-layertype" class="add-layer-label" title="<%= instance.getLocalization('admin').layerTypeDesc %>"><%= instance.getLocalization('admin').layerType %></label>
        </div>
        <div class="add-layer-input-area">
            <div id="add-layer-layertype" class="add-layer-text"><%= instance.getLocalization('admin').layertypes[model.getLayerType()] %></div>
        </div>
    </div>

    <% if(!model.getId()){ %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-interface" class="add-layer-label"  title="<%= instance.getLocalization('admin').interfaceAddress %>"><%= instance.getLocalization('admin').interfaceAddress %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-interface" class="add-layer-input mid"
                    placeholder="<%= instance.getLocalization('admin').interfaceAddress %>" 
                    <% if(model.getWmsUrls) { %>value="<%= model.getWmsUrls().join() %>"<% } %> />
                <div class="icon-close mid"></div>
            </div>
                    <button id="add-layer-wms-button" class="fetch-wms-button"><%= instance.getLocalization('admin').getInfo %></button>
        </div>
    </div>
    <% } %>

    <% if(capabilities) { %>
    <div class="add-layer-record capabilities">
        <div class="add-layer-label-area">
            <label class="add-layer-label"><%= instance.getLocalization('admin').capabilitiesLabel %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <%= capabilitiesTemplate({
                    capabilities: capabilities, 
                    capabilitiesTemplate: capabilitiesTemplate, 
                    isSub : false }) %>
            </div>
        </div>
    </div>
    <% } %>


    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-wms-url" class="add-layer-label" title="<%= instance.getLocalization('admin').wmsInterfaceAddressDesc %>"><%= instance.getLocalization('admin').wmsInterfaceAddress %></label>
        </div>
        <div class="add-layer-input-area">
            <textarea rows="3" cols="40" id="add-layer-wms-url" class="add-layer-input long" required><% if(model.getWmsUrls) { %><%= model.getWmsUrls().join() %><% } %></textarea>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-interface-version" class="add-layer-label" title="<%= instance.getLocalization('admin').interfaceVersionDesc %>"><%= instance.getLocalization('admin').interfaceVersion %></label>
        </div>
        <div class="add-layer-input-area">
            <select id="add-layer-interface-version">
                <option value="1.1.1" <% if(model.getVersion() == '1.1.1' ) { %>selected<% } %> ><%= instance.getLocalization('admin').wms1_1_1 %></option>
                <option value="1.3.0" <% if(model.getVersion() == '1.3.0' ) { %>selected<% } %> ><%= instance.getLocalization('admin').wms1_3_0 %></option>
            </select>
        </div>
    </div>

    <% 
        // Names are not necessary for sublayers, BUT we need to show something as the name for admins (!isSubLayer &&)
        if ( model.getNameLanguages) { %>
        <div class="add-layer-grouping" title="<%= instance.getLocalization('admin').layerNameAndDesc %>"><%= instance.getLocalization('admin').layerNameAndDesc %></div>

        <% 
        var names = model.getNameLanguages();
        for (var i = 0; i < names.length; i++) {
            var lang = names[i] %>
            <div class="add-layer-record">
                <div class="add-layer-label-area">
                    <label for="add-layer-<%= lang %>-name" class="add-layer-label" title="<%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].title : lang %>"><%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].lang : lang + ':' %></label>
                </div>
                <div class="add-layer-input-area">
                    <div class="input-controls">
                        <input type="text" id="add-layer-<%= lang %>-name" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].placeholder : instance.getLocalization('admin')['generic'].placeholder.replace('{0}', lang) %>" value="<%= model.getName(lang) %>"  />
                        <div class="icon-close"></div>
                    </div>
                    <div class="input-controls">
                        <input type="text" id="add-layer-<%= lang %>-title" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].descplaceholder : instance.getLocalization('admin')['generic'].descplaceholder.replace('{0}', lang) %>" value="<%= model.getDescription(lang) %>" />
                        <div class="icon-close"></div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-datauuid" class="add-layer-label" title="<%= instance.getLocalization('admin').metaInfoIdDesc %>"><%= instance.getLocalization('admin').metaInfoId %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-datauuid" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').metaInfoIdDesc %>" value="<%= model.getMetadataIdentifier() %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record add-layer-separation">
        <div class="add-layer-label-area">
            <label for="add-layer-wms-id" class="add-layer-label" title="<%= instance.getLocalization('admin').wmsName %>"><%= instance.getLocalization('admin').wmsName %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-wms-id" required class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').wmsName %>" value="<%= model.getWmsName() %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <% if(!isSubLayer) { %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-inspire-theme" class="add-layer-label"  title="<%= instance.getLocalization('admin').addInspireThemeDesc %>"><%= instance.getLocalization('admin').addInspireTheme %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
            <select id="add-layer-inspire-theme">
                <% for(var i = 0; inspireThemes != null && i < inspireThemes.length; i++) { %>
                <option value="<%= inspireThemes[i].id %>" <% if(model.getInspireName() == inspireThemes[i].name ) { %>selected<% } %> ><%= inspireThemes[i].name %></option>
                <% } %>
            </select>
            </div>
        </div>
    </div>
    <% } %>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="opacity-slider" class="add-layer-label" title="<%= instance.getLocalization('admin').opacityDesc %>"><%= instance.getLocalization('admin').opacity %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <div class="left-tools opacity-slider-tool">
                    <div class="oskariui admin-opacity-slider layer-opacity">
                        <div class="layout-slider"></div>
                    </div>
                    <div class="opacity-slider" style="display:inline-block">
                        <input type="text" name="opacity-slider" class="opacity-slider opacity" id="opacity-slider" value="<%= model.getOpacity() %>" style="width: 30px;padding: 2px;">%
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% if(model.getStyles().length > 0) { %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-style" class="add-layer-label" title="<%= instance.getLocalization('admin').styleDesc %>"><%= instance.getLocalization('admin').style %></label>
        </div>
        <div class="add-layer-input-area">
            <% if(model.getStyles().length > 1) { %>
            <select id="add-layer-style">
                 <% for(var i = 0; i < model.getStyles().length; i++) { %>
                <option value="<%= model.getStyles()[i].getName() %>" 
                    <% if(model.getCurrentStyle().getName() == model.getStyles()[i].getName() ) { %>selected<% } %> ><%= model.getStyles()[i].getTitle() %></option>
                <% } %>
            </select>
            <% } else { %>
                <%= model.getCurrentStyle().getTitle() %>
            <% } %>
        </div>
    </div>
    <% } %>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-minscale" class="add-layer-label" title="<%= instance.getLocalization('admin').minScaleDesc %>"><%= instance.getLocalization('admin').minScale %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-minscale" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').minScalePlaceholder %>" value="<%= model.getMinScale() %>" required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-maxscale" class="add-layer-label" title="<%= instance.getLocalization('admin').maxScaleDesc %>"><%= instance.getLocalization('admin').maxScale %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-maxscale" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').maxScalePlaceholder %>" value="<%= model.getMaxScale() %>" required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <!-- div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-srsname" class="add-layer-label" title="<%= instance.getLocalization('admin').srsName %>"><%= instance.getLocalization('admin').srsName %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-srsname" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').srsNamePlaceholder %>" <% if(model && model.admin) { %>value="<%= model.admin.epsg %>"<% } %> required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div -->

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-legendImage" class="add-layer-label" title="<%= instance.getLocalization('admin').legendImageDesc %>"><%= instance.getLocalization('admin').legendImage %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <textarea rows="3" cols="50" id="add-layer-legendImage" class="add-layer-input long"><% if(model) { %><%= model.getLegendImage() %><% } %></textarea>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-responsetype" class="add-layer-label" title="<%= instance.getLocalization('admin').gfiResponseTypeDesc %>">
                <%= instance.getLocalization('admin').gfiResponseType %>
            </label>
        </div>
        <div class="add-layer-input-area">
            <% if(model.getAvailableQueryFormats().length > 1) { %>
            <select id="add-layer-responsetype">
                 <% for(var i = 0; i < model.getAvailableQueryFormats().length; i++) { %>
                <option value="<%= model.getAvailableQueryFormats()[i] %>" 
                    <% if(model.getQueryFormat() == model.getAvailableQueryFormats()[i] ) { %>selected<% } %> ><%= model.getAvailableQueryFormats()[i] %></option>
                <% } %>
            </select>
            <% } else { %>
                <div id="add-layer-responsetype"><%= model.getQueryFormat() %></div>
            <% } %>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-xslt" class="add-layer-label" title="<%= instance.getLocalization('admin').gfiStyleDesc %>"><%= instance.getLocalization('admin').gfiStyle %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <textarea rows="3" cols="50" id="add-layer-xslt" class="add-layer-input long"><%= model.getGfiXslt() %></textarea>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label class="add-class-label" title="<%= instance.getLocalization('admin').realtime %>" ><%= instance.getLocalization('admin').realtime %>
            </label>
        </div>
        <div class="add-class-input-area">
            <div class="input-controls">
                <label for="add-layer-realtime"><%= instance.getLocalization('admin').realtime %></label>
                <input
                    type="checkbox"
                    id="add-layer-realtime"
                    class="add-class-input"
                    placeholder="placeholder"
                    <% if (model.isRealtime()) { %>checked<% } %>
                />
            </div>
            <div class="input-controls">
                <label for="add-layer-refreshrate"></label>
                <input
                    type="text"
                    id="add-layer-refreshrate"
                    class="add-layer-input long"
                    placeholder="<%= instance.getLocalization('admin').refreshRate %>"
                    <% if (model.getRefreshRate()) { %>value="<%= model.getRefreshRate() %>"<% } %>
                />
            </div>
        </div>
    </div>

    <% if(!model.getId() && !isSubLayer) { %>
    <!-- roles - only for new layers (not sublayers) -->
    <div class="add-class-record">
        <div class="add-class-label-area">
            <label for="add-layer-view-roles" class="add-class-label" title="<%= instance.getLocalization('admin').roles_for_admin %>"><%= instance.getLocalization('admin').viewingRightsRoles %></label>
        </div>
        <div class="add-class-input-area adjacent">
             <% for(var i = 0; i < roles.length; i++) { %>
             <div class="input-controls">
                <label><%= roles[i].name %>  <input type="checkbox" id="layer-view-roles-<%= roles[i].id %>"  class="add-class-input" placeholder="placeholder"  value="<%= roles[i].id %>" /></label>
             </div>
            <% } %>
        </div>
    </div>
    <% } %>

    <div class="add-layer-send">
        <div class="add-layer-button-area">
            <div class="input-controls">
                <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-ok' : 'admin-add-layer-ok' %>"
                    title="<%= instance.getLocalization('admin').addNewLayer %>" ><%= instance.getLocalization('add') %></button>
                <% if(model.getId()) { %>
                <button class="add-layer-btn <%= isSubLayer ? 'admin-remove-sublayer' : 'admin-remove-layer' %>"
                    title="<%= instance.getLocalization('delete') %>"><%= instance.getLocalization('delete') %></button>
                <% } %>
                <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-cancel' : 'admin-add-layer-cancel' %>"
                    title="<%= instance.getLocalization('cancel') %>"><%= instance.getLocalization('cancel') %></button>
            </div>
        </div>
    </div>

    <br style="clear: both;" />
</div>
