<ul>
    <% if(capabilities.self) { %>
    	<li class="capabilitieslayer groupLevelLayer" data-layername="<%= capabilities.self.layerName %>"><%= capabilities.self.title %></li>
	<% } %>
    <% _.each(capabilities.groups, function(cap) { %>
        <li class="groupTitle closed"><div class="icon-arrow-right inline-icon"></div> <%= cap.title %>
        	<%= capabilitiesTemplate({capabilities: cap, capabilitiesTemplate: capabilitiesTemplate, isSub : true}) %>
        </li>
    <% }); %>
    <% _.each(capabilities.layers, function(layer) { %>
        <li class="capabilitieslayer" data-layername="<%= layer.layerName %>" data-additionalId="<%= layer.additionalId %>"><%= layer.title %></li>
    <% }); %>
</ul>