<ul>
    <% if(capabilities.self) { %>
    	<li class="capabilitieslayer groupLevelLayer" data-wmsname="<%= capabilities.self.wmsName %>"><%= capabilities.self.title %></li>
	<% } %>
    <% _.each(capabilities.groups, function(cap) { %>
        <li class="groupTitle closed"><div class="icon-arrow-right inline-icon"></div> <%= cap.title %>
        	<%= capabilitiesTemplate({capabilities: cap, capabilitiesTemplate: capabilitiesTemplate, isSub : true}) %>
        </li>
    <% }); %>
    <% _.each(capabilities.layers, function(layer) { %>
        <li class="capabilitieslayer" data-wmsname="<%= layer.wmsName %>"><%= layer.title %></li>
    <% }); %>
</ul>