
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-matrixSetId" class="add-layer-label" title="<%= instance.getLocalization('admin').matrixSetIdDesc %>"><%= instance.getLocalization('admin').matrixSetId %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-matrixSetId" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').matrixSetIdDesc %>" value="<%= model.getWmtsMatrixSetId() %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-matrixSet" class="add-layer-label" title="<%= instance.getLocalization('admin').matrixSetDesc %>"><%= instance.getLocalization('admin').matrixSet %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <textarea rows="3" cols="50" id="add-layer-matrixSet" class="add-layer-input long"><%= model.getOriginalWmtsMatrixSetAsString() %></textarea>
            </div>
        </div>
    </div>

