#contentMap.mapContentEditorMode > #mapdiv, #contentMap.mapContentEditorMode > div.row-fluid {
  position: relative;
  left: 212px; }

#contentMap div.content-editor {
  background: #FFF;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  /* sidebar has 3, we want to open it on top of this */
  z-index: 2;
  width: 382px; }
  #contentMap div.content-editor div.content {
    padding: 10px; }

div.content-editor input[type=text] {
  width: 260px; }

div.content-editor .disabled-button {
  opacity: 0.8; }

div.content-editor div#publisher-layout-colours input[name=publisher-colour] {
  width: 125px; }

div.content-editor p#publisher-selected-colour {
  display: inline; }

div.content-editor button#publisher-colours {
  float: right; }

div.content-editor .customsize:disabled {
  color: #DDD; }

div.content-editor .customsize label {
  clear: none;
  display: inline-block;
  width: 60px; }
  div.content-editor .customsize label:first-of-type {
    margin-right: 3px; }
  div.content-editor .customsize label:last-of-type {
    margin-left: 3px; }
  div.content-editor .customsize label input {
    width: 100%; }
    div.content-editor .customsize label input.error {
      border: 1px solid red; }

div.content-editor div.icon-info {
  float: right; }

div.content-editor div.tool {
  margin: 5px; }

div.content-editor div.tool-options {
  padding-left: 23px; }
  div.content-editor div.tool-options .tool-option-settings {
    padding-left: 27px;
    padding-top: 5px; }

div.content-editor div.tool label, div.content-editor div.data label, div.content-editor div.tool input, div.content-editor div.data input {
  margin-right: 10px; }

div.content-editor div.tool input[type="button"], div.content-editor div.data input[type="button"] {
  margin-top: 5px;
  margin-bottom: 5px; }

div.content-editor > div.content {
  overflow: auto;
  height: 89%; }

div.content-editor > div.header {
  background-color: #FDF8D9;
  padding: 5px 10px; }
  div.content-editor > div.header div.icon-close {
    float: right; }

div.content-editor .layer.selected {
  border: 1pt solid #c0d0e0;
  margin: 0 5px 5px 0;
  height: 70px\9;
  /*IE9 */ }
  div.content-editor .layer.selected.out-of-scale, div.content-editor .layer.selected.out-of-content, div.content-editor .layer.selected.hidden {
    color: #909090; }
  div.content-editor .layer.selected div.layer-info {
    background-color: #FFF;
    padding: 5px; }
    div.content-editor .layer.selected div.layer-info div.layer-title {
      display: inline; }
      div.content-editor .layer.selected div.layer-info div.layer-title h4 {
        padding: 0; }
    div.content-editor .layer.selected div.layer-info div.layer-tool-remove {
      float: right; }
  div.content-editor .layer.selected div.layer-tools {
    background-color: #f3f3f3;
    padding: 7px; }
    div.content-editor .layer.selected div.layer-tools div.layout-slider {
      width: 140px;
      display: inline-block;
      margin-right: 16px; }
    div.content-editor .layer.selected div.layer-tools div.left-tools {
      display: inline-block; }
      div.content-editor .layer.selected div.layer-tools div.left-tools div.layer-visibility {
        padding-right: 5px;
        display: inline-block; }
      div.content-editor .layer.selected div.layer-tools div.left-tools div.layer-opacity {
        display: inline-block;
        background-image: url("../../../layerselection2/resources/images/opacity_slider.png");
        background-repeat: no-repeat; }
        div.content-editor .layer.selected div.layer-tools div.left-tools div.layer-opacity input.opacity {
          padding: 1px;
          width: 25px; }
    div.content-editor .layer.selected div.layer-tools div.right-tools {
      padding-top: 5px;
      float: right; }
      div.content-editor .layer.selected div.layer-tools div.right-tools div {
        float: left;
        margin-right: 5px; }
        div.content-editor .layer.selected div.layer-tools div.right-tools div.layer-rights, div.content-editor .layer.selected div.layer-tools div.right-tools div.object-data {
          padding-top: 2px; }

div.content-editor ul.selectedLayersList {
  height: 100%;
  width: 100%;
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0; }
  div.content-editor ul.selectedLayersList span {
    position: absolute;
    margin-left: -1.3em; }

div.content-editor .toolrow {
  border-top: 0; }

div.content-editor .content > div {
  margin-bottom: 20px; }

div.content-editor div.form div.field input {
  width: 100%;
  /*width: 80%0/;*/
  /* unquote for libsass bug */
  background-color: #FFF; }

div.field select {
  width: 100%;
  /*width: 80%0/;*/
  /* unquote for libsass bug */
  background-color: #FFF; }

div.content-editor div.buttons, div.publisher div.startview div.buttons {
  text-align: center;
  margin-top: 10px; }

div.content-editor div.buttons input, div.publisher div.startview div.buttons input {
  margin: 5px 2px; }

/* Buttons */
.content-editor-buttons {
  margin-bottom: 40px;
  text-align: right; }
  .content-editor-buttons.hide {
    display: none; }

.content-draw-tools.hide {
  display: none; }

.content-draw-tools {
  float: left; }

.properties-container {
  clear: both; }

/* Other */
#delete-dialog {
  margin-bottom: 30px; }

.field-invalid {
  border: 1px solid red !important; }
