
/* ********************************************
 * Statsgrid series control
 * ******************************************* */
.statsgrid-series-control-plugin {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  z-index: 15002!important;
}
.statsgrid-series-control-plugin .flyout-resizer {
  cursor: ew-resize;
  position: absolute;
  bottom: 0;
  right: 0;
}
.statsgrid-series-control-container {
  width: 100%;
  min-width: 290px;
  font-size: 12px; 
  overflow: hidden;
}
.statsgrid-series-control-plugin,
.statsgrid-series-control-container {
  min-width: 290px;
}
.statsgrid-series-control-container .value-controls {
  text-align: left;
  font-size: 12px;
}
.stats-series-speed {
  display: inline-block;
  vertical-align: baseline;
}
.stats-series-speed label {
  display: block;
}
.stats-series-speed select {
    width: 100px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.statsgrid-series-control-plugin .line-svg g.drag-handle circle{
  fill: #6baed6;
  stroke: #4f819e;
  stroke-width: 1px;
}
.statsgrid-series-control-plugin .line-svg g.axis line, g.axis path {
  stroke: #333;
}
.statsgrid-series-control-plugin .line-svg g.axis text {
  fill: #333;
  stroke: none;
}
.statsgrid-series-control-plugin .line-svg g.tick text.bold {
  font-weight: 600;
}
.stats-series-menus label.oskari-select {
  color: #333;
}

.stats-series-stepper {
  padding: 5px 5px 5px 10px;
  display: inline-block;
  vertical-align: middle;
}
.stats-series-back,
.stats-series-playpause,
.stats-series-forward,
.stats-series-value {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 2px 4px;
  vertical-align: top;
}
.stats-series-back,
.stats-series-playpause,
.stats-series-forward {
  background-color: #fff;
  border-radius: 50px;
  background: radial-gradient(ellipse at center, #ffffff 18%,#ededed 43%,#b4b4b4 100%);
  cursor: pointer;
  position: relative;
}
.stats-series-back:not(.disabled):hover,
.stats-series-playpause:hover,
.stats-series-forward:not(.disabled):hover {
  background: radial-gradient(ellipse at center, #e7f1f5 18%,#c8dae2 43%,#95b4c4 100%);
  color: #369
}
.stats-series-back,
.stats-series-forward {
  width: 26px;
  height: 26px;
  margin-top: 7px;
}
.stats-series-forward:after,
.stats-series-forward:before,
.stats-series-back:after,
.stats-series-back:before  {
  content: '';
  display: inline-block;
  position: absolute;
}
.stats-series-forward:after,
.stats-series-back:after {
  border-style: solid;
}
.stats-series-forward:after {
  top: 8px;
  left: 10px;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent #3c3c3c;
}
.stats-series-forward:before {
  width: 1px;
  height: 8px;
  top: 9px;
  left: 16px;
  background: #3c3c3c;
}
.stats-series-back:after {
  top: 8px;
  right: 10px;
  border-width: 5px 7px 5px 0;
  border-color: transparent #3c3c3c transparent transparent;
}
.stats-series-back:before {
  width: 1px;
  height: 8px;
  top: 9px;
  right: 16px;
  background: #3c3c3c;
}
.stats-series-playpause:not(.pause):after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 14px;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent transparent transparent #3c3c3c;
}
.stats-series-playpause.pause:before,
.stats-series-playpause.pause:after {
  width: 4px;
  height: 12px;
  background: #3c3c3c;
  position: absolute;
  content: "";
  top: 12px;
  left: 13px;
}
.stats-series-playpause.pause:after {
  left: 19px;
}
.stats-series-stepper .disabled {
  cursor: auto;
  opacity: 0.5;
}
.stats-series-value {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 0 0 10px;
  text-align: left;
  font-size: 13px;
}
svg.statsgrid-series-control-plugin .line-svg {
  display: block;
  overflow: hidden;
}
svg.statsgrid-series-control-plugin .line-svg text {
  font-family: "Open Sans", Arial, sans-serif;
}

/* mobile mode */

.statsgrid-series-control-plugin.mobile .stats-series-timelines {
  display: block;
}