#contentMap.statsgrid-contentMap {
  position: relative; }

.oskariui-mode-content {
  height: 100%;
  background-color: white; }

.oskariui-mode-content.statsgrid-mode {
    overflow: hidden;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0; }

.statsgrid_100 {
  height: 100%; }

.statsgrid {
  min-width: 100%;
  min-height: 100%;
  height: 100%; }

  .statsgrid .statsgrid-table {
    min-height: 80%;
    height: 80%; }

div.oskari-view.statsgrid table.oskari-grid th.selected {
  background-color: #FDF8D9;
}