/* ********************************************
 * These are for common code in statsgrid
 * ******************************************* */
.statsgrid .statsgrid-table {
  min-height: 80%;
  height: 80%; }

/* ********************************************
 * These are for flyout version of statsgrid
 * ******************************************* */
.statsgrid-grid-table-header {
  top: 0;
  left: 0;
  width: 94%;
  height: 94%;
  text-align: left;
  padding: 5px 5px 0px 5px;
  font-weight: normal; }
  .statsgrid-grid-table-header .header {
    position: absolute;
    width: 94%;
    top: 0; }
  .statsgrid-grid-table-header .selection .parameter .select {
    width: auto !important;
    float: none !important; }
  .statsgrid-grid-table-header .title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px; }
  .statsgrid-grid-table-header .selection {
    margin-bottom: 6px;
    width: 98%; }
  .statsgrid-grid-table-header .sortby {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0; }
    .statsgrid-grid-table-header .sortby .orderTitle {
      float: left; }
      .statsgrid-grid-table-header .sortby .orderTitle.selected {
        text-decoration: underline; }
    .statsgrid-grid-table-header .sortby .order {
      height: 10px;
      width: 10px;
      float: left;
      margin-top: 4px; }
      .statsgrid-grid-table-header .sortby .order.asc {
        background-image: url("../images/asc_arrow.png");
        background-repeat: no-repeat;
        background-position: right center; }
      .statsgrid-grid-table-header .sortby .order.desc {
        background-image: url("../images/desc_arrow.png");
        background-repeat: no-repeat;
        background-position: right center; }

.statsgrid-grid-table-header-content {
  top: 0;
  left: 0;
  width: 94%;
  height: 94%;
  text-align: left;
  padding: 5px 5px 0px 5px;
  font-weight: normal; }
  .statsgrid-grid-table-header-content .header {
    width: 90%;
    position: absolute;
    top: 5px; }
    .statsgrid-grid-table-header-content .header .title {
      font-weight: bold; }
  .statsgrid-grid-table-header-content .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer; }
  .statsgrid-grid-table-header-content .sortby {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0; }
    .statsgrid-grid-table-header-content .sortby .orderTitle {
      float: left; }
      .statsgrid-grid-table-header-content .sortby .orderTitle.selected {
        text-decoration: underline; }
    .statsgrid-grid-table-header-content .sortby .order {
      height: 10px;
      width: 10px;
      float: left;
      margin-top: 4px; }
      .statsgrid-grid-table-header-content .sortby .order.asc {
        background-image: url("../images/asc_arrow.png");
        background-repeat: no-repeat;
        background-position: right center; }
      .statsgrid-grid-table-header-content .sortby .order.desc {
        background-image: url("../images/desc_arrow.png");
        background-repeat: no-repeat;
        background-position: right center; }

@keyframes statsgridcolumnselection {
  from {
    background-color: #ffd400; }
  to {
    background-color: #FDF8D9; } }
div.oskari-flyout {
  /* ********************************************
  * Search styles
  * ********************************************/
  /* ********************************************
  * Data styles
  * ********************************************/
  /* ********************************************
  * Diagram styles
  * ********************************************/ }
  div.oskari-flyout.statsgrid-search-flyout {
    /* TODO: limits the table from blowing up the flyout, but this needs to be handled in some other way */
    max-width: 700px;
    /* Chosen fixes */ }
    div.oskari-flyout.statsgrid-search-flyout .statsgrid-search-container {
      padding: 16px; }
    div.oskari-flyout.statsgrid-search-flyout label span {
      /* Indicator selection form */
      width: 200px;
      display: inline-block; }
    div.oskari-flyout.statsgrid-search-flyout label.oskari-formcomponent {
      width: 100%;
      padding-left: 10px; }
    div.oskari-flyout.statsgrid-search-flyout .chosen-container .chosen-results {
      max-height: 140px; }
    div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections {
      /* TODO: limits the description from blowing up the flyout, but this needs to be handled in some other way */
      max-width: 450px; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.selection {
        padding-top: 0;
        padding-bottom: 6px;
        padding-left: 0; }
        div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.selection.tooltip {
          padding-bottom: 0 !important; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections {
        padding-left: 10px;
        padding-bottom: 10px; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.selection div.title, div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections div.title {
        font-weight: bold; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.selection div.tooltip, div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections div.tooltip {
        font-style: italic;
        font-size: 14px; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.selection .margintop, div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections .margintop {
        margin-top: 12px; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.selection .margintopLarge, div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections .margintopLarge {
        margin-top: 24px; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.selection .noresults, div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections .noresults {
        font-style: italic; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-ds-selections input.oskari-button {
        margin-left: 10px; }
    div.oskari-flyout.statsgrid-search-flyout .chosen-container.chosen-drop-up .chosen-drop {
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      border-top: 1px solid #aaa;
      bottom: 100%;
      box-shadow: none;
      top: auto; }
    div.oskari-flyout.statsgrid-search-flyout .chosen-container-active.chosen-with-drop.chosen-drop-up .chosen-single {
      background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(40%, #eee), color-stop(90%, #fff));
      background-image: -webkit-linear-gradient(#fff 40%, #eee 90%);
      background-image: -moz-linear-gradient(#fff 40%, #eee 90%);
      background-image: -o-linear-gradient(#fff 40%, #eee 90%);
      background-image: linear-gradient(#fff 40%, #eee 90%);
      border-radius: 0 0 4px 4px;
      border-top: 0;
      box-shadow: 0 1px 0 #fff inset; }
    div.oskari-flyout.statsgrid-search-flyout .stats-table {
      margin-top: 14px; }
      div.oskari-flyout.statsgrid-search-flyout .stats-table .noresults .title {
        background-color: #000;
        color: #fff;
        padding: 8px 10px 8px 12px;
        font-weight: bold; }
      div.oskari-flyout.statsgrid-search-flyout .stats-table .noresults .content {
        padding: 10px; }
    div.oskari-flyout.statsgrid-search-flyout div.parameter div.label, div.oskari-flyout.statsgrid-search-flyout div.parameter div.select {
      float: left; }
    div.oskari-flyout.statsgrid-search-flyout div.parameter div.label {
      width: 100px;
      margin-right: 4px;
      text-align: left; }
    div.oskari-flyout.statsgrid-search-flyout div.parameter div.select {
      width: 336px; }
    div.oskari-flyout.statsgrid-search-flyout div.parameter div.clear {
      clear: both; }
    div.oskari-flyout.statsgrid-search-flyout thead th {
      border: none;
      border-bottom: 1px solid #E6E6E6;
      border-left: 1px solid #E6E6E6;
      border-right: 1px solid #E6E6E6; }
    div.oskari-flyout.statsgrid-search-flyout .statsgrid-grouping-header {
      text-align: left;
      padding: 6px;
      border-bottom: none !important;
      border-top: 1px solid #E6E6E6; }
      div.oskari-flyout.statsgrid-search-flyout .statsgrid-grouping-header.sources {
        color: #ffffff;
        background-color: #000000; }
        div.oskari-flyout.statsgrid-search-flyout .statsgrid-grouping-header.sources span {
          font-weight: normal; }
    div.oskari-flyout.statsgrid-search-flyout div.extrafeatures div.title {
      font-weight: bold;
      margin-top: 12px; }
    div.oskari-flyout.statsgrid-search-flyout div.extrafeatures div.content label.oskari-formcomponent {
      margin-bottom: 0; }
  div.oskari-flyout.statsgrid-data-flyout {
    /* TODO: limits the table from blowing up the flyout, but this needs to be handled in some other way */
    max-width: 700px;
    /* Chosen fixes */ }
    div.oskari-flyout.statsgrid-data-flyout .oskari-datacharts {
      padding: 16px; }
    div.oskari-flyout.statsgrid-data-flyout table.oskari-grid th.selected {
      background-color: #FDF8D9;
      animation-name: statsgridcolumnselection;
      animation-duration: 0.5s;
      animation-iteration-count: 3; }
    div.oskari-flyout.statsgrid-data-flyout table.oskari-grid td {
      text-align: left; }
    div.oskari-flyout.statsgrid-data-flyout label span {
      /* Indicator selection form */
      width: 200px;
      display: inline-block; }
    div.oskari-flyout.statsgrid-data-flyout label.oskari-formcomponent {
      width: 100%;
      padding-left: 10px; }
    div.oskari-flyout.statsgrid-data-flyout div.accordion div.accordion_panel div.content {
      padding: 10px; }
    div.oskari-flyout.statsgrid-data-flyout .chosen-container .chosen-results {
      max-height: 140px; }
    div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections {
      /* TODO: limits the description from blowing up the flyout, but this needs to be handled in some other way */
      max-width: 450px; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.selection {
        padding-top: 0;
        padding-bottom: 6px;
        padding-left: 0; }
        div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.selection.tooltip {
          padding-bottom: 0 !important; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections {
        padding-left: 10px;
        padding-bottom: 10px; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.selection div.title, div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections div.title {
        font-weight: bold; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.selection div.tooltip, div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections div.tooltip {
        font-style: italic;
        font-size: 14px; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.selection .margintop, div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections .margintop {
        margin-top: 12px; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.selection .margintopLarge, div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections .margintopLarge {
        margin-top: 24px; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.selection .noresults, div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections div.statsgrid-indicator-selections .noresults {
        font-style: italic; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-ds-selections input.oskari-button {
        margin-left: 10px; }
    div.oskari-flyout.statsgrid-data-flyout .chosen-container.chosen-drop-up .chosen-drop {
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      border-top: 1px solid #aaa;
      bottom: 100%;
      box-shadow: none;
      top: auto; }
    div.oskari-flyout.statsgrid-data-flyout .chosen-container-active.chosen-with-drop.chosen-drop-up .chosen-single {
      background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(40%, #eee), color-stop(90%, #fff));
      background-image: -webkit-linear-gradient(#fff 40%, #eee 90%);
      background-image: -moz-linear-gradient(#fff 40%, #eee 90%);
      background-image: -o-linear-gradient(#fff 40%, #eee 90%);
      background-image: linear-gradient(#fff 40%, #eee 90%);
      border-radius: 0 0 4px 4px;
      border-top: 0;
      box-shadow: 0 1px 0 #fff inset; }
    div.oskari-flyout.statsgrid-data-flyout .stats-table .noresults .title {
      background-color: #000;
      color: #fff;
      padding: 8px 10px 8px 12px;
      font-weight: bold; }
    div.oskari-flyout.statsgrid-data-flyout .stats-table .noresults .content {
      padding: 10px; }
    div.oskari-flyout.statsgrid-data-flyout div.parameter div.label, div.oskari-flyout.statsgrid-data-flyout div.parameter div.select {
      float: left; }
    div.oskari-flyout.statsgrid-data-flyout div.parameter div.label {
      width: 100px;
      margin-right: 4px;
      text-align: left; }
    div.oskari-flyout.statsgrid-data-flyout div.parameter div.select {
      width: 336px; }
    div.oskari-flyout.statsgrid-data-flyout div.parameter div.clear {
      clear: both; }
    div.oskari-flyout.statsgrid-data-flyout thead th {
      border: none;
      border-bottom: 1px solid #E6E6E6;
      border-left: 1px solid #E6E6E6;
      border-right: 1px solid #E6E6E6; }
    div.oskari-flyout.statsgrid-data-flyout .statsgrid-grouping-header {
      text-align: left;
      padding: 6px;
      border-bottom: none !important;
      border-top: 1px solid #E6E6E6; }
      div.oskari-flyout.statsgrid-data-flyout .statsgrid-grouping-header.sources {
        color: #ffffff;
        background-color: #000000; }
        div.oskari-flyout.statsgrid-data-flyout .statsgrid-grouping-header.sources span {
          font-weight: normal; }
    div.oskari-flyout.statsgrid-data-flyout .oskari-datacharts #graphic .bar {
      fill: #5f89ad; }
    div.oskari-flyout.statsgrid-data-flyout .oskari-datacharts #graphic .axis {
      font-size: 13px; }
      div.oskari-flyout.statsgrid-data-flyout .oskari-datacharts #graphic .axis path, div.oskari-flyout.statsgrid-data-flyout .oskari-datacharts #graphic .axis line {
        fill: none;
        display: none; }
    div.oskari-flyout.statsgrid-data-flyout .oskari-datacharts #graphic .label {
      font-size: 13px; }
    div.oskari-flyout.statsgrid-data-flyout .oskari-datacharts #graphic .grid .tick {
      stroke: lightgrey;
      opacity: 0.7; }
    div.oskari-flyout.statsgrid-data-flyout .oskari-datacharts #graphic .grid path {
      stroke-width: 0; }
  div.oskari-flyout.statsgrid-diagram-flyout .oskari-datacharts {
    padding: 16px; }

/* ********************************************
 * Statsgrid legend
 * ******************************************* */
.statsgrid-legend-plugin {
  border: 1px solid rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  text-align: left;
  /* Float right to not overlap with other plugins */
  float: right; }

.statsgrid-legend-container {
  background-color: #FFFFFF;
  width: 300px;
  font-size: 12px; }
  .statsgrid-legend-container > div.header {
    background-color: #fdf8d9;
    margin: 0;
    height: auto;
    padding: 6px;
    width: auto;
    font-weight: bold; }
    .statsgrid-legend-container > div.header div.title {
      font-size: 14px; }
    .statsgrid-legend-container > div.header div.link {
      cursor: pointer;
      color: #4292c5;
      float: right;
      text-decoration: underline; }
    .statsgrid-legend-container > div.header div.sourcename {
      font-weight: normal; }
  .statsgrid-legend-container .legend-noactive {
    padding: 3px 10px 5px 10px; }
  .statsgrid-legend-container div.accordion div.content {
    padding: 0;
    margin: 0;
    margin-left: 8px; }
  .statsgrid-legend-container div.accordion div.geostats-legend div {
    margin: 2px 6px 2px 2px; }
  .statsgrid-legend-container > .accordion .accordion_panel {
    border: 0px;
    overflow: visible; }
    .statsgrid-legend-container > .accordion .accordion_panel .header .headerIcon {
      margin: 0;
      margin-left: 4px; }
    .statsgrid-legend-container > .accordion .accordion_panel .header .headerText {
      font-size: 12px;
      padding: 0;
      font-weight: normal; }
    .statsgrid-legend-container > .accordion .accordion_panel .content .classifications .classification-options .numeric-value .oskari-formcomponent {
      margin-bottom: 4px;
      margin-top: 8px; }
    .statsgrid-legend-container > .accordion .accordion_panel .content .classifications .label {
      font-weight: bold; }
    .statsgrid-legend-container > .accordion .accordion_panel .content .classifications select {
      width: 96%;
      font-size: 12px;
      padding: 1px 2px; }
    .statsgrid-legend-container > .accordion .accordion_panel .content .classifications button.reverse-colors {
      margin-top: 5px;
      margin-left: 0;
      width: 95%;
      padding: 4px 5px; }
    .statsgrid-legend-container > .accordion .accordion_panel .content .classifications .point-size .minmaxlabels .min {
      float: left; }
    .statsgrid-legend-container > .accordion .accordion_panel .content .classifications .point-size .minmaxlabels .max {
      float: right;
      margin-right: 4%; }
    .statsgrid-legend-container > .accordion .accordion_panel .content .classifications .point-size .minmaxlabels .clear {
      clear: both; }
    .statsgrid-legend-container > .accordion .accordion_panel .content .classifications .point-size .point-range {
      width: 90%;
      background-image: url(../images/opacity_slider_long.png);
      background-repeat: no-repeat; }
    .statsgrid-legend-container > .accordion .accordion_panel .oskari-color-selection {
      z-index: 10; }
  .statsgrid-legend-container .statsgrid-svg {
    float: left; }
  .statsgrid-legend-container .statsgrid-range {
    float: left; }
  .statsgrid-legend-container .statsgrid-counter {
    float: left; }
  .statsgrid-legend-container .clear {
    clear: both; }

/* Mobile popup tuning */
.divmanazerpopup.statsgrid-mobile-legend .popup-body > div.content {
  margin: 0px; }
.divmanazerpopup.statsgrid-mobile-legend .popup-body div.accordion div.content {
  padding: 0;
  margin: 0;
  margin-left: 8px; }
.divmanazerpopup.statsgrid-mobile-legend .popup-body div.geostats-legend div {
  margin: 2px 6px 2px 2px; }

/** Toggle buttons */
div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.statsgrid-published-toggle-buttons {
  border: 1px solid rgba(0, 0, 0, 0.2);
  float: right;
  margin: 10px; }
  div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.statsgrid-published-toggle-buttons .map {
    background-color: #3c3c3c;
    float: left;
    height: 36px;
    width: 36px;
    background-image: url("../images/map_dark.png");
    cursor: pointer; }
    div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.statsgrid-published-toggle-buttons .map.active {
      background-color: #ffffff;
      background-image: url("../images/map_light.png"); }
  div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.statsgrid-published-toggle-buttons .table {
    background-color: #3c3c3c;
    float: left;
    height: 36px;
    width: 36px;
    background-image: url("../images/table_dark.png");
    cursor: pointer; }
    div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.statsgrid-published-toggle-buttons .table.active {
      background-color: #ffffff;
      background-image: url("../images/table_light.png"); }
  div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.statsgrid-published-toggle-buttons .clear {
    clear: both; }

.statsgrid-legend-flyout .oskari-flyoutcontentcontainer {
  overflow-x: hidden;
  overflow-y: auto; }

/* ********************************************
 * Statsgrid tile styles
 * ********************************************/
.oskari-tile.statsgrid .statsgrid-functionality {
  width: 95%;
  display: inline-flex;
  display: -ms-inline-flexbox;
  align-items: center;
  margin-left: 6px; }
  .oskari-tile.statsgrid .statsgrid-functionality.hidden {
    display: none;
  }
  .oskari-tile.statsgrid .statsgrid-functionality .icon {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-position: center; }
  .oskari-tile.statsgrid .statsgrid-functionality .text {
    margin-left: 4px;
    font-weight: bold;
    font-size: 12px; }
  .oskari-tile.statsgrid .statsgrid-functionality.material-selected .icon {
    background-color: #ffd400; }
  .oskari-tile.statsgrid .statsgrid-functionality.table .icon {
    background-image: url("../images/tile-table-light.png"); }
  .oskari-tile.statsgrid .statsgrid-functionality.search .icon {
    background-image: url("../images/tile-search-light.png"); }
  .oskari-tile.statsgrid .statsgrid-functionality.diagram .icon {
    background-image: url("../images/tile-diagram-light.png"); }

/* ********************************************
 * DataVisualizer styles
 * ********************************************/
div.tab-material-controls div.title {
  font-weight: bold; }

/* ********************************************
 * Filter styles
 * ********************************************/
.oskari-flyout.statsgrid-filter-flyout .clear {
  clear: both; }
.oskari-flyout.statsgrid-filter-flyout .right {
  float: right; }
.oskari-flyout.statsgrid-filter-flyout .left {
  float: left; }
.oskari-flyout.statsgrid-filter-flyout h5 {
  padding-bottom: 0 !important; }
.oskari-flyout.statsgrid-filter-flyout .filter-button {
  margin-top: 1em; }
.oskari-flyout.statsgrid-filter-flyout .active-filters {
  width: 15em; }
.oskari-flyout.statsgrid-filter-flyout .content {
  width: 32em; }
.oskari-flyout.statsgrid-filter-flyout .filterIndicator, .oskari-flyout.statsgrid-filter-flyout .filterCondition, .oskari-flyout.statsgrid-filter-flyout .oskari-table-header {
  width: 15em; }
.oskari-flyout.statsgrid-filter-flyout .cell {
  height: 1em;
  padding: 7px;
  text-align: center; }
.oskari-flyout.statsgrid-filter-flyout .indicator, .oskari-flyout.statsgrid-filter-flyout #indicator {
  width: 50%; }
.oskari-flyout.statsgrid-filter-flyout .condition, .oskari-flyout.statsgrid-filter-flyout #condition, .oskari-flyout.statsgrid-filter-flyout .value, .oskari-flyout.statsgrid-filter-flyout #value {
  width: 20%; }
.oskari-flyout.statsgrid-filter-flyout .headerCell {
  padding: 0.9375em 0.5em;
  text-align: left;
  font-weight: 500;
  font-size: calc(0.55rem + 0.28vh);
  text-transform: uppercase; }
.oskari-flyout.statsgrid-filter-flyout td {
  background: #FAFAFA;
  text-align: center; }
.oskari-flyout.statsgrid-filter-flyout .oskari-table-header {
  height: 3em; }
.oskari-flyout.statsgrid-filter-flyout .removerow {
  border-radius: 50%;
  height: 1.3em;
  width: 1.37em;
  background-image: url("../images/icon-close.png"); }
.oskari-flyout.statsgrid-filter-flyout .remove {
  width: 5%; }
.oskari-flyout.statsgrid-filter-flyout .filter-edit-active {
  background: olivedrab !important; }
.oskari-flyout.statsgrid-filter-flyout .hoverable {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 15em;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite; }
  .oskari-flyout.statsgrid-filter-flyout .hoverable tr:hover {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e; }
.oskari-flyout.statsgrid-filter-flyout tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e; }
.oskari-flyout.statsgrid-filter-flyout .filter {
  padding: 1.2em; }
.oskari-flyout.statsgrid-filter-flyout .tabsHeader {
  padding-top: 2em !important; }

/*# sourceMappingURL=style.css.map */
