


/* ********************************************
 * These are for common code in statsgrid
 * ******************************************* */
  .statsgrid {
      .statsgrid-table {
          min-height: 80%;
          height: 80%;
      }
  }

/* ********************************************
 * These are for flyout version of statsgrid
 * ******************************************* */


.statsgrid-grid-table-header {
    position:absolute;
    top:0;
    left:0;
    width:94%;
    height:94%;
    text-align:left;
    margin:10px;
    font-weight: normal;

    .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 6px;
    }

    .selection {
        margin-bottom: 6px;
        width: 94%;
    }
}

.statsgrid-grid-table-header-content {
    position:absolute;
    top:0;
    left:0;
    width:94%;
    height:94%;
    text-align:left;
    margin:10px;
    font-weight: normal;

    .header {
        width: 90%;
        .title {
            font-weight: bold;
        }
    }

    .icon {
        position: absolute;
        top:0;
        right:10px;
        cursor: pointer;
    }

    .sortby {
        cursor: pointer;
        position:absolute;
        bottom: 6px;
        right: 6px;

        .orderTitle {
            float: left;

            &.selected {
              text-decoration: underline;
            }
        }
        .order {
            height: 10px;
            width: 10px;
            float: left;
            margin-top: 4px;

            &.asc {
                background-image: url('../images/asc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }

            &.desc {
                background-image: url('../images/desc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
}

div.oskari-flyoutcontent{
    &.statsgrid {
        /* TODO: limits the table from blowing up the flyout, but this needs to be handled in some other way */
        max-width: 700px;

        label span {
            /* Indicator selection form */
            width: 200px;
            display: inline-block;
        }

        label.oskari-formcomponent {
          width: 100%;
          padding-left: 10px;
        }

        div.accordion {
            div.accordion_panel {
                div.content {
                    padding: 10px;
                }
            }
        }

        .chosen-container .chosen-results {
            max-height: 140px;
        }

        .statsgrid-ds-selections {
            /* TODO: limits the description from blowing up the flyout, but this needs to be handled in some other way */
            max-width : 450px;

            div.selection {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;

                &.tooltip {
                  padding-bottom: 0 !important;
                }
            }


            div.statsgrid-indicator-selections {
                padding-left: 10px;
                padding-bottom: 10px;
            }

            div.selection, div.statsgrid-indicator-selections {

                div.title {
                    font-weight: bold;
                }

                div.tooltip {
                    font-style: italic;
                    font-size: 14px;
                }

                .margintop {
                   margin-top: 12px;
                }

                .margintopLarge {
                   margin-top: 24px;
                }

                .noresults {
                    font-style: italic;
                }
            }

            input.oskari-button {
                margin-left: 10px;
            }
        }





        table.oskari-grid th.selected {
          background-color: #FDF8D9;
        }

        /* Chosen fixes */
        .chosen-container.chosen-drop-up .chosen-drop {
         border-bottom: 0;
         border-radius: 4px 4px 0 0;
         border-top: 1px solid #aaa;
         bottom: 100%;
         box-shadow: none;
         top: auto;
        }

        .chosen-container-active.chosen-with-drop.chosen-drop-up .chosen-single {
         background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(40%,#eee),color-stop(90%,#fff));
         background-image: -webkit-linear-gradient(#fff 40%,#eee 90%);
         background-image: -moz-linear-gradient(#fff 40%,#eee 90%);
         background-image: -o-linear-gradient(#fff 40%,#eee 90%);
         background-image: linear-gradient(#fff 40%,#eee 90%);
         border-radius: 0 0 4px 4px;
         border-top: 0;
         box-shadow: 0 1px 0 #fff inset;
        }

        .stats-table{
            margin-top: 14px;

            .noresults {
                .title {
                    background-color:#000;
                    color:#fff;
                    padding:8px 10px 8px 12px;
                    font-weight:bold;
                }

                .content{
                    padding:10px;
                }
            }
        }
    }
}