/*
.parcel-draw-line {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/resources/framework/bundle/parcel/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -869px 0px !important;
}

.parcel-draw-area {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/resources/framework/bundle/parcel/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1029px 0px !important;
}

.parcel-selector {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/resources/framework/bundle/parcel/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -805px 0px !important;
}

.parcel-clear {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/resources/framework/bundle/parcel/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -933px 0px !important;
}
*/
