div.parcelform div.help {
  float: right; }

/* Wide fields for place inputs  */
div.parcelform div.field {
  padding-bottom: 10px; }

div.parcelform {
  width: 300px;
  height: 450px; }

div.parcelform input {
  width: 80%; }

div.parcelform textarea, div.parcelform select {
  width: 80%; }

div.parcel div.buttons div.button {
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888; }

.divmanazerpopup.parcel {
  max-width: 260px; }

circle.parceleditor {
  cursor: move; }

#contentMap div.basic_printout {
  left: auto !important; }
