
div.notLoggedIn {
	padding: 10px;
}

div.publisher {
    
}

#contentMap.mapPublishMode {
    margin-left: 255px;
}
div.publisher div.startview div.icon-info, div.basic_publisher div.icon-info {
	float : right;
}
div.publisher div.startview div.buttons {    
	text-align: center;
}

div.publisher div.startview div.layerlist {
	border : 1px solid;
	padding : 10px;
}
div.publisher div.startview div.layerlist h4 {
	font-size : 14px;
	line-height: 15px;
    padding-bottom: 5px;
}
div.publisher div.startview ul {
    list-style: disc inside none;
    padding : 5px;
}
div.publisher div.startview div.error ul li {
	color : red;
}

#contentMap div.basic_publisher {
	background : white;
	position : absolute;
    height: 100%;
    top : 0;
    left : 0;
    z-index : 20;
    width : 255px;
}
#contentMap div.basic_publisher div.content {
    padding : 10px;
}

div.basic_publisher > div.header {
    background-color: #FDF8D9;
    padding: 5px 10px;
}
div.basic_publisher > div.header div.icon-close {
    float: right;
}


div.basic_publisher div.customsize input {
    width: 47px;
}
div.basic_publisher div.customsize input.error {
    border: 1px solid red;
}
div.basic_publisher div.form div.field input, div.field select {
    width : 100%;
}

div.basic_publisher > div.content {
    overflow: auto;
	height: 89%;
}

div.basic_publisher div.options {
	padding-bottom: 10px;
}

/* Buttons */
div.basic_publisher div.buttons input {
    margin : 5px;
}