
div.notLoggedIn {
	padding: 10px;
}

div.publisher {
    
}

div.publisher div.basic_publisher {
    height: 100%;
    width: 100%;
}

div.publisher div.basic_publisher div.form {
    display: inline-block;
    width : 230px;
}

div.publisher div.basic_publisher div.form {
    display: inline-block;
    width : 230px;
}

div.publisher div.customsize input {
    width: 47px;
}
div.publisher div.customsize input.error {
    border: 1px solid red;
}
div.publisher div.basic_publisher div.form div.field input, div.field select {
    width : 100%;
}
div.publisher div.help {
    float : right;
}

div.publisher div.basic_publisher div.form div.options {
    overflow: auto;
}

div.options {
	padding-bottom: 10px;
}

div.field {
	padding: 5px;
}

div.field input {
	margin-bottom: 5px;
	margin-top: 5px;
}


div.publisher div.map {
    width : 360px;
    float: right;
}
div.publisher div.map div.preview {
    height: 400px;    
}
div.publisher div.map div.locationdata {
    display: inline-block;
    float: right;
}

/* Accordion */
div.accordion div.accordion_panel div.content div.tool {
    margin : 5px 10px;
}
div.accordion div.accordion_panel div.content div.tool input {
    margin-right: 10px;
    vertical-align: bottom;
}

/* Buttons */
div.publisher div.buttons {
    /*position: absolute;
    bottom : 35px; */
}
div.publisher div.buttons input {
    margin : 5px;
}