@CHARSET "UTF-8";

/** statusbar style*/
#right-statusbar{
	width: 100% !important;
}

.search-loading{
    background-image: url("../images/ajax-loader.gif") !important;
	background-position: right !important;
	background-repeat:no-repeat !important;
}

#map-div,#map-info-tools{
    margin-left: auto;
    margin-right: auto;
    
}
/** Slider style of selected layers */
/*
.selected-layer-slider
{
    float: left;
}*/

/** Search textbox style */
/*
.search-textbox
{
    float: left !important;
    padding-right: 3px !important;
}*/

/** Left panel body */
.leftpanel-selected-layers-controls .x-panel-body {
    background-color:#D7D7D7;
}

/** Layer is not visibled in current map scale, tree component */
/*span.layertree-scale-not-in-range
{
    color: #C0C0C0 !important;
    font-style: italic;
}
*/
/** Layer is visibled in current map scale, tree component */
/*
span.layertree-scale-in-range
{
    color: #000000 !important;
    font-style: normal;
}*/

/** Layer is not visibled in current map scale, selected layers component */
/*.x-panel .x-panel-noborder .layertree-scale-not-in-range
{
    color: #C0C0C0 !important;    
}



.layertree-scale-not-in-range span{
    color:#C0C0C0 !important;
}*/

/** Layer is visibled in current map scale, selected layers component */
/*
.x-panel .x-panel-noborder .layertree-scale-in-range
{
    color: #000000 !important;
}

.layertree-scale-in-range {
    color:#000000 !important;
}
*/
#map-coordinate-system
{
    display: none;
}

#map-info-tools
{
    font-family: Verdana, Tahoma, Helvetica, Arial;
    font-size: 11px;
    height: 15px;
    text-align: left;
}

#right-panel-info-panels .x-panel-header {
    background-image:none !important;/*url("../images/gray/panel/white-top-bottom.gif");*/
    border-color:#D0D0D0;
    color:#333333;
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:11px;
    font-weight:bold;
}

#map-insctrunctions
{
    float:left;
    cursor: pointer;
}

#map-insctrunctions-image
{
    float:left;
    width:14px;
	height:14px;
    padding: 0;
	margin-left: 2px;
	margin-right: 2px;
	background-image: url("../images/ohjeet.png") !important;
}
.map-insctrunctions-image
{
    float:left;
    width:14px;
	height:14px;
    padding: 0;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 16px;
	background-image: url("../images/ohjeet.png") !important;
}

.addLayerImg
{
    width: 13px !important;
    height: 13px !important;
}

.fullscreen-style
{
   overflow: hidden !important;
}

.grid-module-loading
{
	width: 100% !important;
}
.grid-module-loading-image{
	width: 20px;
    background-image: url("../images/ajax-loader.gif") !important;
    background-position: left !important;
    background-repeat:no-repeat !important;
}

.wms-maplayer{
	background-image: url("../images/i_and_arrow_notselected.png") !important;
}

.wms-maplayer.highlighted{
    background-image: url("../images/i_and_arrow_selected.png") !important;
}

.wfs-maplayer{
    background-image: url("../images/table_and_arrow_notselected.png") !important;
}
/*
.custom-tool {
    top: 0px !important;
}
*/
.custom-tool img {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 13px;
    margin: 1px 2px;
    overflow: hidden;
    width: 13px;
}

.custom-tool-close {
    background-image: url("../icons/poisto.png") !important;
}

.custom-tool-search {
    background-image: url("../icons/kysymysmerkki.png") !important;
}

.custom-tool-gear {
    background-image: url("../icons/info.png") !important;
}


.wfs-maplayer.highlighted{
    background-image: url("../images/table_and_arrow_selected.png") !important;
}

.layer-selected {
    border-color: #F4A72E !important;
    border-width: 1px;
}

.grid-module-row-color1{
	background-color: #ffffff;
}

.grid-module-row-color2{
	background-color: #F3F1F2;
}

.higlighted-panel-content .x-panel-body {
	background-color: #FED390 !important;
}

.higlighted {
	background-color: #FED390 !important;
}


.search-module-link-for-overlay-popup{
	cursor: pointer !important;
	color: #0000FF; 
    text-decoration: underline; 
}

.layer_type_wms {
	background-image: url('../icons/taso.png');
}
.layer_type_wfs {
	background-image: url('../silk-icons/database.png');
}
.layer_type_vector {
	background-image: url('../silk-icons/database.png');
}
.layer_type_stack {
	background-image: url('../icons/pino.png');
}

.layer_op_remove {
	background-image: url(../icons/poisto.png');
}
.layer_op_add {
	background-image: url(../icons/lisays_vihrea.png');
}
