
body {
	background-color: white;
	}

.logo {
	background-image: url('logo.png'); 
	background-repeat: no-repeat;
	
};
.toolage {
	background-image: url('48px-Crystal_Clear_app_package_settings.png'); 
	background-repeat: no-repeat;
	
};