webpack/**
typings/**
tools/**
tests/**
src/**
resources/**
packages/**
node_modules/**
locale/**
libraries/**
dist/**
applications/**
api/**
bundles/bundle.js
bundles/bundle.js.map
bundles/harava/**
bundles/liikennevirasto/**
bundles/lupapiste/**
bundles/digiroad/**
bundles/**/locale/*.js