liferay-portlet.xml
.project
*~
docroot/WEB-INF/classes
bin/
dist/
.idea
*.iml
oskari.org/
!applications/oskari.org/
node_modules/
tools/node_modules
tools/validation
tools/coverage
tools/components
META-INF/
tests/minifierFullMapAppSetup.opts.js
tools/test-results.xml
*.zip
*.tgz
*.tar.gz
