liferay-portlet.xml
.project
*~
docroot/WEB-INF/classes
bin/
dist/
.idea
*.iml
.vscode
oskari.org/
!applications/oskari.org/
node_modules/
tools/node_modules
tools/validation
tools/coverage
tools/components
META-INF/
tests/minifierFullMapAppSetup.opts.js
tools/test-results.xml
*.zip
*.tgz
*.tar.gz
bower_components/*
.DS_Store
tools/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet