div.myplacesimport {
    div.file-import {
        label {
            display: block;
        }
    }
  div.icon-info {
    float: right;
    cursor: pointer;
  }
  div.info {
    padding-bottom: 2px;
  }
}