div.pzbDiv {
  background: transparent;
  cursor: pointer;
  top: 140px;
  right: 70px; }
  div.pzbDiv div.pzbDiv-plus {
    background-image: url('/Oskari/resources/framework/bundle/mapmodule-plugin/plugin/portti2zoombar/images/zoombar_plus_patched.png');
    cursor: pointer;
    cursor: zoom-in;
    width: 18px;
    height: 46px; }
  div.pzbDiv div.pzbDiv-minus {
    background-image: url('/Oskari/resources/framework/bundle/mapmodule-plugin/plugin/portti2zoombar/images/zoombar_minus.png');
    cursor: pointer;
    cursor: zoom-out;
    width: 18px;
    height: 18px; }
  div.pzbDiv div.ui-slider-vertical {
    cursor: pointer; }
    div.pzbDiv div.ui-slider-vertical .ui-slider-handle {
      cursor: ns-resize; }
