@CHARSET "UTF-8";

.search-by-geometry{    
    
}

.searchbygeom-tool{
    width: 32px;
    height: 32px;
    float:left;
    margin: 2px;
    cursor: pointer;
}



.searchbygeom-tool.active{
	background-color: #939393;
}

.searchbygeom-tool:hover{
    background-color: #939393;
}

.searchbygeom-pan{
    background: url('/Oskari/resources/harava/bundle/harava-search-by-geometry/images/hand.png') no-repeat;
    background-position: center center;
    background-color: #A7A7A7;   
}

.searchbygeom-home{
    background: url('/Oskari/resources/harava/bundle/harava-search-by-geometry/images/home.png') no-repeat;
    background-position: center center;
    background-color: #A7A7A7;
}

.searchbygeom-point{
    background: url('/Oskari/resources/harava/bundle/harava-search-by-geometry/images/point.png') no-repeat;
    background-position: center center;
    background-color: #A7A7A7;
}

.searchbygeom-mapextent{
    background: url('/Oskari/resources/harava/bundle/harava-search-by-geometry/images/eye.png') no-repeat;
    background-position: center center;
    background-color: #A7A7A7;
}

.searchbygeom-regular-polygon{
    background: url('/Oskari/resources/harava/bundle/harava-search-by-geometry/images/square.png') no-repeat;
    background-position: center center;
    background-color: #A7A7A7;
}

.searchbygeom-polygon{
    background: url('/Oskari/resources/harava/bundle/harava-search-by-geometry/images/multipolygon.png') no-repeat;
    background-position: center center;
    background-color: #A7A7A7;
}

.searchbygeom-searchindicator{
	cursor: default;
	float:left;
    height: 32px;
    margin: 2px;
    width: 32px;
    background-color: transparent;
}

.searchbygeom-searchindicator.show{
    background: url("/Oskari/resources/harava/bundle/harava-search-by-geometry/images/ajax-loader.gif") no-repeat;
    background-color: #A7A7A7;
    background-position: center center; 
}

.searchbygeom-link{
	cursor: pointer;
	color: #000000;
	text-decoration: underline;
}

.searchbygeom-link:hover{
    color: #aaaaaa;
}