/*body,p,a,td {
	font-family: courier, fixed, swiss, sans-serif;
	font-size: 12px;
	color: #cccccc;
}*/

.lh15 {
	line-height: 15px;
}

.term {
	font-family: "Courier New", courier, fixed, monospace;
	font-size: 12px;
	color: #94aad6;
	background: none;
	letter-spacing: 1px;
}

.term .termReverse {
	color: #232e45;
	background: #95a9d5;
}

a,a:link,a:visited {
	text-decoration: none;
	color: #77dd11;
}

a:hover {
	text-decoration: underline;
	color: #77dd11;
}

a:active {
	text-decoration: underline;
	color: #eeeeee;
}

a.termopen,a.termopen:link,a.termopen:visited {
	text-decoration: none;
	color: #77dd11;
	background: none;
}

a.termopen:hover {
	text-decoration: none;
	color: #222222;
	background: #77dd11;
}

a.termopen:active {
	text-decoration: none;
	color: #222222;
	background: #eeeeee;
}

table.inventory td {
	padding-bottom: 20px !important;
}

tt {
	font-family: courier, fixed, monospace;
	color: #ccffaa;
	font-size: 12px;
	line-height: 15px;
}

.dimmed,.dimmed *,.dimmed * * {
	background-color: #222222 !important;
	color: #333333 !important;
}

@media print {
	body {
		background-color: #ffffff;
	}
	body,p,a,td,li,tt {
		color: #000000;
	}
	pre,.prop {
		color: #000000;
	}
	h1 {
		color: #000000;
	}
	a,a:link,a:visited {
		color: #000000;
	}
	a:hover {
		color: #000000;
	}
	a:active {
		color: #000000;
	}
	table.inventory {
		display: none;
	}
}