$lightBgColor: rgba(255,255,255,0.9);
$darkBgColor: rgba(20,20,20,0.8);
$iconShadow: 1px 1px 2px rgba(0,0,0,0.6);
$darkIcon: url("../images/north_nobg_light.png");
$lightIcon: url("../images/north_nobg_dark.png");

div.mapplugin.maprotator {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    z-index: 15000;
    margin-bottom: 10px !important;
  }