div.myplacesimport {
    div.file-import {
        label {
            display: block;
        }
    }
  div.icon-info {
    float: right;
    cursor: pointer;
  }
  div.info {
    margin-bottom: 12px;
  }
  div.file-input-container {
    margin-bottom: 6px;
  }
  ul {
    list-style: disc inside none;
    margin-left: 12px
  }
  .file-input-container {
    width: 400px;
  }
  &.divmanazerpopup {
      p {
          margin-bottom: 12px;
      }
  }
}