#publishedgridToggle {
    width: 26px;
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20000;
}

#publishedgridToggle.hidePublishedGrid {
    background: url(/Oskari/resources/framework/bundle/mapmodule-plugin/plugin/fullscreen/images/hide-navigation.png);
}

#publishedgridToggle.showPublishedGrid {
    background: url(/Oskari/resources/framework/bundle/mapmodule-plugin/plugin/fullscreen/images/show-navigation.png);
}