.statsgrid-classification-container {
    background-color: #FFFFFF;
    width: 300px;
    font-size: 12px;

    /* mobile 
        overflow-y: auto;
        overflow-x: hidden;
    */
}

.statsgrid-classification-plugin-transparent {
    .statsgrid-classification-container {
        background-color: transparent;
    }
}
