/* Mixins */
div.myplacesform div.help {
  float: right; }
div.myplacesform input[type="text"] {
  width: 83%; }
div.myplacesform textarea {
  width: 80%; }
div.myplacesform select {
  width: 80%; }
div.myplacesform .imagePreview {
  cursor: pointer; }

div.myplacescategoryform input.oskaricolor {
  height: 20px;
  width: 50px;
  border: 1px solid;
  padding: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 0;
  /* Hackhack, not an actual used font */ }
div.myplacescategoryform table input {
  width: 50px; }

div.myplacesform div.field, div.myplacescategoryform div.field {
  padding-bottom: 10px; }
div.myplacesform div.renderButton, div.myplacescategoryform div.renderButton {
  margin: 5px; }
div.myplacesform input[type="checkbox"], div.myplacescategoryform input[type="checkbox"] {
  margin: 0.5em; }

div.simpleColorChooser {
  background-color: #FFF;
  z-index: 10; }

.divmanazerpopup.myplaces2 {
  max-width: 280px; }

div.myplaces2 div.buttons div.button {
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 5px 5px 5px #888888;
  -moz-box-shadow: 5px 5px 5px #888888;
  box-shadow: 5px 5px 5px #888888; }

div.imagePreview img {
  max-height: 350px;
  max-width: 350px; }

div.drawHelper div.measurementResult {
  margin-top: 5px; }
