.oskari-flyout.admin {

    .layersimport {
        div.description {
            width:400px;
            margin-bottom:6px;
        }

        div.input-controls {
            width: 400px;

            textarea {
                width: 400px;
                height: 250px;
            }
        }
    }
}