.oskari-flyout.admin {

    .layersimport {
        div.input-controls {
                width: 400px;

                textarea {
                    width: 400px;
                    height: 250px;
                }
        }
    }
}