$lightColor: #ffffff;
$darkColor: #3c3c3c;
$buttonColor: #0091ff;
$buttonTextColor: #ffffff;

$inputWidth: 94%;
$buttonWidth: 86%;

$flyoutPadding: 16px;


/* ********************************************
 * These are for common code in statsgrid
 * ******************************************* */
  .statsgrid {
      .statsgrid-table {
          min-height: 80%;
          height: 80%;
      }
  }


/* ********************************************
 * These are for flyout version of statsgrid
 * ******************************************* */

.statsgrid-grid-table-header {
    top:0;
    left:0;
    width:94%;
    height:94%;
    text-align:left;
    padding: 5px 5px 0px 5px;
    font-weight: normal;

    .header {
        position: absolute;
        width: 94%;
        top:0;
    }

    .selection {
        .parameter {
            .select {
                width: auto !important;
                float:none !important;
            }
        }
    }

    .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 6px;
    }

    .selection {
        margin-bottom: 6px;
        width: 98%;
    }

    .sortby {
        cursor: pointer;
        position:absolute;
        bottom: 0;
        right: 0;

        .orderTitle {
            float: left;

            &.selected {
              text-decoration: underline;
            }
        }
        .order {
            height: 10px;
            width: 10px;
            float: left;
            margin-top: 4px;

            &.asc {
                background-image: url('../images/asc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }

            &.desc {
                background-image: url('../images/desc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
}

.statsgrid-grid-table-header-content {
    top:0;
    left:0;
    width:94%;
    height:94%;
    text-align:left;
    padding:5px 5px 0px 5px;
    font-weight: normal;

    .header {
        width: 85%;
        position: absolute;
        top: 5px;
        .title {
            font-weight: bold;
        }
    }

    .icon {
        position: absolute;
        top:5px;
        right:5px;
        cursor: pointer;
    }

    .sortby {
        cursor: pointer;
        position:absolute;
        bottom: 0;
        right: 0;

        .orderTitle {
            float: left;

            &.selected {
              text-decoration: underline;
            }
        }
        .order {
            height: 10px;
            width: 10px;
            float: left;
            margin-top: 4px;

            &.asc {
                background-image: url('../images/asc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }

            &.desc {
                background-image: url('../images/desc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
}

@keyframes statsgridcolumnselection {
    from {background-color: #ffd400;}
    to {background-color: #FDF8D9;}
}

div.oskari-flyout {
    /* ********************************************
    * Search styles
    * ********************************************/
    &.statsgrid-search-flyout {
        .statsgrid-search-container {
            padding: $flyoutPadding;
        }
        /* TODO: limits the table from blowing up the flyout, but this needs to be handled in some other way */
        max-width: 700px;

        label span {
            /* Indicator selection form */
            width: 200px;
            display: inline-block;
        }

        label.oskari-formcomponent {
          width: 100%;
          padding-left: 10px;
        }

        .chosen-container .chosen-results {
            max-height: 140px;
        }

        .statsgrid-ds-selections {
            /* TODO: limits the description from blowing up the flyout, but this needs to be handled in some other way */
            max-width : 450px;

            div.selection {
                padding-top: 0;
                padding-bottom: 6px;
                padding-left: 0;

                &.tooltip {
                  padding-bottom: 0 !important;
                }
            }


            div.statsgrid-indicator-selections {
                padding-left: 10px;
                padding-bottom: 10px;
            }

            div.selection, div.statsgrid-indicator-selections {

                div.title {
                    font-weight: bold;
                }

                div.tooltip {
                    font-style: italic;
                    font-size: 14px;
                }

                .margintop {
                   margin-top: 12px;
                }

                .margintopLarge {
                   margin-top: 24px;
                }

                .noresults {
                    font-style: italic;
                }
            }

            input.oskari-button {
                margin-left: 10px;
            }
        }


        /* Chosen fixes */
        .chosen-container.chosen-drop-up .chosen-drop {
            border-bottom: 0;
            border-radius: 4px 4px 0 0;
            border-top: 1px solid #aaa;
            bottom: 100%;
            box-shadow: none;
            top: auto;
        }

        .chosen-container-active.chosen-with-drop.chosen-drop-up .chosen-single {
            background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(40%,#eee),color-stop(90%,#fff));
            background-image: -webkit-linear-gradient(#fff 40%,#eee 90%);
            background-image: -moz-linear-gradient(#fff 40%,#eee 90%);
            background-image: -o-linear-gradient(#fff 40%,#eee 90%);
            background-image: linear-gradient(#fff 40%,#eee 90%);
            border-radius: 0 0 4px 4px;
            border-top: 0;
            box-shadow: 0 1px 0 #fff inset;
        }

        .stats-table{
            margin-top: 14px;

            .noresults {
                .title {
                    background-color:#000;
                    color:#fff;
                    padding:8px 10px 8px 12px;
                    font-weight:bold;
                }

                .content{
                    padding:10px;
                }
            }
        }

        div.parameter {
            div.label, div.select {
                float:left;
            }
            div.label {
                width: 100px;
                margin-right: 4px;
                text-align: left;
            }
            div.select {
                width: 336px;
            }
            div.clear {
                clear: both;
            }
        }
        thead {
            th {
                border: none;
                border-bottom: 1px solid #E6E6E6;
                border-left: 1px solid #E6E6E6;
                border-right: 1px solid #E6E6E6;
            }
        }

        .statsgrid-grouping-header {
            text-align: left;
            padding: 6px;
            border-bottom: none !important;
            border-top: 1px solid #E6E6E6;

            &.region {

            }

            &.sources {
                color: #ffffff;
                background-color: #000000;

                span {
                    font-weight: normal;
                }
            }
        }

        div.extrafeatures {
            div.title {
                font-weight:bold;
                margin-top:12px;
            }

            div.content {
                label.oskari-formcomponent {
                    margin-bottom: 0;
                }
            }
        }
    }

    /* ********************************************
    * Data styles
    * ********************************************/
    &.statsgrid-data-flyout {
        .oskari-datacharts {
            padding: $flyoutPadding;
        }
        /* TODO: limits the table from blowing up the flyout, but this needs to be handled in some other way */
        max-width: 700px;

        table.oskari-grid {
            th.selected {
                background-color: #FDF8D9;
                animation-name: statsgridcolumnselection;
                animation-duration: 0.5s;
                animation-iteration-count: 3;
            }

            td {
                text-align: right;
            }
        }

        label span {
            /* Indicator selection form */
            width: 200px;
            display: inline-block;
        }

        label.oskari-formcomponent {
          width: 100%;
          padding-left: 10px;
        }

        div.accordion {
            div.accordion_panel {
                div.content {
                    padding: 10px;
                }
            }
        }

        .chosen-container .chosen-results {
            max-height: 140px;
        }

        .statsgrid-ds-selections {
            /* TODO: limits the description from blowing up the flyout, but this needs to be handled in some other way */
            max-width : 450px;

            div.selection {
                padding-top: 0;
                padding-bottom: 6px;
                padding-left: 0;

                &.tooltip {
                  padding-bottom: 0 !important;
                }
            }


            div.statsgrid-indicator-selections {
                padding-left: 10px;
                padding-bottom: 10px;
            }

            div.selection, div.statsgrid-indicator-selections {

                div.title {
                    font-weight: bold;
                }

                div.tooltip {
                    font-style: italic;
                    font-size: 14px;
                }

                .margintop {
                   margin-top: 12px;
                }

                .margintopLarge {
                   margin-top: 24px;
                }

                .noresults {
                    font-style: italic;
                }
            }

            input.oskari-button {
                margin-left: 10px;
            }
        }


        /* Chosen fixes */
        .chosen-container.chosen-drop-up .chosen-drop {
             border-bottom: 0;
             border-radius: 4px 4px 0 0;
             border-top: 1px solid #aaa;
             bottom: 100%;
             box-shadow: none;
             top: auto;
        }

        .chosen-container-active.chosen-with-drop.chosen-drop-up .chosen-single {
            background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(40%,#eee),color-stop(90%,#fff));
            background-image: -webkit-linear-gradient(#fff 40%,#eee 90%);
            background-image: -moz-linear-gradient(#fff 40%,#eee 90%);
            background-image: -o-linear-gradient(#fff 40%,#eee 90%);
            background-image: linear-gradient(#fff 40%,#eee 90%);
            border-radius: 0 0 4px 4px;
            border-top: 0;
            box-shadow: 0 1px 0 #fff inset;
        }

        .stats-table{
            .noresults {
                .title {
                    background-color:#000;
                    color:#fff;
                    padding:8px 10px 8px 12px;
                    font-weight:bold;
                }

                .content{
                    padding:10px;
                }
            }
        }

        div.parameter {
            div.label, div.select {
                float:left;
            }
            div.label {
                width: 100px;
                margin-right: 4px;
                text-align: left;
            }
            div.select {
                width: 336px;
            }
            div.clear {
                clear: both;
            }
        }
        thead {
            th {
                border: none;
                border-bottom: 1px solid #E6E6E6;
                border-left: 1px solid #E6E6E6;
                border-right: 1px solid #E6E6E6;
            }
        }

        .statsgrid-grouping-header {
            text-align: left;
            padding: 6px;
            border-bottom: none !important;
            border-top: 1px solid #E6E6E6;

            &.region {

            }

            &.sources {
                color: #ffffff;
                background-color: #000000;

                span {
                    font-weight: normal;
                }
            }
        }

        .oskari-datacharts {

            #graphic {
                .bar {
                    fill: #5f89ad;
                }

                .axis {
                    font-size: 13px;
                    path, line {
                        fill: none;
                        display: none;
                    }
                }

                .label {
                    font-size: 13px;
                }
                .grid {
                    .tick {
                        stroke: lightgrey;
                        opacity: 0.7;
                    }
                    path {
                        stroke-width: 0;
                    }
                }
            }
        }
    }



    /* ********************************************
    * Diagram styles
    * ********************************************/
     &.statsgrid-diagram-flyout {
        .oskari-datacharts {
            position: relative;
            height: 700px;
            padding: $flyoutPadding;
        }
        .chart-controls {
            display:flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 2%;
           
           .dropdown {
                display: flex;
                max-width: 100%;
           }
        }
    }
}

/* ********************************************
 * Statsgrid legend
 * ******************************************* */
.statsgrid-legend-plugin {
    border: 1px solid rgba(0,0,0,0.2);
    pointer-events: auto;
    text-align: left;
    /* Float right to not overlap with other plugins */
    float: right;
}
.statsgrid-legend-plugin-transparent {
    color:#FFFFFF;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    pointer-events: auto;
    text-align: left;
    /* Float right to not overlap with other plugins */
    float: right; }
    .statsgrid-legend-plugin-transparent .geostats-legend-counter {
      color: #ffffff;
    }
    .statsgrid-legend-plugin-transparent .accordion .accordion_panel {
      background-color: transparent;
    }
    .statsgrid-legend-plugin-transparent .accordion .accordion_panel.open {
      background-color: transparent;
    }
    .statsgrid-legend-plugin-transparent .dropdown {
        text-shadow: none;
        color: #000;
    }
    .statsgrid-legend-plugin-transparent .statsgrid-svg-legend {
        text-shadow: none;
        color: #000;
    }
.active-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.active-header > .title {
    width: 90%;
    font-weight: bold;
}
.active-legend {
    height:100%;
}

.edit-legend {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-left: 2px;
    margin-right: -2px;
    right: 0 !important;
    background-image: url(../images/edit-dark.png);
}
.edit-active {
    height: 16px;
    width: 16px;
    right: 0 !important;
    background-image: url(../images/edit-hover.png);
}
.statsgrid-legend-container {
    background-color: #FFFFFF;
    width: 300px;
    font-size: 12px;

    .classification-colors.value {
        display: inline-block;
        vertical-align: top;
    }

    .visible-map-style-choropleth.flip-colors {
        margin-left: 10px;
        line-height: 27px;
    }

    >div.header {
        background-color: #fdf8d9;
        margin: 0;
        height:auto;
        padding: 6px;
        width: auto;
        font-weight: bold;

        div.title {
            font-size: 14px;
        }
        div.link {
            cursor:pointer;
            color:#4292c5;
            float: right;
            text-decoration: underline;
        }
        div.sourcename {
            font-weight: normal;
        }
    }

    .legend-noactive {
        padding: 3px 10px 5px 10px;
    }

    div.accordion {
        div.content {
            padding: 0;
            margin: 0;
            margin-left: 8px;
        }


        div.geostats-legend div {
            margin: 2px 6px 2px 2px;
        }
    }

    > .classification .accordion .accordion_panel {
        border: 0px;
        overflow: visible;

        .header .headerIcon {
            margin: 0;
            margin-left: 4px;
        }

        .header .headerText {
            font-size: 12px;
            padding: 0;
            font-weight: normal;
        }

        .content .classifications {
            .classification-options {
                .numeric-value {
                    .oskari-formcomponent {
                        margin-bottom: 4px;
                        margin-top: 8px;
                    }
                }
            }
            .label {
                font-weight: bold;
            }

            select {
                width: 96%;
                font-size: 12px;
                padding: 1px 2px;
            }

            .point-size {
                .minmaxlabels {
                    .min {
                        float:left;
                    }
                    .max {
                        float:right;
                        margin-right: 4%;
                    }
                    .clear {
                        clear:both;
                    }
                }
                .point-range {
                    width: 90%;
                    background-image: url(../images/opacity_slider_long.png);
                    background-repeat: no-repeat;
                }
            }
        }

        .oskari-color-selection {
            z-index: 10;
        }
    }

    .statsgrid-svg {
        float: left;
    }
    .statsgrid-svg-legend {
        margin: 0 auto;
        width:50%;
    }
    .statsgrid-range {
        float: left;
    }
    .statsgrid-counter {
        float: left;
    }
    .clear {
        clear: both;
    }
}
.legend-transparent {
   background-color: transparent;
}
/* Mobile popup tuning */
.divmanazerpopup.statsgrid-mobile-legend {
    .popup-body {
        >div.content {
            margin: 0px;
        }

        div.accordion {
            div.content {
                padding: 0;
                margin: 0;
                margin-left: 8px;
            }
        }

        div.geostats-legend div {
            margin: 2px 6px 2px 2px;
        }
    }
}

/** Toggle buttons */
div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.statsgrid-published-toggle-buttons {
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: right;
    margin: 10px;

    .map {
        background-color: $darkColor;
        float: left;
        height: 36px;
        width: 36px;
        background-image: url('../images/map_dark.png');
        cursor: pointer;
        &.active {
            background-color: $lightColor;
            background-image: url('../images/map_light.png');
        }
    }

    .table {
        background-color: $darkColor;
        float: left;
        height: 36px;
        width: 36px;
        background-image: url('../images/table_dark.png');
        cursor: pointer;
        &.active {
            background-color: $lightColor;
            background-image: url('../images/table_light.png');
        }
    }
     .diagram {
        background-color: $darkColor;
        float: left;
        height: 36px;
        width: 36px;
        background-image: url("../images/tile-diagram-dark.png");
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;    
        &.active {
            background-color: $lightColor;
            background-image: url("../images/tile-diagram-light.png");
            background-repeat: no-repeat;
        }
    }

    .clear {
        clear: both;
    }

}

.statsgrid-legend-flyout {
    .oskari-flyoutcontentcontainer{
        overflow-x:hidden;
        overflow-y: auto;
    }
}


/* ********************************************
 * Statsgrid tile styles
 * ********************************************/

 .oskari-tile.statsgrid {
    .statsgrid-functionality {
        width: 95%;
        height: 34px;
        display: inline-flex;
        display: -ms-inline-flexbox;
        margin-left: 6px;

        .icon {
            float: left;
            width: 30px;
            height: 30px;
            background-color: lightgray;
            margin-left: 16px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .text {
            float: left;
            margin-left: 4px;
            font-weight: bold;
            font-size: 12px;
            line-height: 34px;
            vertical-align: middle;
        }

        &.material-selected .icon{
            background-color: #ffd400;
        }

        &.table .icon {
            background-image: url("../images/tile-table-light.png");
        }
        &.search .icon {
            background-image: url("../images/tile-search-light.png");
        }
        &.diagram .icon {
            background-image: url("../images/tile-diagram-light.png");
        }
        
    }
    .hidden {
        display: none;
    }
}


/* ********************************************
 * DataVisualizer styles
 * ********************************************/
div.tab-material-controls div.title {
    font-weight: bold;
}





/* ********************************************
 * Filter styles
 * ********************************************/
.oskari-flyout.statsgrid-filter-flyout {
    .clear {
        clear: both;
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    h5 {
        padding-bottom: 0 !important;
    }
    .filter-button {
        margin-top: 1em;
    }
    .active-filters {
        width: 15em;
    }
    .content {
        width:32em;
    }
    .filterIndicator, .filterCondition, .oskari-table-header {
        width: 15em;
    }
    .cell {
        height: 1em;
        padding:7px;
        text-align: center;
    }
    .indicator, #indicator {
        width: 50%
    }
    .condition, #condition, .value, #value {
        width: 20%
    }
    .headerCell {
        padding: 0.9375em 0.5em;
        text-align: left;
        font-weight: 500;
        font-size: calc(0.55rem + 0.28vh);
        text-transform: uppercase;
    }
    td {
        background: #FAFAFA;
        text-align: center;
    }
    .oskari-table-header {
        height: 3em;
    }
    .removerow {
        border-radius: 50%;
        height: 1.3em;
        width: 1.37em;
        background-image: url('../images/icon-close.png');
    }
    .remove {
        width:5%;
    }
    .filter-edit-active{
        background: olivedrab !important;
    }
    .hoverable {
        background: white;
        border-radius:3px;
        border-collapse: collapse;
        height: 15em;
        margin: auto;
        max-width: 600px;
        padding:5px;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;

        tr:hover {
            background:#4E5066;
            color:#FFFFFF;
            border-top: 1px solid #22262e;
            border-bottom: 1px solid #22262e;
        }
    }
    tr:hover td {
        background:#4E5066;
        color:#FFFFFF;
        border-top: 1px solid #22262e;
        border-bottom: 1px solid #22262e;
    }
    .filter {
        padding: 1.2em;
    }
    .tabsHeader {
        padding-top:2em !important;
    }
}
.chart {
    display: flex;
    justify-content: center;
}
.axisLabel {
    margin-top: -5px;
    position: absolute;
    opacity: 0.8;
}
.sticky {
    font-weight: bold;
    color:#F6F6F6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    overflow: hidden;
    z-index: 3; 
    max-height: 100%;
}

.statsgrid-diagram-flyout .oskari-flyoutcontentcontainer {
    max-width:700px;
  }