$lightColor: #ffffff;
$darkColor: #3c3c3c;
$buttonColor: #0091ff;
$buttonTextColor: #ffffff;

$inputWidth: 94%;
$buttonWidth: 86%;


/* ********************************************
 * These are for common code in statsgrid
 * ******************************************* */
  .statsgrid {
      .statsgrid-table {
          min-height: 80%;
          height: 80%;
      }
  }


/* ********************************************
 * These are for flyout version of statsgrid
 * ******************************************* */

.statsgrid-grid-table-header {
    top:0;
    left:0;
    width:94%;
    height:94%;
    text-align:left;
    padding: 5px 5px 0px 5px;
    font-weight: normal;

    .header {
        position: absolute;
        width: 94%;
        top:0;
    }

    .selection {
        .parameter {
            .select {
                width: auto !important;
                float:none !important;
            }
        }
    }

    .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 6px;
    }

    .selection {
        margin-bottom: 6px;
        width: 94%;
    }

    .sortby {
        cursor: pointer;
        position:absolute;
        bottom: 0;
        right: 0;

        .orderTitle {
            float: left;

            &.selected {
              text-decoration: underline;
            }
        }
        .order {
            height: 10px;
            width: 10px;
            float: left;
            margin-top: 4px;

            &.asc {
                background-image: url('../images/asc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }

            &.desc {
                background-image: url('../images/desc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
}

.statsgrid-grid-table-header-content {
    top:0;
    left:0;
    width:94%;
    height:94%;
    text-align:left;
    padding:5px 5px 0px 5px;
    font-weight: normal;

    .header {
        width: 90%;
        position: absolute;
        top: 5px;
        .title {
            font-weight: bold;
        }
    }

    .icon {
        position: absolute;
        top:5px;
        right:5px;
        cursor: pointer;
    }

    .sortby {
        cursor: pointer;
        position:absolute;
        bottom: 0;
        right: 0;

        .orderTitle {
            float: left;

            &.selected {
              text-decoration: underline;
            }
        }
        .order {
            height: 10px;
            width: 10px;
            float: left;
            margin-top: 4px;

            &.asc {
                background-image: url('../images/asc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }

            &.desc {
                background-image: url('../images/desc_arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
}

@keyframes statsgridcolumnselection {
    from {background-color: #ffd400;}
    to {background-color: #FDF8D9;}
}

div.oskari-flyoutcontent{
    &.statsgrid {
        /* TODO: limits the table from blowing up the flyout, but this needs to be handled in some other way */
        max-width: 700px;

        table.oskari-grid th.selected {
          background-color: #FDF8D9;
            animation-name: statsgridcolumnselection;
            animation-duration: 0.5s;
            animation-iteration-count: 3;
        }

        label span {
            /* Indicator selection form */
            width: 200px;
            display: inline-block;
        }

        label.oskari-formcomponent {
          width: 100%;
          padding-left: 10px;
        }

        div.accordion {
            div.accordion_panel {
                div.content {
                    padding: 10px;
                }
            }
        }

        .chosen-container .chosen-results {
            max-height: 140px;
        }

        .statsgrid-ds-selections {
            /* TODO: limits the description from blowing up the flyout, but this needs to be handled in some other way */
            max-width : 450px;

            div.selection {
                padding-top: 0;
                padding-bottom: 6px;
                padding-left: 0;

                &.tooltip {
                  padding-bottom: 0 !important;
                }
            }


            div.statsgrid-indicator-selections {
                padding-left: 10px;
                padding-bottom: 10px;
            }

            div.selection, div.statsgrid-indicator-selections {

                div.title {
                    font-weight: bold;
                }

                div.tooltip {
                    font-style: italic;
                    font-size: 14px;
                }

                .margintop {
                   margin-top: 12px;
                }

                .margintopLarge {
                   margin-top: 24px;
                }

                .noresults {
                    font-style: italic;
                }
            }

            input.oskari-button {
                margin-left: 10px;
            }
        }


        /* Chosen fixes */
        .chosen-container.chosen-drop-up .chosen-drop {
         border-bottom: 0;
         border-radius: 4px 4px 0 0;
         border-top: 1px solid #aaa;
         bottom: 100%;
         box-shadow: none;
         top: auto;
        }

        .chosen-container-active.chosen-with-drop.chosen-drop-up .chosen-single {
         background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(40%,#eee),color-stop(90%,#fff));
         background-image: -webkit-linear-gradient(#fff 40%,#eee 90%);
         background-image: -moz-linear-gradient(#fff 40%,#eee 90%);
         background-image: -o-linear-gradient(#fff 40%,#eee 90%);
         background-image: linear-gradient(#fff 40%,#eee 90%);
         border-radius: 0 0 4px 4px;
         border-top: 0;
         box-shadow: 0 1px 0 #fff inset;
        }

        .stats-table{
            margin-top: 14px;

            .noresults {
                .title {
                    background-color:#000;
                    color:#fff;
                    padding:8px 10px 8px 12px;
                    font-weight:bold;
                }

                .content{
                    padding:10px;
                }
            }
        }

        div.parameter {
            div.label, div.select {
                float:left;
            }
            div.label {
                width: 100px;
                margin-right: 4px;
                text-align: left;
            }
            div.select {
                width: 336px;
            }
            div.clear {
                clear: both;
            }
        }
        thead {
            th {
                border: none;
                border-bottom: 1px solid #E6E6E6;
                border-left: 1px solid #E6E6E6;
                border-right: 1px solid #E6E6E6;
            }
        }

        .statsgrid-grouping-header {
            text-align: left;
            padding: 6px;
            border-bottom: none !important;
            border-top: 1px solid #E6E6E6;

            &.region {

            }

            &.sources {
                color: #ffffff;
                background-color: #000000;

                span {
                    font-weight: normal;
                }
            }
        }
    }

}
/* ********************************************
 * Statsgrid legend
 * ******************************************* */

.statsgrid-legend-plugin {
    border: 1px solid rgba(0,0,0,0.2);
    pointer-events: auto;
    text-align: left;
    /* Float right to not overlap with other plugins */
    float: right;
}

.statsgrid-legend-container {
    background-color: #FFFFFF;
    width: 200px;
    font-size: 12px;

    >div.header {
        background-color: #fdf8d9;
        margin: 0;
        height:auto;
        padding: 6px;
        width: 94%;
        font-weight: bold;

        div.title {
            font-size: 14px;
        }
        div.link {
            cursor:pointer;
            color:#4292c5;
            float: right;
            text-decoration: underline;
        }
        div.sourcename {
            font-weight: normal;
        }
    }

    .legend-noactive {
        padding: 3px 10px 5px 10px;
    }

    div.accordion {
        div.content {
            padding: 0;
            margin: 0;
            margin-left: 8px;
        }


        div.geostats-legend div {
            margin: 2px 6px 2px 2px;
        }
    }

    >.accordion .accordion_panel {
        border: 0px;
        overflow: visible;

        .header .headerIcon {
            margin: 0;
            margin-left: 4px;
        }

        .header .headerText {
            font-size: 12px;
            padding: 0;
            font-weight: normal;
        }

        .content .classifications {
            .label {
                font-weight: bold;
            }

            select {
                width: 96%;
                font-size: 12px;
                padding: 1px 2px;
            }

            button.reverse-colors {
                margin-top: 5px;
                margin-left: 0;
                width: 95%;
                padding: 4px 5px;
            }
        }

        .oskari-color-selection {
            z-index: 10;
        }
    }
}

/* Mobile popup tuning */
.divmanazerpopup.statsgrid-mobile-legend {
    .popup-body {

        >div.content {
            margin: 0px;
        }

        div.accordion {
            div.content {
                padding: 0;
                margin: 0;
                margin-left: 8px;
            }
        }

        div.geostats-legend div {
            margin: 2px 6px 2px 2px;
        }
    }
}

/** Toggle buttons */
div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.statsgrid-published-toggle-buttons {
    border: 1px solid rgba(0, 0, 0, 0.2);
  float: right;
  z-index: 100000;
  margin: 10px;

    .map {
        background-color: $darkColor;
        float: left;
        height: 36px;
        width: 36px;
        background-image: url('../images/map_dark.png');
        cursor: pointer;
        &.active {
            background-color: $lightColor;
            background-image: url('../images/map_light.png');
        }
    }

    .table {
        background-color: $darkColor;
        float: left;
        height: 36px;
        width: 36px;
        background-image: url('../images/table_dark.png');
        cursor: pointer;
        &.active {
            background-color: $lightColor;
            background-image: url('../images/table_light.png');
        }
    }

    .clear {
        clear: both;
    }

}
