.heatmap.settings-dialog .color-box {
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid white; }

.heatmap.settings-dialog .color-themes {
  display: block; }

.heatmap.settings-dialog .color-theme {
  display: inline-block; }

.heatmap.settings-dialog .color-theme .color-box {
  float: left;
  width: 20px;
  height: 30px;
  border: 1px solid white; }

.heatmap.settings-dialog .theme-box {
  margin-left: 0px;
  margin-right: 0px; }

.heatmap.settings-dialog input[name="colorThemes"] {
  float: left;
  margin-top: 14px; }

.heatmap.settings-dialog label.oskari-formcomponent {
  display: inline-block;
  width: 140px; }

.heatmap.settings-dialog label.oskari-formcomponent.oskari-colorpickerinput {
  width: initial;
  margin: 5px 1px; }

.heatmap.settings-dialog input[name="heatmap-input"] {
  width: 120px !important; }

.heatmap.settings-dialog select[name="heatmapProperties"] {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 260px !important; }

.heatmap.settings-dialog .heatmap-actions {
  margin-left: 60px !important;
  display: inline-block; }
