  #loginbar {
    padding: 10px 10px 0 16px !important;
    color: #CCC !important;
    vertical-align: bottom !important;
    margin-bottom: 8px !important;
    margin-top: 20px !important;
  }
  #loginbar a {
    color: #2a2a2a !important;
    font-size: 8pt !important;
    line-height: 150% !important;
  }
  #mapdiv {
    width: 100% !important;
    background : white !important;
  }
  #maptools {
    background-color: #ffffff !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    width: 153px !important;
    z-index: 2 !important;
  }
  #contentMap {
    background : #333333 !important;
    height: 100% !important;
    margin-left: 153px !important;
  }

/* printout */
#contentMap div.basic_printout {
  left: auto !important;
}

/* divman */
.oskari-tile-closed {
  background-color: #ffffff !important;
}

/* divman */
.oskari-tile-attached {
  border-bottom: 1px solid #72b5cc !important;
  background-color: #72b5cc !important;
}

/* divman */
.oskari-tile-title {
  color: #2a2a2a !important;
  font: bold 12px arial,sans-serif !important;
  line-height: 28px !important;
  vertical-align: middle !important;
}

/* toolbar */
#toolbar div.toolrow div.tool.selected, #toolbar div.toolrow div.tool:hover:not(.disabled), #toolbar div.toolrow div.tool:active:not(.disabled) {
  background-color: #72b5cc !important;
}

/* divman */
div.oskari-flyouttoolbar {
  height: 40px !important;
  background-color: #72b5cc !important;
  border-top: #72b5cc !important;
  border-bottom: #72b5cc !important;
}

/* divman */
.oskari-flyoutheading {
  background-color: #72b5cc !important;
  border-top: 1px solid #72b5cc !important;
  border-bottom: 1px solid #72b5cc !important;
  height: 0 !important;
}

/* divman */
.oskari-flyout-title p {
  color: #ffffff !important;
  font: bold 14px arial,sans-serif !important;
}

/* toolbar */
#toolbar div.toolrow {
  border-color: #cccccc !important;
}

/* divman */
.oskari-tile {
  border-color: #cccccc !important;
}
