table td {
  text-align: left;
  vertical-align: top; }

table {
  border-top-width: 0px; }
  
/*Taustan värityksen muuttaminen*/
  body {
  color: #0046ad;
  font-family: 'Open Sans', Arial, sans-serif;
  background: #FAFAFA;
}

#contentMap {
  height: 100%;
  margin-left: 170px;
}

#login input[type="submit"] {
  width: 97%;
}

#login {
    padding-top: 25px;
}

/* flyout toolbar*/

.oskari-flyoutheading {
  background-color: #0088ce !important; /*uusi väri*/
  border-top: 1px solid #0088ce !important;
  border-bottom: 1px solid #0088ce !important;
  height: 14px;
  width: 100%; }
  
.oskari-flyouttoolbar {
  height: 57px;
  width: 100%;
  background-color: #3db7e4 !important; /*uusi väri*/
  border-top: #3db7e4;
  border-bottom: #3db7e4; }

/** tile */
/* tile states */
  .oskari-tile-closed, .oskari-tile-minimized {
  border-top: 1px solid #0088ce;
  border-bottom: 1px solid #0088ce;
  background-color: #0088ce;
  background: -webkit-gradient(linear, left top, left bottom, from(#0088ce), to(#0088ce)) !important;/*uudet värit*/
  background: -moz-linear-gradient(top, #0088ce, #0088ce) !important; /*uudet värit*/
  background: -ms-linear-gradient(top, #0088ce, #0088ce) !important; /*uudet värit*/
  /* For some reason sass didn't like this in one line... */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30302e', endColorstr='#2a2a2c');
  background: linear-gradient(top, #0088ce, #0088ce) !important; } /*uudet värit*/
  .oskari-tile-closed:hover, .oskari-tile-minimized:hover {
    border-top: 1px solid #3db7e4;
    background-color: #3db7e4;
    background: -webkit-gradient(linear, left top, left bottom, from(#3db7e4), to(#3db7e4)) !important; /*uudet värit*/
    background: -moz-linear-gradient(top, #3db7e4, #3db7e4) !important; /*uudet värit*/
    background: -ms-linear-gradient(top, #3db7e4, #3db7e4) !important; /*uudet värit*/
    /* For some reason sass didn't like this in one line... */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3db7e4', endColorstr='#3db7e4') !important;
    background: linear-gradient(top, #3db7e4, #3db7e4) !important; }

.oskari-tile {
  margin: 0;
  padding: 0;
  cursor: pointer;
  min-height: 31px;
  width: 100%;
  border-top: 1px solid #0088ce !important; /*uudet värit*/
  border-bottom: 1px solid #0088ce !important; /*uudet värit*/
  /* Used to set the tile height, doesn't conflict with the styleguide */
  line-height: 17px; }
  
  
  div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin {
  cursor: pointer;
  clear: both;
  display: block;
  background: #0088ce !important; /*uusi väri*/ 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 28px;
  margin: 10px auto;
  padding: 0 9px;
  /* default and rounded-dark theme */
  /* rounded-light theme */
  /* sharp-dark theme */
  /* sharp-light theme */
  /* 3d-dark theme */
  /* 3d-light theme */ }
  
/* language selector */

.language-link {
    text-decoration: underline;
    color: #FFFFFF;
    cursor: pointer;
    margin: 10px;
}

.language-link:hover {
	color: #FFFFFF;
}  
  
/*Sivupalkin värityksen muuttaminen*/
#maptools {
    background-color: #0088ce !important;
    height: 100%;
    position: absolute;
    top: 0;
    width: 120px;  
    z-index: 2;
}

  div.toolrow div.tool.selected, div.toolrow div.tool:hover:not(.disabled), div.toolrow div.tool:active:not(.disabled) {
  background-color: #3db7e4 !important;
}
        
div.mapplugin.backgroundLayerSelectionPlugin div.content ul li {
	width: 150px !important;
}

div.mapplugin.backgroundLayerSelectionPlugin div.content div.currentSelection {
	width: 160px !important;
}

/*Piilotetaan mml-logo alapalkista*/
.logoplugin .icon {
height: 0px !important;
width: 0px !important;
} 