table td {
  text-align: left;
  vertical-align: top; }

table {
  border-top-width: 0px; }
  
/*Taustan v‰rityksen muuttaminen*/
  body {
  color: #0073b0;
  font-family: 'Open Sans', Arial, sans-serif;
  background: #fafafa;
}

/* flyout toolbar*/

.oskari-flyoutheading {
  background-color: #0073b0 !important; /*uusi v‰ri*/
  border-top: 1px solid #ffdf00;
  border-bottom: 1px solid #ebb819;
  height: 14px;
  width: 100%; }
.oskari-flyouttoolbar {
  height: 57px;
  width: 100%;
  background-color: #cce3ef !important; /*uusi v‰ri*/
  border-top: #fdfdfd;
  border-bottom: #fef2ba; }

/** tile */
/* tile states */
  .oskari-tile-closed, .oskari-tile-minimized {
  border-top: 1px solid #484846;
  border-bottom: 1px solid #212121;
  background-color: #2d2d2d;
  background: -webkit-gradient(linear, left top, left bottom, from(#0073b0), to(#0073b0))!important;/*uudet v‰rit*/
  background: -moz-linear-gradient(top, #0073b0, #0073b0) !important; /*uudet v‰rit*/
  background: -ms-linear-gradient(top, #0073b0, #0073b0)!important; /*uudet v‰rit*/
  /* For some reason sass didn't like this in one line... */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30302e', endColorstr='#2a2a2c');
  background: linear-gradient(top, #0073b0, #0073b0)!important; } /*uudet v‰rit*/
  .oskari-tile-closed:hover, .oskari-tile-minimized:hover {
    border-top: 1px solid #585856;
    background-color: #3d3d3d;
    background: -webkit-gradient(linear, left top, left bottom, from(#66abd0), to(#66abd0))!important; /*uudet v‰rit*/
    background: -moz-linear-gradient(top, #66abd0, #66abd0)!important; /*uudet v‰rit*/
    background: -ms-linear-gradient(top, #66abd0, #66abd0)!important; /*uudet v‰rit*/
    /* For some reason sass didn't like this in one line... */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40403e', endColorstr='#3a3a3c');
    background: linear-gradient(top, #40403e, #3a3a3c); }

.oskari-tile {
  margin: 0;
  padding: 0;
  cursor: pointer;
  min-height: 31px;
  width: 100%;
  border-top: 1px solid #338fc0!important; /*uudet v‰rit*/
  border-bottom: 1px solid #66abd0!important; /*uudet v‰rit*/
  /* Used to set the tile height, doesn't conflict with the styleguide */
  line-height: 17px; }
  
  
  div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin {
  cursor: pointer;
  clear: both;
  display: block;
  background: #0073b0 !important; /*uusi v‰ri*/ 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 28px;
  margin: 10px auto;
  padding: 0 9px;
  /* default and rounded-dark theme */
  /* rounded-light theme */
  /* sharp-dark theme */
  /* sharp-light theme */
  /* 3d-dark theme */
  /* 3d-light theme */ }
  
  
    
  
  
  

/*Sivupalkin v‰rityksen muuttaminen*/
#maptools {
    background-color: #2D2D2D !important;
    height: 100%;
    position: absolute;
    top: 0;
    width: 153px;  
    z-index: 2;
}

/*Kuvan lis‰‰minen sivupalkkiin*/
livi-logo {
				height:183px;
				width:100px;
				margin-left:15px;
				margin-top:5px;
				padding-bottom:5px;
				background:url("/Oskari/applications/livi/servlet/images/logo.png") no-repeat;
				cursor:pointer;
			}  
							
<div id="livi-logo">
        <img src="/Oskari/applications/livi/servlet/images/logo.png" alt="LV" width="153" height="76">
    </div> 
	
	


  
  