table.harava-gfi-table{
	margin-top:10px;
	width:165px;
}

table.gfi-full{
    width:370px;
}

td.harava-gfi-header{
	background-color:#A59B78;
	border: 1px solid #A59B78;
	color:#ffffff;
	padding:3px 3px 3px 5px;
	width:100%;
}

td.harava-gfi-content-mini{
	padding: 2px 2px 2px 5px;
	color:#000000;
}

td.harava-gfi-content{
	color:#000000;
	border: 1px solid #A59B78;
	padding:5px;
}