.piMain {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  color: #3C3C3C;
  background: white;
  font-size: 12px;
  z-index: 64738;
  width: 100%;
  margin: 0 0 0 0;
  border-collapse: separate; }

.piHeaderLabel {
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-weight: bold; }

.piLabel {
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  text-align: left; }

.piLabelValue {
  text-align: left;
  padding: 2px 5px 5px 2px; }

.piValue {
  text-align: right;
  padding: 5px 5px 5px 5px; }

.piUnit {
  text-align: left;
  padding: 5px 10px 5px 5px; }
