.timeseriescontrolplugin{

}
.timeseries-aux{
  display: inline-block;
  height: 100px;
  background: #fff;
  vertical-align: top;
}
.timeseries-aux .oskari-textinput, .timeseries-aux select {
  width: 100%!important;
}
.timeseries-aux .oskari-textinput .icon-close {
  display: none!important;
}
.timeseries-aux label.oskari-formcomponent input[type=text],
.timeseries-aux label.oskari-formcomponent.oskari-select {
  width: 100%!important;
}
.timeseries-aux label.oskari-formcomponent input[type=text] {
  color: #000!important;
  opacity: 0.7!important;
}
.timeseries-aux label.oskari-formcomponent.oskari-select > div{
  text-align: left;
  font-size: 12px;
  line-height: 15px;
}
.timeseries-menus {
  height: 50px;
  overflow: hidden;
}
.timeseries-menus-half {
  display: inline-block;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}
.timeseries-menus-half:first-child{
  padding-right: 2.5px;
}
.timeseries-menus-half:last-child{
  padding-left: 2.5px;
}
.timeseries-stepper {
  padding: 5px 5px 5px 10px;
}
.timeseries-back,
.timeseries-playpause,
.timeseries-forward,
.timeseries-datetime {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 2px 4px;
  vertical-align: top;
}
.timeseries-back,
.timeseries-playpause,
.timeseries-forward {
  background-color: #fff;
  border-radius: 50px;
  background: radial-gradient(ellipse at center, #ffffff 18%,#ededed 43%,#c4c4c4 100%);
  cursor: pointer;
  position: relative;
}
.timeseries-back:hover,
.timeseries-playpause:hover,
.timeseries-forward:hover {
  background: radial-gradient(ellipse at center, #e7f1f5 18%,#c8dae2 43%,#95b4c4 100%);
  color: #369
}
.timeseries-back,
.timeseries-forward {
  width: 26px;
  height: 26px;
  margin-top: 7px;
}
.timeseries-playpause:not(.pause):after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 13px;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #3c3c3c;
}
.timeseries-playpause.pause:before,
.timeseries-playpause.pause:after {
  width: 4px;
  height: 12px;
  background: #3c3c3c;
  position: absolute;
  content: "";
  top: 12px;
  left: 13px;
}
.timeseries-playpause.pause:after {
  left: 19px;
}
.timeseries-datetime {
  width: 122px;
  height: 40px;
  margin: 0 0 0 10px;
}
.timeseries-timelines{
  display: inline-block;
  height: 100px;
  background: #999;
}
svg.timeline-desktop{
  display: block;
}

div.mapplugin.timeseries {
  margin: auto;
  width: 82%;
  top: 0;
  left: 46px;
  z-index: 100000;
  position: absolute;
  opacity: 0.9; }
  div.mapplugin.timeseries div.timestep-holder {
    margin-top: 10px;
    float: left;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #333438;
    margin-left: 10px; }
    div.mapplugin.timeseries div.timestep-holder select {
      width: calc(100% - 10px); }
  div.mapplugin.timeseries div.playback-button {
    margin-top: 10px;
    float: left; }
    div.mapplugin.timeseries div.playback-button button.play {
      width: 50px;
      height: 40px;
      background: #333438;
      border: none;
      margin: auto;
      cursor: pointer; }
      div.mapplugin.timeseries div.playback-button button.play:after {
        content: '';
        display: inline-block;
        position: relative;
        top: 1px;
        left: 3px;
        border-style: solid;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent #ffde00; }
    div.mapplugin.timeseries div.playback-button button.pause {
      width: 50px;
      height: 40px;
      background: #333438;
      position: relative;
      display: block;
      border: none;
      cursor: pointer;
      display: none; }
      div.mapplugin.timeseries div.playback-button button.pause:before {
        width: 8px;
        height: 16px;
        background: #ffde00;
        position: absolute;
        content: "";
        top: 12.012012012px;
        left: 16.6666666667px; }
      div.mapplugin.timeseries div.playback-button button.pause:after {
        width: 8px;
        height: 16px;
        background: #ffde00;
        position: absolute;
        content: "";
        top: 12.012012012px;
        right: 16.6666666667px; }
  div.mapplugin.timeseries .oskari-timeslider {
    margin-top: 10px;
    width: 80%;
    height: 40px;
    background-color: #333438;
    float: left; }
    div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight {
      position: absolute;
      top: 0;
      z-index: 100001;
      color: #ffde00;
      height: 40px; }
      div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight .label {
        font-size: 12px;
        position: absolute;
        top: 3px; }
        div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight .label.center {
          left: -24px; }
      div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight .line {
        width: 1px;
        border-left: 1px solid #fff;
        height: 12px;
        position: absolute;
        bottom: 0; }
    div.mapplugin.timeseries .oskari-timeslider .interval-line {
      position: absolute;
      top: 0;
      z-index: 100000;
      height: 40px; }
      div.mapplugin.timeseries .oskari-timeslider .interval-line .label {
        font-size: 12px;
        position: absolute;
        top: 16px;
        color: #fff; }
        div.mapplugin.timeseries .oskari-timeslider .interval-line .label.center {
          left: -14px; }
      div.mapplugin.timeseries .oskari-timeslider .interval-line .line {
        width: 1px;
        border-left: 1px solid #fff;
        height: 8px;
        position: absolute;
        bottom: 0; }
  div.mapplugin.timeseries .oskari-timeslider-empty {
    margin-top: 10px;
    float: left;
    width: 10px;
    height: 40px; }

.mapplugin-timeseries-popup {
  position: absolute;
  top: 60px;
  cursor: pointer;
  z-index: 100000;
  opacity: 0.9;
  display: none; }
  .mapplugin-timeseries-popup .arrow {
    border-bottom: 15px solid #333438;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    margin: auto; }
  .mapplugin-timeseries-popup .content {
    background-color: #333438;
    width: 80px;
    height: 36px;
    color: #ffde00;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px; }
