.timeseriescontrolplugin{

}
.timeseries-aux{
  display: inline-block;
  height: 100px;
  background: #ddd;
  width: 200px;
}
.timeseries-timelines{
  display: inline-block;
  height: 100px;
  background: #999;
}
svg.timeline-desktop{
  display: block;
}

div.mapplugin.timeseries {
  margin: auto;
  width: 82%;
  top: 0;
  left: 46px;
  z-index: 100000;
  position: absolute;
  opacity: 0.9; }
  div.mapplugin.timeseries div.timestep-holder {
    margin-top: 10px;
    float: left;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #333438;
    margin-left: 10px; }
    div.mapplugin.timeseries div.timestep-holder select {
      width: calc(100% - 10px); }
  div.mapplugin.timeseries div.playback-button {
    margin-top: 10px;
    float: left; }
    div.mapplugin.timeseries div.playback-button button.play {
      width: 50px;
      height: 40px;
      background: #333438;
      border: none;
      margin: auto;
      cursor: pointer; }
      div.mapplugin.timeseries div.playback-button button.play:after {
        content: '';
        display: inline-block;
        position: relative;
        top: 1px;
        left: 3px;
        border-style: solid;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent #ffde00; }
    div.mapplugin.timeseries div.playback-button button.pause {
      width: 50px;
      height: 40px;
      background: #333438;
      position: relative;
      display: block;
      border: none;
      cursor: pointer;
      display: none; }
      div.mapplugin.timeseries div.playback-button button.pause:before {
        width: 8px;
        height: 16px;
        background: #ffde00;
        position: absolute;
        content: "";
        top: 12.012012012px;
        left: 16.6666666667px; }
      div.mapplugin.timeseries div.playback-button button.pause:after {
        width: 8px;
        height: 16px;
        background: #ffde00;
        position: absolute;
        content: "";
        top: 12.012012012px;
        right: 16.6666666667px; }
  div.mapplugin.timeseries .oskari-timeslider {
    margin-top: 10px;
    width: 80%;
    height: 40px;
    background-color: #333438;
    float: left; }
    div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight {
      position: absolute;
      top: 0;
      z-index: 100001;
      color: #ffde00;
      height: 40px; }
      div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight .label {
        font-size: 12px;
        position: absolute;
        top: 3px; }
        div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight .label.center {
          left: -24px; }
      div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight .line {
        width: 1px;
        border-left: 1px solid #fff;
        height: 12px;
        position: absolute;
        bottom: 0; }
    div.mapplugin.timeseries .oskari-timeslider .interval-line {
      position: absolute;
      top: 0;
      z-index: 100000;
      height: 40px; }
      div.mapplugin.timeseries .oskari-timeslider .interval-line .label {
        font-size: 12px;
        position: absolute;
        top: 16px;
        color: #fff; }
        div.mapplugin.timeseries .oskari-timeslider .interval-line .label.center {
          left: -14px; }
      div.mapplugin.timeseries .oskari-timeslider .interval-line .line {
        width: 1px;
        border-left: 1px solid #fff;
        height: 8px;
        position: absolute;
        bottom: 0; }
  div.mapplugin.timeseries .oskari-timeslider-empty {
    margin-top: 10px;
    float: left;
    width: 10px;
    height: 40px; }

.mapplugin-timeseries-popup {
  position: absolute;
  top: 60px;
  cursor: pointer;
  z-index: 100000;
  opacity: 0.9;
  display: none; }
  .mapplugin-timeseries-popup .arrow {
    border-bottom: 15px solid #333438;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    margin: auto; }
  .mapplugin-timeseries-popup .content {
    background-color: #333438;
    width: 80px;
    height: 36px;
    color: #ffde00;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px; }
