/* override these to theme component */
.timeseriescontrolplugin {
  background-color: rgba(255, 255, 255, 1);
}
.timeline-svg g.full-axis .tick line {
  visibility: hidden;
}
.timeline-svg g.full-axis .domain {
  stroke-width: 3px;
  stroke: #E4E6E7;
}
.timeline-svg g.full-axis-controls circle {
  stroke: #E4E6E7;
  stroke-width: 2px;
  fill: #5C6160;
}
.timeline-svg g.full-axis-controls line {
  stroke: #FAD500;
  stroke-width: 3px;
}
.timeline-svg g.drag-handle circle{
  fill: #FAD500;
  stroke: #4E4E4E;
  stroke-width: 2px;
}
.timeline-svg g.subset-axis line, g.subset-axis path {
  stroke: #333;
}
.timeline-svg g.subset-axis text, g.full-axis text {
  fill: #333;
  stroke: none;
}
.timeline-svg g.tick text.bold {
  font-weight: 600;
}
.timeseries-menus label.oskari-select {
  color: #333;
}
/* end theming */

.timeseriescontrolplugin {
  white-space: nowrap;
}

.timeseries-aux{
  display: inline-block;
  vertical-align: top;
}
.timeseries-aux select {
  width: 100%!important;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
}
.timeseries-aux label.oskari-formcomponent.oskari-select {
  width: 100%!important;
}
.timeseries-aux label.oskari-formcomponent.oskari-select > div{
  text-align: left;
  font-size: 12px;
  line-height: 15px;
}
.timeseries-menus {
  height: 50px;
  overflow: hidden;
}
.timeseries-menus-half {
  display: inline-block;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}
.timeseries-menus-half:first-child{
  padding-right: 2.5px;
}
.timeseries-menus-half:last-child{
  padding-left: 2.5px;
}
.timeseries-stepper {
  padding: 5px 5px 5px 10px;
}
.timeseries-back,
.timeseries-playpause,
.timeseries-forward,
.timeseries-datetime {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 2px 4px;
  vertical-align: top;
}
.timeseries-back,
.timeseries-playpause,
.timeseries-forward {
  background-color: #fff;
  border-radius: 50px;
  background: radial-gradient(ellipse at center, #ffffff 18%,#ededed 43%,#b4b4b4 100%);
  cursor: pointer;
  position: relative;
}
.timeseries-back:not(.disabled):hover,
.timeseries-playpause:hover,
.timeseries-forward:not(.disabled):hover {
  background: radial-gradient(ellipse at center, #e7f1f5 18%,#c8dae2 43%,#95b4c4 100%);
  color: #369
}
.timeseries-back,
.timeseries-forward {
  width: 26px;
  height: 26px;
  margin-top: 7px;
}
.timeseries-forward:after,
.timeseries-forward:before,
.timeseries-back:after,
.timeseries-back:before  {
  content: '';
  display: inline-block;
  position: absolute;
}
.timeseries-forward:after,
.timeseries-back:after {
  border-style: solid;
}
.timeseries-forward:after {
  top: 8px;
  left: 10px;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent #3c3c3c;
}
.timeseries-forward:before {
  width: 1px;
  height: 8px;
  top: 9px;
  left: 16px;
  background: #3c3c3c;
}
.timeseries-back:after {
  top: 8px;
  right: 10px;
  border-width: 5px 7px 5px 0;
  border-color: transparent #3c3c3c transparent transparent;
}
.timeseries-back:before {
  width: 1px;
  height: 8px;
  top: 9px;
  right: 16px;
  background: #3c3c3c;
}
.timeseries-playpause:not(.pause):after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 14px;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent transparent transparent #3c3c3c;
}
.timeseries-playpause.pause:before,
.timeseries-playpause.pause:after {
  width: 4px;
  height: 12px;
  background: #3c3c3c;
  position: absolute;
  content: "";
  top: 12px;
  left: 13px;
}
.timeseries-playpause.pause:after {
  left: 19px;
}
.timeseries-stepper .disabled {
  cursor: auto;
  opacity: 0.5;
}
.timeseries-datetime {
  width: 122px;
  height: 40px;
  margin: 0 0 0 10px;
  text-align: left;
  line-height: 42px;
  font-size: 13px;
}
.timeseries-timelines{
  display: inline-block;
}
.timeseries-timelines text{
  font-family: "Open Sans", Arial, sans-serif;
}
svg.timeline-svg{
  display: block;
  overflow: hidden;
}

/* mobile mode */

.timeseriescontrolplugin.mobile .timeseries-timelines {
  display: block;
}