div.layerselection2 .layer.selected {
  border: 1pt solid #c0d0e0;
  margin: 0 5px 5px 0;
  height: 70px9;
  /*IE9 */ }
  div.layerselection2 .layer.selected div.layer-info {
    background-color: #FFF;
    padding: 5px; }
    div.layerselection2 .layer.selected div.layer-info div.layer-icon {
      float: left;
      height: 20px;
      margin-top: 5px;
      margin-left: 20px;
      margin-right: 20px;
      width: 16px;
      background-repeat: no-repeat; }
    div.layerselection2 .layer.selected div.layer-info div.layer-title {
      cursor: move;
      display: inline; }
      div.layerselection2 .layer.selected div.layer-info div.layer-title h4 {
        font: 14pt Arial, sans-serif;
        padding: 0; }
    div.layerselection2 .layer.selected div.layer-info div.layer-tool-remove {
      float: right; }
  div.layerselection2 .layer.selected div.layer-tools {
    background-color: #f3f3f3;
    padding: 7px; }
    div.layerselection2 .layer.selected div.layer-tools div.layout-slider {
      width: 140px;
      display: inline-block;
      margin-right: 16px; }
    div.layerselection2 .layer.selected div.layer-tools div.left-tools {
      display: inline-block; }
      div.layerselection2 .layer.selected div.layer-tools div.left-tools div.layer-visibility {
        padding-right: 5px;
        display: inline-block; }
      div.layerselection2 .layer.selected div.layer-tools div.left-tools div.layer-opacity {
        display: inline-block;
        background-image: url('/Oskari/resources/framework/bundle/layerselection2/images/opacity_slider.png');
        background-repeat: no-repeat; }
        div.layerselection2 .layer.selected div.layer-tools div.left-tools div.layer-opacity input.opacity {
          padding: 1px;
          width: 25px; }
    div.layerselection2 .layer.selected div.layer-tools div.right-tools {
      padding-top: 5px;
      float: right; }
      div.layerselection2 .layer.selected div.layer-tools div.right-tools div {
        float: left;
        margin-right: 5px; }
        div.layerselection2 .layer.selected div.layer-tools div.right-tools div.layer-rights, div.layerselection2 .layer.selected div.layer-tools div.right-tools div.object-data {
          padding-top: 2px; }
        div.layerselection2 .layer.selected div.layer-tools div.right-tools div.object-data a {
          padding-left: 5px; }
  div.layerselection2 .layer.selected div.stylesel label {
    padding: 7px; }
div.layerselection2 ul.selectedLayersList {
  height: 100%;
  width: 100%;
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  div.layerselection2 ul.selectedLayersList span {
    position: absolute;
    margin-left: -1.3em; }
