.add-area {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
}

.add-line {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -28px 0px !important;
}

.add-point {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -56px 0px !important;
}

.analysis-selection-edit {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -84px 0px !important;
}

.analysis-selection-line {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -112px 0px !important;
}

.analysis-selection-point {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -140px 0px !important;
}

.analysis-selection-remove {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -168px 0px !important;
}

.backendstatus-down {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -196px 0px !important;
}

.backendstatus-error {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -216px 0px !important;
}

.backendstatus-maintenance-pending {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -236px 0px !important;
}

.backendstatus-maintenance {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -256px 0px !important;
}

.backendstatus-ok {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -276px 0px !important;
}

.backendstatus-unknown {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -296px 0px !important;
}

.backendstatus-unstable {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -316px 0px !important;
}

.component-indexmap {
    width: 46px;
    height: 46px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -336px 0px !important;
}

.component-indexmap:hover {
    width: 46px;
    height: 46px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -336px -46px !important;
}

.component-tab-bg {
    width: 1px;
    height: 26px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -382px 0px !important;
}

.icon-area {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -383px 0px !important;
}

.icon-arrow-down {
    width: 13px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -411px 0px !important;
}

.icon-arrow-right {
    width: 13px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -424px 0px !important;
}

.icon-arrow-white-down {
    width: 13px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -437px 0px !important;
}

.icon-arrow-white-right {
    width: 13px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -450px 0px !important;
}

.icon-bubble-left {
    width: 20px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -463px 0px !important;
}

.icon-bubble-right {
    width: 23px;
    height: 21px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -483px 0px !important;
}

.icon-close-dark {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -506px 0px !important;
}

.icon-close-white {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -522px 0px !important;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -538px 0px !important;
}

.icon-close:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -538px -16px !important;
}

.icon-corner-round {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -554px 0px !important;
}

.icon-corner-sharp {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -582px 0px !important;
}

.icon-double-line {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -610px 0px !important;
}

.icon-drag-corner {
    width: 23px;
    height: 23px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -638px 0px !important;
}

.icon-drag-corner:hover {
    width: 23px;
    height: 23px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -638px -23px !important;
}

.icon-drag {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -661px 0px !important;
}

.icon-drag:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -661px -16px !important;
}

.icon-find-nearest-address-dark {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -677px 0px !important;
}

.icon-find-nearest-address-light {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -705px 0px !important;
}

.icon-find-nearest-place-dark {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -733px 0px !important;
}

.icon-find-nearest-place-light {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -761px 0px !important;
}

.icon-funnel-active {
    width: 18px;
    height: 18px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -789px 0px !important;
}

.icon-funnel {
    width: 18px;
    height: 18px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -807px 0px !important;
}

.icon-geolocator {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -825px 0px !important;
}

.icon-info-area-active {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -853px 0px !important;
}

.icon-info-area {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -869px 0px !important;
}

.icon-info {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -885px 0px !important;
}

.icon-info:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -885px -16px !important;
}

.icon-line-basic {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -901px 0px !important;
}

.icon-line-dashed {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -929px 0px !important;
}

.icon-line-flat_cap {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -957px 0px !important;
}

.icon-line-round_cap {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -985px 0px !important;
}

.icon-line-thin-diagonal {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1013px 0px !important;
}

.icon-line-thin-horizontal {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1041px 0px !important;
}

.icon-line-wide-diagonal {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1069px 0px !important;
}

.icon-line-wide-horizontal {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1097px 0px !important;
}

.icon-line {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1125px 0px !important;
}

.icon-maximize {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1153px 0px !important;
}

.icon-maximize:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1153px -16px !important;
}

.icon-menu {
    width: 25px;
    height: 7px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1169px 0px !important;
}

.icon-minimize {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1194px 0px !important;
}

.icon-minimize:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1194px -16px !important;
}

.icon-point {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1210px 0px !important;
}

.icon-private {
    width: 18px;
    height: 18px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1238px 0px !important;
}

.icon-public {
    width: 18px;
    height: 18px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1256px 0px !important;
}

.icon-restore {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1274px 0px !important;
}

.icon-restore:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1274px -16px !important;
}

.icon-select-geometry {
    width: 23px;
    height: 23px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1290px 0px !important;
}

.icon-table {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1313px 0px !important;
}

.icon-warning-dark {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1329px 0px !important;
}

.icon-warning-light {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1345px 0px !important;
}

.layer-analysis {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1361px 0px !important;
}

.layer-base {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1377px 0px !important;
}

.layer-gfi-1 {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1393px 0px !important;
}

.layer-gfi-2 {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1409px 0px !important;
}

.layer-group {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1425px 0px !important;
}

.layer-newest-disabled {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1441px 0px !important;
}

.layer-newest {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1457px 0px !important;
}

.layer-publishable-disabled {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1473px 0px !important;
}

.layer-publishable {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1489px 0px !important;
}

.layer-stats-disabled {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1505px 0px !important;
}

.layer-stats {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1521px 0px !important;
}

.layer-timeseries-disabled {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1537px 0px !important;
}

.layer-timeseries {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1553px 0px !important;
}

.layer-vector {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1569px 0px !important;
}

.layer-wfs {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1585px 0px !important;
}

.layer-wms {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1601px 0px !important;
}

.layer-wmts {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1617px 0px !important;
}

.marker-arrow {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1633px 0px !important;
}

.marker-dot {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1661px 0px !important;
}

.marker-flag {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1689px 0px !important;
}

.marker-pin {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1717px 0px !important;
}

.marker-pin2 {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1745px 0px !important;
}

.marker-share-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1773px 0px !important;
}

.marker-share-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1805px 0px !important;
}

.marker-square {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1837px 0px !important;
}

.marker-stud {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1865px 0px !important;
}

.marker {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1893px 0px !important;
}

.menu-3d-dark {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1925px 0px !important;
}

.menu-3d-light {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1960px 0px !important;
}

.menu-rounded-dark {
    width: 36px;
    height: 36px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1995px 0px !important;
}

.menu-rounded-light {
    width: 36px;
    height: 36px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2031px 0px !important;
}

.menu-sharp-dark {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2067px 0px !important;
}

.menu-sharp-light {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2102px 0px !important;
}

.mobile-close-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2137px 0px !important;
}

.mobile-close-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2169px 0px !important;
}

.mobile-info-marker-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2201px 0px !important;
}

.mobile-info-marker-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2233px 0px !important;
}

.mobile-infobox-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2265px 0px !important;
}

.mobile-infobox-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2297px 0px !important;
}

.mobile-layers-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2329px 0px !important;
}

.mobile-layers-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2361px 0px !important;
}

.mobile-maplegend-dark {
    width: 33px;
    height: 33px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2393px 0px !important;
}

.mobile-maplegend-light {
    width: 33px;
    height: 33px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2426px 0px !important;
}

.mobile-measure-area-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2459px 0px !important;
}

.mobile-measure-area-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2491px 0px !important;
}

.mobile-measure-line-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2523px 0px !important;
}

.mobile-measure-line-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2555px 0px !important;
}

.mobile-menu-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2587px 0px !important;
}

.mobile-menu-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2619px 0px !important;
}

.mobile-my-location-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2651px 0px !important;
}

.mobile-my-location-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2683px 0px !important;
}

.mobile-next-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2715px 0px !important;
}

.mobile-next-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2747px 0px !important;
}

.mobile-north-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2779px 0px !important;
}

.mobile-north-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2811px 0px !important;
}

.mobile-previous-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2843px 0px !important;
}

.mobile-previous-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2875px 0px !important;
}

.mobile-projection-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2907px 0px !important;
}

.mobile-projection-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2939px 0px !important;
}

.mobile-refresh-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2971px 0px !important;
}

.mobile-refresh-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3003px 0px !important;
}

.mobile-reset-map-state-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3035px 0px !important;
}

.mobile-reset-map-state-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3067px 0px !important;
}

.mobile-search-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3099px 0px !important;
}

.mobile-search-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3131px 0px !important;
}

.mobile-selection-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3163px 0px !important;
}

.mobile-selection-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3195px 0px !important;
}

.mobile-statslegend-dark {
    width: 32px;
    height: 33px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3227px 0px !important;
}

.mobile-statslegend-light {
    width: 32px;
    height: 33px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3259px 0px !important;
}

.mobile-timeseries-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3291px 0px !important;
}

.mobile-timeseries-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3323px 0px !important;
}

.mobile-xy-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3355px 0px !important;
}

.mobile-xy-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3387px 0px !important;
}

.mobile-zoom-in-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3419px 0px !important;
}

.mobile-zoom-in-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3451px 0px !important;
}

.mobile-zoom-out-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3483px 0px !important;
}

.mobile-zoom-out-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3515px 0px !important;
}

.mylocation-3d-dark {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3547px 0px !important;
}

.mylocation-3d-light {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3582px 0px !important;
}

.mylocation-rounded-dark {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3617px 0px !important;
}

.mylocation-rounded-light {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3652px 0px !important;
}

.mylocation-sharp-dark {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3687px 0px !important;
}

.mylocation-sharp-light {
    width: 35px;
    height: 35px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3722px 0px !important;
}

.myplaces-area {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3757px 0px !important;
}

.myplaces-draw-area-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3785px 0px !important;
}

.myplaces-draw-area-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3817px 0px !important;
}

.myplaces-draw-line-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3849px 0px !important;
}

.myplaces-draw-line-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3881px 0px !important;
}

.myplaces-draw-point-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3913px 0px !important;
}

.myplaces-draw-point-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3945px 0px !important;
}

.myplaces-line {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -3977px 0px !important;
}

.myplaces-point {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4005px 0px !important;
}

.refresh {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4033px 0px !important;
}

.refresh:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4033px -16px !important;
}

.selection-area {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4049px 0px !important;
}

.selection-area:hover {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4049px -32px !important;
}

.selection-circle {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4081px 0px !important;
}

.selection-circle:hover {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4081px -32px !important;
}

.selection-edit {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4113px 0px !important;
}

.selection-edit:hover {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4113px -32px !important;
}

.selection-line {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4145px 0px !important;
}

.selection-line:hover {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4145px -32px !important;
}

.selection-point {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4177px 0px !important;
}

.selection-point:hover {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4177px -32px !important;
}

.selection-remove {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4209px 0px !important;
}

.selection-remove:hover {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4209px -32px !important;
}

.selection-square {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4241px 0px !important;
}

.selection-square:hover {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4241px -32px !important;
}

.tool-draw-cut {
    width: 35px;
    height: 36px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4273px 0px !important;
}

.tool-feature-selection-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4308px 0px !important;
}

.tool-feature-selection-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4340px 0px !important;
}

.tool-history-back-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4372px 0px !important;
}

.tool-history-back-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4404px 0px !important;
}

.tool-history-forward-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4436px 0px !important;
}

.tool-history-forward-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4468px 0px !important;
}

.tool-link-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4500px 0px !important;
}

.tool-link-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4532px 0px !important;
}

.tool-measure-area-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4564px 0px !important;
}

.tool-measure-area-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4596px 0px !important;
}

.tool-measure-line-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4628px 0px !important;
}

.tool-measure-line-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4660px 0px !important;
}

.tool-pan-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4692px 0px !important;
}

.tool-pan-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4724px 0px !important;
}

.tool-print-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4756px 0px !important;
}

.tool-print-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4788px 0px !important;
}

.tool-reset-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4820px 0px !important;
}

.tool-reset-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4852px 0px !important;
}

.tool-save-view-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4884px 0px !important;
}

.tool-save-view-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4916px 0px !important;
}

.tool-terrainprofile-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4948px 0px !important;
}

.tool-terrainprofile-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -4980px 0px !important;
}

.tool-zoombox-dark {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -5012px 0px !important;
}

.tool-zoombox-light {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -5044px 0px !important;
}

.upload-material-dark {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -5076px 0px !important;
}

.upload-material-light {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -5104px 0px !important;
}

