$lightBgColor: rgba(255,255,255,0.9);
$darkBgColor: rgba(20,20,20,0.8);
$iconShadow: 1px 1px 2px rgba(0,0,0,0.6);
$darkIcon: url("../images/Question-mark-dark.png");
$lightIcon: url("../images/Question-mark-light.png");

.maplegend .maplegend {
  .maplegend-layer-title {
    display: flex;

    .maplegend-tools {
      margin: 1px 0 0 7px;
    }
  }

  .accordion .accordion_panel.open {
    background-color: #ffffff;

    .maplegend-legend {
      margin: 0 0 0 12px;

      img {
        margin: 8px 0;
      }
    }
  }
}

.mapplugin.maplegend {
  .maplegend-legend {
    padding-top: 8px;
    padding-left: 8px;
    overflow: hidden;
  }
}


.legendSelector {
  .oskari-select {
    margin-left: 2%;
    margin-right: 2%;
  }

  .legendInfo {
    margin-left: 2%;
    font-style: italic;
  }
  .maplegend-divider {
    margin-bottom: 5px;
    height: 1px;
    border-top: 1px solid #DDDDDD;
    margin-left: 2%;
    margin-right: 2%;
  }
}
.maplegend__popup {
  .popup-body .content .imgDiv {
    max-height: 60vh;
    overflow-y: auto !important; }
}
.divmanazerpopup.mobile-popup {
  max-width:80vh !important;
  left: 0% !important;
}
