         #solsol {
         	margin: 8pt;
         }
         .solitaire {
              width: 743; height: 512;
              position: relative; left:0;top:0;
              
          }
           
         .card { position: absolute; width: 57; height: 83; background-image: url('svg-cards-2.0-scaledDown.png');}

         .dropZone {
            position: absolute; width: 57; height: 83; border: 1 solid red;
            opacity:0.3; background-color:#c0d0e0;
            }

         .solsol_play {
            background-image:url(famfamfam_silk_icons_v013/icons/control_play.png) !important;
	     }
         .solsol_new_game {
            background-image:url(famfamfam_silk_icons_v013/icons/sport_raquet.png) !important;
	     }
            