.metadataflyout {
  /* Content */ }
  .metadataflyout .tab-content article .browseGraphic {
    float: left;
    margin-bottom: 6px;
    margin-left: 6px; }
    .metadataflyout .tab-content article .browseGraphic img:hover {
      cursor: zoom-out; }
    .metadataflyout .tab-content article .browseGraphic:not(.fullsize) img {
      max-height: 200px; }
      .metadataflyout .tab-content article .browseGraphic:not(.fullsize) img:hover {
        cursor: zoom-in; }
  .metadataflyout .tab-content article h1 {
    margin-bottom: 8px; }
  .metadataflyout .tab-content article h1, .metadataflyout .tab-content article h2 {
    clear: both;
    text-align: left;
    text-transform: uppercase; }
  .metadataflyout .tab-content article ol, .metadataflyout .tab-content article ul, .metadataflyout .tab-content article p {
    margin-bottom: 18px; }
  .metadataflyout .tab-content article ol, .metadataflyout .tab-content article ul {
    margin-left: 20px; }

/* xml */
.metadataflyout_content_xml {
  margin: 0;
  padding: 0; }

.metadataflyout_content_section {
  /* We have to force font size back to normal as this isn't actual table content */
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  display: block;
  margin-bottom: 12px; }
