$filter-border-color: #a4a4a4;

div.layerselector2 {
    div.layer-filter {
        margin: 10px;
        color: #949494;
    }
    div.header {
        .badge-wrapper {
            right: 8%;
            max-width: 50px;
        }
    }

    div.filter {
        border: 1px solid $filter-border-color;
        padding: 10px;
        float: left;
        cursor: pointer;
        margin-bottom: 5px;
        margin-left: -1px;
    }

    div.accordion {
        div.accordion_panel {
            div.content {
                padding: 0;
            }
        }
    }

    div.layer {
        padding: 6px 10px 6px 40px;
        background-color: #ffffff;
        clear: both;

        /* Default line height is too high, make it so the text just fits */
        min-height: 14px;
        line-height: 14px;

        &:nth-child(even) {
            background-color: #f3f3f3;
        }

        input {
            float: left;
            margin-right: 5px;

            &[type=checkbox] {
                margin-top: -2px;
            }
        }

        label.layer-title {
            /* Let's just imagine this is tabular data... */
            font-size: 12px;
        }

        .layer-title.not-supported {
            color: #888;
        }

        div.layer-tools {
            float: right;
        }

        div.layer-icon {
            float: left;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
        }

        div.layer-info {
            width: 16px;
            height: 16px;
            margin-left: 5px;
            float: right;
        }

        div.layer-backendstatus-icon {
            float: left;
            width: 20px;
            height: 16px;
            margin-right: 4px;
            background-repeat: no-repeat;
        }

        div.layer-not-supported {
            float: left;
            margin-right: 4px;
            background-repeat: no-repeat;
            margin-top: -2px;
        }

        div.backendstatus-down {
            height: 20px !important;
            margin-bottom: 2px;
            margin-top: -2px;
            cursor: pointer;
        }

        div.backendstatus-maintenance {
            height: 20px !important;
            margin-bottom: 2px;
            margin-top: -2px;
            cursor: pointer;
        }

        div.backendstatus-ok {
            height: 20px !important;
            margin-bottom: 2px;
            margin-top: -2px;
            cursor: pointer;
        }

        div.backendstatus-unknown {
            height: 20px !important;
            margin-bottom: 2px;
            margin-top: -2px;
        }

        div.backendstatus-unstable {
            height: 20px !important;
            margin-bottom: 2px;
            margin-top: -2px;
        }
    }

    div.layerGroup {
        background-color: #f3f3f3;
        border: 1px solid #c0d0d0;
        margin: 0;
        padding: 0;

        &.open {
            background-color: #FFFFFF;
        }

        div.groupIcon {
            display: inline-block;
            margin-left: 12px;
            vertical-align: middle;
        }

        div.groupHeader {
            display: inline-block;
            padding: 8px 10px 8px 12px;
        }
    }

    div.tab-content {
        padding: 0;

        div.oskarifield {
            margin: 10px;
            position: relative;

            input[type=text] {
                width: 90%;
            }

            .icon-close {
                margin-right: -20px;
            }

            .field-description {
                padding: 3px 0;
                color: #666;

                .icon-info {
                    display: inline-block;
                }
            }

            .related-keywords {
                display: none;
                overflow: hidden;
                height: 30px;
                line-height: 30px;

                .keywords-title {
                    box-sizing: border-box;
                    height: 30px;
                    line-height: 30px;
                    color: #000;
                    font-weight: bold;
                    float: left;
                }

                .keyword-cont {
                    display: block;
                    box-sizing: border-box;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px;
                    color: #0085D1;
                    float: left;

                    .keyword {
                        float: left;
                        min-width: 91px;
                    }

                    .type {
                        background-color: #333438;
                        border: solid 2px #FFDE00;
                        color: #FFDE00;
                        width: 34px;
                        line-height: 16px;
                        padding: 3px;
                        margin: 2px;
                        float: right;
                        display: inline-block;
                        text-align: center;
                    }
                }

                .focus {
                    background-color: #333438;
                    color: white;
                }
            }
        }
    }
}