
/* "tab" content */
div.maplegend div.allLayersTabContent {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-top: 0px solid #999999;
	border-bottom: 1px solid #999999;
	color: #000000;
	height: 90%;
}
/* layer list container */
div.maplegend div.layerList {
	overflow: auto;
	height : 85%;
	width : 100%;
	margin : 0px;
}
/* layer group container */
div.maplegend div.layerGroup {
    background-color : #f3f3f3;
    border: 1pt solid #c0d0d0;
    margin : 0;
    padding : 0;
}
div.maplegend div.layerGroup.open {
    background-color : #FFFFFF;
}
div.maplegend div.layerGroup div.groupIcon {
	display : inline-block;
    margin-left: 12px;
    vertical-align: middle;
}
div.maplegend div.layerGroup div.groupHeader {
	display : inline-block;
	font-weight : bold;
	padding: 8px 10px 8px 12px;
	font: 14pt Arial,sans-serif;
}
/* layer container */
div.maplegend div.layer {
    padding: 6px 10px 6px 40px;
    background-color : #ffffff;
}
div.maplegend div.layer.odd {
    background-color : #f3f3f3;
}
div.maplegend div.layer input {
    float : left;
    margin-right : 5px;
}
div.maplegend div.layer div.layer-tools {
    float : right;
}
div.maplegend div.layer div.layer-icon {
    float : left;
	width : 16px;
	height : 16px;
	background-repeat: no-repeat;
}
div.maplegend div.layer div.layer-info {
    width: 16px;
	margin-left : 5px;
	float : right;
}

