.featuredata {
  /* Selected row hightlighting */
  /* Override common table settings */
  /* Override sort img position */ }
  .featuredata div.tab-content {
    max-height: 535px;
    overflow: auto; }
  .featuredata .link {
    padding: 20px 0px 0px 0px;
    color: #0066ff;
    font-size: 13px;
    text-decoration: underline;
    display: block; }
  .featuredata tbody tr.selected {
    background-color: #FEF2BA; }
  .featuredata th, .featuredata td {
    text-align: left;
    padding-left: 2px;
    padding-right: 15px; }
  .featuredata th.asc {
    background-position: right center; }
  .featuredata th.desc {
    background-position: right center; }

div.flyout-resizer {
  float: right;
  cursor: nw-resize; }

div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.featuredataplugin {
  display: block;
  color: #3C3C3C;
  background: #FFF;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  margin: 10px;
  padding: 5px; }
