div.parcelselectorBase {
    min-width: 220px;
}

div.parcelselector {
    padding: 5px;
}

div.parcelSearchContainer {
    clear: both;
    margin-left: 0;
    position: relative;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

label.parcelSearchType {
    padding: 0 10px 0 5px;
}

div.parcelSearchControls {
    overflow: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

div.parcelSearchField {
    float:left;
    width:180px;
}

div.parcelSearchButton {
    float:left;
    width:50px;
}
