.add-area {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
}

.add-line {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -28px 0px !important;
}

.add-point {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -56px 0px !important;
}

.backendstatus-down {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -84px 0px !important;
}

.backendstatus-maintenance-pending {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -104px 0px !important;
}

.backendstatus-maintenance {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -124px 0px !important;
}

.backendstatus-ok {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -144px 0px !important;
}

.backendstatus-unknown {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -164px 0px !important;
}

.component-indexmap {
    width: 46px;
    height: 46px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -184px 0px !important;
}

.component-indexmap:hover {
    width: 46px;
    height: 46px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -184px -46px !important;
}

.component-tab-bg {
    width: 1px;
    height: 26px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -230px 0px !important;
}

.icon-area {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -231px 0px !important;
}

.icon-arrow-down {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -259px 0px !important;
}

.icon-arrow-right {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -272px 0px !important;
}

.icon-arrow-white-down {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -285px 0px !important;
}

.icon-arrow-white-right {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -298px 0px !important;
}

.icon-bubble-left {
    width: 20px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -311px 0px !important;
}

.icon-bubble-right {
    width: 23px;
    height: 21px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -331px 0px !important;
}

.icon-close-dark {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -354px 0px !important;
}

.icon-close-white {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -370px 0px !important;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -390px 0px !important;
}

.icon-close:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -390px -16px !important;
}

.icon-corner-round {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -406px 0px !important;
}

.icon-corner-sharp {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -434px 0px !important;
}

.icon-double-line {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -462px 0px !important;
}

.icon-drag-corner {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -490px 0px !important;
}

.icon-drag-corner:hover {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -490px -23px !important;
}

.icon-drag {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -513px 0px !important;
}

.icon-drag:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -513px -16px !important;
}

.icon-funnel {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -529px 0px !important;
}

.icon-geolocator {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -545px 0px !important;
}

.icon-info {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -573px 0px !important;
}

.icon-info:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -573px -16px !important;
}

.icon-line-basic {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -589px 0px !important;
}

.icon-line-dashed {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -617px 0px !important;
}

.icon-line-flat_cap {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -645px 0px !important;
}

.icon-line-round_cap {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -673px 0px !important;
}

.icon-line-thin-diagonal {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -701px 0px !important;
}

.icon-line-thin-horizontal {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -729px 0px !important;
}

.icon-line-wide-diagonal {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -757px 0px !important;
}

.icon-line-wide-horizontal {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -785px 0px !important;
}

.icon-line {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -813px 0px !important;
}

.icon-maximize {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -841px 0px !important;
}

.icon-maximize:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -841px -16px !important;
}

.icon-menu {
    width: 25px;
    height: 7px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -857px 0px !important;
}

.icon-minimize {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -882px 0px !important;
}

.icon-minimize:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -882px -16px !important;
}

.icon-point {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -898px 0px !important;
}

.icon-private {
    width: 18px;
    height: 18px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -926px 0px !important;
}

.icon-public {
    width: 18px;
    height: 18px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -944px 0px !important;
}

.icon-restore {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -962px 0px !important;
}

.icon-restore:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -962px -16px !important;
}

.icon-select-geometry {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -978px 0px !important;
}

.icon-table {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1001px 0px !important;
}

.layer-analysis {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1017px 0px !important;
}

.layer-base {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1033px 0px !important;
}

.layer-gfi-1 {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1049px 0px !important;
}

.layer-gfi-2 {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1065px 0px !important;
}

.layer-group {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1081px 0px !important;
}

.layer-stats {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1097px 0px !important;
}

.layer-vector {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1113px 0px !important;
}

.layer-wfs {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1129px 0px !important;
}

.layer-wms {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1145px 0px !important;
}

.layer-wmts {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1161px 0px !important;
}

.marker-arrow {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1177px 0px !important;
}

.marker-dot {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1205px 0px !important;
}

.marker-flag {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1233px 0px !important;
}

.marker-pin {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1261px 0px !important;
}

.marker-pin2 {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1289px 0px !important;
}

.marker-square {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1317px 0px !important;
}

.marker-stud {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1345px 0px !important;
}

.marker {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1373px 0px !important;
}

.myplaces-area {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1405px 0px !important;
}

.myplaces-draw-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1433px 0px !important;
}

.myplaces-draw-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1465px 0px !important;
}

.myplaces-draw-point {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1497px 0px !important;
}

.myplaces-line {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1529px 0px !important;
}

.myplaces-point {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1557px 0px !important;
}

.selection-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1585px 0px !important;
}

.selection-area:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1585px -32px !important;
}

.selection-circle {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1617px 0px !important;
}

.selection-circle:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1617px -32px !important;
}

.selection-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1649px 0px !important;
}

.selection-line:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1649px -32px !important;
}

.selection-point {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1681px 0px !important;
}

.selection-point:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1681px -32px !important;
}

.selection-remove {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1713px 0px !important;
}

.selection-remove:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1713px -32px !important;
}

.selection-square {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1745px 0px !important;
}

.selection-square:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1745px -32px !important;
}

.selection_edit {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1777px 0px !important;
}

.selection_edit:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1777px -32px !important;
}

.tool-draw-cut {
    width: 35px;
    height: 36px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1809px 0px !important;
}

.tool-feature-selection {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1844px 0px !important;
}

.tool-feature-selection:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1844px -32px !important;
}

.tool-history-back {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1876px 0px !important;
}

.tool-history-forward {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1908px 0px !important;
}

.tool-link {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1940px 0px !important;
}

.tool-measure-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1972px 0px !important;
}

.tool-measure-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2004px 0px !important;
}

.tool-pan {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2036px 0px !important;
}

.tool-print {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2068px 0px !important;
}

.tool-reset {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2100px 0px !important;
}

.tool-save-view {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2132px 0px !important;
}

.tool-zoombox {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2164px 0px !important;
}

.upload-material {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2196px 0px !important;
}

