table td {
    text-align: left;
    vertical-align: top;
}

table {
    border-top-width: 0px;
}

@media screen {
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font: (14px / 16px) "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    }

    #mapdiv {
        width: 100%;
        height: 100%;
    }

    #mapdiv.elf-reverse-geocode {
        cursor: crosshair !important;
    }

    #mapdivB {
        width: 100%;
        height: 100%;
    }

    #maptools {
        height: 100%;
        position: absolute;
        top: 0;
        width: 170px;
        overflow: auto;
        z-index: 2;
        background-color: #0099CB;
        margin-top: 0px;
    }

    #contentMap {
        height: 100%;
        margin-left: 170px;
    }

    img.panbuttonDivImg {
        border: 0;
    }

    .oskari-tile {
        height: auto !important;
        min-height: 31px !important;
        line-height: 15px !important;
    }

    .oskari-tile-closed {
        background-color: #0099CB !important;
        border-bottom: 1px solid #0099CB !important;
        border-top: 1px solid white !important;
    }

    .oskari-tile-attached {
        background-color: white !important;
        border-bottom: 1px solid white !important;
        border-top: 1px solid #0099CB !important;
    }

    .oskari-flyouttoolbar {
        background-color: #0099CB !important;
    }

    .oskari-flyout-title {
        color: white !important;
    }

    #logobar {
        height: 80px;
        width: 100%;
        overflow: hidden;
        background-color: white;
        background-image: url("ELF_web_logo_small.jpg");
        background-repeat: no-repeat;
    }

    .default-selectiontools {
        display: none !important;
    }

    .marker-share {
        display: none !important;
    }

    .tool-print {
        display: none !important;
    }

    /*    li.layer {
            height: 120px !important;
        }
    */
    div.oskari-flyout {
        min-height: 220px !important;
    }

    .oskariui-center {
        margin: 0px !important;
    }
}

.elf-lang-selector .langSelection a.btn {
    margin-left: 8px;
    background: #D4D4D4 url(/Oskari/resources/images/portlet/header_bg.png) repeat-x 0 0;
    border: 1px solid;
    border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
    color: #34404F;
    text-shadow: 1px 1px #FFF;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    padding: 5px;
    width: auto;
    text-decoration: none;
    font-weight: bold;
    font: 1em Arial, Helvetica, Verdana, sans-serif;
}

.elf-lang-selector .langSelection a.btn:hover {
    background: #B9CED9 url(/Oskari/resources/images/application/state_hover_bg.png) repeat-x 0 0;
    border-color: #627782;
    color: #369;
}

.logoplugin .icon {
    background-image: url("ELF-logo-small.png") !important;
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: bottom;
    cursor: pointer;
    float: left;
}

.logoplugin .terms {
    float: left;
}

.logoplugin .data-sources {
    float: left;
}

div.layerselection2 div.object-data {
    display: none !important;
}

.oskari-tile-closed {
    background: transparent !important;
}

div.mapplugin.scalebar {
    font-size: 9px !important;
}

.accordion_panel .header {
    cursor: pointer;
}

.icon-close, .icon-info {
    cursor: pointer;
}

div.layerselection2 .icon-funnel {
    visibility: hidden !important;
    display: none !important;
}

.featuredata div.icon-funnel {
    visibility: hidden !important;
    display: none !important;
}

div.admin-layerselector .show-add-class {
    height: auto !important;
}

/*
.oskari-flyoutheading{
    background-color: transparent !important;
    border: none !important;
}
*/

/*metadataflyout overrides*/
hr.elf-metadata-divider {
    border: 1px solid #e6e6e6;
    margin-bottom: 15px;
}

table.elf-metadata-table-no-border td {
    border: none !important;
    width: 50%;
}