#lakapa-basket-tools, #lakapa-basket-tools2{
    margin-top:20px;	
}

.normal-conditions-wrapper{
	height: 45%;
}

.normal-conditions-span{
	font-weight: bold;
}

.normal-conditions-wrapper{
	font-size: 11px;
}

.normal-conditions-chk{
	margin-left: 30px;
	margin-right: 5px;
}

.normal-conditions-label{
	width: 100px;
}

.lakapa-basket-button{
    margin: 5px; 
    text-transform: uppercase; 
    font-weight: bold; 
    font-size: 11px; 
    text-decoration: none; 
    background-color: #0B719E; 
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
}

.lakapa-basket-button:hover{
    background-color: #0D95D2; 
    color: #FFFFFF;
}

.lakapa-basket-button:link {color:#FFFFFF;}
.lakapa-basket-button:visited {color:#FFFFFF;}
.lakapa-basket-button:active {color:#FFFFFF;}

.lakapa-basket-button.disabled{
	opacity:0.6;
    filter:alpha(opacity=60);
    cursor: default;
    background-color: #0B719E; 
}

.lakapa-basket-data{
	width:100%;
	background-color:#FFFFFF;
	margin-top:10px;
	font-size: 11px;
}

.lakapa-basket-title{
    background-color: #32B3E2;
    border: 1px solid #32B3E2;
     margin-right:10px;
}

.lakapa-basket-title-layer-name{
	padding:5px;
	font-weight: bold;
	text-transform: uppercase;
	float:left;
	color: #FFFFFF;
}

.lakapa-basket-title-close{
	float:right;
	margin-top:4px;
	margin-right:4px;
}

.lakapa-basket-title-clear{
	clear:both;
}

.lakapa-basket-content{
    border-bottom: 1px solid #32B3E2;
    border-left: 1px solid #32B3E2;
    border-right: 1px solid #32B3E2;
    padding: 2px;
    margin-right:10px;
}

.lakapa-basket-content-cropping{
	padding-left:10px;
}

.lakapa-basket-content-cropping-content{
	padding-left:20px;
}

.lakapa-basket-content-transport-title{
    padding-left:10px;
}

.lakapa-basket-content-transport-content{
    padding-left:20px;
}

.lakapa-basket-content-bbox{
    padding-left:10px;
}

.lakapa-basket-content-bbox-content{
    padding-left:20px;
}

.lakapa-basket-content-special-conditions{
    padding-left:10px;
}

.lakapa-basket-tile .oskari-tile-status{
	
}

.lakapa-basket-special-conditions-yes{
	color: #E50000;
}

.lakapa-basket-special-conditions-no{
    color: #000000;
}

.lakapa-basket-data-title{
	font-weight:bold;
}

.special-conditions-label{
	float: right; 
	margin-right: 5px; 
	width: 100px;
}

.special-conditions-chk{
	margin-right: 5px;
}

.special-conditions-info{
	float:right;
	margin-right:4px;
	margin-top:4px;
	height:16px;
	width:16px;
	background-image: url('../images/readConditions.png');
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
    background-color: transparent;
    cursor: pointer;	
}

#lakapa-basket-loading-overlay{
    width:100%;
    height:87%;
    background-color:#FFFFFF;
    z-index:10000;
    left:0;
    top:12%;
    opacity:0.6;
    position:absolute;
}

.lakapa-basket-loading-image{
	height:16px;
    width:16px;
    background-image: url('../images/ajax-loader.gif');
    float:right;
}

.lakapa-basket-loading-text{
	float: right;
	margin-left:5px;
}

.lakapa-basket-download{
	padding:10px;
}

.lakapa-basket{
	height:460px;
}

.lakapa-basket-main-div{
	width:100%;
	height:100%;
}

#lakapa-basket-datas{
	overflow:auto;
	height:86%;
}

#lakapa-basket-tools, #lakapa-basket-tools2{
	height:14%;
	display: none;
}

#lakapa-basket-inputs{
	display:none;
}

.lakapa-basket-input{
	width:200px;
}

.lakapa-basket-header{
	color: #0B719E;
}

input[type="text"]:disabled
{
    background:#dddddd;
}
#lakapa-basket-loading-container{
    float:right;
    margin-right:160px;
}

/* ERITTELYT */
#lakapa-basket-container.oskari-tile{
    padding: 5px 0 10px;
}

#lakapa-basket-container{
    border-bottom: 2px solid #0d95d2;
}

.lakapa-basket-info-saving-data{
    margin-top:15px;
}

#lakapa-basket-private-user{
    margin-left: 5px;
}

#lakapa-basket-input-private-user{
margin-left:5px;
}