body{
	font-family: 'Source Sans Pro',sans-serif !important;
}

::selection{
    background: #fee9d7 !important;
}

#logobar {
        height: 52px;
        margin: 15px 37px;
        width: 77%;
        overflow: hidden;
        background-image: url('../icon_hsy_sm.png');
        background-repeat: no-repeat;
}

#maptools{
	background-color: #00A2AA !important;
}

#login{
	padding-top: 25px;
}

#login input[type="submit"]{
	width: 97% !important;
}

.oskari-tile-closed, .oskari-tile-minimized{
	background-color: #00A2AA !important;
	background: #00A2AA !important;
    border-top: 1px solid #00858C !important;
    border-bottom: 1px solid #00858C !important;
}

div.toolrow{
 	border-top: 1px solid #00858C !important;
}

div.toolrow div.tool.selected, div.toolrow div.tool:hover:not(.disabled), div.toolrow div.tool:active:not(.disabled){
	background-color: #00858C !important;
}

.oskari-flyoutheading{
	background-color: #EA7600 !important;
    border-top: 1px solid #EA7600 !important;
    border-bottom: 1px solid #A55300 !important;
}

.oskari-flyouttoolbar{
	background-color: #fee9d7 !important;;
}

div.accordion div.accordion_panel{
    background-color: #EEEEEE !important;
}

div.oskariTabs .tabsHeader ul li.active{
    background: none repeat scroll 0 0 #FAFAFA !important;
}

div.oskariTabs .tabsHeader ul li{
	 background: #EEEEEE !important;
}

.oskari-tile-attached{
	background-color: #EEEEEE !important;
}

div.divmanazerpopup h3.popupHeader{
    background-color: #fee9d7 !important;
}

button.primary, input.primary{
    background-color: #00A2AA !important;
    background-image: none !important;
    border-color: #00A2AA #00A2AA #00A2AA #00A2AA !important;
    text-shadow: none !important;
}

button.primary.selected, input.primary.selected{
    background: #00858C !important;
    border-color: #00A2AA !important;
    color: #FFFFFF !important;
    text-shadow: none !important;
}

input[type="submit"]:hover:enabled, input[type="button"]:hover:enabled, input[type="reset"]:hover:enabled, button:hover:enabled, .lfr-actions:hover, .lfr-actions:hover ul{
    background: #00858C !important;
    border-color: #00A2AA !important;
    color: #FFFFFF !important;
    text-shadow: none !important;
}

input[type="submit"]:hover:enabled, input[type="submit"]:focus, input[type="button"]:hover:enabled, input[type="button"]:focus, input[type="reset"]:hover:enabled, input[type="reset"]:focus, button:hover:enabled, button:focus{
    color: #FFFFFF !important;
}

button.approve, input.approve{
    background-color: #008302 !important;
    background-image: none !important;
    border-color: #008302 #008302 #008302 #008302 !important;
    text-shadow: none !important;
    color: #FFFFFF;
}

button.approve:hover:enabled, input.approve:hover:enabled{
    background-color: #009033 !important;
    background-image: none !important;
    border-color: #009033 #009033 #009033 #009033 !important;
    text-shadow: none !important;
}

.layerselector2-layer-filter{
    display: none;
}

.logoplugin .icon{
    background-image: url('../images/hsy-logo_50px.png') !important;
    height: 26px !important;
    width: 50px !important;
    background-color: #FFFFFF !important;
}

table td {
  text-align: left;
  vertical-align: top; }

table {
  border-top-width: 0px; }
