#contentMap.oskari-map-window-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  margin: 0 !important; }

.oskariui-left {
  float: left;
}

.oskariui-center {
  float: left;
}