// TODO:
// - dynamic field widths?
$dialogWidth: 820px;
$dialogWidthPros: 94%;
$dialogDataHeight: 320px;
$maxHeight: 230px;

div.elf_license_dialog {
	div.content {
		overflow: hidden;
	}
	width: $dialogWidth !important;
	
	div.help {
		position: absolute;
		bottom: 70px;
		left: 10px;
		width: $dialogWidthPros;
	}

	input.elf_license_previous_button {
		display: none;
		float: left;
	}

	input.elf_license_next_button {
		display: none;
		float:right;
	}

	input.elf_license_deactivate_button {
		float: right;
	}

	div.elf_license_dialog_name {
		font-size: 16px;
		font-weight: bold;
	}

	div.elf_license_dialog_license_data {
		height: $dialogDataHeight;

		div.elf_license_dialog_description {
			margin-top: 6px;
		}

		div.elf_license_dialog_descriptions_title {
			margin-top:10px;
		}

		ul.elf_license_dialog_descriptions {
			padding-left:20px;
			margin: 0;
			li.description {				
				margin: 4px 0;
				list-style-type: square;
				list-style-position: outside;
				width:90%;
			}
		}

		div.elf_license_dialog_licensemodels {
			max-height: $maxHeight;
			overflow: auto;
			width: $dialogWidthPros;

			div.text {
				overflow: hidden;
			}

			div.elf_license_model 
			{
				cursor: pointer;

				div.elf_license_model_headers {
					background-color: #f3f3f3;
					margin: 6px;
					outline: 1px solid #c0d0d0;
					overflow: hidden;
					padding: 10px;

					div.elf_license_model_arrow {
						float: left;
					}

					div.elf_license_model_description {
						margin-left: 12px;
						margin-top: 4px;
						font-size: 13px;
					}
				}
			}
		}

		div.elf_license_dialog_licensemodels_title {
			margin-top:12px;
		}
	}
}

.elf_license_dialog_license_details.large {
	height: 410px;
}

.elf_license_dialog_license_details {
	display: none;
	overflow: none;
	width: $dialogWidthPros;
	height: $dialogDataHeight;

	.license_user_data {
		overflow: auto;
		width: 100%;
		max-height: $maxHeight;
	}

	.license_user_data  {
		.elf_license_user_data_table {
			.elf_license_user_data_label {
				font-size: 12px;
				color: #000000;
				font-weight: bold;
				padding: 4px;
				width: 40%;
			}

			.elf_license_user_data {
				padding: 4px;
			}
		}
	}

	.validto_summary {
		font-weight: bold;
		margin-top: 4px;
		padding-top: 4px;
		width: 100%;
		.validto {
			margin-left: 4px;
			float: none;
		}
	}

	.license_id {
		font-weight: bold;
		margin-top: 4px;
		padding-top: 4px;
		width: 100%;
	}

	.service_url {
		font-weight: bold;
		margin-top: 4px;
		padding-top: 4px;
		width: 100%;
	}
}

.elf_license_dialog_license_price {
	display: none;
	overflow: none;
	width: $dialogWidthPros;
	height: $dialogDataHeight;

	.license_user_data {
		overflow: auto;
		width: 100%;
		max-height: 190px;
	}

	.license_user_data  {
		.elf_license_user_data_table 
		{
			.elf_license_user_data_label {
				font-size: 12px;
				color: #000000;
				font-weight: bold;
				padding: 4px;
				width: 40%;
			}

			.elf_license_user_data {
				padding: 4px;

				.elf_license_input {
					.license_enum_list {
						list-style-type: none;
						margin-left: 0;
						padding-lefT: 0;
					}
				}
			}
		}
	}

	.price_summary {
		border-top: 1px solid #000;
		font-weight: bold;
		margin-top: 10px;
		padding-top: 4px;
		text-align: right;
		width: 100%;
		.price {
			margin-left: 4px;
			float: none;
		}
	}

	.clear {
		clear: both;
	}

	.license_basic_data {
		.header {
			margin-top: 14px;
			margin-bottom: 14px;
			font-weight: bold;
		}

		.elf_name {
			margin-top: 6px;
			margin-bottom: 6px;
		}
	}
}

.elf_license_success_message {
	width: 600px;

	.headtitle {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
		padding-top: 6px;
	}

	table tr td div.title {
		font-weight: bold;
	}

	table tr td:first-child {
		width:20%;
	}
}

.elf_license_required {
  color: #ff0000;
}

.elf_license_missing_valuelist {
  padding-left: 10px;
}