div.search {

    .info {
        padding-left: 5px;
    }

    div.controls div.oskarifield {
        display : inline-block;
    }

    div.searchDescription {
        margin: 0;
        margin-bottom: 8px;
    }

    div.searchContainer {
        height: 90%;
    }

    div.resultList {
        height: 90%;
        overflow: auto;
        padding: 0;
        margin : 5px;
        border: 1px solid #DDDDDD;

        h3 {
            margin: 0 6px;
            padding-bottom: 0;
        }

    }

    table.search_result {
        margin-bottom: 0;

        th { 
            text-align: left; 
        }

    }

}