.mapplugin.coordinates {
    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    text-align: left;
    width: 100px;
    padding: 5px 10px 0 10px;

    > div > div {
        display: inline-block;
        padding-bottom: 5px;

        &:last-child {
            float: right;
        }

    }

}