/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.mapplugin.coordinates {
    background: #fafafa;
    border: 1px solid #e6e6e6;
    @include border-radius(2px);
    box-sizing: border-box;
    font-size: 11px;
    line-height: 15px;
    padding: 2px 5px 0;
    text-align: left;

    > div > div {
        display: inline-block;
        padding-bottom: 2px;

        &:last-child {
            float: right;
        }

    }

}