/* Accordion */
div.accordion {

    div.accordionmsg {
        padding : 10px;
    }

    div.accordion_panel {
        background-color : #F3F3F3;
        border: 1px solid #C0D0D0;
        clear: both;
        overflow: hidden;
        margin : 0;
        padding : 0;

        &.open {
            background-color : #FAFAFA;
        }

        div.content {
            padding : 5px;
        }

        div.header {
            font-size : 16px;
            line-height: 19px;

            div.headerIcon {
                display : inline-block;
                margin-left: 12px;
                vertical-align: middle;
            }

            div.headerText {
                display : inline-block;
                font-weight: bold;
                padding: 8px 10px 8px 12px;
            }

        }

    }

}