th {

    &.asc {
        background-image: url('/Oskari/resources/framework/bundle/divmanazer/images/asc_arrow.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

    &.desc {
        background-image: url('/Oskari/resources/framework/bundle/divmanazer/images/desc_arrow.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

}

div.column-selector-placeholder {
    border-style: none;
    float: left;
    opacity: 1.0;
    margin: 0;
    padding: 0;
    right: 0;
    width: 25px;
    height: 7px;
    max-width: 25px;
    max-height: 7px;
}

div.icon-menu {
    position: absolute;
    opacity: 1.0;
    margin: 0;
    cursor: pointer;
    padding: 0;
    width: 25px;
    height: 8px;
    max-width: 25px;
    max-height: 7px;
}

div.column-selector {
    position: absolute;
    visibility: hidden;
    background-color: white;
    margin-top: 7px;
    margin-right: 50px;
    padding: 0;
    border: 1px solid;
    z-index: 10001;

    div.close-selector-button {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 5px;
        right: 5px;


        ul.column-selector-list {
            list-style-type: none;
            padding-right: 30px;
        }

        label.column-label {
            padding-left: 5px;
        }
    }
}

table.oskari-grid {

    td {
        padding: 5px;
    }

    td, th {
        min-height: 28px;
        max-width: 110px;
        overflow: hidden;
        font-size : 12px;
        border: 1px solid #E6E6E6;
        color: #3C3C3C;
        text-overflow: ellipsis;
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        background-color: #F3F3F3;
        font-weight: bold;

        a {
            color: #3C3C3C;
            line-height: 28px;
            padding: 5px;
        }
    }

    > tr > th, > tbody > tr > th {
        text-align: left;
    }

    tr:last-child td {
        border: 1px solid #E6E6E6;
    }

}
