@use 'sass:string';

div.oskarioverlay {
    position : absolute;
    background-color : black;
    z-index: 100000;
}
.transparent {
	zoom: 1;
	filter: string.unquote("alpha(opacity=50)");
	opacity: 0.5;
}
