div.oskarioverlay {
    position : absolute;
    background-color : black;
    z-index: 17000;
}
.transparent {
	zoom: 1;
	filter: unquote("alpha(opacity=50)");  /* unquote for libsass bug */
	opacity: 0.5;
}
