/* Mixins */
/* Override popup styles */
div.divmanazerpopup.startupinfo.arrow:after, div.divmanazerpopup.startupinfo.arrow:before {
  display: none; }

div.divmanazerpopup.startupinfo.bluetitle h3 {
  /* Same as h3.inverted? */
  color: #fff;
  font-weight: normal;
  background-color: #1995fd;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  div.divmanazerpopup.startupinfo.bluetitle h3 span {
    float: right;
    padding-top: 3px; }

div.divmanazerpopup.startupinfo.draggable {
  cursor: move; }

div.divmanazerpopup.startupinfo .actions input {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  border: solid 1px #2670b5;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.35);
  background: #3996ed;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a97ee), to(#217ad4));
  background: -moz-linear-gradient(top, #3a97ee, #217ad4);
  background: -ms-linear-gradient(top, #3a97ee, #217ad4);
  /* For some reason sass didn't like this in one line... */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a97ee', endColorstr='#217ad4');
  background: linear-gradient(top, #3a97ee, #217ad4); }
  div.divmanazerpopup.startupinfo .actions input:hover {
    text-decoration: none;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a97ee), to(#217ad4));
    background: -moz-linear-gradient(top, #3a97ee, #217ad4);
    background: -ms-linear-gradient(top, #3a97ee, #217ad4);
    /* For some reason sass didn't like this in one line... */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a97ee', endColorstr='#217ad4');
    background: linear-gradient(top, #3a97ee, #217ad4); }
  div.divmanazerpopup.startupinfo .actions input:active {
    position: relative;
    top: 1px;
    color: #19456d;
    text-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a97ee), to(#217ad4));
    background: -moz-linear-gradient(top, #3a97ee, #217ad4);
    background: -ms-linear-gradient(top, #3a97ee, #217ad4);
    /* For some reason sass didn't like this in one line... */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a97ee', endColorstr='#217ad4');
    background: linear-gradient(top, #3a97ee, #217ad4); }
