div.mapplugin.indexmap {
  text-align: left; }
  div.mapplugin.indexmap .olControlOverviewMapElement {
    /* Hide by default, control's maximize: false doesn't seem to do anything */
    display: none;
    background-color: #FFFFFF;
    border-color: #D0D0D0;
    border-left-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    padding: 5px;
    margin-left: 46px;
    margin-right: 0;
    margin-bottom: -46px; }
  div.mapplugin.indexmap .indexmapToggle {
    width: 46px !important;
    height: 46px !important;
    cursor: default;
    background: url("../images/component-indexmap.png") 0px 0px !important;
    display: inline-block;
    position: relative; }
    div.mapplugin.indexmap .indexmapToggle:hover {
      background: url("../images/component-indexmap_hover.png") !important; }

.right div.mapplugin.indexmap {
  text-align: right; }
  .right div.mapplugin.indexmap .olControlOverviewMapElement {
    margin-left: 0;
    margin-right: 46px; }

.olControlOverviewMapContainer .olControlOverviewMapElement {
  padding: 5px !important;
  background-color: #FFFFFF !important;
  border-color: #D0D0D0 !important;
  border-style: solid;
  border-left-width: 2px;
  border-top-width: 2px; }

.olControlOverviewMapContainer #OpenLayers_Control_minimizeDiv {
  position: absolute !important;
  width: 46px !important;
  height: 46px !important;
  right: 0px;
  bottom: 0px;
  cursor: default;
  background: url("../images/component-indexmap_hover.png") !important; }

.olControlOverviewMapExtentRectangle {
  border: 2px dashed #f47729 !important; }
