div.pzbDiv div.pzbDiv-plus {
  background-image: url("../images/zoombar_plus_patched.png");
  cursor: pointer;
  cursor: zoom-in;
  width: 18px;
  height: 34px; }
div.pzbDiv div.pzbDiv-minus {
  background-image: url("../images/zoombar_minus-patched.png");
  cursor: pointer;
  cursor: zoom-out;
  width: 18px;
  height: 23px; }
div.pzbDiv div.ui-slider-vertical {
  cursor: pointer; }
  div.pzbDiv div.ui-slider-vertical .ui-slider-handle {
    cursor: ns-resize; }

div.mapplugin.zoombar {
  background: none repeat scroll 0 0 transparent;
  cursor: pointer;
  width: 18px;
  opacity: 0.9; }
