.mapplugins.left .tools {
  float: left; }
  .mapplugins.left .tools .icon {
    float: left; }
  .mapplugins.left .tools .publishedToolbarContainer {
    left: 10px; }
    .mapplugins.left .tools .publishedToolbarContainer .tools-top-arrow {
      float: left;
      margin-left: 7.5px; }

.mapplugins.right .tools {
  float: right; }
  .mapplugins.right .tools .icon {
    float: right; }
  .mapplugins.right .tools .publishedToolbarContainer {
    right: 10px; }
    .mapplugins.right .tools .publishedToolbarContainer .tools-top-arrow {
      float: right;
      margin-right: 7.5px; }

.oskariui-toolbar-container .oskariui-toolbarbuttongroup .toolrow {
  border-top: none;
  padding: 0px;}

.divmanazerpopup.toolbar-popup.bottom {
  background-color: #e6e6e6;
  min-width: 50px; }

  .divmanazerpopup.toolbar-popup.bottom.mobile {
    border: 2px solid silver;
    border-radius: 0px; }
  
  .divmanazerpopup.toolbar-popup.bottom .popup-body .content{
  margin: 0px; }

