<div class="add-layer-wrapper">

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-layertype" class="add-layer-label" title="<%= instance.getLocalization('admin').layerTypeDesc %>"><%= instance.getLocalization('admin').layerType %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="add-layer-text"><%= instance.getLocalization('admin').layertypes[model.getLayerType()] %></div>
            <input type="hidden" id="add-layer-layertype" value="<%= model.getLayerType() %>layer" />
        </div>
    </div>
<% if(header) { %>
    <%= header({
        capabilities: capabilities,
        capabilitiesTemplate: capabilitiesTemplate,
        model: model,
        instance: instance,
        isSubLayer: isSubLayer }) %>
    <% } %>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-username" class="add-layer-label"
                   title="<%= instance.getLocalization('admin').username %>"><%=instance.getLocalization('admin').username %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-username" class="add-layer-input long"
                       placeholder="<%= instance.getLocalization('admin').username %>"
                       value="<%= model.getUsername() %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-password" class="add-layer-label" title="<%= instance.getLocalization('admin').password %>"><%= instance.getLocalization('admin').password %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <!--
                    Chrome autofill workaround: http://stackoverflow.com/questions/15738259/disabling-chrome-autofill
                    tested with chrome v. 51.0.2704.103 m
                -->
                <input type="password" id="add-layer-password" class="add-layer-input long"
                       placeholder="<%= instance.getLocalization('admin').password %>"
                       value="<%= model.getPassword() %>" autocomplete="new-password" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <%
        var layerType = model.getLayerType();
        if (layerType === "wms" || layerType === "wmts") {
    %>

        <div class="add-layer-record">
            <div class="add-layer-label-area">
                <label for="add-layer-attributes" class="add-layer-label"
                       title="<%= instance.getLocalization('admin').attributes %>"><%=instance.getLocalization('admin').attributes %></label>
            </div>
            <div class="add-layer-input-area">
                <div class="input-controls">
                    <%
                        var attributes = _.isEmpty(model.getAttributes()) ? "" : JSON.stringify(model.getAttributes());
                    %>
                    <textarea rows="3" cols="50" id="add-layer-attributes" class="add-layer-input long"><%=attributes%></textarea>
                </div>
            </div>
        </div>

        <div class="add-layer-record">
            <div class="add-layer-label-area">
                <label for="add-layer-selectedtime" class="add-layer-label"
                       title="<%= instance.getLocalization('admin').selectedTime %>"><%=instance.getLocalization('admin').selectedTime %></label>
            <% if(!_.isEmpty(model.getCapabilities())) { %>
               <div class="layer-capabilities icon-info"></div>
            <% } %>
            </div>
            <div class="add-layer-input-area">
                <div class="input-controls">
                    <input type="text" id="add-layer-selectedtime" class="add-layer-input long"
                       placeholder="<%= instance.getLocalization('admin').selectedTime %>"
                       value="<%= model.getParams().time %>" />
                    <div class="icon-close"></div>
                </div>
            </div>
        </div>
    <% } %>
    <%
        // Names are not necessary for sublayers, BUT we need to show something as the name for admins (!isSubLayer &&)
        if ( model.getNameLanguages) { %>
        <div class="add-layer-grouping" title="<%= instance.getLocalization('admin').layerNameAndDesc %>"><%= instance.getLocalization('admin').layerNameAndDesc %></div>

        <%
        var names = model.getNameLanguages();
        var loc = Oskari.getLocalization('DivManazer').LanguageSelect.languages;
        for (var i = 0; i < names.length; i++) {
            var lang = names[i]; %>
            <div class="add-layer-record">
                <div class="add-layer-label-area">
                    <label for="add-layer-<%= lang %>-name" class="add-layer-label" title="<%= (loc[lang] || lang) + ':' %>"><%= (loc[lang] || lang) + ':' %></label>
                </div>
                <div class="add-layer-input-area">
                    <div class="input-controls">
                        <input type="text" id="add-layer-<%= lang %>-name" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].placeholder : instance.getLocalization('admin')['generic'].placeholder.replace('{0}', (loc[lang] || lang)) %>" value="<%= model.getName(lang) %>"  />
                        <div class="icon-close"></div>
                    </div>
                    <div class="input-controls">
                        <input type="text" id="add-layer-<%= lang %>-title" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin')[lang] ? instance.getLocalization('admin')[lang].descplaceholder : instance.getLocalization('admin')['generic'].descplaceholder.replace('{0}', (loc[lang] || lang)) %>" value="<%= model.getDescription(lang) %>" />
                        <div class="icon-close"></div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <div class="add-layer-grouping" title="<%= instance.getLocalization('admin').layerProps %>"><%= instance.getLocalization('admin').layerProps %></div>

    <% if(model.getId()) { %> <!-- show only for existing layers, not new ones being created -->
        <div class="add-layer-record">
            <div class="add-layer-label-area">
                <label class="add-layer-label" title="<%= instance.getLocalization('admin').supportedSRS %>"><%= instance.getLocalization('admin').supportedSRS %></label>
            </div>
            <div class="add-layer-input-area">
                <div class="input-controls">
                    <%
                    var srsList = model.getSrsList();
                    for(var i = 0; srsList && i < srsList.length; i++) { %>
                        <span><%= srsList[i] %></span>
                        <% if(i < srsList.length-1) { %>, <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <%
            var missingProjections = model.getMissingProjections();
            if(missingProjections.length) {
        %>
        <div class="add-layer-record">
            <div class="add-layer-label-area">
                <label class="add-layer-label" title="<%= instance.getLocalization('admin').missingSRS %>"><%= instance.getLocalization('admin').missingSRS %></label>
                <div class="layer-missing-projection icon-info" title="<%= instance.getLocalization('admin').missingInfo %>"></div>
            </div>
            <div class="add-layer-input-area">
                <div class="input-controls">
                    <% for(var i = 0; i < missingProjections.length; i++) { %>
                        <span><%= missingProjections[i] %></span>
                        <% if(i < missingProjections.length-1) { %>, <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    <% } %>

    <% var forcedSRS = model.getAttributes().forcedSRS || []; %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label class="add-layer-label" title="<%= instance.getLocalization('admin').forcedSRS %>"><%= instance.getLocalization('admin').forcedSRS %></label>
            <div class="layer-missing-projection icon-info" title="<%= instance.getLocalization('admin').forcedSRSInfo %>"></div>
        </div>
        <div class="add-layer-input-area add-layer-forced-proj-area">
            <div class="input-controls">
                <span class="add-layer-forced-proj-chits">
                    <% for(var i = 0; i < forcedSRS.length; i++) { %>
                        <span class="add-layer-forced-proj" data-proj="<%= forcedSRS[i] %>"><%= forcedSRS[i] %><span class="icon-close"></span></span>
                    <% } %>
                </span>
                <span class="add-layer-forced-proj-inputgroup">
                    <input class="add-layer-forced-proj-input add-layer-input" type="text"/>
                    <button class="add-layer-forced-proj-add"><%= instance.getLocalization('admin').forcedSRSAdd %></button>
                </span>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-datauuid" class="add-layer-label" title="<%= instance.getLocalization('admin').metaInfoIdDesc %>"><%= instance.getLocalization('admin').metaInfoId %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-datauuid" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').metaInfoIdDesc %>" value="<%= model.getMetadataIdentifier() %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record add-layer-separation">
        <div class="add-layer-label-area">
            <label for="add-layer-layerName" class="add-layer-label" title="<%= instance.getLocalization('admin').wmsName %>"><%= instance.getLocalization('admin').wmsName %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-layerName" required class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').wmsName %>" value="<%= model.getLayerName() %>" />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="select-dataprovider" class="add-layer-label"  title="<%= instance.locale('admin.addDataproviderDesc') %>"><%= instance.locale('admin.addDataprovider') %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
            <select id="select-dataprovider" class="add-layer-input mid">
                <% for(var i = 0; dataProviders != null && i < dataProviders.length; i++) { %>
                <option value="<%= dataProviders[i].id %>" <% if(model.getOrganizationName() === dataProviders[i].name || dataProviderId == dataProviders[i].id) { %>selected<% } %> ><%= dataProviders[i].name %></option>
                <% } %>
            </select>
            </div>
            <button id="add-dataprovider-button" class="add-dataprovider-button"><%= instance.locale('admin.addDataproviderButton') %></button>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label class="add-layer-label"><%= instance.locale('admin.maplayerGroups') %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <div class="admin-maplayer-groups-list">
                    <% for(var i = 0; maplayerGroups != null && i < maplayerGroups.length; i++) { %>
                       <div class="admin-maplayer-group" data-group-id="<%= maplayerGroups[i].id %>"><%= maplayerGroups[i].name %></div>
                    <% } %>

                </div>
            </div>
            <button id="select-maplayer-groups-button" class="select-maplayer-groups-button"><%= instance.locale('admin.selectMaplayerGroupsButton') %></button>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="opacity-slider" class="add-layer-label" title="<%= instance.getLocalization('admin').opacityDesc %>"><%= instance.getLocalization('admin').opacity %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <div class="left-tools opacity-slider-tool">
                    <div class="oskariui admin-opacity-slider layer-opacity">
                        <div class="layout-slider"></div>
                    </div>
                    <div class="opacity-slider" style="display:inline-block">
                        <input type="text" name="opacity-slider" class="opacity-slider opacity" id="opacity-slider" value="<%= model.getOpacity() %>" style="width: 30px;padding: 2px;">%
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-style" class="add-layer-label" title="<%= instance.getLocalization('admin').styleDesc %>"><%= instance.getLocalization('admin').style %></label>
        </div>
        <div class="add-layer-input-area">
            <select id="add-layer-style" class="admin-layer-style">
                 <% for(var i = 0; i < model.getStyles().length; i++) { %>
                <option value="<%= model.getStyles()[i].getName() %>"
                    <% if(model.getCurrentStyle().getName() === model.getStyles()[i].getName() ) {
                         %>selected<%
                     } %>
                     ><%= model.getStyles()[i].getTitle() %></option>
                <% } %>
            </select>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-minscale" class="add-layer-label" title="<%= instance.getLocalization('admin').minScaleDesc %>"><%= instance.getLocalization('admin').minScale %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-minscale" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').minScalePlaceholder %>" value="<%= model.getMinScale() %>" required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-maxscale" class="add-layer-label" title="<%= instance.getLocalization('admin').maxScaleDesc %>"><%= instance.getLocalization('admin').maxScale %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-maxscale" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').maxScalePlaceholder %>" value="<%= model.getMaxScale() %>" required />
                <div class="icon-close"></div>
            </div>
        </div>
    </div>

    <% if(model.getStyles().length < 1 || model.getStyles().length !== model.getStyleLegendUrls().length ) { %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-legendImage" class="add-layer-label" title="<%= instance.getLocalization('admin').legendImageDesc %>"><%= instance.getLocalization('admin').legendImage %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <textarea rows="3" cols="50" id="add-layer-legendImage" class="add-layer-input long" placeholder="<%= instance.getLocalization('admin').legendImagePlaceholder %>"><% if(model) { %><%= model.getLegendUrl() %><% } %></textarea>
            </div>
        </div>
    </div>
    <% } %>

    <% if(model.getStyles().length > 1 && model.getStyles().length !== model.getStyleLegendUrls().length ) { %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-style" class="add-layer-label" title="<%= instance.getLocalization('admin').legendUrlDesc %>"><%= instance.getLocalization('admin').legendUrl %></label>
        </div>
        <div class="add-layer-input-area">
            <select id="add-layer-legendUrl" class="admin-layer-legendUrl">
                <% for(var i = 0; i < model.getStyles().length; i++) { %>
                  <% if(model.getStyleLegendUrl(model.getStyles()[i].getName()) !== '') { %>
                   <option value="<%= model.getStyleLegendUrl(model.getStyles()[i].getName()) %>"
                   ><%= model.getStyles()[i].getTitle() %></option>
                  <% } %>
                <% } %>
                <option value="" selected><%= instance.getLocalization('admin').noServiceLegendUrl %></option>
            </select>
        </div>
    </div>
    <% } %>

<% if(footer) { %>
<%= footer({
    model: model,
    instance: instance,
    isSubLayer: isSubLayer }) %>
<% } %>


    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-gfi-content" class="add-layer-label" title="<%= instance.getLocalization('admin').gfiContent %>"><%= instance.getLocalization('admin').gfiContent %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <textarea rows="3" cols="50" id="add-layer-gfi-content" class="add-layer-input long"><%= model.getGfiContent() %></textarea>
            </div>
        </div>
    </div>

    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label class="add-class-label" title="<%= instance.getLocalization('admin').realtime %>" ><%= instance.getLocalization('admin').realtime %>
            </label>
        </div>
        <div class="add-class-input-area">
            <div class="input-controls">
                <label for="add-layer-realtime"><%= instance.getLocalization('admin').realtime %></label>
                <input
                    type="checkbox"
                    id="add-layer-realtime"
                    class="add-class-input"
                    placeholder="placeholder"
                    <% if (model.isRealtime()) { %>checked<% } %>
                />
            </div>
            <div class="input-controls">
                <label for="add-layer-refreshrate"></label>
                <input
                    type="text"
                    id="add-layer-refreshrate"
                    class="add-layer-input long"
                    placeholder="<%= instance.getLocalization('admin').refreshRate %>"
                    <% if (model.getRefreshRate()) { %>value="<%= model.getRefreshRate() %>"<% } %>
                />
            </div>
        </div>
    </div>
    
    <% if(!model.getId() && !isSubLayer) { %>
    <!-- roles - only for new layers (not sublayers) -->
    <div class="add-class-record">
        <div class="add-class-label-area">
            <label for="add-layer-view-roles" class="add-class-label" title="<%= instance.getLocalization('admin').roles_for_admin %>"><%= instance.getLocalization('admin').viewingRightsRoles %></label>
        </div>
        <div class="add-class-input-area adjacent">

             <table>
                 <tr>
                    <% for(var i = 0; i < roles.length; i++) { %>
                        <th style="text-align:left;"><%= roles[i].name %></th>
                    <% } %>
                    <th></th>
                 </tr>
                 <tr>
                    <% for(var i = 0; i < roles.length; i++) { %>
                        <td><input type="checkbox" id="layer-publish-roles-<%= roles[i].id %>"  class="add-class-input" placeholder="placeholder"  <%= roles[i].name === 'Admin' ? 'checked="checked"' : '' %> value="<%= roles[i].id %>" /></td>
                    <% } %>
                    <td>Publish</td>
                 </tr>
                 <tr>
                    <% for(var i = 0; i < roles.length; i++) { %>
                        <td><input type="checkbox" id="layer-view-roles-<%= roles[i].id %>"  class="add-class-input" placeholder="placeholder"  <%= roles[i].name === 'Admin' ? 'checked="checked"' : '' %>  value="<%= roles[i].id %>" /></td>
                    <% } %>
                    <td>View</td>
                 </tr>
                 <tr>
                    <% for(var i = 0; i < roles.length; i++) { %>
                        <td><input type="checkbox" id="layer-download-roles-<%= roles[i].id %>"  class="add-class-input" placeholder="placeholder"  <%= roles[i].name === 'Admin' ? 'checked="checked"' : '' %>  value="<%= roles[i].id %>" /></td>
                    <% } %>
                    <td>Download</td>
                 </tr>
                 <tr>
                    <% for(var i = 0; i < roles.length; i++) { %>
                        <td><input type="checkbox" id="layer-embedded-roles-<%= roles[i].id %>"  class="add-class-input" placeholder="placeholder"  <%= roles[i].name === 'Admin' ? 'checked="checked"' : '' %>  value="<%= roles[i].id %>" /></td>
                    <% } %>
                    <td>Embedded</td>
                 </tr>

             </table>
        </div>



    </div>
    <% } %>

    <div class="add-layer-send">
        <div class="add-layer-button-area">
            <div class="input-controls">
                <% if(!model.getId()) { %>
                    <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-ok' : 'admin-add-layer-ok' %>"
                        title="<%= instance.getLocalization('admin').addNewLayer %>" ><%= instance.getLocalization('add') %></button>
                <% } else { %>
                    <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-ok' : 'admin-add-layer-ok' %>"><%= instance.getLocalization('save') %></button>
                    <button class="add-layer-btn <%= isSubLayer ? 'admin-remove-sublayer' : 'admin-remove-layer' %>"
                        title="<%= instance.getLocalization('delete') %>"><%= instance.getLocalization('delete') %></button>
                <% } %>
                <button class="add-layer-btn <%= isSubLayer ? 'admin-add-sublayer-cancel' : 'admin-add-layer-cancel' %>"
                    title="<%= instance.getLocalization('cancel') %>"><%= instance.getLocalization('cancel') %></button>
            </div>
        </div>
    </div>

    <br style="clear: both;" />
</div>
