.backendstatus-down {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
}

.backendstatus-maintenance {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -46px 0px !important;
}

.backendstatus-maintenance-pending {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -92px 0px !important;
}

.backendstatus-ok {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -138px 0px !important;
}

.backendstatus-unknown {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -184px 0px !important;
}

.component-indexmap {
    width: 46px;
    height: 46px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -230px 0px !important;
}

.component-indexmap:hover {
    width: 46px;
    height: 46px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -230px -46px !important;
}

.component-tab-bg {
    width: 1px;
    height: 26px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -276px 0px !important;
}

.icon-arrow-down {
    width: 13px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -322px 0px !important;
}

.icon-arrow-right {
    width: 13px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -368px 0px !important;
}

.icon-arrow-white-down {
    width: 13px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -414px 0px !important;
}

.icon-arrow-white-right {
    width: 13px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -460px 0px !important;
}

.icon-bubble-left {
    width: 20px;
    height: 15px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -506px 0px !important;
}

.icon-bubble-right {
    width: 23px;
    height: 21px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -552px 0px !important;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -598px 0px !important;
}

.icon-close:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -598px -46px !important;
}

.icon-close-white {
    width: 20px;
    height: 20px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -644px 0px !important;
}

.icon-drag {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -690px 0px !important;
}

.icon-drag:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -690px -46px !important;
}

.icon-drag-corner {
    width: 23px;
    height: 23px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -736px 0px !important;
}

.icon-drag-corner:hover {
    width: 23px;
    height: 23px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -736px -46px !important;
}

.icon-info {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -782px 0px !important;
}

.icon-info:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -782px -46px !important;
}

.icon-maximize {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -828px 0px !important;
}

.icon-maximize:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -828px -46px !important;
}

.icon-menu {
    width: 25px;
    height: 7px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -874px 0px !important;
}

.icon-minimize {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -920px 0px !important;
}

.icon-minimize:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -920px -46px !important;
}

.icon-private {
    width: 18px;
    height: 18px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -966px 0px !important;
}

.icon-public {
    width: 18px;
    height: 18px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1012px 0px !important;
}

.icon-restore {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1058px 0px !important;
}

.icon-restore:hover {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1058px -46px !important;
}

.icon-select-geometry {
    width: 23px;
    height: 23px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1104px 0px !important;
}

.layer-base {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1150px 0px !important;
}

.layer-gfi-1 {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1196px 0px !important;
}

.layer-gfi-2 {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1242px 0px !important;
}

.layer-group {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1288px 0px !important;
}

.layer-stats {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1288px 0px !important;
}

.layer-vector {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1334px 0px !important;
}

.layer-wfs {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1380px 0px !important;
}

.layer-wms {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1426px 0px !important;
}

.layer-wmts {
    width: 16px;
    height: 16px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1472px 0px !important;
}

.marker {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1518px 0px !important;
}

.myplaces-area {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1564px 0px !important;
}

.myplaces-draw-area {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1610px 0px !important;
}

.myplaces-draw-line {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1656px 0px !important;
}

.myplaces-draw-point {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1702px 0px !important;
}

.myplaces-line {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1748px 0px !important;
}

.myplaces-point {
    width: 28px;
    height: 28px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1794px 0px !important;
}

.tool-draw-cut {
    width: 35px;
    height: 36px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1840px 0px !important;
}

.tool-history-back {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1886px 0px !important;
}

.tool-history-forward {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1932px 0px !important;
}

.tool-link {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1978px 0px !important;
}

.tool-measure-area {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2024px 0px !important;
}

.tool-measure-line {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2070px 0px !important;
}

.tool-pan {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2116px 0px !important;
}

.tool-print {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2162px 0px !important;
}

.tool-reset {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2208px 0px !important;
}

.tool-save-view {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2254px 0px !important;
}

.tool-zoombox {
    width: 32px;
    height: 32px;
    background-image: url('icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2300px 0px !important;
}

