
div.notLoggedIn {
	padding: 10px;
}

div.printout {
    
}

#contentMap.mapPublishMode {
    margin-left: 255px;
}
div.printout div.startview div.icon-info, div.basic_printout div.icon-info {
	float : right;
}

div.printout div.startview div.layerlist {
	border : 1px solid;
	padding : 10px;
}
div.printout div.startview div.layerlist h4 {
	font-size : 14px;
	line-height: 15px;
    padding-bottom: 5px;
}
div.printout div.startview ul {
    list-style: disc inside none;
    padding : 5px;
}
div.printout div.startview div.error ul li {
	color : red;
}

#contentMap div.basic_printout {
	background : white;
	position : absolute;
    height: 100%;
    top : 0;
    left : 40px;
    /* sidebar has 3, we want to open it on top of this */
    z-index : 2;
    width : 255px;
}
#contentMap div.basic_printout div.content {
    padding : 10px;
}

div.basic_printout > div.header {
    background-color: #FDF8D9;
    padding: 5px 10px;
}
div.basic_printout > div.header div.icon-close {
    float: right;
}

div.basic_printout div.customsize input {
    width: 40px;
}
div.basic_printout div.customsize input.error {
    border: 1px solid red;
}
div.basic_printout div.form div.field input, div.field select {
    width : 100%;
}

div.basic_printout > div.content {
    overflow: auto;
	height: 89%;
}

div.basic_printout div.tool {
	margin: 5px;
}

div.basic_printout div.tool input {
    margin-right: 10px;
}

/* Buttons */
div.basic_printout div.buttons, div.printout div.startview div.buttons {
	margin : 10px;
    text-align : center;
}

div.basic_printout div.buttons input, div.printout div.startview div.buttons input {
    margin-left: 10px;
    margin-right: 10px;
}