/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header-columns {
  background: url('Oskari/libraries/slickgrid/css/images/header-columns-bg.gif') repeat-x center bottom;
  border-bottom: 1px solid silver;
}

.slick-header-column {
  background: url('Oskari/libraries/slickgrid/css/images/header-columns-bg.gif') repeat-x center bottom;
  border-right: 1px solid silver;
}

.slick-header-column:hover, .slick-header-column-active {
  background: white url('Oskari/libraries/slickgrid/css/images/header-columns-over-bg.gif') repeat-x center bottom;
}

.slick-headerrow {
  background: #fafafa;
}

.slick-headerrow-column {
  background: #fafafa;
  border-bottom: 0;
  height: 100%;
}

.slick-row.ui-state-active {
  background: #F5F7D7;
}

.slick-row {
  position: absolute;
  background: white;
  border: 0px;
  line-height: 20px;
}

.slick-row.selected {
  z-index: 10;
  background: #DFE8F6;
}

.slick-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.slick-group {
  border-bottom: 2px solid silver;
}

.slick-group-toggle {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}

.slick-group-toggle.expanded {
  background: url('Oskari/libraries/slickgrid/css/images/collapse.gif') no-repeat center center;
}

.slick-group-toggle.collapsed {
  background: url('Oskari/libraries/slickgrid/css/images/expand.gif') no-repeat center center;
}

.slick-group-totals {
  color: gray;
  background: white;
}

.slick-cell.selected {
  background-color: #c0d0e0;
}

.slick-cell.active {
  border-color: gray;
  border-style: solid;
}

.slick-sortable-placeholder {
  background: silver !important;
}

.slick-row.odd {
  background: #fafafa;
}

.slick-row.ui-state-active {
  background: #F5F7D7;
}

.slick-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.slick-cell.invalid {
  border-color: red;
}