$slideHeight: 40px;
$buttonWidth: 50px;
$highlightColor: #ffde00;
$sliderBackgroundColor: #333438;
$durationLineColor: #777;
$intervalLineHighlightColor: #fff;

div.mapplugin.timeseries {
  margin:auto;
  width:82%;
  top: 0;
  left: 46px;
  z-index:100000;
  position:absolute;
  opacity: 0.9;

  div.timestep-holder {
    margin-top: 10px;
    float:left;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #333438;
    margin-left: 10px;

    select {
      width: calc(100% - 10px);
    }
  }

  div.playback-button {
    margin-top:10px;
    float:left;

    button.play {
      width: $buttonWidth;
      height: $slideHeight;
      background: $sliderBackgroundColor;
      border: none;
      margin: auto;
      cursor: pointer;

      &:after {
        content: '';
          display: inline-block;
          position: relative;
          top: 1px;
          left: 3px;
          border-style: solid;
          border-width: $buttonWidth / 5 0 $buttonWidth / 5 $buttonWidth * 2 / 5;
          border-color: transparent transparent transparent #ffde00;
      }
    }

    button.pause {
      width:$buttonWidth;
      height: $slideHeight;
      background: $sliderBackgroundColor;
      position: relative;
      display: block;
      border:none;
      cursor: pointer;
      display:none;

      &:before {
        width: $buttonWidth / 6.25;
        height: $slideHeight * 2 / 5;
        background: $highlightColor;
        position: absolute;
        content: "";
        top: $slideHeight / 3.33;
        left: $buttonWidth / 3;
      }
      &:after {
        width: $buttonWidth / 6.25;        
        height: $slideHeight * 2 / 5;
        background: $highlightColor;
        position: absolute;
        content: "";
        top: $slideHeight / 3.33;
        right: $buttonWidth / 3;
      }
    }
  }

  .oskari-timeslider {
    margin-top:10px;
    width:80%;
    height:$slideHeight;
    background-color: $sliderBackgroundColor;
    float:left;

    .interval-line-highlight {
      position:absolute;
      top:0;
      z-index:100001;
      color: $highlightColor;
      height: $slideHeight;

      .label {
        font-size: 12px;
        position: absolute;
        top: 3px;

        &.center {
          left: -24px;
        }
      }

      .line {
        width:1px;
        border-left: 1px solid $intervalLineHighlightColor;
        height:12px;
        position: absolute;
        bottom: 0;
      }
    }

    .interval-line {
      position:absolute;
      top:0;
      z-index:100000;
      height: $slideHeight;

      .label {
        font-size: 12px;
        position: absolute;
        top: 16px;
        color: $intervalLineHighlightColor;
        
        &.center {
          left: -14px;
        }
      }

      .line {
        width:1px;
        border-left: 1px solid $intervalLineHighlightColor;
        height:8px;
        position: absolute;
        bottom: 0;
      }
    }

    
  }

  .oskari-timeslider-empty {
    margin-top:10px;
    float:left;
    width:10px;
    height:$slideHeight;
  }
}

.mapplugin-timeseries-popup {
  position:absolute;
  top: $buttonWidth + 10px;
  cursor: pointer;
  z-index: 100000;
  opacity: 0.9;

  .arrow {
    border-bottom: 15px solid $sliderBackgroundColor;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      width: 0;
      height: 0;
      margin: auto;
  }

  .content {
    background-color: $sliderBackgroundColor;
    width: 80px;
    height:36px;
    color: $highlightColor;
    text-align:center;
    padding-top:7px;
    font-weight:normal;
    font-size: 12px;
    line-height: 15px;
  }

  display:none;
}