.panbuttonDiv {
  color: black;
  background: transparent;
  z-index: 15000;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 10px;
  right: 36px;
  display: block; }

.panbuttonDivImg {
  background-image: url('/Oskari/resources/framework/bundle/mapmodule-plugin/plugin/panbuttons/images/sprite.png'); }
  .panbuttonDivImg.root {
    background-position: 0px -90px; }
  .panbuttonDivImg.left {
    background-position: 0px -180px; }
  .panbuttonDivImg.right {
    background-position: 0px -270px; }
  .panbuttonDivImg.up {
    background-position: 0px -360px; }
  .panbuttonDivImg.down {
    background-position: 0px -450px; }

.panbutton_left {
  float: left; }

.panbutton_right {
  float: right; }
