div.mapplugin.search-div {
  top: 10px;
  right: 10px; }

div.search-div div.close {
  float: right; }
div.search-div div.results {
  border: 1px solid #f3f3f3;
  background: white;
  max-width: 255px;
  width: 255px;
  overflow: scroll;
  margin-top: 5px;
  padding: 4px; }
  div.search-div div.results div.header {
    background: #DDDDDD; }
  div.search-div div.results div.content table {
    width: 100%;
    text-align: center;
    border-spacing: 2px; }
    div.search-div div.results div.content table tr {
      cursor: pointer; }
div.search-div input[type=text] {
  width: 140px !important; }
div.search-div input[type=button] {
  width: 60px;
  margin-left: 3px; }

table.search-results {
  width: 100%;
  margin: 4px; }
  table.search-results td {
    text-align: left;
    padding: 2px;
    padding-left: 4px;
    padding-right: 12px; }
  table.search-results th {
    text-align: left;
    padding: 2px;
    padding-left: 4px;
    padding-right: 12px; }
  table.search-results tr.odd {
    background-color: #F3F3F3; }
