$pluginMargin: 10px;

div.olMap {
    position : relative;

    &.cursor-crosshair {
        cursor: crosshair;
    }

    /*x marking the center of the map*/
    .oskari-crosshair {
        pointer-events: none;
        right: 50%;
        bottom: 50%;
        width: 0px;
        height: 0px;
        position: absolute;
        display: block;
        z-index: 15000;
    }

    .oskari-crosshair-vertical-bar {
      left: 0px;
      top: -10px;
      height: 21px;
      border-left: 2px solid #000000;
      position: absolute;
      display: block;
    }

    .oskari-crosshair-horizontal-bar {
      left: -10px;
      top: 0px;
      width: 21px;
      border-top: 2px solid #000000;
      position: absolute;
      display: block;
    }

}

.ol-dragzoom {
  border-style: dashed;
  border-color: red;
  border-width: 3px;
  background-color: rgba(255,255,255,0.4);
}

div.mapplugins {
    pointer-events: none;
    position: absolute;
    text-align: center;

    .mappluginsContainer {
        margin: 0;
        padding: 0;

        .mappluginsContent {

            &.ui-droppable {
                background-color: rgba(255, 255, 255, 0.5);
                border: 3px dashed #666666;
                border-radius: 20px;
                min-height: 70px;
                min-width: 70px;
                padding: 15px;

                &.allowed {
                    background-color: rgba(0, 255, 0, 0.3);

                    &.ui-state-highlight {
                        background-color: rgba(127, 255, 127, 0.5);
                        border-color: #FFF;
                    }

                }

                &.disallowed {
                    background-color: rgba(255, 0, 0, 0.3);
                }

            }

            .mapplugin {
                /* Note that this must also have a position for IE11:
                 * https://coderwall.com/p/s8pjpg
                 */
                pointer-events: auto;
                position: relative;
                margin: 0 auto;
                z-index: 15000;
                /* Hackish margin fixes */

                /* Position: relative; breaks bg layer selection plugin, we need to redo its positioning */
                &.backgroundLayerSelectionPlugin {
                    position: static;
                }

                &.indexmap {
                    margin-bottom: 0;
                }

                &.logoplugin {
                    margin-top: $pluginMargin * 2;
                }

                &.scalebar {
                    margin-bottom: 0;
                }

                &.zoombar {
                    margin-top: $pluginMargin;
                    margin-bottom: $pluginMargin;
                }

            }

        }

    }

    &.top {
        height: 0;
        top: 0;

        .mappluginsContainer .mappluginsContent {
            margin-top: $pluginMargin;
        }

        &.center {
            width: 100%;

            .mappluginsContainer .mappluginsContent {
                margin-right: auto;
                margin-left: auto;
                display: inline-block;

                &.ui-droppable {
                    min-height: 120px;
                }

                .mapplugin {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 $pluginMargin / 2;

                    &.search {
                        text-align: center;
                    }

                    &.layerselection,
                    &.search {
                        float: right;
                    }

                }

            }

        }

        &.right {

            .mapplugin {

                &.layerselection {
                    margin-left: 0;
                }

                &.search {
                    text-align: right;
                }

                &.featuredataplugin,
                &.layerselection,
                &.search,
                &.tools {
                    display: block;
                    float: right;
                    margin: 0 0 0 $pluginMargin;
                }

            }

        }

        &.left {

            .mapplugin {

                &.layerselection {
                    margin-right: 0;
                }

                &.search {
                    text-align: left;
                }

                &.featuredataplugin,
                &.layerselection,
                &.search,
                &.tools {
                    display: block;
                    float: left;
                    margin: 0 $pluginMargin 0 0;
                }

            }

        }

    }

    &.bottom {
        bottom: 0;

        .mappluginsContainer .mappluginsContent {
            margin-bottom: $pluginMargin;
        }

        &.center {
            width: 100%;

            .mappluginsContainer .mappluginsContent {
                margin-right: auto;
                margin-left: auto;
                display: inline-block;

                &.ui-droppable {
                    min-height: 120px;
                }

                .mapplugin {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 $pluginMargin / 2;

                    &.layerselection,
                    &.search {
                        float: right;
                    }

                }

            }

        }

        &.right {

            .mapplugin {

                &.logoplugin {
                    clear: both;
                }

            }

        }

        &.left {

            .mapplugin {

                &.logoplugin {
                    clear: both;
                }

            }

        }

    }

    &.left {
        left: 0;

        .mappluginsContainer .mappluginsContent {
            margin-left: $pluginMargin;
            text-align: left;
        }

        &.center {
            height: 100%;
            /* Side centers aren't used ATM
            display: table;*/
            display: none !important;

            .mappluginsContainer {
                display: table-cell;
                vertical-align: middle;

                .mappluginsContent.ui-droppable {
                    min-width: 120px;
                }

            }

        }

    }

    &.right {
        right: 0;

        .mappluginsContainer .mappluginsContent {
            margin-right: $pluginMargin;
            text-align: right;
        }

        &.center {
            height: 100%;
            /* Side centers aren't used ATM
            display: table;*/
            display: none !important;

            .mappluginsContainer {
                display: table-cell;
                vertical-align: middle;

                .mappluginsContent.ui-droppable {
                    min-width: 120px;
                }

            }

        }

    }

}

/* Hackhack for published maps that don't have bglayerselectionplugin */
.published div.mapplugins .mappluginsContainer .mappluginsContent .mapplugin.logoplugin {
    margin-top: $pluginMargin;
}

/* Publisher fonts, not part of style guide */
.oskari-publisher-font-arial {
  font-family: Arial, sans-serif !important;
}

.oskari-publisher-font-georgia {
  font-family: Georgia, serif !important;
}
