.panbuttonDiv {
    color: black;
    cursor: pointer;
    background: transparent;
    z-index: 15000;
    height: 90px;
    width: 90px;
    position: absolute;
    display: block;

    map {
        area {
            outline: none;
        }
    }
}

.panbuttonDivImg {
	background-image: url('../images/sprite.png');

    &.root {
        background-position: 0px -90px;
    }

    &.left {
        background-position: 0px -180px;
    }

    &.right {
        background-position: 0px -270px;
    }

    &.up {
        background-position: 0px -360px;
    }

    &.down {
        background-position: 0px -450px;
    }

}

.panbutton_left {
	float:left;
}

.panbutton_right {
	float:right;
}
