div.mapplugin.scalebar {
    clear: both;
    direction: ltr;
    display: inline-block;
    /* 12px would be too big... */
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;

    div {
        // Add a slight brightening to the bg so the scale is visible on dark backgrounds
        background-color: rgba(255, 255, 255, 0.2);
        direction: ltr;
        // Text shadow doesn't show up on IE9, but that's OK
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35);
    }

    &.medium {
        div.olControlScaleLineTop {
            border-color: #FF0000;
        }
        div.olControlScaleLineBottom {
            border-color: #FF0000;
        }
    }

    &.large {
        div.olControlScaleLineTop {
            border-color: #00FF00;
        }
        div.olControlScaleLineBottom {
            border-color: #00FF00;
        }
    }

    &.fill {
        div.olControlScaleLineTop {
            border-color: #0000FF;
        }
        div.olControlScaleLineBottom {
            border-color: #0000FF;
        }
    }

    &.custom {
        div.olControlScaleLineTop {
            border-color: #FF00FF;
        }
        div.olControlScaleLineBottom {
            border-color: #FF00FF;
        }
    }
}

.right {

    div.mapplugin.scalebar {
        direction: rtl;
    }
}


