div.mapplugin.search {
  div.close {
    float: right;
  }

  input:disabled {
    opacity: 1;
  }

  input[type=text] {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-right: 0;
    width: 140px;
  }

  input[type=button] {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    width: 60px;
  }

  div.results {
    border: 1px solid #f3f3f3;
    background: white;
    max-width: 350px;
    max-height: 320px;
    width: auto;
    overflow: auto;
    margin-top: 5px;

    div.header {
      background: #DDDDDD;
    }

    div.content table {
      width: 100%;
      text-align: center;
      border-spacing: 2px;

      tr {
        cursor: pointer;
      }
    }
  }
}

table.search-results {
  width: 100%;
  margin: 0px;
  border: 0px;

  td, th {
      text-align: left;
      padding: 2px;
      padding-left: 4px;
      padding-right: 12px;
  }

  tr.odd {
      background-color: #F3F3F3;
  }
}

div.published-search-div {
  float: left;

  div.search-area-div {
    max-width:318px;
    display: block;
    float: right;

    div.search-left, div.search-middle, div.search-right {
      display: inline-block;
      float: left;
      height: 38px;
    }

    div.search-right {
      cursor: pointer;
    }

    input.search-input {
      background-color: transparent;
      border: none;
      box-shadow: none;
      background-image: none;
      float: left;
      padding: 5px;
      outline: none;
    }
  }

  div.published-search-results {
    width: 316px;
    max-height: 320px;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 35px;
    right: 0px;
    display: block;
    background-color: #FFFFFF;
    border: 1px solid black;

    table.search-results {
      float: left;
      width: 316px;
      margin: 0 0 10px 0;

      tbody {
        overflow: hidden;
        overflow-y: auto;
        float: left;
        display: block;
        width: 100%;
        max-height: 250px;
        min-height: 30px;
      }

      thead {
        float: left;

        tr {
          display: block;

          th {
            padding: 5px;
            background-color: #efefef;
            width: 110px;
          }

          th + th {
            width: 70px;
          }

          th + th + th {
            width: 106px;
          }
        }
      }
    }
  }

  .oskari-publisher-search-results-rounded-dark, .oskari-publisher-search-results-rounded-light {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

    div.published-search-results {
      table.search-results {
        thead {
          tr {
            th:first-child, th:first-child {
              -webkit-border-radius: 15px 0 0 0;
              -moz-border-radius: 15px 0 0 0;
              -o-border-radius: 15px 0 0 0;
              -ms-border-radius: 15px 0 0 0;
              border-radius: 15px 0 0 0;
              -webkit-background-clip: padding-box;
              -moz-background-clip: padding-box;
              background-clip: padding-box;
            }

            th:last-child, th:last-child {
              -webkit-border-radius: 0 15px 0 0;
              -moz-border-radius: 0 15px 0 0;
              -o-border-radius: 0 15px 0 0;
              -ms-border-radius: 0 15px 0 0;
              border-radius: 0 15px 0 0;
              -webkit-background-clip: padding-box;
              -moz-background-clip: padding-box;
              background-clip: padding-box;
            }
          }
        }
      }
    }
  }

  .oskari-publisher-search-results-sharp-dark, .oskari-publisher-search-results-sharp-light {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

    div.published-search-results {
      table.search-results {
        thead {
          tr {
            th:first-child, th:last-child {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -o-border-radius: 0;
              -ms-border-radius: 0;
              border-radius: 0;
              -webkit-background-clip: padding-box;
              -moz-background-clip: padding-box;
              background-clip: padding-box;
            }
          }
        }
      }
    }
  }

  .oskari-publisher-search-results-3d-dark, .oskari-publisher-search-results-3d-light {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

    div.published-search-results {
      table.search-results {
        thead {
          tr {
            th:first-child, th:first-child {
              -webkit-border-radius: 3px 0 0 0;
              -moz-border-radius: 3px 0 0 0;
              -o-border-radius: 3px 0 0 0;
              -ms-border-radius: 3px 0 0 0;
              border-radius: 3px 0 0 0;
              -webkit-background-clip: padding-box;
              -moz-background-clip: padding-box;
              background-clip: padding-box;
            }

            th:last-child, th:last-child {
              -webkit-border-radius: 0 3px 0 0;
              -moz-border-radius: 0 3px 0 0;
              -o-border-radius: 0 3px 0 0;
              -ms-border-radius: 0 3px 0 0;
              border-radius: 0 3px 0 0;
              -webkit-background-clip: padding-box;
              -moz-background-clip: padding-box;
              background-clip: padding-box;
            }
          }
        }

        tbody td {
          display: inline-block;
          overflow: hidden;
          padding: 2px 0 2px 5px;
          text-overflow: ellipsis;
          max-width: 115px;
          width: 115px;
        }

        tbody td + td {
          max-width: 75px;
          width: 75px;
        }

        tbody td + td + td {
          max-width: 95px;
          width: 95px;
        }
      }
    }
  }

  div.search-middle div.close-results {
    margin-right: 5px;
    display: inline-block;
    float: right;
    cursor: pointer;
  }
}

.right div.published-search-div {
  float: right;
}

.search-textarea-and-button .search-editmode-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mappluginsContent.ui-sortable div.mapplugin.search {
  right: 0px;
}


.mobilesearch {
  float:left;
  margin-right: 6px;

  input[type=button] {
    vertical-align: top;
  }
}

.divmanazerpopup.searchresult {
  margin-left: 0;
}


/* MOBILE */
.mobileToolbarDiv {
    input[type=text] {
        height:10px;
    }
}