.logoplugin {
    background-color: #FFF;
    background-repeat: no-repeat;
    display: block;
    /* Force line to fit container */
    line-height: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 100000000 !important;
    opacity: 0.8 !important;

    a, a:hover, a:active, a:visited {
        color: inherit;
    }

    .icon {
        background-image : url('/Oskari/resources/framework/bundle/mapmodule-plugin/plugin/logo/images/pti_icon.gif');
        display: inline-block;
        height: 25px;
        width: 25px;
        vertical-align: bottom;
    }

    .terms {
        display: inline-block;
        margin: 5px;
    }

}


