$pluginMargin: 10px;

.olMap {
    position : relative;
}

div.olMap.cursor-crosshair {
    cursor: crosshair;
}

div.mapplugins {
    position: absolute;
    text-align: center;
    z-index: 15000;
    .mappluginsContainer {
        margin: 0;
        padding: 0;
        .mappluginsContent {

            &.ui-droppable {
                background-color: rgba(255, 255, 255, 0.5);
                border: 3px dashed #666666;
                border-radius: 20px;
                min-height: 70px;
                min-width: 70px;
                padding: 20px;

                &.allowed {
                    background-color: rgba(0, 255, 0, 0.3);

                    &.ui-state-highlight {
                        background-color: rgba(127, 255, 127, 0.5);
                        border-color: #FFF;
                    }

                }

                &.disallowed {
                    background-color: rgba(255, 0, 0, 0.3);
                }

            }

            .mapplugin {
                margin: 0 auto;
                z-index: 15000;
                /* Hackish margin fixes */

                &.indexmap {
                    margin-bottom: 0;
                }

                &.logoplugin {
                    margin-top: $pluginMargin;
                }

                &.scalebar {
                    margin-bottom: 0;
                }

                &.zoombar {
                    margin-top: $pluginMargin;
                    margin-bottom: $pluginMargin;
                }                
            }
        }
    }

    &.top {
        top: 0;
        .mappluginsContainer .mappluginsContent {
            margin-top: $pluginMargin;
        }

        &.center {
            width: 100%;
            .mappluginsContainer .mappluginsContent {
                margin-right: auto;
                margin-left: auto;
                display: inline-block;
                .mapplugin {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 $pluginMargin / 2;

                    &.search {
                        text-align: center;
                    }

                    &.layerselection, &.search {
                        float: right;
                    }

                }
            }
        }

        &.right {
            min-width: 100px;
            .mapplugin {
                
                &.layerselection {
                    margin-left: 0;
                }

                &.search {
                    text-align: right;
                }
    
                &.layerselection, &.search {
                    display: block;
                    float: right;
                    margin: 0 $pluginMargin / 2;
                }
                
            }
        }

        &.left {
            min-width: 100px;
            .mapplugin {
                
                &.layerselection {
                    margin-right: 0;
                }

                &.search {
                    text-align: left;
                }
    
                &.layerselection, &.search {
                    display: block;
                    float: left;
                    margin: 0 $pluginMargin / 2;
                }
                
            }
        }

    }



    &.bottom {
        bottom: 0;
        .mappluginsContainer .mappluginsContent {
            margin-bottom: $pluginMargin;
        }

        &.center {
            width: 100%;
            .mappluginsContainer .mappluginsContent {
                margin-right: auto;
                margin-left: auto;
                display: inline-block;
                .mapplugin {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 $pluginMargin / 2;
    
                    &.layerselection, &.search {
                        float: right;
                    }
                }
            }
        }

        &.right {
            .mapplugin {
            
                &.indexmap {
                    margin-left: 20px;
                    margin-right: $pluginMargin * -1;
                }
                
                &.logoplugin {
                    clear: both;
                    margin-right: $pluginMargin * -1;
                }
                
                &.indexmap, &.logoplugin, &.scalebar {
                    float: right;
                    display: inline-block;
                }
                
            }
        }

        &.left {
            .mapplugin {
            
                &.indexmap {
                    margin-right: $pluginMargin * 2;
                    margin-left: $pluginMargin * -1;
                }
                
                &.logoplugin {
                    clear: both;
                    margin-left: $pluginMargin * -1;
                }
                
                &.indexmap, &.logoplugin, &.scalebar {
                    float: left;
                    display: inline-block;
                }
                
            }
            
        }

    }

    &.left {
        left: 0;
        .mappluginsContainer .mappluginsContent {
            margin-left: $pluginMargin;
        }

        &.center {
            height: 100%;
            display: table;
            .mappluginsContainer {
                display: table-cell;
                vertical-align: middle;
            }
        }        
    }

    &.right {
        right: 0;
        .mappluginsContainer .mappluginsContent {
            margin-right: $pluginMargin;
        }

        &.center {
            height: 100%;
            display: table;
            .mappluginsContainer {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .mapplugin.indexmap .indexmapToggle {
            float: right;
        }
    }
}

.oskari-publisher-font-arial {
  font-family: Arial, sans-serif !important;
}

.oskari-publisher-font-georgia {
  font-family: Georgia, serif !important;
}