div.mapplugin.search-div {
    top: 10px;
    right : 10px;
}

div.search-div {

    div.close {
        float: right;
    }

    div.results {
        border: 1px solid #f3f3f3;
        background: white;
        max-width: 255px;
        width: 255px;
        overflow: scroll;
        margin-top: 5px;
        padding: 4px;

        div.header {
            background: #DDDDDD;
        }

        div.content table {
            width: 100%;
            text-align: center;
            border-spacing: 2px;

            tr {
                cursor: pointer;
            }

        }

    }

    input {

        &[type=text] {
            width: 140px !important;
        }

        &[type=button] {
            width: 60px;
            margin-left: 3px;
        }

    }

}

table.search-results {
	width: 100%;
	margin: 4px;

    td {
        text-align: left;
        padding: 2px;
        padding-left: 4px;
        padding-right: 12px;
    }

    th {
        text-align: left;
        padding: 2px;
        padding-left: 4px;
        padding-right: 12px;
    }

    tr.odd {
        background-color : #F3F3F3;
    }

}

