/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.featuredata {

    div.tab-content {
        max-height: 535px;
        overflow: auto;
    }

    /* Selected row hightlighting */
    tbody tr.selected {
        background-color: #FDF8D9;
    }

    /* Override common table settings */
    th, td  {
        text-align: left;
        padding-left: 2px;
        padding-right: 15px;
    }

    /* Override sort img position */
    th {
        &.asc, &.desc {
            background-position: right center;
        }
     }

    td {
        &.link  {
            padding: 20px 0px 0px 0px;
            color: #0091FF;
            text-decoration: underline;
            display: block;
        }
    }
    
    div.icon-funnel {
        cursor: pointer;
    }

}

div.analyse-filter-popup-content div.filter-option {
    padding-bottom: 10px;

    div.manage-filter-option {
        display: inline-block;
        vertical-align: middle;

        div.add-filter-option, div.remove-filter-option {
            cursor: pointer;
            display: inline-block;
            /* These are icons, so it's OK to have a custom font here. */
            font-size: 48px;
            font-weight: bold;
            margin-left: 5px;
            min-width: 16px;
            text-align: center;
        }
        
    }

    &.filter-option-aggregate {
        padding-bottom: 25px;

        div.attribute-value-block {
            position: relative;
            display: inline-block;

            div.add-link {
                position: absolute;
                top: 40px;
            }
        }
    }

    .filter-input-value {
        width: 160px;
        margin: 1px;
    }

    input[name="case-sensitive"] {
        margin-right: 5px;
    }

    select {

        &.attribute {
            width: 150px;
        }

        &.boolean {
            margin-top: 10px;
            width: 65px;
        }

        &.operator {
            width: 210px;
        }

    }
}

div.oskariTabs .tabsHeader ul li {

    a {
        display: inline-block;
    }

    .union-filter{
        display: inline-block;
        margin-right: 10px;
    }

}

div.flyout-resizer {
    float: right;
    cursor: nw-resize;
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin {
    clear: both;
    display: block;
    background: #3c3c3c;
    @include border-radius(2px);
    line-height: 28px;
    margin: 10px auto;
    padding: 0 9px;

    a {
        color: white;
        text-decoration: none;
    }

}
