/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.featuredata {

    div.tab-content {
        max-height: 535px;
        overflow: auto;
    }

    /* Selected row hightlighting */
    tbody tr.selected {
        background-color: #FDF8D9;
    }

    /* Override common table settings */
    th, td  {
        text-align: left;
        padding-left: 2px;
        padding-right: 15px;
    }

    /* Override sort img position */
    th {
        &.asc, &.desc {
            background-position: right center;
        }
     }

    td {
        &.link  {
            padding: 20px 0px 0px 0px;
            color: #0091FF;
            text-decoration: underline;
            display: block;
        }
    }
    
    div.icon-funnel {
        cursor: pointer;
    }

}

div.oskariTabs .tabsHeader ul li a{
    display: inline-block;
}

div.oskariTabs .tabsHeader ul li .union-filter{
    display: inline-block;
    margin-right: 10px;
}

div.flyout-resizer {
    float: right;
    cursor: nw-resize;
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin {
    display: block;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    @include border-radius(2px);
    margin: 10px auto;
}
