.tool.demo-3D-view-tool,.tool.demo-3D-view-tool-back {
    color: #FFDE00;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.tool.demo-3D-view-tool {
    text-shadow:
        0 1px 0 hsl(52, 100%, 30%),
        1px 2px 0 hsl(52, 100%, 27%),
        1px 1px 3px rgba(0,0,0,.3)
}
.tool.demo-3D-view-tool::before {
    content: '3D';
}
.tool.demo-3D-view-tool-back::before {
    content: '2D';
}