#toolbar {
  margin-top: 30px;
  width: 100%; }

div.toolrow {
  border-top: 1px solid;
  line-height: 10px;
  /* We'll get extra space below the tools without this */
  padding: 0px 10px; }
  div.toolrow div.tool {
    display: inline-block;
    cursor: pointer; }
    div.toolrow div.tool.selected, div.toolrow div.tool:hover:not(.disabled), div.toolrow div.tool:active:not(.disabled) {
      background-color: #212121; }

div.linkcontent {
  word-wrap: break-word;
  border-style: dashed;
  border-width: 1px;
  padding: 5px;
  max-height: 200px;
  overflow-y: auto; }

div.tool.disabled {
  cursor: default;
  opacity: 0.25; }

.divmanazerpopup.oskari-measurement {
  max-width: 260px; }

.oskariui-menutoolbar {
  width: 100%;
  height: 36px;
  position: relative;
  background-color: #3C3C3C;
  height: 40px; }
  .oskariui-menutoolbar .oskariui-menutoolbar-modetitle {
    display: inline-block;
    width: 300px; }
    .oskariui-menutoolbar .oskariui-menutoolbar-modetitle .oskariui-menutoolbar-title {
      position: absolute;
      top: 6px;
      /* Inverted text... leave it for now as it doesn't even seem to be in use */ }
      .oskariui-menutoolbar .oskariui-menutoolbar-modetitle .oskariui-menutoolbar-title p {
        color: #fff;
        font-size: 16px;
        line-height: 19px; }
  .oskariui-menutoolbar .oskariui-menutoolbar-container {
    display: inline-block; }
  .oskariui-menutoolbar .oskariui-menutoolbar-closebox {
    position: absolute;
    top: 6px;
    right: 10px; }
    .oskariui-menutoolbar .oskariui-menutoolbar-closebox div {
      cursor: pointer; }
