div.layerselection2 .layer.selected {
  border: 1pt solid #c0d0e0;
  margin: 0 5px 5px 0;
  height: 70px\9;
  /*IE9 */ }
  div.layerselection2 .layer.selected div.layer-info {
    background-color: #FFF;
    padding: 5px; }
    div.layerselection2 .layer.selected div.layer-info div.layer-icon {
      float: left;
      height: 20px;
      margin-top: 5px;
      margin-left: 20px;
      margin-right: 20px;
      width: 16px;
      background-repeat: no-repeat; }
    div.layerselection2 .layer.selected div.layer-info div.layer-title {
      cursor: move;
      display: inline; }
      div.layerselection2 .layer.selected div.layer-info div.layer-title h4 {
        font: 14pt Arial,sans-serif;
        padding: 0; }
    div.layerselection2 .layer.selected div.layer-info div.layer-tool-refresh {
      float: right;
      cursor: default;
      margin-right: 10px; }
    div.layerselection2 .layer.selected div.layer-info div.layer-tool-remove {
      float: right; }
  div.layerselection2 .layer.selected div.layer-tools {
    background-color: #f3f3f3;
    padding: 7px; }
    div.layerselection2 .layer.selected div.layer-tools div.layout-slider {
      width: 140px;
      display: inline-block;
      margin-right: 16px; }
    div.layerselection2 .layer.selected div.layer-tools div.left-tools {
      display: inline-block; }
      div.layerselection2 .layer.selected div.layer-tools div.left-tools div.layer-visibility {
        padding-right: 5px;
        display: inline-block; }
      div.layerselection2 .layer.selected div.layer-tools div.left-tools div.layer-opacity {
        display: inline-block;
        background-image: url("../images/opacity_slider.png");
        background-repeat: no-repeat; }
        div.layerselection2 .layer.selected div.layer-tools div.left-tools div.layer-opacity div.opacity-slider input {
          padding: 1px;
          width: 25px; }
    div.layerselection2 .layer.selected div.layer-tools div.right-tools {
      padding-top: 5px;
      float: right; }
      div.layerselection2 .layer.selected div.layer-tools div.right-tools div {
        float: left;
        margin-right: 5px; }
        div.layerselection2 .layer.selected div.layer-tools div.right-tools div.layer-rights, div.layerselection2 .layer.selected div.layer-tools div.right-tools div.object-data {
          padding-top: 2px; }
        div.layerselection2 .layer.selected div.layer-tools div.right-tools div.object-data a {
          padding-left: 5px; }
  div.layerselection2 .layer.selected div.stylesel {
    background-color: #f3f3f3; }
    div.layerselection2 .layer.selected div.stylesel label {
      padding: 7px; }
div.layerselection2 ul.selectedLayersList {
  height: 100%;
  width: 100%;
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  div.layerselection2 ul.selectedLayersList span {
    position: absolute;
    margin-left: -1.3em; }

div.analyse-filter-popup-content div.filter-option {
  padding-bottom: 10px; }
  div.analyse-filter-popup-content div.filter-option div.manage-filter-option {
    display: inline-block;
    vertical-align: middle; }
    div.analyse-filter-popup-content div.filter-option div.manage-filter-option div.add-filter-option, div.analyse-filter-popup-content div.filter-option div.manage-filter-option div.remove-filter-option {
      cursor: pointer;
      display: inline-block;
      /* These are icons, so it's OK to have a custom font here. */
      font-size: 48px;
      font-weight: bold;
      margin-left: 5px;
      min-width: 16px;
      text-align: center; }
  div.analyse-filter-popup-content div.filter-option.filter-option-aggregate {
    padding-bottom: 25px; }
    div.analyse-filter-popup-content div.filter-option.filter-option-aggregate div.attribute-value-block {
      position: relative;
      display: inline-block; }
      div.analyse-filter-popup-content div.filter-option.filter-option-aggregate div.attribute-value-block div.add-link {
        position: absolute;
        top: 40px; }
  div.analyse-filter-popup-content div.filter-option .filter-input-value {
    width: 160px;
    margin: 1px; }
  div.analyse-filter-popup-content div.filter-option input[name="case-sensitive"] {
    margin-right: 5px; }
  div.analyse-filter-popup-content div.filter-option select.attribute {
    width: 150px; }
  div.analyse-filter-popup-content div.filter-option select.boolean {
    margin-top: 10px;
    width: 65px; }
  div.analyse-filter-popup-content div.filter-option select.operator {
    width: 210px; }

/*# sourceMappingURL=style.css.map */
