.admin-layerrights-layers .layer-rights-table {
	margin-top: 20px;
}

.admin-layerrights-layers .layer-rights-table th {
	padding: 2px 5px;
}
.admin-layerrights-layers .layer-rights-table th, 
.admin-layerrights-layers .layer-rights-table td {
	text-align: center;
}