
div.codesnippet {
    word-wrap: break-word;
    border-style: dashed;
    border-width: 1px;
    padding: 5px;
    max-height: 200px;
    overflow: auto;
}

div.notLoggedIn {
    padding: 10px;
}

div.basic_publisher {
    position: relative;
    background: #FFF;
    display: flex;
    flex-direction: column;
    height: 100%;

    /* sidebar has 3, we want to open it on top of this */
    z-index: 2;
    width: 382px;
    max-width: 382px;

    div.content {
        padding: 10px;
    }
    // Temp, change inputs to TextInput and get rid of this
    input[type=text] {
        width: 260px;
    }

    .disabled-button {
        opacity: 0.8;
    }

    div#publisher-layout-colours input[name=publisher-colour] {
        width: 125px;
    }

    p#publisher-selected-colour {
        display: inline;
    }

    button#publisher-colours {
        float: right;
    }

    .customsize {
        &:disabled {
            // This is just to fade the * between width & height a bit...
            color: #DDD;
        }

        label {
            clear: none;
            display: inline-block;
            width: 60px;

            &:first-of-type {
                margin-right: 3px;
            }

            &:last-of-type {
                margin-left: 3px;
            }

            input {
                width: 100%;

                &.error {
                    border: 1px solid red;
                }
            }
        }
    }

    div.icon-info {
        float: right;
    }

    div.tool {
        margin: 5px;
    }

    div.tool-options {
        padding-left: 23px;

        .tool-option-settings {
            padding-left: 27px;
            padding-top: 5px;
        }

        &.mylocationplugin {
            padding-left: 27px;

            fieldset {
                &.oskari-formcomponent {
                    &.oskari-radiobuttongroup {
                        padding-left: 16px;
                    }
                }
            }
        }
    }

    div.tool,
    div.data {
        label {
            margin-right: 10px;
            width: 300px;
        }

        input {
            margin-right: 10px;

            &[type="button"] {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }

    > div.content {
        overflow: auto;
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    label.oskari-languageselect {
        clear: left;
    }


}

div.publisher {
    div.startview {
        div.content {
            margin-top: 5px;
        }

        div.error ul li {
            color: red;
        }

        div.icon-info {
            float: right;
        }

        div.layerlist {
            border: 1px solid;
            padding: 10px;

            h4 {
                line-height: 15px;
                padding-bottom: 5px;
            }
        }

        div.tou {
            margin: 15px 0;
        }

        ul {
            list-style: disc inside none;
            padding: 5px;
        }
    }
}

div.basic_publisher div.form div.field input,
div.basic_publisher div.field select {
    width: 80%;
    background-color: #FFF;
}

div.field {
    div.info-label {
        font-style: italic;
    }
}

/* Buttons */
div.basic_publisher,
div.publisher div.startview {
    div.buttons {
        text-align: center;
        margin-top: 10px;

        input {
            margin: 5px 2px;
        }
    }
}

div.divmanazerpopup #publisher-colour-popup input[type=radio] {
    margin: 8px;
}

div#publisher-colour-inputs {
    margin-bottom: 15px;
}

div.publisher-color-picker-group-wrapper {
    display: flex;
}

div.domain-warning {
    color: black;
    margin-top: 10px;
    div {
        margin-right: 5px;
        float: left;
        margin-bottom: 5px;
    }
}

div#publisher-custom-colours {
    padding: 10px 20px;

    div#publisher-custom-colours-bg,
    div#publisher-custom-colours-title,
    div#publisher-custom-colours-header,
    div#publisher-custom-colours-iconcls {
        margin-bottom: 12px;
        padding: 1%;
    }

    div.rgbInput {
        padding: 5px;
        border: 1px solid black;

        input[type="text"] {
            margin: 0 8px;
            width: 30px;
        }
    }
}

#publisher-layout-colours {
    padding-left: 28px;
}