/* Mixins */
div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin {
  clear: both;
  display: block;
  background: #3c3c3c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 28px;
  margin: 10px auto;
  padding: 0 9px;
  float: right;
  /* default and rounded-dark theme */
  /* rounded-light theme */
  /* sharp-dark theme */
  /* sharp-light theme */
  /* 3d-dark theme */
  /* 3d-light theme */ }
  div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin a {
    color: white;
    text-decoration: none; }
  div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-default, div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-rounded-dark {
    background-color: rgba(20, 20, 20, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
    div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-default a, div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-rounded-dark a {
      color: rgba(255, 255, 255, 0.9); }
  div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-rounded-light {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
    div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-rounded-light a {
      color: rgba(20, 20, 20, 0.8); }
  div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-sharp-dark {
    background-color: rgba(20, 20, 20, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
    div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-sharp-dark a {
      color: rgba(255, 255, 255, 0.9); }
  div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-sharp-light {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
    div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-sharp-light a {
      color: rgba(20, 20, 20, 0.8); }
  div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-3d-dark {
    background-color: rgba(20, 20, 20, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
    div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-3d-dark a {
      color: rgba(255, 255, 255, 0.9); }
  div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-3d-light {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
    div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin.toolstyle-3d-light a {
      color: rgba(20, 20, 20, 0.8); }

/*# sourceMappingURL=style.css.map */
