div.metadataCatalogueDescription {
  margin: 0;
  margin-bottom: 8px; }

div.metadataCatalogueContainer {
  height: 90%;
}

div.main {
  width: 100%;
  height: 100%;
}

div.moreLess {
  padding: 10px 0
}

div.metadataOptions div.rowLabel {
  display: table-cell;
  vertical-align: middle;
  margin-left: 0;
  min-width: 130px;
  width: 130px;
}

div.metadataOptions div.checkboxes {
  display: table-cell;
  vertical-align: middle;
  margin-left: 130px;
  width: auto;
}

div.metadataOptions div.metadataType {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  width: auto;
  white-space: nowrap;
}

div.metadataOptions div.metadataRow {
  margin-bottom: 10px;
}

div.metadataOptions div.rowLabel {
  white-space: nowrap;
}

div.resultHeader {
  width: 100%;
  height: 35px;
}

div.resultHeader div.resultTitle {
  float: left;
}

div.resultHeader div.modify {
  float: right;
}

div.resultHeader div.panelHeader {
  margin-top: 10px;
  margin-bottom: 20px;
}

th.name, td.name {
  text-align: left;
}

th.rating, td.rating {
  text-align: right;
}

th.info, td.info {
  text-align: right;
}

td.info div.layer-info {
  width: 16px;
  height: 16px;
  margin-left : 5px;
  float : right;
}

table.metadataSearchResult {
  float:left;
}
