/* Mixins */
div.search div.controls div.oskarifield {
  display: inline-block; }
  div.search div.controls div.oskarifield input[type=text] {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    box-sizing: border-box;
    width: 300px; }

div.search div.controls .oskari-button {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

div.search div.searchDescription {
  margin: 0;
  margin-bottom: 8px; }

div.search div.searchContainer {
  height: 90%; }

div.search div.resultList {
  height: 90%;
  overflow: auto;
  padding: 0;
  margin: 5px;
  border: 1px solid #DDDDDD; }
  div.search div.resultList h3 {
    margin: 0 6px;
    padding-bottom: 0; }

div.search table.search_result {
  margin-bottom: 0; }
  div.search table.search_result th {
    text-align: left; }
