
.page-a {
	background-image:url('test-0.png');
	background-repeat: no-repeat;
}

.page-b  {
	background-image:url('test-1.png');
	background-repeat: no-repeat;
}

.page-c  {
	background-image:url('test-2.png');
	background-repeat: no-repeat;
	
}

.page-d  {
	background-image:url('test-3.png');
	background-repeat: no-repeat;
	
}
