/* Accordion */
div.accordion div.accordion_panel {
    background-color : #f3f3f3;
    border: 1pt solid #c0d0d0;
    margin : 0;
    padding : 0;
}

div.accordion_panel div.header div.headerIcon {
	display : inline-block;
    margin-left: 12px;
    vertical-align: middle;
}
div.accordion_panel div.header div.headerText {
	display : inline-block;
    font-weight : bold;
    padding: 8px 10px 8px 12px;
    font: 14pt Arial,sans-serif;
}

div.accordion div.accordion_panel.open {
    background-color : #FFFFFF;
}
div.accordion div.accordion_panel div.content {
    padding : 5px;
}