

/* setup document body so flyouts will not make scrollbars to browser window */


body {
	position: fixed;
	width: 100%;
	height: 100%;
}


/* flyout toolbar */

.oskari-flyoutheading {
	background-color: #ffdc00;
	border-top: 1px solid #ffee7a;
	border-bottom: 1px solid #ebb819;
	height: 16px;
	width: 100%;
}
.oskari-flyouttoolbar {
	height: 48px;
	width: 100%;
	background-color: #fdf8d9;
	border-top: #fdfdfd;
	border-bottom: #fef2ba;
}
.oskari-flyout-title {
	float: left;
	margin-left: 16px;
	margin-top: 4px;
	display: inline-block;
	font: 19px/24px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
/** flyout toolbar tools and tool states  */

.oskari-flyouttools {
	float: right;
	margin-right: 8px;
	display: inline-block;
	margin-top: 4px;
}
.oskari-flyouttool-detach {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('../../../../../resources/paikkatietoikkuna/Ikonit_16x16/Pixicon16px_0000s_0000s_0016_Arrow-Right.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #333438;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-right: 2px;
}
.oskari-detached .oskari-flyouttool-detach {
	display: none;
}
.oskari-minimized  .oskari-flyouttool-detach {
	display: none;
}
.oskari-flyouttool-attach {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('../../../../../resources/paikkatietoikkuna/Ikonit_16x16/Pixicon16px_0000s_0000s_0009_Arrow-Left.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #333438;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-right: 2px;
}
.oskari-attached .oskari-flyouttool-attach {
	display: none;
}
.oskari-flyouttool-minimize {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('../../../../../resources/paikkatietoikkuna/Ikonit_16x16/Pixicon16px_0002s_0000_Pause.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #333438;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-right: 2px;
}
.oskari-attached .oskari-flyouttool-minimize {
	display: none;
}
.oskari-minimized .oskari-flyouttool-minimize {
	display: none;
}
.oskari-flyouttool-restore {
	display: none;
	width: 24px;
	height: 24px;
	background-image: url('../../../../../resources/paikkatietoikkuna/Ikonit_16x16/Pixicon16px_0012s_0019_Play.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #333438;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-right: 2px;
}
.oskari-flyouttool-help {
	/*display: none;*/
	width: 24px;
	height: 24px;
	background-image: url('../../../../../resources/paikkatietoikkuna/Ikonit_16x16/Pixicon16px_0016s_0001_Book-1.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #333438;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-right: 2px;
		display: inline-block;
}
.oskari-minimized .oskari-flyouttool-restore {
	display: inline-block;
}
.oskari-minimized .oskari-flyouttool-attach {
	display: none;
}
.oskari-minimized .oskari-flyouttool-detach {
	display: none;
}
.oskari-flyouttool-close {
	display: inline-block;
	margin-top: 8px;
	width: 24px;
	height: 24px;
	background-image: url('../../../../../resources/paikkatietoikkuna/Ikonit_16x16/Pixicon16px_0005s_0002_X.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #333438;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-right: 2px;
	margin-left: auto;
}

/* flyout */
.oskari-flyout {
	/*border: 1px solid white;*/
	/*border-top: 8px solid #ffde00;;*/
	/*border-top: 8px solid #333438;*/
	/*opacity: .8;*/
	background-color: #fafafa;
	position: absolute;
	z-index: 1100;
	margin: 0px;
	padding: 0px;
	border: 0;
}

/* flyout states */

.oskari-attached {
	width: 640px;
	/*height: 480px;*/

	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
	-moz-box-shadow: 0px 3px 8px black;
	-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.80);
	
	}
.oskari-detached {
	width: 640px;
	/*height: 480px;*/
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.80);
	-moz-box-shadow: 0px 3px 8px black;
	-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.80);
	
}
/*.oskari-minimized {
	width: 640px;
	height: 64px;
	overflow: hidden;
	
	min-height: 64px;
	max-height: 64px;
}*/
.oskari-closed {
	display: none;
	/*left: -3000;
	 top: -3000;*/
}


.oskari-minimized {
	display: none;
}

.oskari-flyoutcontent {
	margin: 0;
	padding: 0 10px 10px;
	border: 0;
	/*overflow: auto;*/
	
}
.oskari-flyoutcontentcontainer { /*margin: 8px;*/
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	overflow: auto;
	max-height: 640px; /* MEDIA QUERY FOR THIS ONE */
	
	/*border-left: 1px solid #fdfdfd;
	border-right: 1px solid #fdfdfd;
	border-bottom: 1px solid #fdfdfd;*/
	/* overflow: auto; */
}

/** tile */
/* tile states */

.oskari-tile-attached {
	border: 0;
	border-bottom: 1pt solid white;
	background-color: white;
}
.oskari-tile-detached {
	border: 0;
	border-bottom: 1pt solid white;
	background-color: white;
}
.oskari-tile-minimized {
	border: 0;
	border-bottom: 1pt dashed white;
	background-color: #55565a;
}
.oskari-tile-closed {
	border: 0;
	border-bottom: 1pt solid white;
	background-color: #333438;

}

.oskari-tile {
	margin: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 172px;
}
.oskari-tile-title {
	text-indent: 4px;
	margin: 0;
	padding: 0;
	float: left;
	height: 40px;
	width: 126px;
	font: 13px/19px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	text-align: left;
	text-transform: uppercase;
	/*color: white;*/
	font-weight: bold;
}

.oskari-tile-attached .oskari-tile-title {
	color: #333438;
}
.oskari-tile-detached .oskari-tile-title {
	color: #333438;
}
.oskari-tile-detached .oskari-tile-title {
	color: #333438;
}
.oskari-tile-closed  .oskari-tile-title {
	color: white;
}

.oskari-tile-status {
	margin: 0;
	padding: 0;
	float: right;
	text-align: center;
	display: inline-block;
	/*background-color: gold;*/
	height: 36px;
	width: 20px;
	font-weight: bold;
	color: white;
	font-weight: bold;
	padding: 2px;
}
.oskari-tile-close {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../../../../../resources/paikkatietoikkuna/Ikonit_16x16/Pixicon16px_0012s_0002_x.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #333438;
	position: relative;
	top: 10px;
}

div.divmanazerpopup {
    max-width : 500px;
    min-width : 200px;
    position : fixed;
    top : 50%;
    left : 50%;
    background-color : white;
    border: 1px solid;
    border-radius : 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 3px 8px black;
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.80);
    z-index: 15000;
}
div.divmanazerpopup h3 {
    background-color: #FDF8D9;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    line-height: 28px;
    padding: 5px 10px;
}
div.divmanazerpopup p {
    margin : 10px;
}
