
th.asc {
    background-image: url('/Oskari/resources/framework/bundle/divmanazer/images/asc_arrow.png');
    background-repeat:no-repeat;
    background-position:center center;
}

th.desc {
    background-image: url('/Oskari/resources/framework/bundle/divmanazer/images/desc_arrow.png');
    background-repeat:no-repeat;
    background-position:center center;
}
