/* "tab" content */
div.oskariTabs div.tabsContent {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 0px solid #999999;
    border-bottom: 1px solid #999999;
    color: #000000;
    height: 90%;
}
div.oskariTabs div.tab-content {
    padding : 10px;
}

/* tab headers */
div.oskariTabs div.tabsHeader {
   background: url('../images/tab_bg.png') repeat-x scroll center bottom; /* #FFFFFF*/
    clear: left;
    float: left;
    font : 12pt  Arial,sans-serif;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
div.oskariTabs div.tabsHeader ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}

div.oskariTabs div.tabsHeader ul li{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0;
    right: 50%;
}
div.oskariTabs div.tabsHeader ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #999999;
    color: #3333FF;
    display: block;
    float: left;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
}

div.oskariTabs div.tabsHeader ul li.active a {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 0px solid #999999;
    color: #000000;
}

div.oskariTabs div.tabsHeader ul li.fill a {
   width: 100%;
}