div.oskariTabs {
  /* tab headers */
  /* "tab" content */ }
  div.oskariTabs div.tabsHeader {
    clear: both;
    float: left;
    font-size: 14px;
    color: #3C3C3C;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 0;
    width: 100%; }
    div.oskariTabs div.tabsHeader ul {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      white-space: nowrap; }
      div.oskariTabs div.tabsHeader ul li {
        display: inline-block;
        border-style: solid;
        border-color: #999;
        border-width: 1px 1px 0 1px;
        margin: 10px 0 0;
        padding: 0; }
        div.oskariTabs div.tabsHeader ul li:first-of-type {
          -webkit-border-top-left-radius: 2px;
          -moz-border-radius-topleft: 2px;
          border-top-left-radius: 2px; }
        div.oskariTabs div.tabsHeader ul li:last-of-type {
          -webkit-border-top-right-radius: 2px;
          -moz-border-radius-topright: 2px;
          border-top-right-radius: 2px; }
        div.oskariTabs div.tabsHeader ul li.active a {
          background: none repeat scroll 0 0 #FAFAFA;
          font-weight: bold;
          padding-bottom: 11px; }
        div.oskariTabs div.tabsHeader ul li.fill a {
          width: 100%; }
        div.oskariTabs div.tabsHeader ul li a {
          background: none repeat scroll 0 0 #F3F3F3;
          color: #000;
          display: block;
          font-weight: normal;
          padding: 10px 15px;
          position: relative;
          text-decoration: none; }
        div.oskariTabs div.tabsHeader ul li input[type="button"] {
          font-size: 0.75em; }
        div.oskariTabs div.tabsHeader ul li select {
          margin-right: 10px; }
  div.oskariTabs div.tabsContent {
    border: 1px solid #999;
    color: #000000;
    height: 90%; }
  div.oskariTabs div.tab-content {
    padding: 10px;
    overflow: auto; }
