/* Mixins */
div#visualization-form div.renderButton {
  display: inline-block;
  border: 1px solid black;
  margin: 5px; }

div.renderdialog label {
  padding-top: 5px;
  padding-bottom: 5px; }
div.renderdialog div.icon-button {
  margin: 0 2px 2px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
div.renderdialog .ui-widget-content {
  background: #AAAAAA repeat-x scroll 50% 50% #FFFFFF;
  border: 1px solid #AAAAAA;
  color: #222222; }
div.renderdialog .ui-slider {
  position: relative;
  text-align: left;
  width: 110px; }
  div.renderdialog .ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    border: 0 !important; }
div.renderdialog .ui-slider-horizontal {
  height: 0.8em; }
  div.renderdialog .ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
    background-image: url('/Oskari/resources/framework/bundle/oskariui/images/horizontal_handle.png');
    background-repeat: no-repeat; }
div.renderdialog .ui-state-default, div.renderdialog .ui-widget-content .ui-state-default, div.renderdialog .ui-widget-header .ui-state-default {
  background: #222222 repeat-x scroll 50% 50% #E6E6E6;
  border: 1px solid #D3D3D3;
  color: #555555;
  font-weight: normal; }
div.renderdialog .preview {
  width: 50px;
  height: 50px;
  border: 1px solid;
  margin: 5px; }
div.renderdialog div.actions input {
  float: right; }
div.renderdialog div.sizer-values {
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
  width: 110px;
  height: 10px; }
div.renderdialog div.sizer-value {
  position: absolute; }
div.renderdialog div.icon-buttons {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px; }
div.renderdialog div.color-grid {
  width: 120px;
  height: 40px;
  margin: 5px; }
div.renderdialog div.color-rectangle {
  width: 120px;
  height: 40px;
  border: 1px solid #000000;
  position: absolute; }
div.renderdialog div.color-cell {
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left; }
div.renderdialog div.colorcontainer {
  width: 150px;
  background: #223311; }
div.renderdialog div.colorcolumn1 {
  float: left;
  width: 40px;
  padding: 5px;
  margin-bottom: 5px; }
div.renderdialog div.colorcolumn2 {
  float: right;
  width: 100px;
  margin-bottom: 5px; }
div.renderdialog div.colorcolumn21 {
  float: left;
  width: 40px;
  padding: 5px; }
div.renderdialog div.colorcolumn22 {
  float: right;
  width: 40px;
  padding: 5px; }
div.renderdialog div.color-label {
  margin-top: 10px; }
div.renderdialog input.custom-color {
  width: 25px;
  height: 10px;
  margin-top: 5px; }
  div.renderdialog input.custom-color:disabled {
    background: #dddddd; }
div.renderdialog input.color-source {
  margin: 5px; }
div.renderdialog input.linewidth {
  width: 50px;
  margin-top: 5px; }
div.renderdialog input.message-text {
  width: 120px; }

div.myplaces2 div.buttons div.button {
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #888888;
  -moz-box-shadow: 5px 5px 5px #888888;
  box-shadow: 5px 5px 5px #888888; }

div.simpleColorChooser {
  background-color: #ffffff;
  z-index: 10; }

.renderdialog .ui-corner-all, .manageClassificationPlugin .ui-corner-bottom, .manageClassificationPlugin .ui-corner-right, .manageClassificationPlugin .ui-corner-br {
  border-bottom-right-radius: 4px; }

.renderdialog .ui-corner-all, .manageClassificationPlugin .ui-corner-bottom, .manageClassificationPlugin .ui-corner-left, .manageClassificationPlugin .ui-corner-bl {
  border-bottom-left-radius: 4px; }

.renderdialog .ui-corner-all, .manageClassificationPlugin .ui-corner-top, .manageClassificationPlugin .ui-corner-right, .manageClassificationPlugin .ui-corner-tr {
  border-top-right-radius: 4px; }

.renderdialog .ui-corner-all, .manageClassificationPlugin .ui-corner-top, .manageClassificationPlugin .ui-corner-left, .manageClassificationPlugin .ui-corner-tl {
  border-top-left-radius: 4px; }

div.areaform div.column2 {
  float: right;
  width: 485px; }
div.areaform div.custom-fill {
  width: 155px; }

div.pointform div.column1 {
  float: left;
  width: 160px;
  height: 225px;
  padding-left: 5px;
  padding-right: 5px; }
div.pointform div.sizer {
  margin-left: 7px;
  margin-top: 6px; }

div.areaform div.column1, div.lineform div.column1 {
  float: left;
  width: 130px;
  height: 225px;
  padding-left: 5px;
  padding-right: 5px; }

div.pointform div.column2, div.lineform div.column2, div.areaform div.column22 {
  float: right;
  width: 320px; }

div.renderdialog div.column21, div.areaform div.column221 {
  float: left;
  width: 155px;
  height: 200px;
  padding-left: 5px;
  padding-right: 5px; }

div.pointform div.column22, div.lineform div.column22, div.areaform div.column222 {
  float: right;
  width: 145px;
  height: 100px;
  padding-left: 5px;
  padding-right: 5px; }

div.pointvisualization {
  width: 510px; }

div.linevisualization {
  width: 500px; }

div.areavisualization {
  width: 650px; }
