input[type="text"], input[type="password"] {
    padding-right: 5px;
    padding-left: 5px;
}

table td {
	text-align: left;
	vertical-align: top;
}

table {
	border-top-width: 0px;
}
@media screen {
    div.search input[type=button] {
         width: 128px !important ;
    }
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font: 14px/16px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
    }
    #mapdiv {
        width: 100%;
        height: 100%;
    }
    #mapdivB {
        width: 100%;
        height: 100%;
    }
    #maptools {

        height: 100%;
        position: absolute;
        top: 0;
        width: 153px;
        z-index: 2;
        background-color: #0099CB;
        margin-top: 0px;
    }
    #contentMap {
        height: 100%;
        margin-left: 153px;
    }

    img.panbuttonDivImg {
        border: 0;
    }

    div.main {
        margin-left: 32px;
        margin-top: 4px;
    }
    .oskari-tile {
	height: auto !important;
	min-height: 31px !important;
        line-height: 15px !important;	
    }
    .oskari-tile-closed {
        background-color: #0099CB !important;
        border-bottom: 1px solid #0099CB !important;
        border-top: 1px solid white !important;
    }
    .oskari-tile-attached {
        background-color: white !important;
        border-bottom: 1px solid white !important;
        border-top: 1px solid #0099CB !important;
    }
    .oskari-flyouttoolbar {
        background-color: #0099CB !important;
    }
    .oskari-flyout-title {
        color: white !important;
    }

    #logobar {
        height: 80px;
        width: 153px;
        overflow: hidden;
        background-color: white;
        background-image: url('ELF_web_logo_small.jpg');
        background-repeat: no-repeat;
    }

    .tool-reset {
        display: none !important;
    }
    .tool-link {
        display: none !important;
    }
    .layer-visibility {
        display: none !important;
    }
/*    li.layer {
        height: 120px !important;
    }
*/
    div.oskari-flyout {
        min-height: 220px !important;
    }
    .oskariui-center {
        margin: 0px !important;
    }

}

