.icon-close {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
}

.icon-close:hover {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px -32px !important;
}

.icon-drag-corner {
    width: 23px;
    height: 23px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -32px 0px !important;
}

.icon-drag-corner:hover {
    width: 23px;
    height: 23px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -32px -32px !important;
}

.icon-drag {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -64px 0px !important;
}

.icon-drag:hover {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -64px -32px !important;
}

.icon-info {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -96px 0px !important;
}

.icon-info:hover {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -96px -32px !important;
}

.icon-maximize {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -128px 0px !important;
}

.icon-maximize:hover {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -128px -32px !important;
}

.icon-minimize {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -160px 0px !important;
}

.icon-minimize:hover {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -160px -32px !important;
}

.icon-restore {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -192px 0px !important;
}

.icon-restore:hover {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -192px -32px !important;
}

.layer-base {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -224px 0px !important;
}

.layer-gfi-1 {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -256px 0px !important;
}

.layer-gfi-2 {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -288px 0px !important;
}

.layer-group {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -320px 0px !important;
}

.layer-vector {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -352px 0px !important;
}

.layer-wfs {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -384px 0px !important;
}

.layer-wms {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -416px 0px !important;
}

.layer-wmts {
    width: 16px;
    height: 16px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -448px 0px !important;
}

.myplaces-draw-area {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -480px 0px !important;
}

.myplaces-draw-line {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -512px 0px !important;
}

.myplaces-draw-point {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -544px 0px !important;
}

.tool-history-back {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -576px 0px !important;
}

.tool-history-forward {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -608px 0px !important;
}

.tool-link {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -640px 0px !important;
}

.tool-measure-area {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -672px 0px !important;
}

.tool-measure-line {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -704px 0px !important;
}

.tool-pan {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -736px 0px !important;
}

.tool-print {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -768px 0px !important;
}

.tool-reset {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -800px 0px !important;
}

.tool-save-view {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -832px 0px !important;
}

.tool-zoombox {
    width: 32px;
    height: 32px;
    background-image: url('/Oskari/applications/paikkatietoikkuna.fi/full-map/icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -864px 0px !important;
}

