/* Variables */
$highlightColor: #FFD400;
$headerColor: #FDF8D9;
$primaryHighlightColor: #0091FF;
$primaryHighlightHoverColor: #FF9100;
$backgroundColor: #FAFAFA;
$headerBackgroundColor: #F3F3F3;
$borderColor: #E6E6E6;
$baseTextColor: #3C3C3C;
$lightTextColor: #FFF;
$normalFontSize: 14px;
$normalFontLineHeightMultiplier: 1.5;

/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

@mixin box-shadow($shadow...) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

@mixin background-gradient($from, $to) {
	background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background: -moz-linear-gradient(top,  $from,  $to);
	background: -ms-linear-gradient(top,  $from,  $to);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');	
	background: linear-gradient(top,  $from,  $to);
}

@mixin header-font($size) {
    font-size: $size;
    line-height: $size * 1.2;
}
   
@mixin normal-font($size) {
    font-size: $size;
    line-height: $size * $normalFontLineHeightMultiplier;
}

/* Resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img { border: 0; }

html, body { height: 100% !important; }

html {
	font-size: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
}
	
body {
	color: $baseTextColor;
    font-family: 'Open Sans', Arial, sans-serif;
	background: $backgroundColor;
}

body, button, input, select, textarea {
	@include normal-font($normalFontLineHeightMultiplier);
}

em {
	font-style: italic;
}

strong {
    font-weight: bold;
}

/* Links */

a {
	color: $primaryHighlightColor;

	&:focus {
		outline: none;
	}

}

#content a:hover{
    color: $primaryHighlightHoverColor;
}

/* Selection colours */

::selection { background: $headerColor; }
::-moz-selection { background: $headerColor; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }

/* Default Layout */

/* Servlet version */
/* Logo is only in the portal version afaik so this could be moved there? */
#logo {
	padding: 30px 0 35px 10px;

	p {
		/* FIXME change p to h3 to get rid of font-size and color */
		font-size: 17px;
		color: $baseTextColor;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
		padding: 10px 0 0 10px;
	}
}
/* Sidebar is only in the portal version afaik so this could be moved there? */
#sidebar {
	font-family: Arial,​ sans-serif;
	line-height: 12.6px;
	width: 200px;
}
/* Content is only in the portal version afaik so this could be moved there? */
#content {
	width: 760px;
	padding-left: 20px;
}
/* Wrapper is only in the portal version afaik so this could be moved there? */
#wrapper {
	background: url('../images/bg_wrapper.png') repeat-y top left ;
	overflow: hidden;
	min-width: 980px;
}

/* Portal version */
.mml-map {

	#logo {
		&.no-hover {
			display: block !important;

			p {
				display: none;
			}

			#logo-only {
				float: right;
				margin: 0 5px 0 0;
			}
			
		}
	}

	#sidebar {

		&.hover {
			.sign-in, section {
				display: block;
			}
		}

		.sign-in, section {
			display: none;
		}

	}

	#content {
		padding-left: 0;	
	    width: 100%;
	    margin-left: 0;
	}

	#wrapper {
		background: #fff;
		padding-left: 40px;
	}

}

/* Portal menu list */
#mainmenu {
	width: 200px;
	border-top: 1px solid #ffe964;
	border-bottom: 1px solid #ffd300;
	list-style: none;
}

/* Portal menu root level list item */
li.mainlevel {

	&.child-selected, &.active {
		text-decoration:underline;
	}

	> a {
		padding: 7px 20px 5px 20px;
		display: block;
		cursor: pointer;
		font-size: 11px;
		font-weight: bold;
		color: #3c3c3c;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
		text-transform: uppercase;
		text-decoration: none;
		border-top: 1px solid #ffd300;
		border-bottom: 1px solid #ffe964;

		&:hover {
			color: #fff;
			background-color: #333438;
			text-shadow: 1px 1px 1px rgba(0,0,0,.85);
		}

		&.expand {
			background: transparent url('../images/sidebar_arrow.png') 172px 10px no-repeat;

			&:hover {
				color: #fff;
				background-color: #333438;
				text-shadow: 1px 1px 1px rgba(0,0,0,.85);
				background-position: 172px -33px;
			}

		}

	}

}

/* Portal menu 'flyout', i.e. sublevel list element */
.flyoutmenu {
	display: none;
	position: absolute;
	left: 200px;
	top: 40px;
	width: 750px;
	z-index: 99999;
	padding:10px 0 0 20px;
	border-top: 4px solid #ffdb00;
	background: #333438 url('../images/navigation_bg.gif');

	&.child-count-3 {
		width: 550px;
	}

	&.child-count-2 {
		width: 368px;
	}

	&.child-count-1 {
		width: 180px;
	}

}

/* Portal menu's actual menu container... */
#side-bar-bottom {

	&.hidden {
	    position:absolute;
	    left:-9999em;
	}	

	&.visible {
    	position:static;
    	left:-9999em;
    }

}

/* Portal menu levels */
.sublevel-1 {
	display: block;
	width: 143px;
	float: left;
	padding: 10px 20px 20px 20px;

	&.clear-left {
		clear:both;
	}

	&.nav-new-row {
		clear:left;
	}

	&:first-child {
		border-left: none;
	}

	&:last-child {
		border-right: none;
	}

	> a {
		color: #ffdb00;
		font-size: 15px;
		line-height: 19px;
		text-decoration: none;
		text-shadow: 1px 1px 1px rgba(0,0,0,.85);

		&.active {
			text-decoration: underline;
		}

		&:hover {
			color: #feef92;
		}

	}

}

.sublevel-2 {
	list-style: none;
	padding-top: 8px;
	margin-left:0;

	> li {
		font-size: 13px;
		line-height: 18px;
		padding: 5px 0 0 0;

		a {
			color: #fff;
			text-decoration: none;

			&.active {
				color: #ffdb00;
				text-decoration: underline;
			}

			&:hover {
				color: #ffdb00;
			}

		}

	}

}

.sublevel-3 {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
	color: #ffdb00;

	> li {
		line-height: 16px;
		padding: 3px 0;

		&:before {
			content: "\2013\0020";
		}

		a {
			color: #bebebe;

			&:hover {
				color: #ffdb00;
			}

		}

	}

}

/* Portal menu sign in div */
.sign-in {
	font-size: 0.95em;
	padding: 10px 10px 10px 20px;	
}

/* Login link (inside sign in div...) */
#log-in {
	color: #383838;
	text-decoration: none;
	margin-bottom: 4px;
	display: block;

	&:hover {
		color: #ff9900;
	}

}

/* Portal menu search form */
#searchForm {
	padding: 40px 20px 10px 20px;
}

/* Portal menu search input field */
.site-search {
	width: 112px;
	padding: 6px 8px;
	color: #878787;
	background-color: #fff;
	border-top: 1px solid #f0ba00;
	border-right: 1px solid #f0ba00;
	border-bottom: 1px solid #ffef59;
	border-left: 1px solid #ffef59;
	@include border-radius(3px);
	@include box-shadow(inset 0 4px 5px rgba(0,0,0,.25));
}

/* Portal menu search button */
#search {
	width: 25px;
	height: 30px;
	text-indent: -1000px;
	border: none;
	cursor: pointer;
	background: transparent url('../images/magnify.png') 8px 9px no-repeat;
}

/* Portal menu language selection list */
ul#lang {
	list-style-type: none;
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;

	li {
		float: left;

		a {
			color: #383838;
			text-decoration: none;
			padding-right: 6px;

			&:hover {
				color: #ff9900;
			}

		}

	}

	span {
		padding-right: 2px;
		color: #F0BA00;
	}

}

/* Main content area elements */
/* Portal breadcrumb */
#breadcrumb {
	padding: 15px 20px;
	list-style-type: none;

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;

		li {
			float: left;
			padding: 0 5px 0 0;
			color: #f0ba00;
			font-size: 0.9em !important;

			&:before {
				content: "> \0020 \0020 \0020 \0020 \0020 \0020";
			}

			&.first:before {
				content: "";
			}

			&:first-child:before {
				content: "" !important;
			}

		}

	}

	.active a {
		color: #383838;
	}

}

/* ? */
#quicksearch {
	width: 680px;
	height: 185px;
	padding: 15px 20px 20px 20px;
	border-top: 5px solid #0091ff;
	background: transparent url('../images/quicksearch.jpg') no-repeat;
}
/* ? */
.qs-bg {
	width: 360px;
	padding: 12px 0 0 10px;
	@include border-radius(8px);
	border: solid 1px #b9dffc;
	background: #cce9ff;
}

.oskariui-left {
  float: left;
}

.maincontainer {
	padding: 30px 0 30px 20px;
	border-top: 5px solid #ffdb00;
	color: #3c3c3c;

	p, ul, ol {
		padding-bottom: 15px;
	}

	p {
		&.light {
			color: #b4b4b4;
			font-size: 11px;
			font-weight: bold;
			text-transform: uppercase;
		}

		&.big {
			font-size: 18px;
			line-height: 22px;
		}

		&.intro {
			font-size: 22px;
			line-height: 28px;
		}

	}

	ol {
		margin-left:25px;
		margin-left: 10px;
		padding:0;

		li {
		    margin-left:12px;	
		    padding:0;   
		}
		
	}

	ul {
		margin-left: 20px;
	}

}

.mml-map .maincontainer {
	padding:0;
}

.no-top {
	border-top: none;
}

h1 {
	@include header-font(30px);
	padding-bottom: 20px;

	&.front-title {
		@include header-font(48px);
		padding-bottom: 28px;

		a {
			color: #ffdc00;
			text-decoration: underline;
			text-shadow: 0 -1px 0 rgba(0,0,0,.20);

			&:hover {
				color: #feef92;
			}

		}

	}

}

h2 {
    @include header-font(24px);
    font-weight: lighter;
    padding-bottom: 15px;	
}

h3 {
    @include header-font(18px);
    font-weight: lighter;
    padding-bottom: 15px;

    &.inverted {
        font-weight: normal;
        color: $lightTextColor;
    }

}

.lift {
	border-top-width: 5px;
	border-top-style: solid;

	&.yellow {
		border-top-color: #ffd622;
	}

	&.green {
		border-top-color: #4bd28d;
	}

	&.blue {
		border-top-color: #0091ff;
	}

	&.in-portlet {
	    width: 230px;
	    float: left;
	    margin-bottom: 20px;

	    &:first-child {
		    width: 230px;
		    float: left;
		    margin-right: 15px;
		}

	}

	h3, h2 {
		font-size: 16px;
		line-height: 16px;
		font-weight: normal;
		padding-bottom: 0;
	}

	p {
		font-family: Arial, sans-serif;
		font-size: 12px;
		line-height: 16px;
		padding: 16px 0 0 0;

		a {
			color:#0085D1;
		}

	}

}

h4 {
	font-size: 15px;
	line-height: 22px;
    padding-bottom: 17px;   	
}

h5 {
	font-size: 11px;
	line-height: 42px;
	text-transform: uppercase;
    padding-bottom: 10px;   	
}

.tc-title {
	border-style: solid;
	border-top-width: 5px;
	padding: 8px 10px 7px 10px;

	h3 {
		font-weight: normal;
		padding-bottom: 0;
	}

}

.tc-content {
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	padding: 10px;
}

.textcontainer {
	.blue {
		border-top-color: #0091ff;
		background-color: #cce9ff;
	}

	.green {
		border-top-color: #4bd28d;
		background-color: #dbf6e8;
	}

	.orange {
		border-top-color: #ff9900;
		background-color: #ffebcc;
	}

	p, ul, ol, ul {
		font-size: 13px;
		line-height: 18px;
		padding: 0;
	}

	ol {
		padding-left: 20px;
		font-weight: bold;
	}

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 10px;
		text-indent: -10px;
		color: #0091ff;

		a {
			color: #3c3c3c;
			text-decoration: none;
		}

		li:before {
			content: "\00BB\0020";
		}

	}	
}

/* ? */
.footer-column {

	ul {
		font-size: 13px;
		line-height: 18px;
		padding: 0;
		list-style: none;
		margin-left: 0;
		padding-left: 10px;
		text-indent: -10px;
		color: #0091ff;

		&.no-bullet {
			padding-left: 0;
			text-indent: 0;
			color: #3c3c3c;

			li:before {
				content: "";
			}

		}

		a {
			color: #3c3c3c;
			text-decoration: none;
		}

		li:before {
			content: "\00BB\0020";
		}

	}

}

table {
	/* Cells should have 10px of vertical padding so we reach 28px in total */
    @include normal-font(12px);
	margin: 0 0 20px 0;
	width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #3c3c3c;

	&.table-simple, &.mmlTable {
		border-top: 0px; 
		text-align: left;
		vertical-align: text-top;

		tr th {
			border-top: 0p;
			border-bottom: 1px solid;
			text-align: left;
			vertical-align: text-top;
		}

		tr td {
			text-align: left;
			vertical-align: text-top;
		}

	}

    a {
    	text-decoration: none;
    }

    td {
	    padding: 8px 0 7px 0;
	    text-align: center;
	    border-bottom: 1px solid #e6e6e6;
    }

    th, thead td {
    	font-weight: bold;
    }

    tr {

    	&:last-child td {
    		border-bottom: none;
    	}

    	td:first-child {
    		text-align: left;
    	}
    }

}

.table-regular {
	border-collapse: collapse;
	border-top: 5px solid #ffdb00;
    width:auto;	

	th {
		padding: 10px 20px;

		&:first-child {
			border-left: 1px solid #e6e6e6;
		}

		&:last-child {
			border-right: 1px solid #e6e6e6;
		}

	}

	td {
		padding: 6px 20px;
	}

	tr {

		&:last-child td {
			border-bottom: 1px solid #e6e6e6;
		}

		&:nth-child(odd) td {
			background-color: #f4f3f2;
		}

		td {

			&:first-child {
				border-left: 1px solid #e6e6e6;
			}

			&:last-child {
				border-right: 1px solid #e6e6e6;
			}

		}

	}

}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
	margin: 10px;
}

.grid-1 {
	width: 100px;
}

.grid-2 {
	width: 220px;
}

.grid-4 {
	width: 460px;
}

.grid-6 {
	width: 720px;
}

.first-column {
	margin-left: 0;
}

.last-column {
	margin-right: 0;
}

.code-block {
	margin: 10px 0;
	border: 1px solid #e6e6e6;
}

.code-header, .code-content {
	padding: 20px;
	line-height: 22px;
}

.code-header {
	background-color: #fff7d3;
	border-bottom: 1px solid #e6e6e6;
}

/*Portal footer. TODO three different footers, clean this up...*/
ul.footer-wrp {
    border-top: 5px solid #e6e6e6;
    display: block;
	list-style: none;
    color: #0091FF;

    &:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;  
	}

	p {
	    margin-bottom: 7px;
	    color: #1F1F1F;    
	}

	h2 {
	    font-size: 0.95em;
	    line-height: 42px;
	    text-transform: uppercase;
	    color: #1F1F1F;
		padding-bottom: 0px;
	}

	ul {
		list-style: none;
	    color: #0091FF;
	}

	li {
		float: left;
		width: 160px;
		margin-left: 20px;
		padding-top: 10px;
		line-height: 1.4em;

		&:first-child{
			margin-left: 10px;
		}

		li {
		    margin-left: 0px !important;	
			padding-top: 0;

			&:before {
				content: "\00BB\0020";
			}

		}

	}

	.inner-wrp li {
	    float:none;
	}

}

footer {
	width: 720px;
	padding-bottom: 40px;
	float: left;
	clear: both;
	margin-left: 220px;
	
	a {
		color: #1F1F1F;
		text-decoration: none;
	}

	nav:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;  
	}

}


#footer {
	text-align: left !important;
	padding-left: 20px;

	ul ul {
	    padding-left: 10px;
	    text-indent: -10px;
	}

	.heading-wrp:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;  
	} 

}


.footer .heading-wrp .inner-wrp{
    margin-left:10px;
    width: 160px;
    margin-left:20px;
    text-align:left;      
    float:left;  

	&:first-child {
	    margin-left:10px;	
	}

}

#footer .footer-list-wrp {
    min-height: 10px;
    width: 160px;	
	float: left;
    margin: 0 0 0 20px;

	&:first-child {
		margin-left: 10px;
	}

}

/* Forms */
/* Used in the Oskari side as well */
.button {
	display: inline-block;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, sans-serif;
	font-weight: bold;
	padding: 8px 30px;
	@include border-radius(4px);

	&:hover {
		text-decoration: none;
	}

	&:active {
		position: relative;
		top: 1px;
	}

}

.whitebutton {
	color: #454545;
	border: solid 1px #b7b7b7;
	text-shadow: -1px -1px 1px rgba(255,255,255,1);
	background: #fefefe;
	@include background-gradient(#FEFEFE, #E3E3E3);

	&:hover {
		color: #454545;
		background: #fff;
		@include background-gradient(#FEFEFE, #D9D9D9);
	}

	&:active {
		color: #999;
		@include background-gradient(#EDEDED, #FEFEFE);
		text-shadow: none;
	}

}

.bluebutton {
	color: #fff;
	border: solid 1px #2670b5;
	text-shadow: 1px 1px 0 rgba(0,0,0,.35);
	background: #3996ed;
	@include background-gradient(#3A97EE, #217AD4);

	&:hover {
		color: #fff;
		@include background-gradient(#59ABF8, #2B8DF0);
	}

	&:active {
		color: #19456d;
		text-shadow: none;
		@include background-gradient(#217AD4, #3A97EE);
	}

}

input[type=email], input[type=number], input[type=number] input[type=tel], input[type=text], input[type=password], input[type=search], input[type=url], textarea {
	@include border-radius(4px);
	border: solid 1px #b7b7b7;
	@include box-shadow(inset 3px 2px 4px rgba(0,0,0,.15));
}

.clearbutton {
	position: relative;
	top: 4px;
	margin-left: -30px;
	margin-right: 25px;
	z-index: 99;
}

select {
	width: 206px;
	color: $baseTextColor;
	@include border-radius(4px);
	border: solid 1px #b7b7b7;
	background: #fefefe;
	@include background-gradient(#FEFEFE, #E3E3E3);
}

/* Common helper classes */
.floatleft { float: left; }
.floatright { float: right; }
.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
.nopadding { padding: 0; }
.nomargin { margin: 0; }

/* Contain floats: nicola"sgallagher.com/micro-clearfix-hack/ */
.clearfix {
	zoom: 1;

	&:before, &:after { content: ""; display: table; }

	&:after { clear: both; }

} 

/*liferay admin tools*/
	/*tpl-templates*/
	.aui-dd-drop-active-valid {
		background: gray;	
	}

	#column-1 {
	   width: auto;
	}

	.two-columns {
		width: 100%;
		overflow: hidden;

		.column-child {
			width: 230px;
			margin: 0;
			float: left;
			overflow: hidden;

			&:first-child {
		        width: 475px;
		        margin: 0 15px 0 0;
		        float: left;
		        overflow: hidden;
		    }	

		}

	}

	.portlet-column {
		display: block;
	}

	.portlet-dropzone.empty {
		height: 20px;
		overflow: hidden;
	}

	.lfr-has-sidebar #main-content {
	   padding-left: 0px;
	}

/*drop-zones*/	
.portlet {
    margin: 0 0 15px;
}
.portlet-borderless-container {
    margin-bottom: 20px;
}	
/* Portal menu 'toggle' (i.e. the yellow bar on the left of the oskari menu) */
.sidebar-toggle {
    background-color: #FFDE00;
    height: 100%;
    left: -160px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 3;	
}