.coordinatetransformation-flyout {
    /*
    top: 0px; !important;
    min-width: 640px;
    max-width: 900px;
    */
}
.coordinatetransformation-flyout h4 {
    padding-bottom: 6px;
}
.coordinatetransformation-flyout h5 {
    padding-bottom: 0px;
}

/* Custom radio button */
.coordinatetransformation-flyout input[type="radio"] {
    display: none;
}
.coordinatetransformation-flyout .coordinate-datasources-wrapper {
    font-size: 14px;
}
.coordinatetransformation-flyout .source-select span {
    background-color:whitesmoke;
    display:inline-block;
    width:12px;
    height:12px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border: 0.5px solid black;
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}
.coordinatetransformation-flyout .source-select.selected span {
     background-color: black;
}
.coordinatetransformation-flyout input[type="radio"]:checked + label span {
     background-color: black;
}
.coordinate-datasources-wrapper label {
    cursor: pointer;
}
/* Source selection */
.coordinatetransformation-flyout .datasource-wrapper {
    width: 600px;
    padding-bottom: 24px;
}
.coordinatetransformation-flyout .coordinate-datasources-wrapper {
    display: flex;
}
.coordinatetransformation-flyout .source-select-wrapper {
    margin-right: auto;
    display: flex;
}
.coordinatetransformation-flyout .source-select {
    display: flex;
    margin-right: auto;
}
.coordinatetransformation-flyout .source-select .action-link{
    display: flex;
}

/*.coordinatetransformation-flyout .datasource-wrapper a {
    font-weight: 700;
}*/
.coordinatetransformation-flyout .source-select:not(.selected) .action-link {
    display: none;
}
/* Coordinate systems filter */
.coordinatetransformation-flyout .systems-filter-wrapper {
    width: 400px;
    padding-bottom: 12px;
}
.coordinatetransformation-flyout .coordinate-systems-filters {
    display: flex;
}

/*
.coordinatetransformation-flyout .datasource-info {
    height: 62px;
}

.coordinatetransformation-flyout .coordinate-datasource {
    padding-bottom: 6px;
}
.coordinatetransformation-flyout .keyboardinfo, .mapinfo {
    padding-top: 6px;
    padding-left: 12px;
    font-size: 13px;
}*/

/* Coordinate system selections */
.coordinatetransformation-flyout .coordinate-systems-wrapper {
    display: flex;
    padding-bottom: 12px;
}
.coordinatetransformation-flyout .transformation-system {
    min-width: 360px;
    min-height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.coordinatetransformation-flyout .auto-margin-divider {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    /* or source: margin-right: 20; target: margin-left: auto;*/
}
.coordinatetransformation-flyout .selection-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 360px;
}
.coordinatetransformation-flyout .dropdown_title {
    font-weight: bold;
    /*max-width:12em !important;*/
    width: 160px;
}
.coordinatetransformation-flyout .epsgSearch input {
    color: #444;
    line-height: 12px;
    font-size: 12px;
    width: 168px;
    margin-left: auto;
}
.coordinatetransformation-flyout .geodetic-coordinate .chosen-default {
    color: #444;
}
.coordinatetransformation-flyout .elevation .chosen-default {
    color: #444;
}
.coordinatetransformation-flyout .epsgSearch {
    margin-bottom: 40px;
}
.transformation-wrapper .selectMountPoint {
    margin-left: auto;
}
.transformation-wrapper .system {
    padding-top: 12px;
}
.transformation-system {
    display: inline-block;
    font-size: 12px;
    padding-left: 3px;
}
/* Coordinate tables  */
.coordinatetransformation-flyout .coordinate-tables-wrapper {
    display: flex;
    padding-bottom: 12px;
}
.coordinatetransformation-flyout .oskari-coordinate-table {
    border: 1px solid black;
    overflow-y: scroll;
    line-height: 1em;
    table-layout: fixed;
    margin-bottom: 0px;
}
.coordinatetransformation-flyout .transformation-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.coordinatetransformation-flyout .transformation-button input {
    font-size:80%;
}
.coordinatetransformation-flyout .oskari-table-content {
    width: 320px;
    height: 285px;
    overflow: auto;
}
.coordinatetransformation-flyout .rowcount {
    float:right;
}
.coordinatetransformation-flyout .oskari-table-header {
    min-height: 36px;
}
.coordinatetransformation-flyout .oskari-tbl-header {
    margin-bottom: 0;
    table-layout: fixed;
    word-wrap: break-word;
    width: 320px;
}
.coordinate-table-wrapper th {
    text-align: center;
}
.coordinate-table-wrapper th.three {
    width: 33% !important;
}
.coordinate-table-wrapper th.two {
    height: 36px;
    vertical-align: bottom;
    width: 50% !important;
}
.coordinatetransformation-flyout td { /*.cell*/
    background: #FAFAFA;
    border: 1px solid black;
    padding: 0px;
}
.coordinatetransformation-flyout table.two-dimensions td {
    width: 50%;
}
.coordinatetransformation-flyout table.three-dimensions td {
    width: 33%;
}
.coordinatetransformation-flyout .cellContent {
    text-align: center;
    height: 12px;
    padding-bottom: 7px;
    padding-top: 8px;
    overflow: hidden;
}
.coordinatetransformation-flyout .invalid-coord {
    border: 1px solid red;
    padding-bottom: 6px;
    padding-top: 7px;
}
.coordinatetransformation-flyout .cell.control {
    border: inherit; 
    border-bottom: 1px solid black;
    display: none; 
    position: relative;
}
.transformation-wrapper .cell-disabled {
    background-color: grey !important;
}

/*
* TABLE HOVER
*/
/*
.coordinatetransformation-flyout .hoverable {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 15em;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
.coordinatetransformation-flyout .hoverable td { 
    padding: 0px;
    border:#4e95f4 1px solid;
    width:33% !important;
}*/

/*
.coordinatetransformation-flyout .hoverable tr:hover {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
.coordinatetransformation-flyout tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}*/
.coordinatetransformation-flyout table .highlighted td {
  background:#4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
.coordinatetransformation-flyout .removerow {
    border-radius: 50%;
    height:1.3em;
    width:1.4em;
    background-image: url('../images/icon-close.png');
    right:-5em;
    position: absolute;
}

/* Util row */
.util-row-wrapper {
    display: flex;
}
.util-row-wrapper input[type="button"] {
    font-size: 13px;
}
.util-row-wrapper input[type="button"].export {
    margin-left: auto;
}

/* File settings form */
.coordinatetransformation-file-form {
    min-width: 400px;
    display: flex;
    flex-flow: column wrap;
    padding: 10px 15px 0px;
}

.coordinatetransformation-file-form .selection-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}
.coordinatetransformation-file-form input:not(.chkbox) {
    margin-left: auto;
    width: 150px;
}
.coordinatetransformation-file-form .settingsSelect {
    margin-left: auto;
    margin-right: 12px;
    width: 150px;
}
.coordinatetransformation-file-form select {
    width: 162px;
    font-size: 13px;
    cursor: pointer;
}
.coordinatetransformation-file-form label {
    display:flex;
    width: 300px;
    margin-left: auto;
    align-items: center;
    padding-bottom: 6px;
}
.coordinatetransformation-file-form span, .chkbox {
    cursor: pointer;
}
.coordinatetransformation-file-form .without-infolink {
    padding-right: 16px;
}
/* Helper popup */
.coordinatetransformation-helper-popup ul {
    padding-left: 20px;
}

/* Coordinate System information */
.oskari-coordinatesystem-info {
    width: 500px;
}
.oskari-coordinatesystem-info p {
    padding-bottom: 12px;
}
.oskari-coordinatesystem-info .info-list {
    padding-left: 20px;
    padding-bottom: 12px;
}

@media screen and (max-width: 1000px) {
    .coordinatetransformation-flyout {
        max-width: 560px;
    }
    .coordinatetransformation-flyout .datasource-wrapper{
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .coordinatetransformation-flyout .coordinate-datasources-wrapper {
        flex-direction: column;
    }
    .coordinatetransformation-flyout .coordinate-systems-wrapper {
        flex-direction: column;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        /*align-items: center;
        flex-wrap: wrap;*/
    }
    .coordinatetransformation-flyout .coordinate-system-wrapper.input {
        margin-bottom: 12px;
    }
    .coordinatetransformation-flyout .coordinate-tables-wrapper {
        flex-direction: column;
        width: 322px;
        margin-left: auto;
        margin-right: auto;
        /*align-items: center;
        flex-wrap: wrap;*/
    }
    .coordinate-tables-wrapper .transformation-button {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .coordinate-tables-wrapper .transformation-button input{
        width: 320px;
    }

    .coordinatetransformation-flyout .util-row-wrapper {
        font-size: 12px;
    }

}
