.oskari-coordinate-form {
    width: 39em;
    display: inline-block;
}
.oskari-coordinate-form > div {/*.filerow, .formatRow, .decimalSeparator, .headerLineCount, .decimalLineCount {*/
    float:left;
    clear: left;
    padding-top: 0.875em; 
}
.oskari-coordinate-form > .lbl {
    float:left;
    clear: left;
    padding-top: 6px;
    padding-left: 11em;
}
.oskari-coordinate-form .infolink {
    float: left;
}
.oskari-coordinate-form label span {
    float: left;
}
.oskari-coordinate-form input[type="number"]{
    float: left;
    width: 12em;
}
.oskari-coordinate-form .title {
    font-weight: bold;
    word-break: break-word;
    width: 12em !important;
    font-size: 0.9em;
    float: left;
    padding-right: 0.4em;
}
.oskari-coordinate-form .lbl > .chkbox {
    float: left;
}
/*.oskari-coordinate-form .lbl {
    float: right;
    padding-left: 3em;
}*/
.oskari-coordinate-form .settingsSelect {
    float: left;
    width: 13em;
    margin: 2px;
}
.oskari-coordinate-form .settingsSelect > select {
    float: left;
    width: 14em;
    font-size: 13px;
}
.oskari-coordinate-form .cancel {
    clear: left;
    float: left;
}
.oskari-coordinate-form .done {
    float:right;
}