.oskari-coordinate-form {
    width: 39em;
    display: inline-block;
}
.oskari-coordinate-form .filerow, .formatRow, .decimalSeparator, .headerLineCount {
    float:left;
    clear: left;
    padding-top: 0.875em; 
}
.oskari-coordinate-form .title {
    font-weight: bold;
    word-break: break-word;
    width: 12em !important;
    font-size: 0.9em;
    float: left;
    padding-right: 0.4em;
}
.oskari-coordinate-form .lbl > .chkbox {
    float: left;
}
.oskari-coordinate-form .lbl {
    float: right;
    padding-left: 3em;
}
.oskari-coordinate-form .settingsSelect {
    float: left;
}
.oskari-coordinate-form .settingsSelect > select {
    float: right;
    width: 12em;
}
.oskari-coordinate-form .cancel {
    clear: left;
    float: left;
}
.oskari-coordinate-form .done {
    float:right;
}