.oskari-export {
    width: 39em;
    display: inline-block;
}
 .filerow, .formatRow, .decimalSeparator, .headerLineCount {
    float:left;
}
 .filerow, .formatRow, .decimalSeparator, .headerLineCount {
    clear: left;
    padding-top: 0.875em; 
}
.title {
    font-weight: bold;
    word-break: break-word;
    width: 12em !important;
    font-size: 0.9em;
    float: left;
    padding-right: 0.4em;
}
.lbl > .chkbox {
    float: left;
}
.lbl {
    float: right;
    padding-left: 3em;
}
.settingsSelect {
    float: left;
}
.settingsSelect > select {
    float: right;
    width: 12em;
}
.cancel {
    clear: left;
    float: left;
}
.import {
    float:right;
}