div.layerselection2 {
	.layer.selected {
		border: 1pt solid #c0d0e0;
		margin: 0 5px 5px 0;
		height: unquote("70px\\9"); /*IE9 */

		div.layer-info {
			background-color: #FFF;
			padding: 5px;

			div.layer-icon {
				float: left;
				height: 20px;
				margin-top: 5px;
				margin-left: 20px;
				margin-right: 20px;
				width: 16px;
				background-repeat: no-repeat;
			}

			div.layer-title {
				cursor: move;
				display: inline;

				h4 {
					font: 14pt Arial,sans-serif;
					padding: 0;
				}
			}

			div.layer-tool-refresh {
				float: right;
			    cursor: default;
			    margin-right: 10px;
			}

		  div.layer-tool-remove {
			float: right;
		  }
		}

		div.layer-tools {
			background-color: #f3f3f3;
			padding: 7px;

			div.layout-slider {
				width: 140px;
				display: inline-block;
				margin-right: 16px;
			}

			div.left-tools {
				display: inline-block;

				div.layer-visibility {
					padding-right: 5px;
					display: inline-block;
				}

				div.layer-opacity {
					display: inline-block;
					background-image: url('../images/opacity_slider.png');
					background-repeat: no-repeat;

					div.opacity-slider input {
						padding: 1px;
						width: 25px;
					}
				}
			}

			div.right-tools{
				padding-top: 5px;
				float: right;

				div {
					float: left;
					margin-right: 5px;

					&.layer-rights, &.object-data {
						padding-top: 2px;
					}

					&.object-data a {
						padding-left: 5px
					}
				}
			}
		}

		div.stylesel {
			label {
				padding: 7px;
			}
			background-color: #f3f3f3;
		}

	}

	ul.selectedLayersList {
		height: 100%;
		width: 100%;
		overflow: auto;
		list-style-type: none;
		padding: 0;
		margin: 0;

		span {
			position: absolute;
			margin-left: -1.3em;
		}

	}

}

div.analyse-filter-popup-content div.filter-option {
    padding-bottom: 10px;

    div.manage-filter-option {
        display: inline-block;
        vertical-align: middle;

        div.add-filter-option, div.remove-filter-option {
            cursor: pointer;
            display: inline-block;
            /* These are icons, so it's OK to have a custom font here. */
            font-size: 48px;
            font-weight: bold;
            margin-left: 5px;
            min-width: 16px;
            text-align: center;
        }

    }

    &.filter-option-aggregate {
        padding-bottom: 25px;

        div.attribute-value-block {
            position: relative;
            display: inline-block;

            div.add-link {
                position: absolute;
                top: 40px;
            }
        }
    }

    .filter-input-value {
        width: 160px;
        margin: 1px;
    }

    input[name="case-sensitive"] {
        margin-right: 5px;
    }

    select {

        &.attribute {
            width: 150px;
        }

        &.boolean {
            margin-top: 10px;
            width: 65px;
        }

        &.operator {
            width: 210px;
        }

    }
}
