.metadataflyout {
  /* Content */ }
  .metadataflyout .tab-content div.browseGraphic {
    margin-left: 2px; }
  .metadataflyout .tab-content div h1 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .metadataflyout .tab-content div table {
    margin-right: 0px;
    margin-left: 0px;
    /* We have to force font size back to normal as this isn't actual table content */
    font-size: 14px;
    line-height: 21px; }
    .metadataflyout .tab-content div table tr td {
      text-align: left;
      display: block;
      margin-top: 4px;
      margin-left: 24px;
      margin-bottom: 8px;
      vertical-align: top;
      border: 0; }
      .metadataflyout .tab-content div table tr td.MD_DigitalTransferOptions a {
        color: navy;
        text-decoration: underline;
        cursor: pointer;
        max-width: 320px;
        display: block;
        word-wrap: break-word; }
      .metadataflyout .tab-content div table tr td a {
        color: navy;
        text-decoration: underline;
        cursor: pointer; }
    .metadataflyout .tab-content div table tr th {
      text-align: left;
      display: block;
      text-transform: uppercase;
      vertical-align: top; }

/* xml */
.metadataflyout_content_xml {
  margin: 0;
  padding: 0; }

.metadataflyout_content_section {
  /* We have to force font size back to normal as this isn't actual table content */
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  display: block;
  margin-bottom: 12px; }
