.metadataflyout_content {
	margin: 0; padding: 0;
	margin-left: 8px;
	/*border : 1pt solid red;*/
	/*height : 100%;*/
	/*width : 90%;*/
	
	
}

.metadataflyout_content_tabs {
	margin: 0; padding: 0;
	
	/*height : 100%;*/
	/*width : 90%;*/
	
}
.metadataflyout_content_tab {
	margin: 0; padding: 0;
	font-style: italic;
	display: inline-block;
	margin-left: 4px;
	color: navy;
	text-decoration: underline;
	cursor: pointer;
	/*height : 100%;*/
	/*width : 90%;*/
	
}

/* browseGraphic */

.metadataflyout_content_browseGraphic {
	margin-left: 8px;

	
}

.metadataflyout_content_browseGraphic img {
	margin-bottom: 8px;
	margin-top: 8px;
	border: 0;
	/*box-shadow: 2px 5px 5px rgba(50, 50, 50, 0.4);*/
}

/* abstract */
.metadataflyout_content_abstract {
	margin: 0; padding: 0;
	
	

}

.metadataflyout_content_abstract_title {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	text-transform: uppercase;
	display: none;

}

.metadataflyout_content_abstract div  h1 {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 8px;
	
}

.metadataflyout_content_abstract div  table {
	margin-right: 8px;
	margin-left: 8px;
}

.metadataflyout_content_abstract div table tr th {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	display: block;
	text-transform: uppercase;
}

.metadataflyout_content_abstract div  table tr td {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
		display: block;
	margin-top: 4px;
	margin-left: 24px;
	margin-bottom: 8px;

	
}


/* jhs */
}
.metadataflyout_content_jhs {
	margin: 0; padding: 0;
	
	

}

.metadataflyout_content_jhs_title {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	text-transform: uppercase;
	display: none;
	

}

.metadataflyout_content_jhs div  h1 {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 8px;
	
}

.metadataflyout_content_jhs div  table {
	margin-right: 8px;
	margin-left: 8px;
}

.metadataflyout_content_jhs table tr th {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	/*text-transform: uppercase;*/
	display: block;
}

.metadataflyout_content_jhs table tr td {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
		display: block;
	margin-top: 4px;
	margin-left: 24px;
	margin-bottom: 8px;

	
}


/* inspire */

.metadataflyout_content_inspire {
	margin: 0; padding: 0;
	
	
	
}

.metadataflyout_content_inspire_title {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	text-transform: uppercase;
	display: none;
}

.metadataflyout_content_inspire div   h1 {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.metadataflyout_content_inspire div  table {
	margin-right: 8px;
	margin-left: 8px;
}

.metadataflyout_content_inspire div  table tr th {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	display: block;
	
	text-transform: uppercase;
}

.metadataflyout_content_inspire div  table tr td {
	font: 13px/ 19px "Open Sans", "Helvetica Neue", "HelveticaNeue",
		Helvetica, Arial, sans-serif;
	text-align: left;
	display: block;
	margin-top: 4px;
	margin-left: 24px;
	margin-bottom: 8px;
	/*border: 1pt solid magenta;*/
}




/* xml */
.metadataflyout_content_xml {
	margin: 0; padding: 0;
	
	

}
