.manageClassificationPlugin {
  z-index: 1000000 !important;
  max-width: 240px;
  background-color: white !important;
  color: #000 !important;
  padding: 0px;
  text-align: left;
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  cursor: pointer; }
  .manageClassificationPlugin .content select {
    padding: 0px;
    margin: 4px; }
  .manageClassificationPlugin div#pop-up_06052013 {
    /* HOVER colortable details */
    display: none;
    position: absolute;
    width: 100px;
    padding: 0px;
    background: #E6E6E6;
    color: #000;
    border: 1px solid #1a1a1a;
    font-size: 90%; }
  .manageClassificationPlugin div.classCount {
    float: left;
    background-color: #FFF !important;
    padding: 0px;
    margin: 2px; }
  .manageClassificationPlugin div.classheader {
    color: #FFF;
    background-color: #000 !important;
    padding: 4px; }
    .manageClassificationPlugin div.classheader .header-icon {
      display: inline-block;
      vertical-align: middle; }
  .manageClassificationPlugin div.classifications {
    margin: 4px;
    min-width: 168px; }
    .manageClassificationPlugin div.classifications div.classificationOptions {
      margin: 4px; }
  .manageClassificationPlugin div.content {
    color: black;
    background-color: white !important; }
    .manageClassificationPlugin div.content label {
      float: left;
      width: 80px;
      padding: 10px;
      font-weight: bold; }
  .manageClassificationPlugin div.header-icon icon-arrow-white-right {
    padding: 4px; }
  .manageClassificationPlugin input[type="button"] {
    margin: 0.5em; }
  .manageClassificationPlugin input[type="text"] {
    background-image: none;
    color: #f6931f;
    font-weight: bold;
    width: 40px;
    border: 0;
    color: #f6931f;
    font-weight: bold; }
  .manageClassificationPlugin .manualBreaks input[type="text"] {
    width: 180px;
    float: left; }
  .manageClassificationPlugin .manualBreaks .icon-info {
    float: left;
    margin-top: 6px; }
  .manageClassificationPlugin .classification-guide {
    padding-left: 5px; }
  .manageClassificationPlugin .ui-corner-all, .manageClassificationPlugin .ui-corner-bottom, .manageClassificationPlugin .ui-corner-right, .manageClassificationPlugin .ui-corner-br {
    border-bottom-right-radius: 4px; }
  .manageClassificationPlugin .ui-corner-all, .manageClassificationPlugin .ui-corner-bottom, .manageClassificationPlugin .ui-corner-left, .manageClassificationPlugin .ui-corner-bl {
    border-bottom-left-radius: 4px; }
  .manageClassificationPlugin .ui-corner-all, .manageClassificationPlugin .ui-corner-top, .manageClassificationPlugin .ui-corner-right, .manageClassificationPlugin .ui-corner-tr {
    border-top-right-radius: 4px; }
  .manageClassificationPlugin .ui-corner-all, .manageClassificationPlugin .ui-corner-top, .manageClassificationPlugin .ui-corner-left, .manageClassificationPlugin .ui-corner-tl {
    border-top-left-radius: 4px; }
  .manageClassificationPlugin .ui-slider {
    position: relative;
    text-align: left;
    width: 200px; }
    .manageClassificationPlugin .ui-slider .ui-slider-handle {
      cursor: default;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      z-index: 2; }
  .manageClassificationPlugin .ui-slider-horizontal {
    height: 0.8em; }
    .manageClassificationPlugin .ui-slider-horizontal .ui-slider-handle {
      margin-left: -0.6em;
      top: -0.3em; }
  .manageClassificationPlugin .ui-state-default, .manageClassificationPlugin .ui-widget-content .ui-state-default, .manageClassificationPlugin .ui-widget-header .ui-state-default {
    background: #222 repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555;
    font-weight: normal; }
  .manageClassificationPlugin .ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em; }
  .manageClassificationPlugin .ui-widget-content {
    background: #AAA repeat-x scroll 50% 50% #FFF;
    border: 1px solid #AAA;
    color: #222; }

/* TODO should these be under .manageClassificationPlugin? */
.geostats-legend div {
  margin-bottom: 3px; }

.geostats-legend-block {
  border: 1px solid #555;
  display: inline-table;
  float: none;
  height: 12px;
  margin: 2px 5px 0 0;
  width: 20px;
  vertical-align: middle; }

.geostats-legend-counter {
  color: #666;
  font-size: 0.8em;
  font-style: italic; }

.geostats-legend-title {
  font-weight: bold;
  margin-bottom: 4px; }

table.colo_table1 td.selected {
  background-color: #AAA; }
table.colo_table1 td.hover {
  background-color: #D4A017; }
table.colo_table1 div {
  display: inline-block;
  height: 15px;
  width: 5px; }
