#contentMap.statsgrid-contentMap {
  position: relative; }

.oskariui-mode-content {
  height: 100%;
  background-color: white; }

.oskariui-mode-content.statsgrid-mode {
  overflow: hidden;
  height: auto;
  width: 100%;
  position: absolute;
  top: 40px;
  bottom: 0; }

.oskariui-left {
  float: left; }

.oskariui-center {
  float: left; }

.statsgrid {
  min-width: 100%;
  min-height: 100%;
  height: 100%; }

.statsgrid_100 {
  height: 100%; }

.statsgrid .statsgrid-table {
  min-height: 80%;
  height: 80%;
  font: 12px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }

.statsgrid .idContainer {
  margin: 4px;
  border: 1pt solid #40B0C0;
  border-radius: 5px;
  padding: 4px;
  background-color: #80F0A0;
  cursor: pointer; }

.statsgrid .selectors-container {
  position: relative;
  height: 20%;
  min-height: 157px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ie-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.statsgrid-csv-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.statsgrid-variable {
  float: left;
  clear: both;
}
.statsgrid .indicator-cont {
  float: left;
  position: relative;
  padding-right: 30px; }

.statsgrid .indicator-cont .icon-info {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 7px; }

.statsgrid .selector-cont select.indi {
  width: 200px; }

.statsgrid .parameters-cont {
  min-height: 115px;
  float: left; }

.statsgrid .selector-cont {
  clear: both; }

.statsgrid .selector-cont label {
  float: left;
  width: 80px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em; }

.statsgrid .selector-cont select {
  float: right; }

.statsgrid .selector-cont select.parameter {
  width: 100px; }

.statsgrid .parameters-cont button {
  float: right;
  clear: both;
  margin: 8px 0 10px 0; }

.statsgrid .municipal-grid {
  width: 100%;
  height: 80%; }

.statsgrid-totals-label {
  font-weight: bold;
}
.statsgrid-show-total-selects label,
.statsgrid-show-row-selects label {
  margin-left: 5px;
}
.statsgrid-show-row-selects {
  border-top: solid 1px black;
  padding-top: 5px;
}

/**
 * Style the drop-down menu here since the plugin stylesheet mostly contains structural CSS.
 */

.slick-header-menu {
  border: 1px solid #999;
  background: #fcfcfc;
  padding: 2px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  -o-box-shadow: 2px 2px 2px silver;
  -ms-box-shadow: 2px 2px 2px silver;
  box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  z-index: 20;
}

.slick-header-menuitem {
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.slick-header-menuitem:hover {
  border-color: silver;
  background: white;
}

.slick-header-menuitem-disabled {
  border-color: transparent !important;
  background: inherit !important;
}

.icon-help {
  background-image: url(/Oskari/libraries/slickgrid/images/help.png);
}

.statsgrid-highlight-row {
  background-color: yellow;
}
