/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

div.notLoggedIn {
    padding: 10px;
}

#contentMap {
    
    &.mapAnalyseMode {
        margin-left: 384px;
    }

    div.basic_analyse {
        background: white;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1500;
        width: 384px;
    }

    div.basic_publisher div.content {
        padding: 10px;
    }

}

div.analyse {

    div.startview {

        div.error ul li {
            color: red;
        }

        div.icon-info {
            float: right;
        }

    }

}

div.basic_analyse {

    > div.content {
        overflow: auto;
        height: 89%;
    }

    > div.header {
        background-color: #FDF8D9;
        padding: 5px 10px;

        div.icon-close {
            float: right;
        }

    }

    div.analyse-select-featurelist {
        display: inline;
        margin-left: 6px;

        a {
            text-decoration: none;
        }

        ul {
            padding: 0;
            padding-top: 10px;

            li {
                list-style-type: none;
            }

        }

    }

    div.icon-info {
        float: right;
        cursor: pointer;
    }

    div.icon-funnel, div.icon-funnel-active {
        cursor: pointer;
    }

    div.icon-menu {
        margin: -5px 100px;
    }

    div.location {
        height: 30px;
    }

    div.previewNotes {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 2px;
    }

    div.tool {
        margin: 5px;
    }

    div.drawFilter {
        margin: 5px;
    }

    div.icon-close.analyse-temp-feature {
        display: inline-block;
        cursor: pointer;
    }

    div.toolContainer {
        margin: 5px 15px 5px 5px;
        display: inline-block;

        h4 {
            padding: 0;
        }

        div.tool {
            display: inline-block;
            cursor: pointer;
        }

        div.buttons {
            display: inline-block;
            float: right;
        }

    }

    div.drawFilterContainer {
        margin: 5px;
        display: inline-block;

        h4 {
            padding: 0;
        }

        div.drawFilter {
            display: inline-block;
            cursor: pointer;

            &.disabled {
                opacity: 0.4;
                cursor: default !important;
            }

            &.selected {
                opacity: 1.0;
                background-color: #333438;
                cursor: default !important;
            }

        }

        div.buttons {
            display: inline-block;
            float: right;
        }

    }

    div.header-icon-info {
        margin: 10px;
    }

    select {

        &.settings_buffer_units, &.settings_area_size_units {
            width: 80px;
        }

    }

}

div.basic_analyse {

    div.form {

        div.field {

            input, select {
                width: 80%;
                background-color: white;
                filter:unquote("Alpha(opacity=100)") !important; /* unquote for libsass bug */
            }

        }

    }

}

div.basic_analyse {

    div.tool, div.drawFilter, div.analyse_settings_cont, div.analyse_areas_and_sectors_cont {

        input {
            margin-right: 10px;
        }

    }

    div.analyse_settings_cont {

        label {
            margin: 5px 0;

            span {
                clear: both;
                display: block;
            }

            input, select {
                margin-top: 7px;
                margin-bottom: 10px;
            }

        }
    }

}

.analyse_radiolabel, .analyse_checklabel {
    padding: 3px 6px;
    @include border-radius(2px);

    &:hover {
        background-color: #eee;
    }

}

/* FIXME change these to actual labels? */
.analyse_params_label, .analyse_title_label, .output_color_label, .columns_title_label, .settings_buffer_label, .extra_title_label, .settings_name_label {
    /* FIXME change these to fieldset + legend? */
    font-weight: bold;
    margin: 5px 0;
}
.analyse_settings_cont {
    margin: 10px 5px;
}

.analyse_title_colcont {
    margin: 10px 5px;
}

/* Buttons */
div.basic_analyse div.buttons, div.analyse div.startview div.buttons {
    margin: 5px;

    input {
        margin-right: 1px;
    }

}

label.params_checklabel {
    text-overflow: ellipsis;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

// for local use .icon-funnel {
//    background-image: url("../icons/icon-funnel.png") !important;
//    background-repeat: no-repeat !important;
//    height: 18px !important;
//    width: 18px !important;
//} 
table.layer-icons {
    margin: 0 0 2px;
    width: 30%;
    display: inline-table;

    div.icon-info {
        float: none;
    }

    div.icon-close {
        cursor: pointer;
    }

}

/* Analyse filter CSS */
div.analyse-filter-popup-content {
    padding: 8px;

    div.analyse-filter {
        padding: 12px 8px;
        border-bottom: 1px solid #888;
        border-top: 1px solid #E8E8E8;

        &:first-child {
            border-top: none;
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
      
    }

    div.analyse-filter-clicked-features {

        div.clicked-features-title {
            display: inline-block;
            margin-right: 25px;
        }

        label {
            margin-left: 8px;
        }

    }

    div.bbox-title, div.bbox-radio {
        display: inline-block;
    }

    div.bbox-title {
        float: left;
    }

    div.bbox-radio {
        margin-left: 25px;

        div.bbox-on, div.bbox-off {
            margin-top: 5px;
        }

    }

}

div.analyse-filter-popup-content div.filter-option {
    padding-bottom: 10px;

    div.manage-filter-option {
        display: inline-block;
        vertical-align: middle;

        div.add-filter-option, div.remove-filter-option {
            cursor: pointer;
            display: inline-block;
            /* These are icons, so it's OK to have a custom font here. */
            font-size: 48px;
            font-weight: bold;
            margin-left: 5px;
            min-width: 16px;
            text-align: center;
        }
        
    }

    input[name="attribute-value"] {
        width: 120px;
    }

    input[name="case-sensitive"] {
        margin-right: 5px;
    }

    select {

        &.attribute {
            width: 150px;
        }

        &.boolean {
            margin-top: 10px;
            width: 60px;
        }

        &.operator {
            width: 210px;
        }

    }

}

div.divmanazerpopup {

    &.drawfilterdialog {
        max-width: 400px;
    }

    &.analyse-draw-dialog {
        max-width: 280px;
    }

}
