/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

@mixin background-gradient($from, $to) {
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -moz-linear-gradient(top,  $from,  $to);
    background: -ms-linear-gradient(top,  $from,  $to);
    /* For some reason sass didn't like this in one line... */
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='")
    + $from
    + unquote("', endColorstr='")
    + $to
    + unquote("')"); 
    background: linear-gradient(top,  $from,  $to);
}

/* Override popup styles */

div.divmanazerpopup.guidedtour {

    &.arrow:after, &.arrow:before {
        display: none;
    }

    &.bluetitle h3 {
        /* Same as h3.inverted? */
        color: #fff;
        font-weight: normal;
        background-color: #1995fd;
        @include border-radius(3px 3px 0 0);

        span {
            float: right;
            padding-top: 3px;
        }

    }

    &.draggable {
        cursor: move;
    }

    .actions {

        input {
            display: inline-block;
            vertical-align: baseline;
            margin: 0 2px;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            padding: 4px 10px;
            @include border-radius(4px);
            color: #fff;
            border: solid 1px #2670b5;
            text-shadow: 1px 1px 0 rgba(0,0,0,.35);
            background: #3996ed;
            @include background-gradient(#3a97ee, #217ad4);

            &:hover {
                text-decoration: none;
                color: #fff;
                @include background-gradient(#3a97ee, #217ad4);
            }

            &:active {
                position: relative;
                top: 1px;
                color: #19456d;
                text-shadow: none;
                @include background-gradient(#3a97ee, #217ad4);
            }

        }

    }

}
