/* this stylesheet is a copy of liferay related styles - to make oskari more independent */
fieldset {
	border: 1px solid #E6E6E6;
	padding: 8px;
}

.ie fieldset {
	padding-top: 0;
}

.aui-fieldset {
	border-width: 0;
	padding: 0;
	position: relative;
}

.configuration-popup .aui-fieldset {
	margin-bottom: 0;
}

.aui-fieldset .aui-field-content, .aui-field-row, .aui-button-holder, .aui-field-wrapper-content {
	margin: 10px 0;
}

.aui-field-inline .aui-field-content, .aui-field-row .aui-field-content {
	margin: 0;
	margin-right: 5px;
}

.aui-search-bar .aui-field-content {
	margin-right: 0;
}

.aui-search-bar .aui-field-content, .aui-search-bar .aui-button-content {
	display: inline-block;
	vertical-align: middle;
}

.aui-field-choice .aui-field-label {
	display: inline-block;
}

.aui-field-date .aui-field-content {
	overflow: hidden;
}

legend {
	/* Same text style as in strong element so this is fine */
	font-weight: bold;
	padding: 0 6px;
}

.aui-fieldset-legend {
	/* Portal style, doesn't matter */
	color: #3C3C3C;
	font-size: 120%;
	font-weight: bold;
	padding: 0 0 1.5em;
}

.aui-legend {
	border-bottom: 1px solid #CCC;
	display: block;
	position: absolute;
	width: 90%;
}

input {
	background: #FAFAFA;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button {
	background-image: url(../images/forms/input_shadow.png);
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	padding: 5px 1px;
}

/* label element preceded by an input[type="radio"] element */
input[type="radio"] ~ label {
}

select {
	padding: 1px;
}

input[type="image"] {
	background: transparent none;
	border: none;
	padding: 0;
}

/* This is used in buttons */
input[type="submit"], input[type="button"], input[type="reset"], button {
	cursor: pointer;
	overflow: visible;
	padding: 5px;
	width: auto;

	&:hover, &:focus {
		background: #DFF4FF;
		border: 1px solid #A7CEDF;
		/* Hover color doesn't really matter... */
		color: #0091FF;
	}
}

/* This is used in buttons */
input[type="submit"], input[type="button"], input[type="reset"], button, .lfr-actions, .lfr-actions ul {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	color: #3C3C3C;
	font-weight: bold;
	text-shadow: 1px 1px #FFF;
}

.aui-button-disabled {

	input[type], button, input[type]:hover, input[type]:focus, button:hover, button:focus {
		background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
		border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
		/* Portal style, doesn't matter */
		color: #555;
		opacity: 0.5;
	}

}

/* This is used in buttons */
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, .lfr-actions:hover, .lfr-actions:hover ul {
	background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;
	border-color: #627782;
	/* Hover color doesn't really matter... */
	color: #369;
}

/* This is used in buttons */
input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, button:focus, .lfr-actions:focus, .lfr-actions:focus ul {
	background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;
	border-color: #555;
}

input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
	border: 1px solid #F00;
}

/* This is used in all primary buttons */
input.primary {
	background-color: #217ad4;
	background-image: url(../images/blue_button_liuku.png);
	border-color: #0000BF #0000DE #0000DE #0000BF;
	color: #FFF;
	text-shadow: 1px 1px #AAF;
}

/* Doesn't seem to be in use, nothing sets the focus class in oskari */
input.focus, textarea.focus {
	background: #FFD400 none;
	border: 1px solid #FC0;
}

.ie .aui-button-disabled input {
	-ms-filter: alpha(opacity=50);
	filter: alpha(opacity=50);
}