.backendstatus-down {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
}

.backendstatus-maintenance-pending {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -20px 0px !important;
}

.backendstatus-maintenance {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -40px 0px !important;
}

.backendstatus-ok {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -60px 0px !important;
}

.backendstatus-unknown {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -80px 0px !important;
}

.component-indexmap {
    width: 46px;
    height: 46px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -100px 0px !important;
}

.component-indexmap:hover {
    width: 46px;
    height: 46px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -100px -46px !important;
}

.component-tab-bg {
    width: 1px;
    height: 26px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -146px 0px !important;
}

.icon-area-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -147px 0px !important;
}

.icon-area-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -179px 0px !important;
}

.icon-area-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -211px 0px !important;
}

.icon-arrow-down {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -243px 0px !important;
}

.icon-arrow-right {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -256px 0px !important;
}

.icon-arrow-white-down {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -269px 0px !important;
}

.icon-arrow-white-right {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -282px 0px !important;
}

.icon-back-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -295px 0px !important;
}

.icon-back-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -327px 0px !important;
}

.icon-back-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -359px 0px !important;
}

.icon-bubble-left {
    width: 20px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -391px 0px !important;
}

.icon-bubble-right {
    width: 23px;
    height: 21px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -411px 0px !important;
}

.icon-clear-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -434px 0px !important;
}

.icon-clear-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -466px 0px !important;
}

.icon-clear-input {
    width: 10px;
    height: 10px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -498px 0px !important;
}

.icon-clear-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -508px 0px !important;
}

.icon-close-black {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -540px 0px !important;
}

.icon-close-white {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -572px 0px !important;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -604px 0px !important;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -620px 0px !important;
}

.icon-close:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -620px -16px !important;
}

.icon-cut-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -636px 0px !important;
}

.icon-cut-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -668px 0px !important;
}

.icon-default-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -700px 0px !important;
}

.icon-default-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -732px 0px !important;
}

.icon-default-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -764px 0px !important;
}

.icon-distance-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -796px 0px !important;
}

.icon-distance-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -828px 0px !important;
}

.icon-distance-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -860px 0px !important;
}

.icon-drag-corner {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -892px 0px !important;
}

.icon-drag-corner:hover {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -892px -23px !important;
}

.icon-drag {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -915px 0px !important;
}

.icon-drag:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -915px -16px !important;
}

.icon-fwd-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -931px 0px !important;
}

.icon-fwd-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -963px 0px !important;
}

.icon-fwd-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -995px 0px !important;
}

.icon-hand-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1027px 0px !important;
}

.icon-hand-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1059px 0px !important;
}

.icon-hand-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1091px 0px !important;
}

.icon-info {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1123px 0px !important;
}

.icon-info:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1123px -16px !important;
}

.icon-maximize {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1139px 0px !important;
}

.icon-maximize:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1139px -16px !important;
}

.icon-menu {
    width: 25px;
    height: 7px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1155px 0px !important;
}

.icon-minimize {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1180px 0px !important;
}

.icon-minimize:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1180px -16px !important;
}

.icon-palsta-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1196px 0px !important;
}

.icon-palsta-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1228px 0px !important;
}

.icon-print-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1260px 0px !important;
}

.icon-print-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1292px 0px !important;
}

.icon-print-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1324px 0px !important;
}

.icon-private {
    width: 18px;
    height: 18px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1356px 0px !important;
}

.icon-public {
    width: 18px;
    height: 18px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1374px 0px !important;
}

.icon-restore {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1392px 0px !important;
}

.icon-restore:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1392px -16px !important;
}

.icon-select-geometry {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1408px 0px !important;
}

.icon-snapshot-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1431px 0px !important;
}

.icon-snapshot-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1463px 0px !important;
}

.icon-snapshot-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1495px 0px !important;
}

.icon-split-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1527px 0px !important;
}

.icon-split-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1559px 0px !important;
}

.icon-split-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1591px 0px !important;
}

.icon-table {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1623px 0px !important;
}

.icon-zoom-active {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1639px 0px !important;
}

.icon-zoom-disabled {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1671px 0px !important;
}

.icon-zoom-normal {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1703px 0px !important;
}

.layer-base {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1735px 0px !important;
}

.layer-gfi-1 {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1751px 0px !important;
}

.layer-gfi-2 {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1767px 0px !important;
}

.layer-group {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1783px 0px !important;
}

.layer-stats {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1799px 0px !important;
}

.layer-vector {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1815px 0px !important;
}

.layer-wfs {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1831px 0px !important;
}

.layer-wms {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1847px 0px !important;
}

.layer-wmts {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1863px 0px !important;
}

.marker {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1879px 0px !important;
}

.myplaces-area {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1911px 0px !important;
}

.myplaces-draw-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1939px 0px !important;
}

.myplaces-draw-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1971px 0px !important;
}

.myplaces-draw-point {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2003px 0px !important;
}

.myplaces-line {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2035px 0px !important;
}

.myplaces-point {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2063px 0px !important;
}

.parcel-clear {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2091px 0px !important;
}

.parcel-draw-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2123px 0px !important;
}

.parcel-draw-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2155px 0px !important;
}

.parcel-selector {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2187px 0px !important;
}

.selection-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2219px 0px !important;
}

.selection-area:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2219px -32px !important;
}

.selection-circle {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2251px 0px !important;
}

.selection-circle:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2251px -32px !important;
}

.selection-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2283px 0px !important;
}

.selection-line:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2283px -32px !important;
}

.selection-point {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2315px 0px !important;
}

.selection-point:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2315px -32px !important;
}

.selection-remove {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2347px 0px !important;
}

.selection-remove:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2347px -32px !important;
}

.selection-square {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2379px 0px !important;
}

.selection-square:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2379px -32px !important;
}

.selection_edit {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2411px 0px !important;
}

.selection_edit:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2411px -32px !important;
}

.tool-draw-cut {
    width: 35px;
    height: 36px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2443px 0px !important;
}

.tool-feature-selection {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2478px 0px !important;
}

.tool-feature-selection:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2478px -32px !important;
}

.tool-history-back {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2510px 0px !important;
}

.tool-history-forward {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2542px 0px !important;
}

.tool-link {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2574px 0px !important;
}

.tool-measure-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2606px 0px !important;
}

.tool-measure-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2638px 0px !important;
}

.tool-pan {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2670px 0px !important;
}

.tool-print {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2702px 0px !important;
}

.tool-reset {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2734px 0px !important;
}

.tool-save-view {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2766px 0px !important;
}

.tool-zoombox {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2798px 0px !important;
}

