/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

@mixin box-shadow($shadow...) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

@mixin box-sizing($sizing) {
   -webkit-box-sizing: $sizing;
   -moz-box-sizing: $sizing;
   box-sizing: $sizing;
}

@mixin transition-duration-and-property($duration, $property) {
    -webkit-transition-duration: $duration;
    -webkit-transition-property: $property;
    -moz-transition-duration: $duration;
    -moz-transition-property: $property;
    -o-transition-duration: $duration;
    -o-transition-property: $property;
    -ms-transition-duration: $duration;
    -ms-transition-property: $property;
    transition-duration: $duration;
    transition-property: $property;
}

/* layer group container */
div.admin-layerselector {

    div.layerGroup {
        background-color : #F3F3F3;
        border: 1pt solid #C0D0D0;
        margin : 0;
        padding : 0;

        &.open {
            background-color : #FFF;
        }

        div.groupIcon {
            display : inline-block;
            margin-left: 12px;
            vertical-align: middle;
        }

        div.groupHeader {
            /* FIXME if this text should be bigger, make it an H3 or something */
            display : inline-block;
            padding: 8px 10px 8px 12px;
        }

    }

    /* For long lists, make capabilities list scrollable */
    .add-layer-record.capabilities .add-layer-input-area {
        max-height: 250px;
        overflow: auto;
    }

    .capabilities {

        ul {
            /* reset for parent level style */
            margin: 0px 20px 5px 20px;
        }

        .inline-icon {
            display: inline-block;
        }

        li ul {
            /* sublist */
            margin: 5px 20px;
        }

        /* link-like hover */
        li.capabilitieslayer:hover {
            text-decoration: underline;
        }

        li.capabilitieslayer.groupLevelLayer {
            font-style: italic;
            list-style: none;
            margin-left: -15px;
        }

        /* emphasize group nodes */
        li.groupTitle {
            font-weight: bold;
            list-style: none;
            margin: 5px -10px;
        }

        li.groupTitle.closed {

            ul {
                display : none;
            }

        }

    }

    .oskariTabs {
        margin-right: 1px; /* Avoid horizontal scrollbar, nfi why this fixes  it though... */
        min-width: 480px;

        div.tabsHeader ul li.admin-modify-wms {
            float:right;
        }

    }

    /* layer container */
    div.tab-content div.oskarifield {
        padding: 10px;
        min-height: 35px;
    }

    div.layer,
    div.create-layer {
        padding: 6px 10px 6px 20px;
        background-color : #ffffff;
        clear: both;

        #add-layer-inspire-theme {
            /*width: 309px;*/
            overflow-y: auto;
            border: solid 1px #b7b7b7;
            @include border-radius(4px);
            @include box-shadow(inset 1px 1px 2px rgba(0,0,0,.3));
        }

        .add-layer-input {
            float: none;
            width: 140px;
            height: 16px;
            margin: 0;
            margin-bottom: 4px;

            &.mid {
                width: 217px;
                float: left;
            }

            &.long {
                width: 297px;
            }

        }

        .layer-title {
            margin-top: 4px;
        }

        div.backendstatus-down {
            height: 20px !important;
            margin-bottom: 2px; 
            cursor: pointer;
        }

        div.backendstatus-maintenance {
            height: 20px !important;
            margin-bottom: 2px; 
            cursor: pointer;
        }

        div.backendstatus-ok {
            height: 20px !important;
            margin-top: -2px;
            margin-bottom: 2px;
            cursor: pointer;
        }

        div.backendstatus-unknown {
            height: 20px !important;
            margin-bottom: 2px; 
        }

        div.layer-backendstatus-icon {
            float : left;
            width : 20px;
            height: 16px;
            margin-right: 4px;
            background-repeat: no-repeat;
        }

        div.layer-icon {
            float : left;
            width : 16px;
            height : 16px;
            background-repeat: no-repeat;
        }

        div.layer-info {
            width: 16px;
            height: 16px;
            margin-left : 5px;
            float : right;
        }

        div.layer-tools {
            float : right;
        }

        input {
            float : left;
            margin-right : 5px;
            margin-top: 3px;

            &[type=checkbox] {
                margin-top: 0;
            }

        }

        select {
            width: 309px;
            padding: 8px 10px 8px 10px;
            @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
            display: block;
        }

        textarea.add-layer-input {
            padding: 10px;
            width: 157px;
            height: 82px;
            @include border-radius(4px);
            @include box-sizing(border-box);

            &.long {
                width: 309px;
            }

        }

    }

    div.create-layer {
        min-height: 35px;
    }

    div.layer:nth-child(even) {
        background-color : #F3F3F3;
    }

    div.tab-content {
      padding : 0;

        div.oskarifield {
            padding: 10px;
        }

    }

    div.accordion {

        div.accordion_panel {

            div.content {
                padding: 0;
            }

            div.header {

                div.headerIcon {
                    float: left;
                    margin-top: 12px;
                }

                div.headerText {
                    text-overflow: ellipsis;
                    width: 315px;
                    white-space: nowrap;
                    overflow: hidden;
                }

            }

        }

    }

    .admin-add-layer-btn,
    .admin-edit-layer-btn,
    .admin-add-grouping-btn,
    .admin-edit-grouping-btn {
        float: right;
        margin: 5px 10px;
    }

    button.admin-arrange-layers {
        background-color: #eee;
        background-image: url('arrange-icon.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        float: left;
        margin-left: -30px;
        width: 20px;
        height: 20px;
        @include border-radius(2px);
        opacity: 0;
    }

    .layer {
        min-height: 20px;
    }

    .add-layer-record,
    .add-layer-send,
    .add-class-record,
    .add-class-send,
    .add-group-record {
        width: 100%;
        margin-bottom: 8px;
        overflow: hidden;
        position: relative;
    }

    .add-layer-separation {
        margin-top: 15px;
    }

    .admin-add-layer-btn {
        float: right;
    }

    .admin-add-layer {
        padding: 10px 0px;
        overflow: hidden;
        height: auto;
        @include transition-duration-and-property(300ms, height);
    }

    .show-add-layer,
    .show-edit-layer  {
        padding: 10px 0px;
        height: auto;
        width: 100%;
        overflow: hidden;
        clear: right;
    }

    .admin-add-class {
        padding: 0px 10px;
        overflow: hidden;
        height: 0px;
        @include transition-duration-and-property(300ms, height);
    }

    .show-add-class {
        padding: 10px 10px;
        height: 230px;
        width: 100%;
    }

    .add-layer-wrapper,
    .add-class-wrapper {
        display: block;

    }

    .add-layer-btn {
        float: left;
    }

    .add-layer-grouping,
    .add-class-grouping {
        font-weight: bold;
        font-size: 130%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .add-layer-label-area,
    .add-class-label-area {
        display: table;
        float: left;
    }

    .add-layer-label,
    .add-class-label {
        font-weight: bold;
        width: 75px;
        display: table-cell;
        vertical-align: middle;
    }

    .add-layer-input-area,
    .add-layer-button-area,
    .add-class-input-area,
    .add-class-button-area {
        margin-left: 9em;
        min-width: 220px;
    }

    .add-layer-button-area .input-controls,
    .add-class-button-area .input-controls {
        width: 100%;
    }

    .input-controls {
        position: relative;
        margin-right: 5px;

        input.add-class-input.mid {
            width: 297px;
        }

        .admin-add-grouping-cancel,
        .admin-add-layer-cancel {
            float: right;
            margin-right: 10px;
        }

    }

    .adjacent .input-controls {
        float: left;
    }

    .icon-close {
        display: inline-block;
        opacity: 0;
        position: absolute;
        top: 9px;
        right: 10px;
        margin-left: 0px;
        cursor: pointer;

        &.mid {
            right: 90px;
        }

    }

    .input-controls:hover .icon-close,
    .layer:hover button.admin-arrange-layers {
        @include transition-duration-and-property(300ms, opacity);
        opacity: 1;
    }

    div.add-layer-text {
        height: 30px;
    }

    .left-tools .layer-opacity {
        display: inline-block;
        background-image: url('/Oskari/resources/framework/bundle/layerselection2/images/opacity_slider.png');
        background-repeat: no-repeat;
        background-position-y: 3px;
    }

    .opacity-slider-tool {
        width: 215px;
    }

    .admin-opacity-slider {
        width: 155px;
    }

    .opacity-slider {
        float: right;
        line-height: 25px;
    }

    .layout-slider {
        width: 140px;
        float: left;
        margin-top: 6px;
    }

    #admin-select-capability {
        margin-bottom: 15px;
    }

    .fetch-wms-button {
        margin-top: 2px;
        margin-bottom: 5px;
    }

}

div.divmanazerpopup div.content div.admin-layerselector {

    margin-right: 20px;

    div.layer {
        padding: 0;

        div.admin-add-layer {
            padding: 0;
            overflow: visible;

            div.add-layer-record {
                margin-right: 20px;
            }

            /* Buttons are created in the popup, we don't need the form buttons */
            div.add-layer-send {
                display: none;
            }

        }

    }

}
