
div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin {
  clear: both;
  display: block;
  background: #3c3c3c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 28px;
  margin: 10px auto;
  padding: 0 9px; }
  div.mapplugins .mappluginsContainer .mappluginsContent div.mapwfs2plugin.mapplugin a {
    color: white;
    text-decoration: none; }

