div.popupHeader {
  background-color: #424343;
  color: #FFFFFF;
  position: relative;
  left: 0px;
  padding: 0px;
  margin: 0px;
  border-radius: 6px 6px 0px 0px;
  display: inline-block;
  width: 390px;
  float: left;
  height: 40px; }

div.popupHeader div {
  vertical-align: top;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  top: 12px; }

div.popupHeaderArrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #424343;
  display: inline-block;
  float: left;
  margin-top: 10px; }

div.popupContent {
  clear: both;
  margin-left: 10px;
  background-color: #FFFFFF;
  position: relative;
  left: 0px;
  top: 0px;
  height: 250px;
  border-radius: 0px 0px 6px 6px;
  border: 1px solid;
  border-color: #424343;
  overflow: auto;
  padding: 20px 20px 20px 25px; }

/*Pop-up width reduced for places search */
div#searchResultPopup_contentDiv div.popupContent {
  height: 150px; }

div.olPopup {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: auto;
  /*\0/ !important*/
  height: 400px;
  /*\0/ !important*/
  z-index: 16000; }

div.olPopupContent {
  overflow: visible;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 0px; }

div.popupContent hr.infoboxLine {
  border: 1px solid;
  width: 90%;
  margin-top: 10px; }

div.popupContent span.infoboxActionLinks {
  padding-right: 15px;
  padding-left: 15px; }

.olPopupCloseBox {
  cursor: pointer;
  background-attachment: scroll;
  background-color: transparent;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: auto auto;
  right: 0px;
  position: absolute;
  top: 14px; }

div.myplaces_place {
  padding-bottom: 18px; }
  div.myplaces_place img.myplaces_img {
    padding-bottom: 15px;
    max-height: 350px;
    max-width: 350px; }
