div.popupHeader {
	background-color:#424343;
	color:#FFFFFF;
	position:relative;
	left: 0px;
	padding: 0px;
	margin: 0px;
	border-radius: 6px 6px 0px 0px;
	display:inline-block;
	width: 390px;  	
	float: left;
	height: 40px;	
}

div.popupHeader div {
	padding-top: 15px;	
	padding-left: 20px;
	vertical-align: top;	
}

div.popupHeaderArrow {
	width: 0;
	height: 0;
	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 

	border-right:10px solid #424343;
	
	display: inline-block;
	float: left;
	margin-top:10px;
}

div.popupContent {
	clear: both;
	margin-left: 10px;
	background-color:#FFFFFF;
	position:relative;
	left: 0px;
	top: 0px;
	height: 250px;
	border-radius: 0px 0px 6px 6px;
	border: 1px solid;
	border-color:#424343;
	overflow: auto;

	padding: 20px 20px 20px 25px;
}

/*Pop-up width reduced for places search */
div#searchResultPopup_contentDiv div.popupContent {
	height: 150px;
}

div.olPopup {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	overflow: auto !Important\0/;		
}

div.olPopupContent {
    overflow: visible;
    padding: 0px;
    margin: 0px;
    left:0px;
    top:0px;    
}

div.popupContent hr.infoboxLine {
	border: 1px solid;
	width: 90%;
	margin-top: 10px;
}

div.popupContent span.infoboxActionLinks {
	padding-right: 15px;
	padding-left: 15px;
} 

.olPopupCloseBox {
	cursor: pointer;
    background-attachment: scroll;
    //background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    right: 0px;
    position: absolute;
    top: 14px;
    height: 17px;
    width: 17px;
}



