div.mapplugin.coordinatetool {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  z-index: 15000;
  margin-bottom: 10px !important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  /* default and rounded-dark theme */
  /* rounded-light theme */
  /* sharp-dark theme */
  /* sharp-light theme */
  /* 3d-dark theme */
  /* 3d-light theme */ }
  div.mapplugin.coordinatetool div.icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 20px;
    position: relative;
    top: 6px;
    left: 6px; }
  div.mapplugin.coordinatetool.toolstyle-default, div.mapplugin.coordinatetool.toolstyle-rounded-dark {
    background-color: rgba(20, 20, 20, 0.8); }
    div.mapplugin.coordinatetool.toolstyle-default div.icon, div.mapplugin.coordinatetool.toolstyle-rounded-dark div.icon {
      background-image: url("../images/mobile-xy-dark.png"); }
  div.mapplugin.coordinatetool.toolstyle-rounded-light {
    background-color: rgba(255, 255, 255, 0.9); }
    div.mapplugin.coordinatetool.toolstyle-rounded-light div.icon {
      background-image: url("../images/mobile-xy-light.png"); }
  div.mapplugin.coordinatetool.toolstyle-sharp-dark {
    border-radius: 0;
    background-color: rgba(20, 20, 20, 0.8); }
    div.mapplugin.coordinatetool.toolstyle-sharp-dark div.icon {
      background-image: url("../images/mobile-xy-dark.png"); }
  div.mapplugin.coordinatetool.toolstyle-sharp-light {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.9); }
    div.mapplugin.coordinatetool.toolstyle-sharp-light div.icon {
      background-image: url("../images/mobile-xy-light.png"); }
  div.mapplugin.coordinatetool.toolstyle-3d-dark {
    border-radius: 5px;
    background: rgba(20, 20, 20, 0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5A5C5D), to(#3B3A3A), color-stop(0.8, #4c4a4d));
    background: -o-gradient(linear, 0% 0%, 0% 100%, from(#5A5C5D), to(#3B3A3A), color-stop(0.8, #4c4a4d));
    background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#5A5C5D), to(#3B3A3A), color-stop(0.8, #4c4a4d));
    background: gradient(linear, 0% 0%, 0% 100%, from(#5A5C5D), to(#3B3A3A), color-stop(0.8, #4c4a4d)); }
    div.mapplugin.coordinatetool.toolstyle-3d-dark div.icon {
      background-image: url("../images/mobile-xy-dark.png"); }
  div.mapplugin.coordinatetool.toolstyle-3d-light {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFCFB), to(#DADBDC), color-stop(0.8, #DBDBDB));
    background: -o-gradient(linear, 0% 0%, 0% 100%, from(#FAFCFB), to(#DADBDC), color-stop(0.8, #DBDBDB));
    background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#FAFCFB), to(#DADBDC), color-stop(0.8, #DBDBDB));
    background: gradient(linear, 0% 0%, 0% 100%, from(#FAFCFB), to(#DADBDC), color-stop(0.8, #DBDBDB)); }
    div.mapplugin.coordinatetool.toolstyle-3d-light div.icon {
      background-image: url("../images/mobile-xy-light.png"); }

.projection-transformation {
  width: 252px; }

div.coordinatetool__popup {
  width: 280px;
  z-index: 15000;
  background-color: #ffffff; }
  div.coordinatetool__popup .reversegeocode-label {
    margin-left: 24px; }
  div.coordinatetool__popup .coordinate-container {
    margin-left: 70px; }
  div.coordinatetool__popup .lonlat-input-container input.lat-input {
    width: 170px; }
  div.coordinatetool__popup .lonlat-input-container input.lon-input {
    width: 170px; }
  div.coordinatetool__popup div.actions {
    float: right;
    margin: 0; }
  div.coordinatetool__popup div.clear {
    clear: both; }
  div.coordinatetool__popup div.coordinatetool__popup__content {
    font-style: italic; }
    div.coordinatetool__popup div.coordinatetool__popup__content .floatleft {
      float: left; }
    div.coordinatetool__popup div.coordinatetool__popup__content .clear {
      clear: both; }
  div.coordinatetool__popup .margintop {
    margin-top: 6px;
    display: block; }
  div.coordinatetool__popup .coordinatetool-divider {
    margin-bottom: 5px;
    height: 1px;
    border-top: 1px solid #DDDDDD; }
  div.coordinatetool__popup .coordinatedisplay-emergencycall {
    font-style: italic; }
  div.coordinatetool__popup .coordinatedisplay-toggler {
    cursor: pointer; }
  div.coordinatetool__popup .coordinatedisplay-toggler:hover {
    color: #b3b3b3; }
  div.coordinatetool__popup .coordinatetool-projection-change-header {
    font-style: italic; }
  div.coordinatetool__popup div.projectionchange {
    margin: 10px; }
    div.coordinatetool__popup div.projectionchange select#projection {
      width: 184px; }
  div.coordinatetool__popup div.content .srs {
    color: #b3b3b3;
    font-size: 12px; }

.coordinate-label {
  width: 70px;
  padding-top: 7px; }

/*# sourceMappingURL=coordinatetool.css.map */
