div.mapplugin.coordinatetool {
  position: relative;
  margin: 0 auto;
  z-index: 15000;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-bottom: 10px !important;
  background-repeat: no-repeat !important; }

div.coordinatetool__popup {
  width: 280px;
  z-index: 15000;
  background-color: #ffffff; }

  div.coordinatetool__popup div.actions {
    float: right; }
  div.coordinatetool__popup div.clear {
    clear: both; }
  div.coordinatetool__popup div.coordinatetool__popup__content {
    font-style: italic; }
    div.coordinatetool__popup div.coordinatetool__popup__content .floatleft {
      float: left; }
    div.coordinatetool__popup div.coordinatetool__popup__content .clear {
      clear: both; }
  div.coordinatetool__popup div.content .srs {
    color: #b3b3b3;
    font-size: 12px; }
  div.coordinatetool__popup .margintop {
    margin-top: 10px; }
  div.coordinatetool__popup div.coordinatetool-divider {
    margin-bottom: 5px;
    height: 1px;
    border-top: 1px solid #DDDDDD; }
  div.coordinatetool__popup div.coordinatetool-projection-change-header {
    font-style: italic; }
  div.coordinatetool__popup div.projectionchange {
    margin: 10px; }
  div.coordinatetool__popup div.projectionchange select#projection {
    width: 170px; }

.coordinate-label {
  width: 70px;
  padding-top: 7px; }

div.mapplugin.coordinatetool.toolstyle-default {
  background-image: url('../images/coordinates-style1-dark.png'); }
  div.mapplugin.coordinatetool.toolstyle-default .active {
    background-image: url('../images/coordinates-style1-dark-active.png'); }
div.mapplugin.coordinatetool.toolstyle-rounded-dark {
  background-image: url('../images/coordinates-style1-dark.png') !important; }
  div.mapplugin.coordinatetool.toolstyle-rounded-dark .active {
    background-image: url('../images/coordinates-style1-dark-active.png') !important; }
div.mapplugin.coordinatetool.toolstyle-rounded-light {
  background-image: url('../images/coordinates-style1-light.png') !important; }
  div.mapplugin.coordinatetool.toolstyle-rounded-light .active {
    background-image: url('../images/coordinates-style1-light-active.png') !important; }
div.mapplugin.coordinatetool.toolstyle-sharp-dark {
  background-image: url('../images/coordinates-style2-dark.png') !important; }
  div.mapplugin.coordinatetool.toolstyle-sharp-dark .active {
    background-image: url('../images/coordinates-style2-dark-active.png') !important; }
div.mapplugin.coordinatetool.toolstyle-sharp-light {
  background-image: url('../images/coordinates-style2-light.png') !important; }
  div.mapplugin.coordinatetool.toolstyle-sharp-light .active {
    background-image: url('../images/coordinates-style2-light-active.png') !important; }
div.mapplugin.coordinatetool.toolstyle-3d-dark {
  background-image: url('../images/coordinates-style3-dark.png') !important; }
  div.mapplugin.coordinatetool.toolstyle-3d-dark .active {
    background-image: url('../images/coordinates-style3-dark-active.png') !important; }
div.mapplugin.coordinatetool.toolstyle-3d-light {
  background-image: url('../images/coordinates-style3-light.png') !important; }
  div.mapplugin.coordinatetool.toolstyle-3d-light .active {
    background-image: url('../images/coordinates-style3-light-active.png') !important; }
