.backendstatus-down {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
}

.backendstatus-maintenance-pending {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -20px 0px !important;
}

.backendstatus-maintenance {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -40px 0px !important;
}

.backendstatus-ok {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -60px 0px !important;
}

.backendstatus-unknown {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -80px 0px !important;
}

.component-indexmap {
    width: 46px;
    height: 46px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -100px 0px !important;
}

.component-indexmap:hover {
    width: 46px;
    height: 46px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -100px -46px !important;
}

.component-tab-bg {
    width: 1px;
    height: 26px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -146px 0px !important;
}

.icon-area {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -147px 0px !important;
}

.icon-arrow-down {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -175px 0px !important;
}

.icon-arrow-right {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -188px 0px !important;
}

.icon-arrow-white-down {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -201px 0px !important;
}

.icon-arrow-white-right {
    width: 13px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -214px 0px !important;
}

.icon-bubble-left {
    width: 20px;
    height: 15px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -227px 0px !important;
}

.icon-bubble-right {
    width: 23px;
    height: 21px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -247px 0px !important;
}

.icon-close-dark {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -270px 0px !important;
}

.icon-close-white {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -286px 0px !important;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -306px 0px !important;
}

.icon-close:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -306px -16px !important;
}

.icon-corner-round {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -322px 0px !important;
}

.icon-corner-sharp {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -350px 0px !important;
}

.icon-double-line {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -378px 0px !important;
}

.icon-drag-corner {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -406px 0px !important;
}

.icon-drag-corner:hover {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -406px -23px !important;
}

.icon-drag {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -429px 0px !important;
}

.icon-drag:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -429px -16px !important;
}

.icon-funnel {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -445px 0px !important;
}

.icon-info {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -461px 0px !important;
}

.icon-info:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -461px -16px !important;
}

.icon-line-basic {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -477px 0px !important;
}

.icon-line-dashed {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -505px 0px !important;
}

.icon-line-flat_cap {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -533px 0px !important;
}

.icon-line-round_cap {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -561px 0px !important;
}

.icon-line-thin-diagonal {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -589px 0px !important;
}

.icon-line-thin-horizontal {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -617px 0px !important;
}

.icon-line-wide-diagonal {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -645px 0px !important;
}

.icon-line-wide-horizontal {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -673px 0px !important;
}

.icon-line {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -701px 0px !important;
}

.icon-maximize {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -729px 0px !important;
}

.icon-maximize:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -729px -16px !important;
}

.icon-menu {
    width: 25px;
    height: 7px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -745px 0px !important;
}

.icon-minimize {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -770px 0px !important;
}

.icon-minimize:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -770px -16px !important;
}

.icon-point {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -786px 0px !important;
}

.icon-private {
    width: 18px;
    height: 18px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -814px 0px !important;
}

.icon-public {
    width: 18px;
    height: 18px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -832px 0px !important;
}

.icon-restore {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -850px 0px !important;
}

.icon-restore:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -850px -16px !important;
}

.icon-select-geometry {
    width: 23px;
    height: 23px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -866px 0px !important;
}

.icon-table {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -889px 0px !important;
}

.layer-base {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -905px 0px !important;
}

.layer-gfi-1 {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -921px 0px !important;
}

.layer-gfi-2 {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -937px 0px !important;
}

.layer-group {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -953px 0px !important;
}

.layer-stats {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -969px 0px !important;
}

.layer-vector {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -985px 0px !important;
}

.layer-wfs {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1001px 0px !important;
}

.layer-wms {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1017px 0px !important;
}

.layer-wmts {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1033px 0px !important;
}

.marker-arrow {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1049px 0px !important;
}

.marker-dot {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1077px 0px !important;
}

.marker-flag {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1105px 0px !important;
}

.marker-pin {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1133px 0px !important;
}

.marker-pin2 {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1161px 0px !important;
}

.marker-square {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1189px 0px !important;
}

.marker-stud {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1217px 0px !important;
}

.marker {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1245px 0px !important;
}

.myplaces-area {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1277px 0px !important;
}

.myplaces-draw-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1305px 0px !important;
}

.myplaces-draw-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1337px 0px !important;
}

.myplaces-draw-point {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1369px 0px !important;
}

.myplaces-line {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1401px 0px !important;
}

.myplaces-point {
    width: 28px;
    height: 28px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1429px 0px !important;
}

.selection-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1457px 0px !important;
}

.selection-area:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1457px -32px !important;
}

.selection-circle {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1489px 0px !important;
}

.selection-circle:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1489px -32px !important;
}

.selection-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1521px 0px !important;
}

.selection-line:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1521px -32px !important;
}

.selection-point {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1553px 0px !important;
}

.selection-point:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1553px -32px !important;
}

.selection-remove {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1585px 0px !important;
}

.selection-remove:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1585px -32px !important;
}

.selection-square {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1617px 0px !important;
}

.selection-square:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1617px -32px !important;
}

.selection_edit {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1649px 0px !important;
}

.selection_edit:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1649px -32px !important;
}

.tool-draw-cut {
    width: 35px;
    height: 36px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1681px 0px !important;
}

.tool-feature-selection {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1716px 0px !important;
}

.tool-feature-selection:hover {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1716px -32px !important;
}

.tool-history-back {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1748px 0px !important;
}

.tool-history-forward {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1780px 0px !important;
}

.tool-link {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1812px 0px !important;
}

.tool-measure-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1844px 0px !important;
}

.tool-measure-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1876px 0px !important;
}

.tool-pan {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1908px 0px !important;
}

.tool-print {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1940px 0px !important;
}

.tool-reset {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -1972px 0px !important;
}

.tool-save-view {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2004px 0px !important;
}

.tool-zoombox {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -2036px 0px !important;
}

