/* layer group container */
div.layerselector2 div.layerGroup {
    background-color : #f3f3f3;
    border: 1pt solid #c0d0d0;
    margin : 0;
    padding : 0;
}
div.layerselector2 div.layerGroup.open {
    background-color : #FFFFFF;
}
div.layerselector2 div.layerGroup div.groupIcon {
	display : inline-block;
    margin-left: 12px;
    vertical-align: middle;
}
div.layerselector2 div.layerGroup div.groupHeader {
	display : inline-block;
	font-weight : bold;
	padding: 8px 10px 8px 12px;
	font: 14pt Arial,sans-serif;
}
/* layer container */
div.layerselector2 div.layer {
    padding: 6px 10px 6px 40px;
    background-color : #ffffff;
}
div.layerselector2 div.layer.odd {
    background-color : #f3f3f3;
}
div.layerselector2 div.layer input {
    float : left;
    margin-right : 5px;
}
div.layerselector2 div.layer div.layer-tools {
    float : right;
}
div.layerselector2 div.layer div.layer-icon {
    float : left;
	width : 16px;
	height : 16px;
	background-repeat: no-repeat;
}
div.layerselector2 div.layer div.layer-info {
    width: 16px;
	margin-left : 5px;
	float : right;
}

div.layerselector2 div.tab-content {
  padding : 0;
}
div.layerselector2 div.tab-content div.oskarifield {
  padding: 10px;
}

div.layerselector2 div.accordion div.accordion_panel div.content {
    padding: 0;
}
div.layerselector2 div.layer div.layer-backendstatus-icon {
    float : left;
	width : 20px;
	height : 16px;
	margin-right: 4px;
	background-repeat: no-repeat;
}