/* Mixins */
/* layer group container */
div.admin-layerselector {
  /* For long lists, make capabilities list scrollable */
  /* layer container */ }
  div.admin-layerselector div.layerGroup {
    background-color: #F3F3F3;
    border: 1pt solid #C0D0D0;
    margin: 0;
    padding: 0; }
    div.admin-layerselector div.layerGroup.open {
      background-color: #FFF; }
    div.admin-layerselector div.layerGroup div.groupIcon {
      display: inline-block;
      margin-left: 12px;
      vertical-align: middle; }
    div.admin-layerselector div.layerGroup div.groupHeader {
      /* FIXME if this text should be bigger, make it an H3 or something */
      display: inline-block;
      padding: 8px 10px 8px 12px; }
  div.admin-layerselector .add-layer-record.capabilities .add-layer-input-area {
    max-height: 250px;
    overflow: auto; }
  div.admin-layerselector .capabilities {
    /* link-like hover */
    /* emphasize group nodes */ }
    div.admin-layerselector .capabilities ul {
      /* reset for parent level style */
      margin: 0px 20px 5px 20px; }
    div.admin-layerselector .capabilities .inline-icon {
      display: inline-block; }
    div.admin-layerselector .capabilities li ul {
      /* sublist */
      margin: 5px 20px; }
    div.admin-layerselector .capabilities li.capabilitieslayer:hover {
      text-decoration: underline; }
    div.admin-layerselector .capabilities li.capabilitieslayer.groupLevelLayer {
      font-style: italic;
      list-style: none;
      margin-left: -15px; }
    div.admin-layerselector .capabilities li.groupTitle {
      font-weight: bold;
      list-style: none;
      margin: 5px -10px; }
    div.admin-layerselector .capabilities li.groupTitle.closed ul {
      display: none; }
  div.admin-layerselector .oskariTabs {
    margin-right: 1px;
    /* Avoid horizontal scrollbar, nfi why this fixes  it though... */
    min-width: 480px; }
    div.admin-layerselector .oskariTabs div.tabsHeader ul li.admin-modify-wms {
      float: right; }
  div.admin-layerselector div.tab-content div.oskarifield {
    padding: 10px;
    min-height: 35px; }
  div.admin-layerselector div.layer, div.admin-layerselector div.create-layer {
    padding: 6px 10px 6px 20px;
    background-color: #ffffff;
    clear: both; }
    div.admin-layerselector div.layer #add-layer-inspire-theme, div.admin-layerselector div.create-layer #add-layer-inspire-theme {
      /*width: 309px;*/
      overflow-y: auto;
      border: solid 1px #b7b7b7;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); }
    div.admin-layerselector div.layer .add-layer-input, div.admin-layerselector div.create-layer .add-layer-input {
      float: none;
      width: 140px;
      height: 16px;
      margin: 0;
      margin-bottom: 4px; }
      div.admin-layerselector div.layer .add-layer-input.mid, div.admin-layerselector div.create-layer .add-layer-input.mid {
        width: 217px;
        float: left; }
      div.admin-layerselector div.layer .add-layer-input.long, div.admin-layerselector div.create-layer .add-layer-input.long {
        width: 297px; }
    div.admin-layerselector div.layer .layer-title, div.admin-layerselector div.create-layer .layer-title {
      margin-top: 4px; }
    div.admin-layerselector div.layer div.backendstatus-down, div.admin-layerselector div.create-layer div.backendstatus-down {
      height: 20px !important;
      margin-bottom: 2px;
      cursor: pointer; }
    div.admin-layerselector div.layer div.backendstatus-maintenance, div.admin-layerselector div.create-layer div.backendstatus-maintenance {
      height: 20px !important;
      margin-bottom: 2px;
      cursor: pointer; }
    div.admin-layerselector div.layer div.backendstatus-ok, div.admin-layerselector div.create-layer div.backendstatus-ok {
      height: 20px !important;
      margin-top: -2px;
      margin-bottom: 2px;
      cursor: pointer; }
    div.admin-layerselector div.layer div.backendstatus-unknown, div.admin-layerselector div.create-layer div.backendstatus-unknown {
      height: 20px !important;
      margin-bottom: 2px; }
    div.admin-layerselector div.layer div.layer-backendstatus-icon, div.admin-layerselector div.create-layer div.layer-backendstatus-icon {
      float: left;
      width: 20px;
      height: 16px;
      margin-right: 4px;
      background-repeat: no-repeat; }
    div.admin-layerselector div.layer div.layer-icon, div.admin-layerselector div.create-layer div.layer-icon {
      float: left;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat; }
    div.admin-layerselector div.layer div.layer-info, div.admin-layerselector div.create-layer div.layer-info {
      width: 16px;
      height: 16px;
      margin-left: 5px;
      float: right; }
    div.admin-layerselector div.layer div.layer-tools, div.admin-layerselector div.create-layer div.layer-tools {
      float: right; }
    div.admin-layerselector div.layer input, div.admin-layerselector div.create-layer input {
      float: left;
      margin-right: 5px;
      margin-top: 3px; }
      div.admin-layerselector div.layer input[type=checkbox], div.admin-layerselector div.create-layer input[type=checkbox] {
        margin-top: 0; }
    div.admin-layerselector div.layer select, div.admin-layerselector div.create-layer select {
      width: 309px;
      padding: 8px 10px 8px 10px;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      display: block; }
    div.admin-layerselector div.layer textarea.add-layer-input, div.admin-layerselector div.create-layer textarea.add-layer-input {
      padding: 10px;
      width: 157px;
      height: 82px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      div.admin-layerselector div.layer textarea.add-layer-input.long, div.admin-layerselector div.create-layer textarea.add-layer-input.long {
        width: 309px; }
  div.admin-layerselector div.create-layer {
    min-height: 35px; }
  div.admin-layerselector div.layer:nth-child(even) {
    background-color: #F3F3F3; }
  div.admin-layerselector div.tab-content {
    padding: 0; }
    div.admin-layerselector div.tab-content div.oskarifield {
      padding: 10px; }
  div.admin-layerselector div.accordion div.accordion_panel div.content {
    padding: 0; }
  div.admin-layerselector div.accordion div.accordion_panel div.header div.headerIcon {
    float: left;
    margin-top: 12px; }
  div.admin-layerselector div.accordion div.accordion_panel div.header div.headerText {
    text-overflow: ellipsis;
    width: 315px;
    white-space: nowrap;
    overflow: hidden; }
  div.admin-layerselector .admin-add-layer-btn, div.admin-layerselector .admin-edit-layer-btn, div.admin-layerselector .admin-add-grouping-btn, div.admin-layerselector .admin-edit-grouping-btn {
    float: right;
    margin: 5px 10px; }
  div.admin-layerselector button.admin-arrange-layers {
    background-color: #eee;
    background-image: url('arrange-icon.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    opacity: 0; }
  div.admin-layerselector .layer {
    min-height: 20px; }
  div.admin-layerselector .add-layer-record, div.admin-layerselector .add-layer-send, div.admin-layerselector .add-class-record, div.admin-layerselector .add-class-send, div.admin-layerselector .add-group-record {
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative; }
  div.admin-layerselector .add-layer-separation {
    margin-top: 15px; }
  div.admin-layerselector .admin-add-layer-btn {
    float: right; }
  div.admin-layerselector .admin-add-layer {
    padding: 10px 0px;
    overflow: hidden;
    height: auto;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: height;
    -moz-transition-duration: 300ms;
    -moz-transition-property: height;
    -o-transition-duration: 300ms;
    -o-transition-property: height;
    -ms-transition-duration: 300ms;
    -ms-transition-property: height;
    transition-duration: 300ms;
    transition-property: height; }
  div.admin-layerselector .show-add-layer, div.admin-layerselector .show-edit-layer {
    padding: 10px 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    clear: right; }
  div.admin-layerselector .admin-add-class {
    padding: 0px 10px;
    overflow: hidden;
    height: 0px;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: height;
    -moz-transition-duration: 300ms;
    -moz-transition-property: height;
    -o-transition-duration: 300ms;
    -o-transition-property: height;
    -ms-transition-duration: 300ms;
    -ms-transition-property: height;
    transition-duration: 300ms;
    transition-property: height; }
  div.admin-layerselector .show-add-class {
    padding: 10px 10px;
    height: 230px;
    width: 100%; }
  div.admin-layerselector .add-layer-wrapper, div.admin-layerselector .add-class-wrapper {
    display: block; }
  div.admin-layerselector .add-layer-btn {
    float: left; }
  div.admin-layerselector .add-layer-grouping, div.admin-layerselector .add-class-grouping {
    font-weight: bold;
    font-size: 130%;
    margin-top: 20px;
    margin-bottom: 10px; }
  div.admin-layerselector .add-layer-label-area, div.admin-layerselector .add-class-label-area {
    display: table;
    float: left; }
  div.admin-layerselector .add-layer-label, div.admin-layerselector .add-class-label {
    font-weight: bold;
    width: 75px;
    display: table-cell;
    vertical-align: middle; }
  div.admin-layerselector .add-layer-input-area, div.admin-layerselector .add-layer-button-area, div.admin-layerselector .add-class-input-area, div.admin-layerselector .add-class-button-area {
    margin-left: 9em;
    min-width: 220px; }
  div.admin-layerselector .add-layer-button-area .input-controls, div.admin-layerselector .add-class-button-area .input-controls {
    width: 100%; }
  div.admin-layerselector .input-controls {
    position: relative;
    margin-right: 5px; }
    div.admin-layerselector .input-controls input.add-class-input.mid {
      width: 297px; }
    div.admin-layerselector .input-controls .admin-add-grouping-cancel, div.admin-layerselector .input-controls .admin-add-layer-cancel {
      float: right;
      margin-right: 10px; }
  div.admin-layerselector .adjacent .input-controls {
    float: left; }
  div.admin-layerselector .icon-close {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 9px;
    right: 10px;
    margin-left: 0px;
    cursor: pointer; }
    div.admin-layerselector .icon-close.mid {
      right: 90px; }
  div.admin-layerselector .input-controls:hover .icon-close, div.admin-layerselector .layer:hover button.admin-arrange-layers {
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: opacity;
    -moz-transition-duration: 300ms;
    -moz-transition-property: opacity;
    -o-transition-duration: 300ms;
    -o-transition-property: opacity;
    -ms-transition-duration: 300ms;
    -ms-transition-property: opacity;
    transition-duration: 300ms;
    transition-property: opacity;
    opacity: 1; }
  div.admin-layerselector div.add-layer-text {
    height: 30px; }
  div.admin-layerselector .left-tools .layer-opacity {
    display: inline-block;
    background-image: url('/Oskari/resources/framework/bundle/layerselection2/images/opacity_slider.png');
    background-repeat: no-repeat;
    background-position-y: 3px; }
  div.admin-layerselector .opacity-slider-tool {
    width: 215px; }
  div.admin-layerselector .admin-opacity-slider {
    width: 155px; }
  div.admin-layerselector .opacity-slider {
    float: right;
    line-height: 25px; }
  div.admin-layerselector .layout-slider {
    width: 140px;
    float: left;
    margin-top: 6px; }
  div.admin-layerselector #admin-select-capability {
    margin-bottom: 15px; }
  div.admin-layerselector .fetch-ws-button {
    margin-top: 2px;
    margin-bottom: 5px; }

div.divmanazerpopup div.content div.admin-layerselector {
  margin-right: 20px; }
  div.divmanazerpopup div.content div.admin-layerselector div.layer {
    padding: 0; }
    div.divmanazerpopup div.content div.admin-layerselector div.layer div.admin-add-layer {
      padding: 0;
      overflow: visible;
      /* Buttons are created in the popup, we don't need the form buttons */ }
      div.divmanazerpopup div.content div.admin-layerselector div.layer div.admin-add-layer div.add-layer-record {
        margin-right: 20px; }
      div.divmanazerpopup div.content div.admin-layerselector div.layer div.admin-add-layer div.add-layer-send {
        display: none; }
