
/* layer group container */
div.admin-layerselector div.layerGroup {
    background-color : #f3f3f3;
    border: 1pt solid #c0d0d0;
    margin : 0;
    padding : 0;
}
div.admin-layerselector div.layerGroup.open {
    background-color : #FFFFFF;
}
div.admin-layerselector div.layerGroup div.groupIcon {
    display : inline-block;
    margin-left: 12px;
    vertical-align: middle;
}
div.admin-layerselector div.layerGroup div.groupHeader {
    display : inline-block;
    font-weight : bold;
    padding: 8px 10px 8px 12px;
    font: 14pt Arial,sans-serif;
}
div.admin-layerselector .oskariTabs {
  min-width: 480px;
}

/* layer container */
div.admin-layerselector div.tab-content div.oskarifield {
    padding: 10px;
}
div.admin-layerselector div.layer,
div.admin-layerselector div.create-layer {
    padding: 6px 10px 6px 40px;
    background-color : #ffffff;
}
div.admin-layerselector div.create-layer {
    min-height: 30px;
}

div.admin-layerselector div.layer.odd {
    background-color : #f3f3f3;
}
div.admin-layerselector div.layer input,
div.admin-layerselector div.create-layer input {
    float : left;
    margin-right : 5px;
}
div.admin-layerselector div.layer div.layer-tools,
div.admin-layerselector div.create-layer div.layer-tools {
    float : right;
}
div.admin-layerselector div.layer div.layer-icon,
div.admin-layerselector div.create-layer div.layer-icon {
    float : left;
    width : 16px;
    height : 16px;
    background-repeat: no-repeat;
}
div.admin-layerselector div.layer div.layer-info,
div.admin-layerselector div.create-layer div.layer-info {
    width: 16px;
    height: 16px;
    margin-left : 5px;
    float : right;
}

div.admin-layerselector div.tab-content {
  padding : 0;
}
div.admin-layerselector div.tab-content div.oskarifield {
  padding: 10px;
}

div.admin-layerselector div.accordion div.accordion_panel div.content {
    padding: 0;
}
div.admin-layerselector div.accordion_panel div.header div.headerText {
    text-overflow: ellipsis;
    width: 335px;
    white-space: nowrap;
    overflow: hidden;
}
div.admin-layerselector div.layer div.layer-backendstatus-icon,
div.admin-layerselector div.create-layer div.layer-backendstatus-icon {
    float : left;
    width : 20px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
}

div.admin-layerselector div.layer div.backendstatus-down,
div.admin-layerselector div.create-layer div.backendstatus-down {
    height: 20px !important;
    margin-bottom: 2px; 
    cursor: pointer;
}

div.admin-layerselector div.layer div.backendstatus-maintenance,
div.admin-layerselector div.create-layer div.backendstatus-maintenance {
    height: 20px !important;
    margin-bottom: 2px; 
    cursor: pointer;
}

div.admin-layerselector div.layer div.backendstatus-ok,
div.admin-layerselector div.create-layer div.backendstatus-ok {
    height: 20px !important;
    margin-bottom: 2px; 
    cursor: pointer;
}

div.admin-layerselector div.layer div.backendstatus-unknown,
div.admin-layerselector div.create-layer div.backendstatus-unknown {
    height: 20px !important;
    margin-bottom: 2px; 
}


/*  */
body {
    position: relative;
}
div.admin-layerselector div.oskariTabs div.tabsHeader ul li.admin-modify-wms {
    float:right;
}
div.admin-layerselector .admin-edit-layer-btn,
div.admin-layerselector .admin-edit-layer-btn,
div.admin-layerselector .admin-add-class-btn,
div.admin-layerselector .admin-edit-class-btn {
    float: right;
    margin: 5px 10px;
}
div.admin-layerselector button.admin-arrange-layers{
    background-color: #eee;
    background-image: url('arrange-icon.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft. Alpha(Opacity=0)";
}

div.admin-layerselector .layer {
    min-height: 20px;
}
div.admin-layerselector div.layer input,
div.admin-layerselector div.create-layer input {
    margin-top: 3px;
}
div.admin-layerselector div.layer .layer-title,
div.admin-layerselector div.create-layer .layer-title {
    margin-top: 4px;
}

div.admin-layerselector .add-layer-record,
div.admin-layerselector .add-layer-send,
div.admin-layerselector .add-class-record,
div.admin-layerselector .add-class-send {
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
div.admin-layerselector .add-layer-separation {
    margin-top: 15px;
}
div.admin-layerselector .admin-add-layer-btn {
    float: right;
}
div.admin-layerselector .admin-add-layer {
    padding: 10px 0px;
    overflow: hidden;
    height: 0px;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: height;
}
div.admin-layerselector .show-add-layer,
div.admin-layerselector .show-edit-layer  {
    padding: 10px 0px;
    height: 870px;
    width: 100%;
    overflow: hidden;
}
div.admin-layerselector .admin-add-class {
    padding: 0px 10px;
    overflow: hidden;
    height: 0px;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: height;
}
div.admin-layerselector .show-add-class {
    padding: 1s0px 10px;
    height: 190px;
    width: 100%;
}

div.admin-layerselector .add-layer-wrapper, .add-class-wrapper {
    display: block;

}
div.admin-layerselector .add-layer-btn {
    float: left;
}

div.admin-layerselector .add-layer-grouping, .add-class-grouping {
    font-weight: bold;
    font-size: 110%;
    margin-top: 20px;
    margin-bottom: 5px;
}
div.admin-layerselector .add-layer-label-area, .add-class-label-area {
    display: table;
    float: left;
}
div.admin-layerselector .add-layer-label, .add-class-label {
    font-weight: bold;
    width: 75px;
    display: table-cell;
    vertical-align: middle;
}

div.admin-layerselector .add-layer-input-area, .add-layer-button-area, .add-class-input-area, .add-class-button-area {
    margin-left: 80px;
    min-width: 220px;

}
div.admin-layerselector .add-layer-button-area .input-controls,
div.admin-layerselector .add-class-button-area .input-controls {
    width: 100%;
}
div.admin-layerselector .input-controls {
    position: relative;
    float: left;
    margin-right: 5px;
}
div.admin-layerselector .input-controls .admin-add-class-cancel,
div.admin-layerselector .input-controls .admin-add-layer-cancel {
    float: right;
    margin-right: 20px;
}

div.admin-layerselector .icon-close {
    display: inline-block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft. Alpha(Opacity=0)";
    position: absolute;
    top: 9px;
    right: 10px;
    margin-left: 0px;
    cursor: pointer;
}
div.admin-layerselector .input-controls:hover .icon-close,
div.admin-layerselector .layer:hover button.admin-arrange-layers {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 300ms;
    -moz-transition-property: opacity;
    -moz-transition-duration: 300ms;
    -o-transition-property: opacity;
    -o-transition-duration: 300ms;
    -ms-transition-property: opacity;
    -ms-transition-duration: 300ms;
    transition-property: opacity;
    transition-duration: 300ms;
    -ms-filter: "progid:DXImageTransform.Microsoft. Alpha(Opacity=100)";
    opacity: 1;
}

div.admin-layerselector div.layer .add-layer-input,
div.admin-layerselector div.create-layer .add-layer-input {
    float:none;
    width: 110px;
    height: 16px;
    margin: 0;
}
div.admin-layerselector div.add-layer-text {
    height: 30px;
    font-size: 14px;
}
div.admin-layerselector div.layer #add-layer-inspire-theme,
div.admin-layerselector div.create-layer #add-layer-inspire-theme {
    width: 155px;
    overflow-y: auto;
    border: solid 1px #b7b7b7;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);
}

div.admin-layerselector div.layer select,
div.admin-layerselector div.create-layer select{
    width: 157px;
    padding: 8px 10px 8px 10px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

div.admin-layerselector div.layer textarea.add-layer-input,
div.admin-layerselector div.create-layer textarea.add-layer-input {
    padding: 10px;
    width: 157px;
    height: 48px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
div.admin-layerselector .left-tools .layer-opacity {
    display: inline-block;
    background-image: url('/Oskari/resources/framework/bundle/layerselection2/images/opacity_slider.png');
    background-repeat: no-repeat;
    background-position-y: 3px;
}
div.admin-layerselector .opacity-slider-tool {
    width: 215px;
}
div.admin-layerselector .admin-opacity-slider {
    width: 155px;
}
div.admin-layerselector .opacity-slider {
    float: right;
}
div.admin-layerselector .layout-slider {
    width: 140px;
    float: left;
    margin-top: 6px;
}
div.admin-layerselector #admin-select-capability {
    margin-bottom: 15px;
}
