.statsgrid-classification-container {
    .classification-colors {
        .flip-colors {
            margin-left: 10px;
            line-height: 27px;
        }
    }

    &.transparent-classification {
        .oskari-color-selection-main {
            .color-selection-arrow {
                display: none;
            }
            .oskari-selected-color {
                border: 1px solid transparent;
            }
            .oskari-color-selection {
                border: 1px solid transparent;
            }
            &.disabled {
                .oskari-color-option, .oskari-selected-color, .color-selection-arrow {
                    cursor: auto;
                }
            }
        }
    }
}
