.classification-colors {
    .flip-colors {
        margin-left: 10px;
        line-height: 27px;
    }
}

.statsgrid-classification-plugin-transparent {
    .color-selection-arrow {
        display: none;
    }
    .oskari-selected-color {
        border: none;
    }
}
