.statsgrid-classification-container {
    .classification-edit {
        background-color: #fafafa;

        .classification-options {
            margin-left: 8px;
            padding: 5px;
            .option {
                clear: both;
            }
            .select {
                width: 96%;
                font-size: 12px;
                padding: 1px 2px;
            }
            .select-label {
                font-weight: bold;
            }
            .show-values {
                .label {
                    display: block;
                    margin-bottom: 4px;
                    margin-top: 8px;
                }
            }
        }
    }

    /* published/embedded map classification background transparent  */
    &.transparent-classification {
        .classification-edit {
            background-color: transparent;
        }
        .dropdown {
            text-shadow: none;
            color: #000;
        }
        .select {
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            margin-left: 12px;
            background-color: transparent;
            background: none;
            border: none;
            color: #ffffff;
            text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
            &:disabled {
                cursor: auto;
            }
        }
        option {
            color: #3c3c3c;
            &:disabled {
                color: graytext;
            }
        }
    }
}
