/* Account tab
div.tab-content {
    
    div.account {

        table {

            tr {
                font-size: 12px;

                td, th {
                    border: 1px solid #E6E6E6;
                    line-height: 28px;
                    padding: 0 0 0 10px;
                    text-align: left;
                }

                th {
                    background-color: #F3F3F3;
                }

            }

        }

    }

}*/

/* My Views tab */
div.view {
	padding: 5px;

    &.odd {
        background-color : #F3F3F3;
    }

    div.name {
        display: inline-block;
    }

    div.tools {
        float: right;

        div {
            display: inline-block;
            margin-right : 5px;
        }

    }

}

div.personaldata {

    a.categoryOp {
        margin : 5px;

        div.icon {
          display: inline-block;
        }

    }

    td {

        div.icon {
            display: inline-block;
            vertical-align: top;
        }

    }

}

textarea#view_description {
	resize: none;
	width: 100%;
}