div.tab-content {
    &.appsetup {
        div.appsetup__textarea {
            div.input-controls {
                width: 400px;

                textarea {
                    width: 400px;
                    height: 250px;
                }
            }
        }

        div.appsetup__description {
            margin-bottom: 6px;
        }
    }
}

.appsetup__message {
    .response_data {
        margin-left: 12px;
    }
}