table td {
	text-align: left;
	vertical-align: top;
}
#contentMap {
    margin-left: 170px !important;
}
table {
	border-top-width: 0px;
}
@media screen {
    div.search input[type=button] {
         width: 128px !important ;
    }
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    #mapdiv {
        width: 100%;
        height: 100%;
    }
  
    #maptools {

        height: 100%;
        position: absolute;
        top: 0;
        width: 153px;
        z-index: 2;
        
        margin-top: 0px;
    }
    #contentMap {
        height: 100%;
    }

    img.panbuttonDivImg {        border: 0;
    }

   .oskari-tile {
        background: rgb(147, 187, 218) !important;
		height: auto !important;
		min-height: 31px !important;
        line-height: 15px !important;	
    }
    .oskari-tile-closed {
        background-color: white !important;
        border-bottom: 1px solid rgb(204, 236, 249) !important;
        border-top: 1px solid white !important;
    }
    
    .oskari-tile-attached {
        background-color: #2d2d2d !important;
        border-bottom: 1px solid white !important;
        border-top: 1px solid rgb(204, 236, 249) !important;
    }
    
    .oskari-tile-attached .oskari-tile-title {
		color: white !important;
	}
	
	.oskari-tile-closed .oskari-tile-title {
		color: black !important;
	}
   
    .oskari-flyout-title {
        color: white !important;
    }
    
    .oskari-flyouttoolbar {    
    	background-color: rgb(0, 159, 227) !important; 
		background-position: -170px -23px !important;
        background-repeat: no-repeat;
    }
    
    .oskari-flyoutheading {
		background-color: rgb(12, 60, 98) !important;
		border-top: 0px !important;
		border-bottom: 0px !important;
		height: 14px !important;
		width: 100% !important;
	}
	
	.oskari-flyoutcontent {
		background-color: white !important;
	}
  
    #logobar {
        height: 152px;
        overflow: hidden;
        background-image: url('asdi_logo.png');
		background-repeat: no-repeat;
		background-origin: content-box;
		background-position: 0px 8px;
    }


    #toolbar div.toolrow {
        background-color: white !important;
        border-top: 1px solid rgb(204, 236, 249) !important;
    }
   
    div.oskari-flyout {
        min-height: 220px !important;
    }
    .oskariui-center {
        margin: 0px !important;
    }
    
	div.layerselection2 .layer.selected div.layer-tools {
		background-color: white !important;
		padding: 7px !important;
	}
	
	div.layerselection2 .layer.selected {
		border: 1pt solid #c0d0e0;
		margin: 0 5px 5px 0;
		padding: 5px !important;
		border-radius: 5px !important;
		background-color: white !important;
	}
	
	div.layer-info div.layer-title h4 {
		font-size: 15px !important;
		line-height: 22px !important;
	}
	
	    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font: 14px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    }

	.search .resultList div h3 {
		font-size: 14px;	
	}
}

.layer-backendstatus-icon{
    display: none;
}

div.mapplugin.timeseries .oskari-timeslider {
    background-color: #93bbda !important;
}

.mapplugin-timeseries-popup .content {
    background-color: #93bbda !important;
}

.mapplugin-timeseries-popup .arrow {
    border-bottom: 15px solid #93bbda !important;
}

div.mapplugin.timeseries div.playback-button button {
    background-color: #93bbda !important;
}


div.mapplugin.timeseries .oskari-timeslider .interval-line-highlight {
    color: #3c3c3c !important;
}

div.mapplugin.timeseries div.playback-button button.play:after {
    border-color: transparent transparent transparent #3c3c3c !important;
}

.mapplugin-timeseries-popup .content {
    color: #3c3c3c !important;
}

div.mapplugin.timeseries div.playback-button button.pause:after {
    background: #3c3c3c !important;
}

div.mapplugin.timeseries div.playback-button button.pause:before {
    background: #3c3c3c !important;
}










/**
 * Use the light icons as defaults
 */
/*
.tool-history-back {
    background-position: -3382px 0px !important;
}

.tool-history-forward {
    background-position: -3446px 0px !important;
}

.tool-measure-area {
    background-position: -3510px 0px !important;
}

.tool-measure-line {
    background-position: -3574px 0px !important;
}

.tool-reset {
    background-position: -2520px 0px !important;
}

.tool-save-view {
    background-position: -2584px 0px !important;
}

.tool-zoombox {
    background-position: -3638px 0px !important;
}

.upload-material {
    background-position: -2680px 0px !important;
}

.tool-link {
    background-position: -2328px 0px !important;
}
*/

/**
 * login flyout
 */
div.asdiLoginFlyoutBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .7) !important;
}
div.asdiLoginInputField {
    margin-bottom: 10px;
}

/**
 * logoplugin with asdi logo
 */
.logoplugin .icon {
    background-image: url('asdi_logoplugin_logo.png') !important;
    width: 23px !important;
    height: 27px !important;
    float: left;
}

.logoplugin .data-sources, .logoplugin .terms {
    float: left;
}

