.admin-layerrights-layers .layer-rights-table {
  margin-top: 20px; }
  .admin-layerrights-layers .layer-rights-table th, .admin-layerrights-layers .layer-rights-table td {
    text-align: center; }
  .admin-layerrights-layers .layer-rights-table th {
    padding: 2px 5px; }

table.layer-rights-table thead tr {
  position: relative;
  display: block; }
  table.layer-rights-table thead tr th:first-child {
    width: 40%;
    padding: 2px 5px;
    min-width: 360px; }
  table.layer-rights-table thead tr th {
    width: 15%; }

table.layer-rights-table tr.control {
  padding-left: 370px;
  border-bottom: thin solid silver; }
  table.layer-rights-table tr.control td {
    width: 25%;
    min-width: 108px; }
    @media screen and (min-width: 1000px) and (max-width: 1600px) {
      table.layer-rights-table tr.control td {
        width: 25%;
        min-width: 122px; } }

table.layer-rights-table tbody {
  position: relative;
  display: block;
  width: 100%;
  overflow: auto; }
  @media screen and (max-height: 600px) {
    table.layer-rights-table tbody {
      max-height: 86px; } }
  @media screen and (max-height: 800px) and (min-height: 600px) {
    table.layer-rights-table tbody {
      max-height: 280px; } }
  @media screen and (min-height: 800px) {
    table.layer-rights-table tbody {
      max-height: 480px; } }
  table.layer-rights-table tbody tr td:first-child {
    width: 40%;
    min-width: 370px; }
  table.layer-rights-table tbody tr td {
    width: 15%; }

div.admin-layerrights-flyout div.oskari-flyoutcontentcontainer {
  overflow: hidden; }

div.layer-rights-table-grid-headers {
  padding-top: 16px; }
