@CHARSET "UTF-8";

/* featuredata download tools icons */
.featuredata_download_tool {
	background-image: url( "/Oskari/resources/framework/bundle/featuredata_download/images/download_xml.png" ) !important;
}
