div.notLoggedIn {
    padding: 10px;
}
div.analyse {

}
/*#contentMap.mapanalyseMode {
 margin-left: 255px;
 }*/
#contentMap div.basic_analyse {
    background: white;
    position: absolute;
    height: 100%;
    top: 0;
    left: 40px;
    z-index: 1500;
    width: 255px;
}
#contentMap div.basic_publisher div.content {
    padding: 10px;
}
div.analyse div.startview div.icon-info, div.basic_analyse div.icon-info {
    float: right;
}
div.analyse div.startview div.error ul li {
    color: red;
}
div.basic_analyse > div.header {
    background-color: #FDF8D9;
    padding: 5px 10px;
}
div.basic_analyse > div.header div.icon-close {
    float: right;
}
div.basic_analyse div.form div.field input, div.field select {
    width: 80%;
    background-color: white;
    filter:unquote("Alpha(opacity=100)") !important; /* unquote for libsass bug */
}
div.basic_analyse > div.content {
    overflow: auto;
    height: 89%;
}
div.basic_analyse div.tool {
    margin: 5px;
}
div.basic_analyse div.tool input, div.basic_analyse div.analyse_settings_cont input {
    margin-right: 10px;
}

.analyse_radiolabel, .analyse_checklabel {
    padding: 3px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.analyse_radiolabel:hover, .analyse_checklabel:hover {
    background-color: #eee;
}

.analyse_params_label, .analyse_title_label, .output_color_label, .columns_title_label, .settings_buffer_label, .extra_title_label, .settings_name_label {
    font-weight: bold;
    margin: 5px 0;
}
.analyse_settings_cont {
    margin: 10px 5px;
}

.analyse_title_colcont {
    margin: 10px 5px;
}

div.basic_analyse div.icon-menu {
    margin: -5px 100px;
}
/* Buttons */
div.basic_analyse div.buttons, div.analyse div.startview div.buttons {
    margin: 5px;
}
div.basic_analyse div.buttons input, div.analyse div.startview div.buttons input {
    margin-right: 1px;
}



div.basic_analyse div.location {
    height: 30px;
}

div.basic_analyse div.previewNotes {
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 2px;
	
} 
/* for local use .icon-funnel {
    background-image: url("../icons/icon-funnel.png") !important;
    background-repeat: no-repeat !important;
    height: 16px;
    width: 16px;
}  */
table.layer-icons {
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 2px;
    width: 30%;
}

