#loginbar {
    padding: 10px 10px 0px 16px;
    color: #CCC;
    vertical-align: bottom;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 12.6px;
}
            
.registerLoginBar a {
    color: #FFDE00;
    font-size: 12px;
    line-height: 150%;
    cursor: pointer;
    text-decoration: underline;
}