.icon-selected-featuredata{
	cursor: pointer;
}
.selected_featuredata_accpanel_close{
	float: right;
	margin: 10px;
}
.icon-minimize{
	display: inline-block;
}
.selected-featuredata-flyout.oskari-minimized{
	display: block;
}
.oskari-minimized .selected-featuredata{
	display: none;
}
.oskari-minimized .oskari-flyouttools{
	margin-left: 10px;
}