.featuredata {
  /* Selected row hightlighting */
  /* Override common table settings */
  /* Override sort img position */ }
  .featuredata div.tab-content {
    max-height: 535px;
    overflow: auto; }
  .featuredata .link {
    padding: 20px 0px 0px 0px;
    color: #0091FF;
    text-decoration: underline;
    display: block; }
  .featuredata tbody tr.selected {
    background-color: #FEF2BA; }
  .featuredata th, .featuredata td {
    text-align: left;
    padding-left: 2px;
    padding-right: 15px; }
  .featuredata th.asc, .featuredata th.desc {
    background-position: right center; }

div.flyout-resizer {
  float: right;
  cursor: nw-resize;
  height: 16px;
  width: 16px;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 16px; }

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin {
  display: block;
  background: white;
  border: 1px solid;
  position: absolute;
  top: 450px;
  right: 30px;
  z-index: 15000; }
