div.searchFromChannelsDescription {
  margin: 0;
  margin-bottom: 8px; }
div.searchFromChannelsContainer {
  height: 90%; }
  div.searchFromChannelsContainer div.main {
    width: 100%;
    height: 100%; }
  div.searchFromChannelsContainer div.moreLess {
    padding: 10px 0; }
  div.searchFromChannelsContainer a.showLink {
    display: inline-block;
    margin-left: 15px; }
  div.searchFromChannelsContainer a.modifyLink {
    display: inline-block;
    margin-left: 15px; }

div.searchFromChannelsOptions div.checkboxes {
  display: table-cell;
  vertical-align: middle;
  margin-left: 130px;
  width: auto; }
div.searchFromChannelsOptions div.searchFromChannelsRow {
  margin-bottom: 10px; }
div.searchFromChannelsOptions div.searchFromChannelsType {
  width: 50%;
  float: left; }
div.searchFromChannelsOptions div.rowLabel {
}
div.showOnMapBtns input{
  margin-right: 10px;
}

