/* Account tab
div.tab-content {
    
    div.account {

        table {

            tr {
                font-size: 12px;

                td, th {
                    border: 1px solid #E6E6E6;
                    line-height: 28px;
                    padding: 0 0 0 10px;
                    text-align: left;
                }

                th {
                    background-color: #F3F3F3;
                }

            }

        }

    }

}*/
/* My Views tab */
div.view {
  padding: 5px; }
  div.view.odd {
    background-color: #F3F3F3; }
  div.view div.name {
    display: inline-block; }
  div.view div.tools {
    float: right; }
    div.view div.tools div {
      display: inline-block;
      margin-right: 5px; }

div.personaldata a.categoryOp {
  margin: 5px; }
  div.personaldata a.categoryOp div.icon {
    display: inline-block; }
div.personaldata td div.icon {
  display: inline-block;
  vertical-align: top; }

textarea#view_description {
  resize: none;
  width: 100%; }
