.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 90%;
  font-size: 14px; }

.ms-choice {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #C0C0C0;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  color: #333333;
  text-decoration: none;
  border-radius: 4px;
  background-color: white; }
  .ms-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px; }
  .ms-choice > div {
    position: absolute;
    top: 4px;
    right: 1px;
    width: 20px;
    height: 25px;
    background-position: right;
    background-repeat: no-repeat;
  }
   
.ms-drop {
  width: calc(100% - 2px);
  overflow: hidden;
  display: none;
  margin-top: -1px;
  padding: 0;
  position: absolute;
  z-index: 1000;
  background-color: white;
  color: #333333;
  border: 1px solid #C0C0C0;
  border-radius: 4px; }
  .ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 5px 0px; }
    .ms-drop ul > li {
      height: 22px;
      line-height: 22px;
      list-style: none;
      display: list-item;
      background-image: none;
      position: static;
      padding-left: 8px;
      padding-right: 8px;
      cursor: pointer; }
      .ms-drop ul > li.selected, .ms-drop ul > li.item:hover {
        background-color: #1080C0;
        color: #FFF; }
