div.mapplugin.scalebar {
  clear: both;
  direction: ltr;
  display: inline-block;
  /* 12px would be too big... */
  font-size: 10px;
  font-weight: bold;
  line-height: 13px; }
  div.mapplugin.scalebar div {
    background-color: rgba(255, 255, 255, 0.2);
    direction: ltr;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35); }

.right div.mapplugin.scalebar {
  direction: rtl; }
