

<% if(!model.getId()){ %>
    <div class="add-layer-record">
        <div class="add-layer-label-area">
            <label for="add-layer-interface" class="add-layer-label"  title="<%= instance.getLocalization('admin').interfaceAddress %>"><%= instance.getLocalization('admin').interfaceAddress %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <input type="text" id="add-layer-interface" class="add-layer-input mid"
                    placeholder="<%= instance.getLocalization('admin').interfaceAddress %>" 
                    value="<%= model.getInterfaceUrl() %>" />
                <div class="icon-close mid"></div>
            </div>
                    <button id="add-layer-wms-button" class="fetch-wms-button"><%= instance.getLocalization('admin').getInfo %></button>
        </div>
    </div>
<% } %>

<% if(capabilities) { %>
    <div class="add-layer-record capabilities">
        <div class="add-layer-label-area">
            <label class="add-layer-label"><%= instance.getLocalization('admin').capabilitiesLabel %></label>
        </div>
        <div class="add-layer-input-area">
            <div class="input-controls">
                <%= capabilitiesTemplate({
                    capabilities: capabilities, 
                    capabilitiesTemplate: capabilitiesTemplate, 
                    isSub : false }) %>
            </div>
        </div>
    </div>
<% } %>


<div class="add-layer-record">
    <div class="add-layer-label-area">
        <label for="add-layer-url" class="add-layer-label" title="<%= instance.getLocalization('admin').wmsInterfaceAddressDesc %>"><%= instance.getLocalization('admin').wmsInterfaceAddress %></label>
    </div>
    <div class="add-layer-input-area">
        <textarea rows="3" cols="40" id="add-layer-url" class="add-layer-input long" required><%= model.getInterfaceUrl() %></textarea>
    </div>
</div>

<div class="add-layer-record">
    <div class="add-layer-label-area">
        <label for="add-layer-interface-version" class="add-layer-label" title="<%= instance.getLocalization('admin').interfaceVersionDesc %>"><%= instance.getLocalization('admin').interfaceVersion %></label>
    </div>
    <div class="add-layer-input-area">
        <select id="add-layer-interface-version">
            <option value="1.1.1" <% if(model.getVersion() == '1.1.1' ) { %>selected<% } %> ><%= instance.getLocalization('admin').wms1_1_1 %></option>
            <option value="1.3.0" <% if(model.getVersion() == '1.3.0' ) { %>selected<% } %> ><%= instance.getLocalization('admin').wms1_3_0 %></option>
        </select>
    </div>
</div>
