.backendstatus-down {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
}

.backendstatus-maintenance-pending {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -20px 0px !important;
}

.backendstatus-maintenance {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -40px 0px !important;
}

.component-indexmap {
    width: 46px;
    height: 46px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -60px 0px !important;
}

.component-indexmap:hover {
    width: 46px;
    height: 46px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -60px -46px !important;
}

.icon-close-dark {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -106px 0px !important;
}

.icon-close-white {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -122px 0px !important;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -142px 0px !important;
}

.icon-close:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -142px -16px !important;
}

.icon-drag {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -158px 0px !important;
}

.icon-drag:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -158px -16px !important;
}

.icon-funnel {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -174px 0px !important;
}

.icon-info {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -190px 0px !important;
}

.icon-info:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -190px -16px !important;
}

.icon-maximize {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -206px 0px !important;
}

.icon-maximize:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -206px -16px !important;
}

.icon-menu {
    width: 25px;
    height: 7px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -222px 0px !important;
}

.icon-minimize {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -247px 0px !important;
}

.icon-minimize:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -247px -16px !important;
}

.icon-restore {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -263px 0px !important;
}

.icon-restore:hover {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -263px -16px !important;
}

.layer-analysis {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -279px 0px !important;
}

.layer-base {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -295px 0px !important;
}

.layer-gfi-1 {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -311px 0px !important;
}

.layer-gfi-2 {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -327px 0px !important;
}

.layer-group {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -343px 0px !important;
}

.layer-vector {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -359px 0px !important;
}

.layer-wfs {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -375px 0px !important;
}

.layer-wms {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -391px 0px !important;
}

.layer-wmts {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -407px 0px !important;
}

.marker {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -423px 0px !important;
}

.myplaces-draw-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -455px 0px !important;
}

.myplaces-draw-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -487px 0px !important;
}

.myplaces-draw-point {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -519px 0px !important;
}

.tool-history-back {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -551px 0px !important;
}

.tool-history-forward {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -583px 0px !important;
}

.tool-measure-area {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -615px 0px !important;
}

.tool-measure-line {
    width: 32px;
    height: 32px;
    background-image: url('../icons/icons.png') !important;
    background-repeat: no-repeat !important;
    background-position: -647px 0px !important;
}
