$lightBgColor: rgba(255,255,255,0.9);
$darkBgColor: rgba(20,20,20,0.8);
$iconShadow: 1px 1px 2px rgba(0,0,0,0.6);
$darkIcon: url("../images/mobile-xy-dark.png");
$lightIcon: url("../images/mobile-xy-light.png");

.projection-transformation {
    width: 252px;
}

div.coordinatetool__popup {
    .reversegeocode-label {
      margin-left: 24px;
    }
    .coordinate-container {
      margin-left: 70px;
    }

    .lonlat-input-container {
      input.lat-input {
          width: 170px;
      }
      input.lon-input {
          width: 170px;
      }
    }

    width: 280px;
    z-index:15000;
    background-color: #ffffff;

    div.actions {
      float: right;
      margin:0;
    }

    div.clear {
      clear: both;
    }

    div.coordinatetool__popup__content {
      font-style: italic;

      .floatleft {
          float: left;
      }

      .clear {
          clear: both;
      }
    }

    .margintop {
        margin-top: 6px;
        display: block;
    }

    .coordinatetool-divider {
      margin-bottom: 5px;
      height: 1px;
      border-top: 1px solid #DDDDDD;
    }

    .coordinatedisplay-emergencycall {
      font-style: italic;
    }

    .coordinatedisplay-toggler {
      cursor: pointer;
    }

    .coordinatedisplay-toggler:hover {
      color: #b3b3b3;
    }


    .coordinatetool-projection-change-header {
      font-style: italic;
    }

    div.projectionchange {
      margin: 10px;

      select#projection {
        width: 184px;
      }
    }

    div.content {
      .srs {
          color: #b3b3b3;
          font-size: 12px;
        }
    }
}

.coordinate-label {
  width: 70px;
  padding-top: 7px;
}