/* Mixins */
.featuredata {
    /* Selected row hightlighting */
    /* Override common table settings */
    /* Override sort img position */
}

.featuredata .oskariTabs {
    overflow: auto;
}

.featuredata div.tab-content {
    max-height: 535px;
    overflow: auto;
}

.featuredata tbody tr.selected {
    background-color: #FDF8D9;
}

.featuredata th, .featuredata td {
    text-align: left;
    padding-left: 2px;
    padding-right: 15px;
}

.featuredata th.asc, .featuredata th.desc {
    background-position: right center;
}

.featuredata td.link {
    padding: 20px 0px 0px 0px;
    color: #0091FF;
    text-decoration: underline;
    display: block;
}

.featuredata div.icon-funnel {
    cursor: pointer;
}

.featuredata div.gridMessageContainer {
    margin: 30px 10px 10px 10px;
}

div.analyse-filter-popup-content div.filter-option {
    padding-bottom: 10px;
}

div.analyse-filter-popup-content div.filter-option div.manage-filter-option {
    display: inline-block;
    vertical-align: middle;
}

div.analyse-filter-popup-content div.filter-option div.manage-filter-option div.add-filter-option, div.analyse-filter-popup-content div.filter-option div.manage-filter-option div.remove-filter-option {
    cursor: pointer;
    display: inline-block;

    /* These are icons, so it's OK to have a custom font here. */
    font-size: 48px;
    font-weight: bold;
    margin-left: 5px;
    min-width: 16px;
    text-align: center;
}

div.analyse-filter-popup-content div.filter-option.filter-option-aggregate {
    padding-bottom: 25px;
}

div.analyse-filter-popup-content div.filter-option.filter-option-aggregate div.attribute-value-block {
    position: relative;
    display: inline-block;
}

div.analyse-filter-popup-content div.filter-option.filter-option-aggregate div.attribute-value-block div.add-link {
    position: absolute;
    top: 40px;
}

div.analyse-filter-popup-content div.filter-option .filter-input-value {
    width: 160px;
    margin: 1px;
}

div.analyse-filter-popup-content div.filter-option input[name="case-sensitive"] {
    margin-right: 5px;
}

div.analyse-filter-popup-content div.filter-option select.attribute {
    width: 150px;
}

div.analyse-filter-popup-content div.filter-option select.boolean {
    margin-top: 10px;
    width: 65px;
}

div.analyse-filter-popup-content div.filter-option select.operator {
    width: 210px;
}

div.oskariTabs .tabsHeader ul li a {
    display: inline-block;
}

div.oskariTabs .tabsHeader ul li .union-filter {
    display: inline-block;
    margin-right: 10px;
}

div.oskariTabs .tabsContent .oskari-checkboxinput {
    margin-left: 10px;
}

div.flyout-resizer {
    float: right;
    cursor: nw-resize;
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin {
    cursor: pointer;
    clear: both;
    display: block;

    /*    background: #3c3c3c;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    line-height: 28px;
    margin: 10px auto;
    padding: 0 9px;

    /* default and rounded-dark theme */
    /* rounded-light theme */
    /* sharp-dark theme */
    /* sharp-light theme */
    /* 3d-dark theme */
    /* 3d-light theme */
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin a {
    text-decoration: none;
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-default, div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-rounded-dark {
    background-color: rgba(20, 20, 20, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-default a, div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-rounded-dark a {
    color: rgba(255, 255, 255, 0.9);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-rounded-light {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-rounded-light a {
    color: rgba(20, 20, 20, 0.8);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-sharp-dark {
    background-color: rgba(20, 20, 20, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-sharp-dark a {
    color: rgba(255, 255, 255, 0.9);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-sharp-light {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-sharp-light a {
    color: rgba(20, 20, 20, 0.8);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-3d-dark {
    background-color: rgba(20, 20, 20, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-3d-dark a {
    color: rgba(255, 255, 255, 0.9);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-3d-light {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.toolstyle-3d-light a {
    color: rgba(20, 20, 20, 0.8);
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.error a {
    color: red;
}

div.mapplugins .mappluginsContainer .mappluginsContent div.featuredataplugin.mapplugin.loading {
    background: url("../images/ajax-loader.gif") no-repeat 0 (0 / cover);
}

div.oskari-flyoutcontent.featuredata ul.tabsItem li a.loading {
    color: #939393;
}

div.oskari-flyoutcontent.featuredata ul.tabsItem li a.error {
    color: red;
}

div.tool.active {
    background-color: #e6e6e6;
}

label.selectFeaturesOptions {
    display: block;
}

div.oskari-flyout.ui-draggable.mobile.oskari-detached {
    left: 0px !important;
    border: 2px solid silver;
    min-width: 200px !important;
    max-width: 800px;
}

div.oskari-flyout.ui-draggable.mobile.oskari-detached div.oskari-flyouttoolbar {
    background-color: #e6e6e6;
    height: 41px;
}

div.oskari-flyout.ui-draggable.mobile.oskari-detached div.oskari-flyouttoolbar div.oskari-flyoutheading {
    display: none;
}

div.featuredata-go-to-location {
    cursor: pointer;
}

.featuredata label.oskari-formcomponent {
    display: inline-block;
    width: 140px; }
/*# sourceMappingURL=style.css.map */