.mapplugin.coordinates {
  font-size: 12px;
  line-height: 14.8px;
  background: #FAFAFA;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  text-align: left;
  width: 100px;
  padding: 5px 10px 0 10px; }
  .mapplugin.coordinates > div > div {
    display: inline-block;
    padding-bottom: 2px; }
    .mapplugin.coordinates > div > div:last-child {
      float: right; }
