#toolbar {
    margin-top: 30px;
    width: 100%;
}

div.toolrow {
    border-top: 1px solid;
    line-height: 10px; /* We'll get extra space below the tools without this */
    padding : 0px 10px;

    div.tool {
        display : inline-block;
        cursor: pointer;

        &.selected, &:hover:not(.disabled), &:active:not(.disabled) {
            background-color: #212121;
        }

    }

}

div.linkcontent {
    word-wrap: break-word;
    border-style: dashed;
    border-width: 1px;
    padding: 5px
}

div.tool.disabled {
    cursor: default;
    opacity: 0.25;
}

.divmanazerpopup.oskari-measurement {
	max-width: 260px; 	
}

.oskariui-menutoolbar {
    width: 100%;
    height: 36px;
    position: relative;
    background-color: #3C3C3C;
	height: 40px;

    .oskariui-menutoolbar-modetitle {
        display: inline-block;
        width: 300px;

        .oskariui-menutoolbar-title {
            position: absolute;
            top: 6px;

            /* Inverted text... leave it for now as it doesn't even seem to be in use */
            p {
                color: #fff;
                font-size: 16px;
                line-height: 19px;
            }

        }

    }

    .oskariui-menutoolbar-container {
        display: inline-block;
    }

    .oskariui-menutoolbar-closebox {
        position: absolute;
        top: 6px;
        right: 10px;

        div {
            cursor: pointer;
        }

    }

}




