/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

@mixin box-shadow($shadow...) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

.todo {
	font-size: 12px;
	line-height: 18px;
	width: 480px;
	max-width: 480px;
	min-height:480px;
}

.todoapp {
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	@include box-shadow(rgba(0, 0, 0, 0.2) 0 2px 6px 0);
	@include border-radius(0 0 5px 5px);

	h1 {
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		padding: 0 0 10px 0;
	}

	footer {
		display: none;
		margin: 0 -20px -20px -20px;
		overflow: hidden;
		color: #555555;
		background: #f4fce8;
		border-top: 1px solid #ededed;
		padding: 0 20px;
		line-height: 37px;
		width: 460px;
		@include border-radius(0 0 5px 5px);
	}

	input[type="text"] {
		width: 366px;
		font-size: 24px;
		font-family: inherit;
		line-height: 1.4em;
		border: 0;
		outline: none;
		padding: 6px;
		border: 1px solid #999999;
		@include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset);
	}

	input::-webkit-input-placeholder {
		font-style: italic;
	}

}

#main {
	display: none;
}

#todo-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;

	li {
		padding: 18px 20px 18px 0;
		position: relative;
		font-size: 24px;
		border-bottom: 1px solid #cccccc;

		&:last-child {
			border-bottom: none;
		}

		&:hover .destroy {
			display: block;
		};

		&.done label {
			color: #777777;
			text-decoration: line-through;
		}

		&.editing {
			border-bottom: none;
			margin-top: -1px;
			padding: 0;

			&:last-child {
				margin-bottom: -1px;
			}

			.edit {
				display: block;
				width: 344px;
				padding: 13px 15px 14px 20px;
				margin: 0;
			}

			.view {
				display: none;
			}	
		}

		.edit {
			display: none;
		}

		.view {

			label {
				word-break: break-word;
			}

		}

	}

	.destroy {
		position: absolute;
		right: 5px;
		top: 20px;
		display: none;
		cursor: pointer;
		width: 20px;
		height: 20px;
		background: url(destroy.png) no-repeat;

		&:hover {
			background-position: 0 -20px;
		}

	}

}



#clear-completed {
	float: right;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	color: #555555;
	font-size: 11px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0 10px 1px;
	cursor: pointer;
	@include border-radius(12px);
	@include box-shadow(rgba(0, 0, 0, 0.2) 0 -1px 0 0);

	&:hover {
		background: rgba(0, 0, 0, 0.15);
		@include box-shadow(rgba(0, 0, 0, 0.3) 0 -1px 0 0);
	}

	&:active {
		position: relative;
		top: 1px;
	}

}

#todo-count span {
	font-weight: bold;
}

#instructions {
	margin: 10px auto;
	color: #777777;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;

	a {
		color: #336699;
	}

}

#credits {
	margin: 30px auto;
	color: #999;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;

	a {
		color: #888;
	}

}