
.bndls-webform {
	/*background-image: url('ui/resource/btn-webform.gif');*/
	background-repeat: no-repeat;
	background-position: 4 4;
	
}

.webform {
	border: 0;
	background-color: white;
	padding: 24pt;
}
.formpart {
	border: 0;
	background-color: white;
	padding-left: 4pt;
	padding-top: 4pt;
}

.webformcontainer {
	border: 0;
	background-color: #fafafa;
	padding: 0;
}
