div.geolocator-search {

    div.errors {
        /* Error color, this should prolly be generalized */
        color: red;
    }

    div.search-additionals {
        margin: 15px 0 15px;

        div.input-fields {
            width: 80%;
            margin-top: 10px;

            div.additional-input {
                display: inline-block;
                width: 50%;


                div.controls label {
                    margin-left: 5px;
                }

            }

        }

    }

    div.search-fields {

        input[type="text"] {
            width: 80% !important;
        }

        label {
            display: block;
        }

        div.search-field {
            margin: 8px 0 8px;
        }

    }

    input.elf-error {
        border: 1px solid red;
    }

}

div.geolocator-results {

    div.header-results {

        span.back {
            float: right;
        }

    }
    
    div.search-results {
        margin-top: 15px;

        &.loading {
            height: 100px;

            div.spinner {
                top: 50px;
                margin: 50px auto 0;
            }

        }

        th {
            text-align: left;
            padding-left: 5px;
        }

    }

}

.elf-fake-link {
    /* This should apparently look like a normal link */
    text-decoration: underline;
    cursor: pointer;
    color: #0091FF;
}
