.tag-pipe-wrapper > input {
	clear: both;
	width: 100%;
	margin-right: 6px;
	margin-bottom: 8px;
}
.tag-pipe-wrapper div.icon-close {
	display: inline-block;
	left: -25px;
	margin-right: -15px;
	margin-left: 0;
	position: relative;
	top: 3px;
}
.tag-pipe-wrapper form {
	margin-bottom: 2em;
}
.tag-pipe-wrapper form fieldset {
	border: none;
	clear: both;
	padding: 10px;
}
.tag-pipe-wrapper .no-span-text{
	margin-left: 14em;
}

.tag-pipe-wrapper .default-checkbox{
	margin-bottom: 4px;
}

.tag-pipe-wrapper.btn--center{
	margin-left: 14em;
}

.tag-pipe-wrapper form fieldset:nth-of-type(2) input:last-child {
	float: right;
}
.tag-pipe-wrapper form label {
	clear: both;
	display: block;
	margin-bottom: 8px;
}
.tag-pipe-wrapper form label:after {
	content: "";
	display: table;
	clear: both;
}
.tag-pipe-wrapper form label span {
	display: block;
	float: left;
	width: 14em;
	line-height: 34px;
}
.tag-pipe-wrapper form label input {
	display: block;
	float: left;
	width: 14em;
}
.tag-pipe-wrapper form label select {
	display: block;
	float: left;
	width: 14em;
}

.tag-pipe-wrapper div.hidden, input.hidden{
	display: none;
}

.tag-pipe-wrapper div.remove--param{
	left: 6px;
	top: 11px;
}

.tag-pipe-help{
	padding-top: 10px;
	padding-bottom: 10px;
}

.tag-pipe-list-element span{
	padding-right: 10px;
}

.tag-pipe-list-element a{
	padding-right: 10px;
}

.add-mustache-to-map{
	float: right;
	margin-right: 20px !important;
	width: 97% !important;
}

.tag-pipe-wrapper .accordion {
	background-color: #F3F3F3;
	border: 1pt solid #999;
	clear: both;
	display: block;
	list-style-type: none;
}

.tag-pipe-wrapper .accordion:after {
	content: "";
	display: table;
	clear: both;
}

.tag-pipe-wrapper .accordion .accordion-header .accordion-header-text{
	width: 280px;
	float: left;
}

.tag-pipe-wrapper .accordion .accordion-header .accordion-header-text span {
    float: left;
    width: 100%;
    padding: 4px 0 0 10px;
}

.tag-pipe-wrapper .accordion .accordion-header .accordion-header-text h4 {
	font-size: 16px;
	line-height: 18px;
	float: left;
	width: 100%;
	padding: 0 0 0 10px;
}

.tag-pipe-wrapper .accordion .accordion-header input {
	float: right;
	margin: 5px 5px 5px 0;
}

.tag-pipe-calculate-btn{
	float: right;
	margin-right: 55px;
}