.oskari-projection-changer {
    height:36px;
    width: 36px;
    background-image: url("../images/VäliaikainenMaapalloikoni.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px !important;
    cursor: pointer;
}
.oskari-map-projection {
    width: 600px;
    display: flex;
    display: -ms-flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
    overflow-x: hidden;
}
/*
Card
*/
.projection-card {
    width: 100%;
    height: 160px;
    margin: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    flex: 30%;
    -ms-flex: 30%;
}
.projection-info {
}
.projection-warning {
    display: none;
    height:10px;
    width: 10px;
    background-color: green;
}
.info-row {
    width: inherit;
    display: inline-flex;
    display: -ms-inline-flex;
    justify-content: center;
    align-items: center;
}
.card-image {
    display: flex;
    justify-content: center;
    height: auto; 
    width: auto; 
    max-width: 145px; 
    max-height: 145px;
}
/*
 /CARD
*/
.EPSG3571 {
	content: url("../images/EPSG3571.png");
    /*background-image: url("../images/EPSG3571.png");*/

}
.EPSG3572 {
    content: url("../images/EPSG3572.png");
    /*background-image: url("../images/EPSG3572.png");*/
}
.EPSG3573 {
    content: url("../images/EPSG3573.png");
    /*background-image: url("../images/EPSG3573.png");*/
}
.EPSG3574 {
    content: url("../images/EPSG3574.png");
    /*background-image: url("../images/EPSG3574.png");*/
}
.EPSG3575 {
    content: url("../images/EPSG3575.png");
    /*background-image: url("../images/EPSG3575.png");*/
}
.EPSG3576 {
    content: url("../images/EPSG3576.png");
    /*background-image: url("../images/EPSG3576.png");*/
}