$toggleSize: 46px;

div.mapplugin.indexmap {
    text-align: left;

    .olControlOverviewMapElement {
        /* Hide by default, control's maximize: false doesn't seem to do anything */
        display: none;
        background-color: #FFFFFF;
        border-color: #D0D0D0;
        border-left-width: 2px;
        border-style: solid;
        border-top-width: 2px;
        padding: 5px;
        margin-left: $toggleSize;
        margin-right: 0;
        margin-bottom: -$toggleSize;
    }

    .indexmapToggle {
        width: $toggleSize !important;
        height: $toggleSize !important;
        cursor: default;
        background: url('../images/component-indexmap.png') 0px 0px !important;
        display: inline-block;
        position: relative;

        &:hover {
            background: url('../images/component-indexmap_hover.png') !important;
        }

    }
}

.right {
    div.mapplugin.indexmap {
        text-align: right;

        .olControlOverviewMapElement {
            margin-left: 0;
            margin-right: $toggleSize;
        }

    }

}

.olControlOverviewMapContainer {

    .olControlOverviewMapElement {
        padding: 5px !important;
        background-color: #FFFFFF !important;
        border-color: #D0D0D0 !important;
        border-style: solid;
        border-left-width: 2px;
        border-top-width: 2px;
    }

    #OpenLayers_Control_minimizeDiv {
        position: absolute !important;
        width: $toggleSize !important;
        height: $toggleSize !important;
        right: 0px;
        bottom: 0px;
        cursor: default;
        background: url('../images/component-indexmap_hover.png')  !important;
        
    }
}

.olControlOverviewMapExtentRectangle  {
    border: 2px dashed #f47729 !important;
}
